[2016-12-26 15:42] goanpeca commented on #964
Hi @wuhongyewhy the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda

[2016-12-26 15:42] #964 closed

[2016-12-26 17:48] goanpeca commented on #1079
@ccordoba12 did you manage to get this done?

[2016-12-26 17:49] goanpeca commented on #1069
@ReyesZYX99 it seems there was some sort of error connection.

Do you have the latest version of Navigator?

Could you try to update it manually by going to the command prompt and typing:

`$ conda install anaconda-navigator`

[2016-12-26 18:06] bobsavage commented on #1313
I get this response:

Rah-Xephon:~ bobsavage$ conda install qt=5 pyqt=5
Fetching package metadata .......
Solving package specifications: ....

UnsatisfiableError: The following specifications were found to be in conflict:
  - pyqtgraph -> pyqt 4.*
  - pyqtgraph -> python 2.7*|3.4*
  - qt 5*
Use "conda info <package>" to see the dependencies for each package.

[2016-12-26 23:03] goanpeca commented on #1168
@ilanschnell, @ccordoba12 ?

[2016-12-26 23:05] goanpeca commented on #1175
@BjornFJohansson we could add some extra option on the preferences (or even use Ctrl++ or Ctrl+-, to update fonts)

Thoughts?

[2016-12-26 23:07] goanpeca commented on #1196
@jwjwj could you open a terminal and type

`$ conda info`

And paste the results here, and then type

`$ Conda list`

and paste the results here again.

Thanks

[2016-12-26 23:08] goanpeca commented on #1234
@nklever could you open a terminal and type

`$ conda info` and paste the result here and then

`$ conda list` and paste the result here again.

Cheers

[2016-12-26 23:13] #1236 closed

[2016-12-26 23:18] goanpeca commented on #1275
@ccordoba12 any update on this issue?

[2016-12-26 23:18] goanpeca commented on #1262
Hi @Philip619 the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-12-26 23:18] #1262 closed

[2016-12-26 23:19] goanpeca commented on #1259
@pacosoplas any comments?

[2016-12-26 23:19] goanpeca commented on #1254
Hi @maohuaxie the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-12-26 23:19] #1254 closed

[2016-12-26 23:20] goanpeca commented on #1296
Hi @hamza-ghadyali the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaco

[2016-12-26 23:20] #1296 closed

[2016-12-26 23:20] goanpeca commented on #1295
Hi @arzachel23  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda

[2016-12-26 23:20] #1295 closed

[2016-12-26 23:21] mingwandroid commented on #1275
This is all fixed now.

[2016-12-26 23:21] goanpeca commented on #1294
Hi @arzachel23  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda

[2016-12-26 23:21] #1294 closed

[2016-12-26 23:21] #1275 closed

[2016-12-26 23:23] goanpeca commented on #1195
@ccordoba12 any ideas here?

[2016-12-26 23:24] #1242 closed

[2016-12-26 23:26] goanpeca commented on #1251
@coolum001 I think there is indeed an issue with conda cloning the root environment (@k

[2016-12-26 23:29] goanpeca commented on #1272
The disappearing icon is fixed on the latest version coming soon.

[2016-12-26 23:29] #1272 closed

[2016-12-26 23:31] goanpeca commented on #1291
@easior we are working on a fix for this. In the meantime could you open a terminal and type

`$ conda info` and paste the results here?

Cheers

[2016-12-26 23:40] goanpeca commented on #1225
@kmtac any updates here?

@ccordoba12 any thoughts?

[2016-12-26 23:42] #494 closed

[2016-12-27 00:29] goanpeca commented on #1223
@ebleo could you go to the command prompt and type:

`$ conda info` and paste the result here and then

`$ conda list` and paste the result here again.

Cheers

[2016-12-27 00:38] #817 closed

[2016-12-27 05:36] ccordoba12 commented on #1225
The error isn't in qtpy, that's for sure. Other than that, I have no idea about where this error is coming from.

There's still very little info to know for sure.

[2016-12-27 05:39] ccordoba12 commented on #1195
This is most probably an error about `qt.conf` not being set correctly by our post install script in the Qt package.

However, I have no clear idea about why that happens. But it seems related to global installations instead of home ones.

[2016-12-27 05:40] ccordoba12 commented on #1259
This is probably related to the OP trying to start Navigator using his root account and not setting DISPLAY before doing it.

[2016-12-27 05:42] ccordoba12 commented on #1259
I think this doesn't deserve further investigation, given lack of response and that the error message is quite clear.

So I'm closing this one.

[2016-12-27 05:42] #1259 closed

[2016-12-27 09:02] bigeagle opened #1318 "Bad metainfo on r-essentials-1.5.0-0.tar.bz2 package"
Hi there,

I found that the metainfo of `r-essentials-1.5.0-0.tar.bz2` does not match that in `repodata.json`. This problem appears in `linux-32`, `linux-64` and `osx-64`.

For example, downloaded <https://repo.continuum.io/pkgs/r/linux-64/r-essentials-1.5.0-0.tar.bz2> has size `2076` and md5 `5cafd7e8085f6f2ed2c51eb518773264`, but <https://repo.continuum.io/pkgs/r/linux-64/repodata.json> shows it

[2016-12-27 14:23] goanpeca commented on #1195
Yes, that seems to be the case

[2016-12-27 14:49] goanpeca commented on #896
@ccordoba12 any idea?

[2016-12-27 14:53] ccordoba12 commented on #896
This should be fixed now that we moved to use Qt5.

[2016-12-27 14:54] goanpeca commented on #896
Is Orange 2.78 qt5 compatible?

[2016-12-27 14:56] goanpeca commented on #1168
Issue moved to [ContinuumIO/navigator #788](https://github.com/ContinuumIO/navigator/issues/788) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-27 14:56] #1168 closed

[2016-12-27 14:57] goanpeca commented on #1155
(apparently not)

@joesoap99 did you try the command in the command prompt?

[2016-12-27 15:05] goanpeca commented on #1123
@Dipugee, this seems to be a problem with Jupyter (and not Anaconda, or Navigator)

Could you check https://github.com/jupyter/nbviewer

[2016-12-27 15:05] #1123 closed

[2016-12-27 15:17] ccordoba12 commented on #896
Yeah, sorry. Then I don't know the cause of this.

[2016-12-27 15:23] goanpeca commented on #896
@joesoap99 are you still experiencing the issue?

[2016-12-27 15:28] goanpeca commented on #1084
@rvsasseen I think you should install graphviz from anaconda (navigator) as well.

[2016-12-27 15:29] goanpeca commented on #1084
@ccordoba12, @mingwandroid ?

[2016-12-27 15:31] goanpeca commented on #1029
I dont follow here @ijstokes

[2016-12-27 15:32] goanpeca commented on #1036
@electronwill an updates here?

[2016-12-27 15:33] goanpeca commented on #921
Yep

[2016-12-27 15:33] #921 closed

[2016-12-27 15:41] goanpeca commented on #1313
@bobsavage could you do the following

`conda remove pyqtgraph`
`conda install qt=5 pyqt=5`

[2016-12-27 15:43] bryevdv commented on #1084
@csoja is there a GA date or target release for builds on OS X 10.9? (IIRC that is the issue?)

[2016-12-27 15:44] goanpeca commented on #1079
@ccordoba12 I cant recall if this was already fixed on master

[2016-12-27 15:45] goanpeca commented on #1092
@jjgalvez what version of Navigator are you currently using?

Could you go to the terminal and type

`$ conda info`
`$ conda list`

And paste the results here?

[2016-12-27 16:16] ccordoba12 commented on #1079
Nop, it hasn't. I'll do it today :-)

[2016-12-27 16:17] ccordoba12 commented on #1084
I don't know what happened to Graphviz. I created good recipes for conda-forge but haven't had time to move them to our internal repo :-/

I don't know if @mingwandroid have had time to do it.

[2016-12-27 16:43] mingwandroid commented on #1084
I'm pretty busy with client work at present. I won't be able to look at this for a few weeks I think.

[2016-12-27 16:48] mingwandroid commented on #1272
Great!

[2016-12-27 17:20] goanpeca commented on #1280
This is something that has been already reported @csoja.

I am not sure what changed @ilanschnell.

[2016-12-27 17:21] goanpeca commented on #1277
Hi @mgutman515 what version of navigator are you using?

Could you open a terminal and type:

`$ conda info`
`$ conda list`

And paste the results here?

[2016-12-27 17:22] goanpeca commented on #1248
@xuan254, thanks for reporting. This problem is fixed and will be available soon in the new version.

[2016-12-27 17:23] goanpeca commented on #1187
@ceekr thanks for the feedback. We will have a release next week.

[2016-12-27 17:26] goanpeca commented on #1188
@McCroden could you try running Navigator from the terminal with sudo?

`$ sudo anaconda-navigator`

It seems the file permissions on this folder where changed `/Users/McCroden/.continuum/anaconda-client`

[2016-12-27 17:29] goanpeca commented on #1189
@SandrineMo you seem to have an outdated versions of Navigator and the Qt and PyQt libraries.

Qt4 is deprecated and the newer version of Navigator uses Qt5.

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`
`conda upda

[2016-12-27 17:33] goanpeca commented on #1213
@BKJackson could you remove qt and PyQt from the terminal

`$ conda remove qt pyqt`

And then manually remove the following folder `/Applications/anaconda/include/qt/`

And then reinstalling Qt and PyQt

`$ conda install qt=5 pyqt=5`

[2016-12-27 17:40] goanpeca commented on #1222
@mshirdel1 the move from Qt4 to Qt5 (which is what the anaconda distribution supports now, Qt4 is deprecated) caused some issues. Unless you have a dependency on a library that strictly depends on Qt4 I would advice to update to the latest.  You could

`$ conda remove qt pyqt`

And then

`$ conda install qt=5 pyqt=5 spyder anaconda-navigator`

The

Is and error reported by QtPy a shim we use to ha

[2016-12-27 17:42] goanpeca commented on #1234
It seems that a `a user-defined command terminal profile` does not include conda on the PATH which is a requirement for conda and Navigator to work properly.

[2016-12-27 17:49] joesoap99 commented on #896
Anaconda later issued updated instructions on installing Orange 3.36 on Python 3 using a separate environment which runs an older Qt version from a terminal. Orange 3.36 has many more widgets available so I have moved on to that.
The widget add-ons that fail are problems for the widget developer and I have not had the HTTPS problem using Orange 3.3.6.
For me the original problem has been circumven

[2016-12-27 17:51] joesoap99 commented on #1155
I tried but in the end I uninstalled and reinstalled to remove the problem and Glueviz is working now.

[2016-12-27 18:13] goanpeca commented on #896
@joesoap99 thanks for the update

For Orange, we have the latest on the repositories, but for Orange3 we do need to make an update.

I will close this issue and create a new one for the orange update request.

Cheers.

[2016-12-27 18:13] #896 closed

[2016-12-27 18:14] goanpeca commented on #1155
Ok, good to hear it resolved with a reinstall.

[2016-12-27 18:14] #1155 closed

[2016-12-27 18:16] goanpeca commented on #1127
@WilliamLeeBravo is this still an issue with the latest Qt packages?

Just to double check. Your laptop has a higher pixel density (like retina display I mean)?

[2016-12-27 18:18] goanpeca commented on #1139
Hi @brylie adding this to the next release milestone. Sorry for the delay.

[2016-12-27 18:31] mgutman515 commented on #1277
I already updated the files many times since the original download
unfortunately.

On Tue, Dec 27, 2016 at 12:21 PM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2016-12-27 18:37] goanpeca commented on #1238
@ModulusOperandi not sure how this happened, but the folder

`/Users/adamgoldfarb/.continuum/anaconda-client` seems to have incorrect file permissions so that navigator cannot modify it.

First we can check that this is the case by running navigator from the terminal with sudo

`$ sudo anaconda-navigator`

To see if it runs

Then we will need to change the permissions of that folder (and the files

[2016-12-27 18:39] goanpeca commented on #1152
This is harmless and has been fixed in the new version to be released first week of January.

Also anaconda-navigator needed to be installed seperately and is not automatically installed as described on the website.

We are working on this. An issue already exists regarding this.

[2016-12-27 18:39] #1152 closed

[2016-12-27 18:41] goanpeca commented on #1182
Is there any update on this issue @ccordoba12 ?

[2016-12-27 18:42] goanpeca commented on #1244
Hi @xgiovannix the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-12-27 18:42] #1244 closed

[2016-12-27 18:42] goanpeca commented on #1243
Hi @xgiovannix the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-12-27 18:42] #1243 closed

[2016-12-27 18:46] goanpeca commented on #1183
@kcinicx you have two version of PyQt5. You should remove the pip installed version as that is most likely causing problems.

[code]

[2016-12-27 18:46] #1183 closed

[2016-12-28 00:08] bobsavage commented on #1313
Okay, I did that, but now Anaconda-Navigator crashes on launch.

[2016-12-28 00:17] bobsavage commented on #1292
@goanpeca  I'm closing this, because i is being worked on under a different ticket. See https://github.com/ContinuumIO/anaconda-issues/issues/1313 which has a little more info.

[2016-12-28 00:17] #1292 closed

[2016-12-28 00:36] goanpeca commented on #1313
what is the error on launch?

[2016-12-28 00:49] bobsavage commented on #1313
No error. I see the splash, which contains the text "initializing", then it disappears with no message. I checked "Activity Monitor" and it isn't listed under CPU or Memory usage (or Disk, or Network), but there is a greyed out entry for Anaconda-Navigator under "Energy".

[2016-12-28 02:37] goanpeca commented on #1313
Did you launch it from the terminal?

`$ anaconda-navigator` nothing appears on the console?

[2016-12-28 02:38] bobsavage commented on #1313
$ anaconda-navigator
INFO navigator:setup(42): Setting up logger
DEBUG navigator:start(233): conda info --json
DEBUG navigator:environment_exists(914): (None, '//anaconda/envs/py27')
DEBUG navigator:get_envs(399):
DEBUG navigator:environment_exists(914): (None, '//anaconda/envs/py27')
DEBUG navigator:environment_exists(914): (None, '//anaconda')
DEBUG navigator:linked(427): //anaconda
DEBUG naviga

[2016-12-28 02:58] goanpeca commented on #1313
Ok now to test something

`$ sudo anaconda-navigator`

runs?

[2016-12-28 03:38] bobsavage commented on #1313
Yes. It launches and I no longer have the "i" indicating an update is available. This removes Orange. Does this mean that Orange is currently incompatible with the navigator?

[2016-12-28 08:12] WilliamLeeBravo commented on #1127
@goanpeca I forgot to say it here that there is no more problems after I started using my new monitor, so I think the former problem is because of this. BTW my laptop's screen is 14' FHD. Thank you!

[2016-12-28 09:41] brylie commented on #1139
All good. For what it's worth, the issue may be resolved already. At least in KDE, I am able now to open a terminal from within anaconda-navigator.

[2016-12-28 14:27] ebleo commented on #1223
No longer having this issue, do you still want the cmd output?

From: Gonzalo Peña-Castellanos [mailto:notifications@github.com]
Sent: Monday, December 26, 2016 7:30 PM
To: ContinuumIO/anaconda-issues <anaconda-issues@noreply.github.com>
Cc: Danielle Leong <Danielle.Leong@ebiquity.com>; Mention <mention@noreply.github.com>
Subject: Re: [ContinuumIO/anaconda-issues] Spyder Crashing Python (#1223)

[2016-12-28 15:18] goanpeca commented on #1223
@ebleo nope, just checking on these issues I had missed.

So all good now? can we close this issue?

[2016-12-28 15:19] goanpeca commented on #1139
Great to hear that. I will close for now, but if anything similar happens, please feel free to reopen it

[2016-12-28 15:19] #1139 closed

[2016-12-28 15:21] ebleo commented on #1223
Yes, please close. Thank you!

From: Gonzalo Peña-Castellanos [mailto:notifications@github.com]
Sent: Wednesday, December 28, 2016 10:19 AM
To: ContinuumIO/anaconda-issues <anaconda-issues@noreply.github.com>
Cc: Danielle Leong <Danielle.Leong@ebiquity.com>; Mention <mention@noreply.github.com>
Subject: Re: [ContinuumIO/anaconda-issues] Spyder Crashing Python (#1223)

@ebleo<https://github.com/ebl

[2016-12-28 15:22] goanpeca commented on #1313
@bobsavage since Orange has not (yet) migrated to Qt5 officially we removed it for the moment. The new release of navigator for next week handles Orange in a saner way so it is back in the home applications.

In the meantime you can create a new env and install orange in there and then open the terminal. I know this is not the best user experience but we will fix this with the new release.

Thanks

[2016-12-28 15:27] goanpeca commented on #1127
Awesome to hear @WilliamLeeBravo, closing :-)

[2016-12-28 15:27] #1127 closed

[2016-12-28 15:28] #1223 closed

[2016-12-28 22:13] sumonigupta opened #1319 "Navigator Error: Not allowing to downgrade bokeh"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - bokeh ==0.9.0
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'conda': '4.2.13', 'python': '3.5.2', 'language': 'en', 'qt': '4.8.7', 'platform': 'osx-64', 'version': '1.2.1', 'pyqt': '4.11.4', 'os': 'Darwin;16.0.0;Darwin Kernel Version 16.0.

[2016-12-28 22:26] goanpeca commented on #1319
Hi @sumonigupta the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda

[2016-12-28 22:26] #1319 closed

[2016-12-29 01:58] fspaolo commented on #951
Same here. I installed 'gdal' using 'conda install -c conda-forge gdal', which gave me:

    python -c "import gdal"

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/Users/fpaolo/anaconda2/lib/python2.7/site-packages/gdal.py", line 2, in <module>
        from osgeo.gdal import deprecation_warn
      File "/Users/fpaolo/anaconda2/lib/python2.7/site-pac

[2016-12-29 05:55] #1277 closed

[2016-12-29 06:26] 3ICE opened #1320 "Anaconda Navigator crashed during update"
Hi,

Apologies for the wordy title. It's almost a whole paragraph in its own right...

I attempted to update Anaconda Navigator (1.3.1 → 1.3.2) because apparently the downloadable installer that continuum.io hosts does not contain the absolute latest version of many things. But unfortunately it crashed during the update process. Maybe that's why it's not included? Anyway, let's not get sidetracked

[2016-12-29 06:48] 3ICE commented on #1317
This happens currently when one tries to update the python package to the latest version, as found under the Environments tab. (Click Update Index, then filter for Upgradable; One item, "python" will show up but it's impossible to upgrade. [or 59 items for a fresh install])

If there are no conflicts between conda and python 3.6, the dependencies could be updated in the meta json files to be forwa

[2016-12-29 06:57] goanpeca commented on #1317
At the moment there is a conflict so you cannot upgrade to python 3.6 on the root environment, you will need to create a new environment.

[2016-12-29 06:57] #1317 closed

[2016-12-29 06:59] goanpeca commented on #1320
@3ICE I would advice you install anaconda for the current user and not all users

[2016-12-29 08:50] javiljoen opened #1321 "Numpy for Python 3.6 only built against MKL"
There is no "nomkl" build for Numpy with Python 3.6 in the default channel. Any chance it could be added (along with Scipy and Statsmodels versions that depend on it)?

[code]

[2016-12-29 08:57] brylie commented on #1139
Thanks for your support @goanpeca

[2016-12-30 04:19] bobsavage commented on #1313
In the end I think this worked. I needed to delete the .continuum folder as well, else I kept getting a permissions error. I can now launch from the command prompt without sudo, and I can also launch the navigator from the finder (actually I did it from the launchpad), and the message about an update being available is gone.

Thanks for your help! Closing this ticket.

[2016-12-30 04:19] #1313 closed

[2016-12-30 04:21] mgldelamora opened #1322 "Navigator won't open in Mac OS"
I need your help with the following issue:

Navigator remains "initialiazing ..." and won't open. In Mac OS activity monitor the process appears as "Anaconda Navigator (Not Responding)"

Executing the command "anaconda-navigator" from Max OS terminal won't open as well. In Mac OS activity monitor the process appears as "Python (Not Responding)"

[2016-12-30 04:26] goanpeca commented on #1313
Glad to hear that @bobsavage :-).

Thanks for all the feedback

[2016-12-30 04:27] goanpeca commented on #1322
@mgldelamora if you run from the terminal is there any stack error trace?

[2016-12-30 04:29] mgldelamora commented on #1322
Please find below the result of "conda info" execution

Miguels-iMac:~ migueldelamora$ conda info
Current conda install:

               platform : osx-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 2.7.12.final.0
       requests version : 2.11.1
       root environment : /Users/migueldela

[2016-12-30 04:31] mgldelamora commented on #1322
When running from the terminal there are no messages, it is just frozen. In Mac OS activity monitor the process appears as "Python (Not Responding)"

[2016-12-30 04:34] goanpeca commented on #1322
What Mac version? what version of navigator?

Could you go to the terminal and type

`$ conda list` and paste the results here?

[2016-12-30 04:36] mgldelamora commented on #1322
This is the result of "conda list"

Miguels-iMac:~ migueldelamora$ conda list
# packages in environment at /Users/migueldelamora/anaconda:
#
_license                  1.1                      py27_1
_nb_ext_conf              0.3.0                    py27_0
alabaster                 0.7.9                    py27_0
anaconda                  4.2.0               np111py27_0
anaconda-clean            1

[2016-12-30 04:38] goanpeca commented on #1322
If you update to the latest version what happens?

[code]

[2016-12-30 04:43] mgldelamora commented on #1322
Same result, it is just frozen. In Mac OS activity monitor the process appears as "python (Not Responding)"

[2016-12-30 04:48] goanpeca commented on #1322
@mgldelamora with no error trace its very hard to debug the issues :-|

Any chance you can work with a fresh install but using python 3.5?

[2016-12-30 04:51] mgldelamora commented on #1322
Sorry for my ignorance, is there any way I could enable "error trace"?

I am using python 2.7 because this a requirement from a course I am taking. I understand that there are some syntax differences vs 3.5

[2016-12-30 04:54] goanpeca commented on #1322
What I mean is that normally we see an error trace on the terminal and that helps to point to the issue but in this case it is freezing before that and I am not sure what might be the cause.

True, but you can create py27 environments with navigator running on py35, so instead of using root, you would use some other env where you can install python 27 and dependencies. I know it is not the best so

[2016-12-30 05:02] goanpeca commented on #1318
@mingwandroid I am testing installing R on Mac and it seems to do nothing when it reaches

[code]

It is stuck there. Could this be related?

[2016-12-30 05:06] mgldelamora commented on #1322
OS X Yosemite 10.10.5

[2016-12-30 05:13] mgldelamora commented on #1322
After a reboot and running from the terminal I got the following message

Miguels-iMac:~ migueldelamora$ anaconda-navigator
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
QNSView mouseDragged: Internal mouse button tracking invalid (missing Qt::LeftButton)

It took a while for Navigator to open

[2016-12-30 05:15] goanpeca commented on #1322
Those messages are harmless.

[code]

So it works now?

[2016-12-30 05:24] mgldelamora commented on #1322
Yes, it does, thank you.

It takes like 10 minutes to open.

[2016-12-30 05:32] goanpeca commented on #1322
Yikes... that is not normal :-|

[2016-12-30 06:46] ilanschnell commented on #1321
I know.  Not all Python 3.6 packages are available yet (currently about 80% of the Python packages we support).  The plan is to have all Python packages (the ones which support Python 3) available by the time we release Anaconda 4.3, which will be at the end of January.  Also, the Anaconda3 installers will be Python 3.6 based.

[2016-12-30 06:46] #1321 closed

[2016-12-30 09:05] hitvoice commented on #1068
This problem occurs on my Linux server, not on my Mac. Since on a server I won't use the interactive plotting, my workaround is to use the following code
[code]
to get the location of the config file, and set the backend to `backend: Agg`.
Maybe it's helpful for some people who also come across `ImportError: No module named 'PyQt4'` but don't really need to call the `plt.plot()` function. The `plt

[2016-12-30 13:13] mingwandroid commented on #1318
I don't think it's related. I encountered something similar, conda seemed to be hung, but I left it and had lunch, and when I got back it had finished.

Can you try that?

I am going to add the `tidyverse` to `r-essentials` soon which will correct the sha1.

[2016-12-31 16:49] JuanCab commented on #1196
Still crashing as of today.  Here's the conda info and on screen feedback:

[UserName@MyMacName:~ 10:44]$ conda update qtpy
Fetching package metadata ...................
Solving package specifications: ..........

# All requested packages already installed.
# packages in environment at /Users/UserName/anaconda3:
#
qtpy                      1.1.2                    py35_0    defaults
[UserName@MyMa

[2017-01-01 12:45] Ericvulpi commented on #1029
Here is a practical example to help along :
I've installed anaconda on windows 10 in the default directory proposed during installation : "C:\Program Files\Anaconda3". Obviously this path contains space by (microsoft) design.
Not withstanding authorizations issues (I'll write another post), I haven't run into any crippling issues. I've however managed to waste my entire first morning of 2017 to tr

[2017-01-01 13:46] Ericvulpi commented on #1122
On my side, I've changed the permissions of C:\Program Files\Anaconda3 to owner for all users, but that may not be a solution for everyone.
In any case,, i would advice to either warn the user when he is installing into directory that he doesn't own or, as H0R5E was proposing, to automatically give him ownership of the anaconda install folder.

[2017-01-01 16:32] Ericvulpi commented on #1029
An additional comment in case helpful : windows provide an alternate name to `C:\Program Files` to avoid issues with space -> `C:\PROGRA~1`

[2017-01-01 19:35] tawonque commented on #1095
I had to downgrade using 'conda install qtpy=1.0'
However, this meant downgrading the Spyder version too.

Can't wait for an bug-less update!

[2017-01-02 00:08] sunworshipper commented on #1322
Same here Yosemite 10.10.5 Navigator Hangs at Initializing.

[2017-01-02 00:14] sunworshipper commented on #1322
Tijanas-MacBook-Pro:Users Tijana$ anaconda-navigator
INFO navigator:setup(42): Setting up logger
DEBUG navigator:start(233): conda info --json

and nothing happens.

Tijanas-MacBook-Pro:~ Tijana$ conda list
# packages in environment at /Users/Tijana/anaconda:
#
_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
alabaster

[2017-01-02 01:45] goanpeca commented on #1322
Are you guys behind a proxy?

[2017-01-02 03:08] sunworshipper commented on #1322
omg, it was some network issue.  Everything works fine.
I thought I was going crazy here.  Restarted router to fix after 2 hours of reinstalls.

[2017-01-02 03:09] studiousKych opened #1323 "Anaconda-Navigator and Archlinux"
Hello, I'm having issues getting Anaconda-Navigator to work in a fresh install of archlinux. While I have anaconda2-4.2.0 working perfectly fine on my laptop (also running archlinux) I'm having trouble getting the same to run on the new desktop I'm setting up.

If I install anaconda2-4.1 from the archives, everything works fine, including navigator. However if I attempt to call navigator with an i

[2017-01-02 15:28] bryevdv commented on #1084
@ccordoba12 can you clarify: do the graphvix packages on conda-forge work? What platforms? I'd like too re-enable some parts of the Bokeh docs that rely on it. If there are working packages on conda-forge for linux I could use those.

[2017-01-02 21:11] ModulusOperandi commented on #1238
It worked! Thanks for your help.

It worked immediately after using sudo privileges and after modifying the privileges for the listed folder and subfiles, it worked without having to act as superuser.

[2017-01-02 21:31] goanpeca commented on #1238
Great to hear that @ModulusOperandi

[2017-01-02 21:31] #1238 closed

[2017-01-02 21:32] goanpeca commented on #1323
@ccordoba12 any idea?

[2017-01-02 21:32] goanpeca commented on #1322
:-|, ok @sunworshipper glad to hear it worked for you

[2017-01-02 21:44] ccordoba12 commented on #1323
I have no idea, sorry.

@ChiragKaria-UOIT, are you able to start Spyder or do you see this error with it as well?

[2017-01-02 22:31] MaxPowerWasTaken commented on #1063
@baixia84 wrote "use conda install r-base 3.3.1-1 can solve this problem" but I tried
`conda install r-base 3.3.1-1` and
`conda install r-base=3.3.1-1`

...and each returned PackageNotFoundError...

[2017-01-02 22:35] parente commented on #1063
@MaxPowerWasTaken try `conda install 'r-base=3.3.1 1'` with the space.

[2017-01-02 23:32] mingwandroid commented on #1063
r 3.3.2 is available now. This Cairo issue is fixed on Linux and macOS and I also added a large amount of new packages including the tidyverse.

`conda update -c r r-essentials`

[2017-01-03 05:32] MartinHeroux commented on #480
Same issue here. Any solutions?

[2017-01-03 06:19] javiljoen commented on #1321
Thanks for the info!

[2017-01-03 11:35] aluenkinglee commented on #1068
@samkennerly Thanks! it works fine!

[2017-01-03 13:51] sntgluca commented on #1116
Dear @joonpark72  and @goanpeca ,

I have a similar issue with anaconda-navigator and the .condarc file (hence I did not want to open a new issue).

I get the same error from the anaconda-navigator if I add the following local channel:

    - file://Users/<ME>/Library/conda/conda-builds

May you please take a look at this one as well?
I cannot exclude it's a configuration problem from my side, alt

[2017-01-03 14:51] TheMitchWorksPro commented on #161
This is also a wish list item:  But To this poster's point:  if you are trying to learn Python or Data Science concepts, some classes now use Python 2.7.x and others use 3.x (3.5 ... 3.6 ...).  A novice user can get into real trouble trying to solve problems like how to make Spyder switchable between two environments.  If there were an Anaconda distribution that set up the two main environments th

[2017-01-03 21:11] kerrywatson1 opened #1324 "Navigator UI issues"
Received from software feedback form:

Anaconda Navigator "Please finish the UI. It isn't even at alpha.
When the confirm dialog opens the OK button is unavailable off the bottom of the screen. Zoom and Pan is not available. Also the font sizes and contrast suck and the theme seems not to have a way to change. Most problematic is that the descriptions of many of the packages are scant or even non-

[2017-01-04 11:38] thorstenwagner opened #1325 "Unable to start spyder 3.0.0b7 through Anaconda-Navigator on archlinux"
I've downloaded the latest version, update qt pyqt and then try to start spyder through the anaconda-navigator. However, I always get the following exception:

[code]

If I install spyder from the archlinux repository it works fine.

[2017-01-04 11:42] thorstenwagner commented on #1325
I've tried to update anaconda via conda update anaconda:

[code]

The problem is still the same.

[2017-01-04 11:51] thorstenwagner commented on #1325
This fixed the problem:

[2017-01-04 11:51] #1325 closed

[2017-01-04 15:55] rossant commented on #1267
I also have this problem on Ubuntu 16.04 since I upgraded PyQt from v4 to v5

[code]

Is there any work-around? Or any ETA for an update that would fix this? Thanks.

[2017-01-04 18:16] csoja commented on #1084
@ilan The rebuild of graphviz on OSX that you did ~ November 10th - which version of OSX was that built on?  I had a note that this was done - though it looks like we did not close the loop and close the issue.

[2017-01-04 23:41] ccordoba12 commented on #1267
Q2 or Q3 of 2017, we haven't decided that yet.

[2017-01-05 02:13] ijstokes commented on #1303
@kalefranz this is the thing we were just talking about (and the linked ML response).

[2017-01-05 02:51] waynesuzq commented on #1291
Hi, I met the same problem: same OS, python2.7.
Command line works ok, but Anaconda Navigator repeatedly crash, so I reinstalled it by:
`$ sudo conda install anaconda-navigator=1.3.2
`
I guess it the latest version.
Here is my conda info, please help:
[code]
Thanks~

[2017-01-05 03:29] ijstokes commented on #1303
@kalefranz rightly pointed out that a problem with this strategy is that many packages do not specify upper bounds on their dependencies (because it can be hard to specify *a priori* when future versions of the dependency will break the package in question) and therefore implicitly will accept **any** version of a dependency package later than some minimum.  But then a "newer" version of the depen

[2017-01-05 03:37] #1318 closed

[2017-01-05 03:38] #968 closed

[2017-01-05 03:41] bigeagle commented on #1318
Hi @mingwandroid , is the md5 mismatch fixed?

[2017-01-05 05:27] YazDog commented on #619
How did you work this?

[2017-01-05 06:06] dofine opened #1326 "conda install fails with proxyerror behind proxy. Need a way to bypass repo url."
I know this issue has been posted many times. But I've tried all possible solutions online. No one works for me. Some more information:

1. curl responses with 200 OK

[code]

2. I can install it with `pip install`, because I monkey patched the `requests` package in pip, made it return empty for environment proxies. (in file `utils.py` from `requests`)

[code]

3. I can also do `requests.get` in p

[2017-01-05 06:10] rickyi22 commented on #1326
same problem here +1

[2017-01-05 07:06] mamathapuvvadi opened #1327 "installation error"
Hi,

Need help with the connection error that i am receiving while i try to install using conda install or conda update -all

i did try to create .condarc in the root with the below info

proxy_servers:
   http: http://10.20.1.128
   http: http://10.10.1.10:5323

Fetching package metadata ...Could not connect to https://repo.continuum.io/pkgs
/free/noarch/
Could not connect to https://repo.continu

[2017-01-05 08:37] anddam commented on #1095
This is still an issue with a freshly updated anaconda (three months after the supposed fix date). The ticket should be reopened to keep track of the issue.

[2017-01-05 15:56] randomgambit opened #1328 "weird Pandas version after conda update"
Hello there,

Happy new year! Just updated my `pandas` package using `anaconda` (`conda update --all`) and `pd.__version__ ` gives:
 `u'0.19.2+0.g825876c.dirty'`

[code]

[code]

Is that expected/normal? Why am I getting a `dirty` version?? :D

[2017-01-05 15:56] dofine commented on #1326
https://github.com/pypa/pip/issues/1182

May be i'll try this and set to my `.condarc`. Hope it'll work.

[code]

[2017-01-05 16:20] hwestbro opened #1329 "Navigator Error"
Anaconda Navigator Update error:

/Users/hwestbro/anaconda/bin/python /Users/hwestbro/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.2: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.2*
  - orange -> pyqt 4.*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'osx-

[2017-01-05 19:47] edbarnard opened #1330 "pyqtgraph 0.10 available (fixes Qt5 compatibility)"
PyQtGraph 0.10.0 now supports Qt5 (via PyQt5) but the anaconda package is at v0.9.10 which forces PyQt4 as a dependency.

http://www.pyqtgraph.org

`pip install pyqtgraph=0.10` works with Qt5 but `conda install pyqtgraph` does this:

For Python 2:

[code]

For Python 3:

[code]

[2017-01-05 20:15] ilanschnell commented on #1328
I think, I know the reason for this.  Let me see if I can fix it.

[2017-01-05 20:41] randomgambit commented on #1328
great! please let me know

[2017-01-05 22:14] jrpwwilliams commented on #1116
I have a similar issue with a slightly different stack trace for 4.2 for python 3.5 downloaded and installed on windows 10 1/5/17

Traceback (most recent call last):
  File "C:\Users\jrpwilliams\Anaconda3\Scripts\anaconda-navigator-script.py", line 5, in <module>
    sys.exit(anaconda_navigator.app.main.main())
  File "C:\Users\jrpwilliams\Anaconda3\lib\site-packages\anaconda_navigator\app\main.py

[2017-01-05 22:26] ilanschnell commented on #1328
It should be fixed now.  Use `conda update pandas` to get the fixed build.

[2017-01-05 22:26] #1328 closed

[2017-01-05 22:41] jrpwwilliams opened #1331 "Navigator for 4.2 not opening"
I have a similar issue with a slightly different stack trace for 4.2 for python 3.5 downloaded and installed on windows 10 1/5/17

[code]

[2017-01-06 10:57] cj-foster opened #1332 "anaconda-navigator fails to start Win7 TypeError"
Starting anaconda-navigator.exe has previously worked fine but stopped today. Splash screen shows 'Initialising' then drops out with cmd window and errors:

[code]

Looking at other issues you'll want the following.
[code]

[code]
Thanks.

[2017-01-06 14:12] nate-russell commented on #619
I re-installed anaconda until it worked. Haven't had the issue again.

[2017-01-06 16:37] electronwill commented on #1036
No further contact from the user since September 2nd. I can forward the email thread to you if you like. If it's a high enough priority to be worth investigating, then I think the next step is for a developer or someone on the testing team to test installing Anaconda on Fedora, and see if "conda" and "python" run as expected.

[2017-01-06 23:19] njp729 commented on #1324
I'm not @patrmccormack, but I'll give some details on similar problems I'm having with the Navigator UI.

On my old laptop (Asus something 13", Windows 10), Navigator was fine. Recently got a new laptop (Asus Zenbook Flip 13", Windows 10), installed Anaconda, and immediately had issues with scaling, font, and UI usability.

Details: Anaconda 1.3.2 (upgraded from 1.3.0 on this computer, which had t

[2017-01-07 00:29] Manik-Goyal opened #1333 "Anaconda-navigator and spyder not opening"
After the command conda update anaconda
the navigator and spyder are not woking with the following error

[code]

error simmilar for navigato

[2017-01-07 12:53] goanpeca commented on #1331
@jrpwwilliams could yo go to the console and type

[code]

And paste the results here?

[2017-01-07 12:54] goanpeca commented on #1036
@MulticastMatt, @csoja do you think is something worth adding to the test suites?

[2017-01-07 12:55] #619 closed

[2017-01-07 12:56] goanpeca commented on #1333
@Manik-Goyal could yo go to the command prompt and type

[code]

And paste the results here?

[2017-01-07 13:38] jrpwwilliams commented on #1331
[0x7FFEF22C70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
[0x7FFEF22C70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
Current conda install:

               platform : win-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       re

[2017-01-07 13:59] goanpeca commented on #1331
@jrpwwilliams could you update to the latest version 1.3.2 ?

On the command prompt you can type

`$ conda install anaconda-navigator=1.3.2`

[2017-01-07 14:04] jrpwwilliams commented on #1331
I still get the same stack trace after, except where it was main lines 70&38 it's now 72%40

[2017-01-07 15:23] jrpwwilliams commented on #1331
[0x7FFEF22C70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
[0x7FFEF22C70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
Fetching package metadata .........
Solving package specifications: ..........

Package plan for installation in environment C:\Users\jrpwilliams\Anaconda3:

The following packages will be downloaded:

    package                    |

[2017-01-07 19:00] pleabargain opened #1334 "navgiator splash screen is cut off on right side"
latest anaconda
ubuntu 16.04

Can't see the right side of the screen. No option to zoom/reduce size of splash... is that a log in on the right hand side? if yes, for what?

thank you

![nav edge cut off](https://cloud.githubusercontent.com/assets/640846/21744336/2aa3a652-d51c-11e6-8f5d-f0f9dde1cce7.jpg)

[2017-01-07 23:48] hk216 opened #1335 "Unavailable Multibyte language (Mozc )"
I use spyder by starting it from Anaconda-Navigator, and starting it from a terminal. I can't use Multibyte language(Mozc) in IPython console in the former case. I can use it in the latter case. Why I can't use it? I sent the mail to know the reasons.

[2017-01-08 00:04] hk216 commented on #1335
I mention in a postscript that I can use Mozc from jupyter called from Anaconda-Navigator like IPython notebook called from a terminal.
I think the Ipython console which was called from Anaconda-Navigator doesn't support Multibyte language thogh the original Ipython console which was called from a terminal supports  Multibyte language.
Please teach me the reason.

[2017-01-08 05:38] Manik-Goyal commented on #1333
_license                  1.1                      py27_1
_nb_ext_conf              0.3.0                    py27_0
alabaster                 0.7.9                    py27_0
anaconda                  4.2.0               np111py27_0
anaconda-clean            1.0.0                    py27_0
anaconda-client           1.5.1                    py27_0
anaconda-navigator        1.3.1                    p

[2017-01-08 15:15] ccordoba12 opened #1336 "Test Anaconda 4.3 with non-ascii and spaces and commas installation directories on Windows"
It seems one of the major problems for Qt5 packages on Windows (i.e. Navigator and Spyder) is the presence of those types of directories in the Anaconda installation path.

See for example https://github.com/jupyter/qtconsole/issues/181. I also received a private email telling me that a user installed Anaconda in `C:\Users\Ramón` and it had to changed to `C:\Users\Ramon`.

@csoja, we need to make

[2017-01-08 16:36] zstachniak commented on #1322
Very similar setup here, and restarting my router also resolved the issue.

[2017-01-08 18:42] goanpeca commented on #1332
The problem here seems to be related to

`P:\utilities\Anaconda 3-4 1.1\` to spaces in the path.

[2017-01-08 18:44] goanpeca commented on #1324
@njp729 there is a setting in the preferences of navigator that allows you to enable/disable HIGH DPI screens scaling.

Could you try toggling this option and restarting navigator?

<img width="476" alt="screen shot 2017-01-08 at 1 44 33 pm" src="https://cloud.githubusercontent.com/assets/3627835/21752568/a14f1e8a-d5a8-11e6-95ec-64be76e0864b.png">

[2017-01-08 18:48] goanpeca commented on #1329
@hwestbro this is related to Qt incompatibilities. Qt4 version is deprecated and no longer supported. Navigator and other software using Qt (except for orange) now rely on having Qt5. Qt5 is the current supported version of Qt and is the recommended one.

Could you please try to update Qt to the latest version?

`conda remove orange`
`conda install qt=5 pyqt=5 anaconda-navigator=1.3.2`

If you are

[2017-01-08 18:59] goanpeca commented on #1333
@Manik-Goyal not sure what could be the problem

Could you reinstall qt5 and pyqt5 and qtpy?

`$ conda install qt=5 pyqt=5 qtpy=1.1.2 --force`

Does your user name contain spaces or non ascii characters?

[2017-01-08 19:04] goanpeca commented on #1334
@pleabargain do you have a high DPI screen?

If yes then you might need to disable/enable the option on the preferences.

<img width="476" alt="screen shot 2017-01-08 at 1 44 33 pm" src="https://cloud.githubusercontent.com/assets/3627835/21752705/3dc16a0a-d5ab-11e6-8a85-5b0961a50466.png">

The login allows you to connect to https://anaconda.org the service that allows you to upload packages to you

[2017-01-08 19:05] goanpeca commented on #1334
Could you go to the terminal and paste the result of

[code]

[2017-01-08 19:14] #1322 closed

[2017-01-08 19:25] goanpeca commented on #1331
Could you delete this folder

`C:\Users\jrpwilliams\.anaconda\`

And then try again. If you keep getting the error could you send the logs file located at

`C:\Users\jrpwilliams\.anaconda\navigator\logs\`

[2017-01-08 19:46] TheMitchWorksPro commented on #1336
In case this helps, I downloaded Anaconda 4.2 earlier this week.  Did not know 4.3 would be out so soon.
On my enviornment which is Windows 7, I successfully installed to C:\ProgramFilesCoders\Anaconda2

(was building Python 27 default with 3.6 and R as secondary environments)

Something to test for that has changed my installation process:

The one symptom I experienced of note is that under Anac

[2017-01-08 19:47] TheMitchWorksPro opened #1337 "RStudio Installation Issue experienced on Anaconda 4.2"
Started this issue here and was asked to move it under this repo.  This issue is open and all details are accessible on this link (but closing it on the other repo so discussion and solutions can continue here:

https://github.com/conda/conda/issues/4204

More detail is provided at above issue URL, including some comments with ideas that raise some more questions about how to implement work-around

[2017-01-08 20:08] TheMitchWorksPro commented on #1337
@goanpeca posted this comment on the earlier issue before I closed it to migrate it here.  In reviewing this I now see I mis-read something and can attempt this.  Will give this a try and let you know how it goes.  Thanks so much for posts and the fact that I see people care and are looking into how to build a better Anaconda.  :-)

Thing I will attempt later today:

You can install applications i

[2017-01-08 20:20] Manik-Goyal commented on #1333
I tried re-installing qt5, pyqt5 and qtpy .Unfortunately that didn't solve so I finally deleted the whole Anaconda and installed again.
Guess its somewhat windows related problem.
Thanks for the help.

[2017-01-08 20:23] goanpeca commented on #1333
@Manik-Goyal, did the reinstall solve the issue?

[2017-01-08 20:23] TheMitchWorksPro commented on #1337
@goanpeca - screenshot you posted on previous issue (conda/conda/#4204) - was that Anaconda 4.3?  It looks different than mine.

To that point - when Anaconda 4.3 is out, is there a way for those of us who used 4.2 to upgrade so Navigator gets all the right enhancements and what-not without having to blow away our environment and re-install under the new version?

Saw references to 4.3 in issue re

[2017-01-08 20:24] goanpeca commented on #1337
@TheMitchWorksPro the screenshot is the latest version of Navigator coming out soon. This version will also be the default shipped with the new release of Anaconda

[2017-01-08 21:14] Manik-Goyal commented on #1333
Yes it solved the issue.

[2017-01-08 21:15] #1333 closed

[2017-01-08 21:28] jtbandes opened #1338 "VTK package does not provide all dependencies (fails inside Docker)"
I am attempting to make a conda package for [a program](https://github.com/PointCloudLibrary/pcl) which has VTK dependences. When running `conda build` I run into various errors related to shared libraries, like

    make[2]: *** No rule to make target `/usr/lib64/libSM.so', needed by `vtktest'.  Stop.

Below is a relatively minimal way to reproduce the problems:

Dockerfile:

[code]

main.cpp:

[

[2017-01-08 21:33] ccordoba12 commented on #1338
VTK has many dependencies. For example, we don't compile it with Qt support.

Could you try the VTK package from conda-forge? That one could be more complete than ours.

[2017-01-08 21:38] jtbandes commented on #1338
Well, it fails on a different shared library:

    make[2]: *** No rule to make target `/usr/lib64/librt.so', needed by `vtktest'.  Stop.

[2017-01-08 21:40] ccordoba12 commented on #1338
And what are the missing dependencies we should add?

[2017-01-08 21:44] jtbandes commented on #1338
Sorry I'm not really sure, I haven't been able to make this work yet. I don't know whether it's actually an issue with missing dependencies or if the search paths are wrong. For example, the file `/usr/lib/x86_64-linux-gnu/librt.so` exists, but you can see CMake/make is searching for `/usr/lib64/librt.so` and maybe that's a conda problem.

I don't know the best way to debug this, was hoping someon

[2017-01-08 21:51] ccordoba12 commented on #1338
What if you try in a real virtual machine instead of a Docker container?

We don't use Docker in internally, just VMs

[2017-01-09 01:34] TheMitchWorksPro commented on #1337
Root of my installation is Python 2.7.  As instructed, I started by creating R_w_PY35 environment on Navigator but then it started to do something that to me looks unexpected.  It gave messages that began with "linking Python" and then ran through a host of package names, but skipped up to the root environment while doing it.  Is this normal?

Is this normal or did we just corrupt my environment a

[2017-01-09 12:08] dmitry-kabanov opened #1339 "What are best practices to build packages compatible with Anaconda?"
Are there any best practices to build packages such that they are compatible with Anaconda?

I want to build [sundials](http://computation.llnl.gov/projects/sundials) and [scikits.odes](https://github.com/bmcage/odes) at least for linux-64 architecture and osx-64.
Documentation for building packages with conda doesn't say anything about the versions of compilers that must be used to get packages t

[2017-01-09 13:56] pleabargain commented on #1334
$ conda info
Current conda install:

               platform : linux-64
          conda version : 4.2.13
       conda is private : False
      conda-env version : 4.2.13
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : /home/dennis/anaconda3  (writable)
    default environment : /home/dennis/anaconda3
       envs dir

[2017-01-09 13:56] woony90 opened #1340 "Fail to run spyder"
Hi. I am new to Python and I need to install Anaconda 4.2.0 (Python 3.5 version) for academic purpose.
However, spyder won't open even being reset. Just for your information, I am using windows10.

I got the following message after typing "spyder --show-console" on anaconda prompt

(C:\Users\woony90\Anaconda3) C:\Users\woony90>spyder --show-console
Traceback (most recent call last):
File "C:\Users

[2017-01-09 14:52] ccordoba12 commented on #1340
Please post the output of

    conda info

and

    conda list

[2017-01-09 15:00] csoja commented on #1036
I think it would be worth having the QA team attempt to reproduce the
issues.

On Sat, Jan 7, 2017 at 6:54 AM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

--
[image: Continuum Analytics Banner] <https://continuum.io/email-banner>

Crystal Soja
Product Manager, Anaconda Distribution & Repository
C: 512-776-1140
E: csoja@continuum.io
@ContinuumIO
[image: Anaconda Powered By Continuu

[2017-01-09 15:15] csoja commented on #1339
I'd recommend this README: https://github.com/ContinuumIO/anaconda-recipes/blob/master/README.md

[2017-01-09 15:26] amueller opened #1341 "Anaconda Jupyter notebook links should start Jupyter in home folder"
On windows (and possibly other platforms) if you use the "Jupyter Notebook" link in the start-menu to start the jupyter notebook server, it will start in the anaconda folder.
That's very confusing, and relatively useless. Users are unlikely to store their notebooks in a subfolder of the anaconda folder.
It would be much better to start the server in the home folder, so that people can navigate to

[2017-01-09 15:38] woony90 commented on #1340
(C:\Users\woony90\Anaconda3) C:\Users\woony90>conda info
Current conda install:

               platform : win-64
          conda version : 4.2.13
       conda is private : False
      conda-env version : 4.2.13
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : C:\Users\woony90\Anaconda3  (writable)
    default enviro

[2017-01-09 15:39] woony90 commented on #1340
(C:\Users\woony90\Anaconda3) C:\Users\woony90>conda list
# packages in environment at C:\Users\woony90\Anaconda3:
#
_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
alabaster                 0.7.9                    py35_0
anaconda                  custom                   py35_0
anaconda-clean            1.0.0                    p

[2017-01-09 15:41] woony90 commented on #1340
(C:\Users\woony90\Anaconda3) C:\Users\woony90>conda list
# packages in environment at C:\Users\woony90\Anaconda3:
#
_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
alabaster                 0.7.9                    py35_0
anaconda                  custom                   py35_0
anaconda-clean            1.0.0                    p

[2017-01-09 16:21] msarahan commented on #1341
Thanks, good suggestion.  This should be a pretty straightforward fix.

[2017-01-09 16:27] amueller commented on #1341
sweet thanks :)

[2017-01-09 16:36] jrpwwilliams commented on #1331
[logs.zip](https://github.com/ContinuumIO/anaconda-issues/files/694033/logs.zip)

[2017-01-09 18:42] dmitry-kabanov commented on #1339
@csoja, thanks!

Since I wrote my previous message, I've realized that I cannot build `sundials` with MKL support although Anaconda is supplied with MKL.
It seems like it's easier to switch to what `condo-forge` provides since they already have `sundials` built against `openblas`.

[2017-01-09 18:58] #1339 closed

[2017-01-09 19:24] msarahan commented on #732
@TheBeege the code for this is menuinst.  Specifically, https://github.com/ContinuumIO/menuinst/blob/master/menuinst/knownfolders.py#L168

It is trying to detect the right codec, but I might be totally wrong in how I do it.  PRs welcome on menuinst.

We have also reworked the installers for the coming Anaconda 4.3 release to disallow unicode paths when installing a Python2 distribution, and to war

[2017-01-09 20:11] #1130 closed

[2017-01-09 20:11] #1250 closed

[2017-01-09 20:27] ccordoba12 commented on #1340
Everything seems right. Now, what's the output of

    qmake -query

?

[2017-01-09 20:57] vaibhavgupta2205 commented on #732
Hi @msarahan,

I tried installing both the versions i.e 2.7 as well as 3.5 for 64 bit Windows OS. Got the following three issues in order as mentioned :-
- Failed to create Anaconda menus
- Failed to create Anaconda directories
- Failed to add Anaconda to the system PATH
Can you please help me out here by letting me know what steps exactly to follow as I am completely new to this,

[2017-01-09 21:20] LaurentThiol opened #1342 "Navigator for 4.2 not opening (bis)"
Hi
I'm not able to launch "anaconda navigator" under windows10 any more.
It used to work then for an unknown reason, now you can click on the shortcut nothing happen :
shortcut :
"C:\Program Files\Anaconda3\envs\py35\pythonw.exe" "C:\Program Files\Anaconda3\envs\py35\cwp.py" "C:\Program Files\Anaconda3\envs\py35" "C:/Program Files/Anaconda3/envs/py35/pythonw.exe" "C:/Program Files/Anaconda3/envs/p

[2017-01-09 21:21] amueller opened #1343 "Jupyter Notebook file type association"
Would it be possible for anaconda to register the ``.ipynb`` data type to be opened with jupyter notebooks (or [nbopen](https://github.com/takluyver/nbopen))? I think this would mostly benefit Windows users, but other platforms might also like this.

That seems to be hard / ugly to do with conda or pip, but the anaconda installer already does "outside the environment" changes like adding stuff to

[2017-01-09 21:30] goanpeca commented on #1342
Hi @LaurentThiol could you go to the command prompt and type

`$ anaconda-navigator`

Also could you type

[code]

And paste the results here?

[2017-01-09 21:32] ccordoba12 commented on #1342
The space in

    Program Files

could be the cause.

[2017-01-09 21:34] ccordoba12 commented on #1343
@msarahan, @mingwandroid? This seems a job for `menuinst`

[2017-01-09 21:34] goanpeca commented on #1342
Good catch @ccordoba12 indeed

[2017-01-09 21:34] goanpeca commented on #1342
@LaurentThiol you seem to have a "All users install" of anaconda.

Is there any reason for not using "This user only install" ?

[2017-01-09 21:36] ccordoba12 commented on #1342
Installation in directories with spaces is going to be prevented in Anaconda 4.3

[2017-01-09 21:36] LaurentThiol commented on #1342
@goanpeca
Whaou ! anaconda-navigator did great !

I can change to "This user only install" if necessary, Do I have to uninstall first ?

[2017-01-09 21:37] goanpeca commented on #1342
Yes it is better

[2017-01-09 21:38] LaurentThiol commented on #1342
@ccordoba12
As I'm under windows the space is native...
I did not change the standard install dir...

[2017-01-09 21:41] ccordoba12 commented on #1342
Yep, I know. But you have to choose another location, even for a system-wide installation.

[2017-01-09 21:46] LaurentThiol commented on #1342
ok thanks to all

[2017-01-09 21:46] #1342 closed

[2017-01-09 22:34] anjames16 opened #1344 "Help: AttributeError: 'module' object has no attribute 'read_dataframe'"
Hi I'm trying to use feather to read a *.feather file into the jupyter notebook and anaconda environment and I receive this error.

feather-format is installed and am able to run import feather okay

[2017-01-09 22:37] anjames16 commented on #1344
i'm using Windows 7

[2017-01-10 00:12] mwtoews opened #1345 "Add support for shapely for Windows"
Currently, shapely is supported for only Linux and macOS, but not Windows:
https://anaconda.org/anaconda/shapely

Looking at the file history, it seems that shapely has never been supported for Windows on Anaconda.

While there are several 3rd party channels that support shapely on Windows, it would be most convenient to have this from the core anaconda channel.

Note that this recipe depends on l

[2017-01-10 02:43] jeffrimko commented on #296
Just ran into similar issue and it ended up being due to not having PyQt4 installed (although PySide was installed). Can check if it is installed by running `python -c "import PyQt4"` from a console. If it is missing, go to [this website](http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyqt4), download the appropriate wheel file, then run `pip install <PATH_TO_DOWNLOADED_WHEEL_FILE>`.

[2017-01-10 03:27] woony90 commented on #1340
#(C:\Users\woony90\Anaconda3) C:\Users\woony90>qmake -query
#
#
QT_SYSROOT:
QT_INSTALL_PREFIX:C:/Users/woony90/Anaconda3/Library
QT_INSTALL_ARCHDATA:C:/Users/woony90/Anaconda3/Library
QT_INSTALL_DATA:C:/Users/woony90/Anaconda3/Library
QT_INSTALL_DOCS:C:/Users/woony90/Anaconda3/Library/doc
QT_INSTALL_HEADERS:C:/Users/woony90/Anaconda3/Library/include/qt
QT_INSTALL_LIBS:C:/Users/woony90/Anaconda3/Li

[2017-01-10 03:34] ccordoba12 commented on #1340
That looks good too :-/

Now what if you run

    jupyter qtconsole

? That runs well or fails for you?

[2017-01-10 04:04] woony90 commented on #1340
It doesn't work either... :(

(C:\Users\woony90\Anaconda3) C:\Users\woony90>jupyter qtconsole
Traceback (most recent call last):
  File "C:\Users\woony90\Anaconda3\Scripts\jupyter-qtconsole-script.py", line 3, in <module>
    import qtconsole.qtconsoleapp
  File "C:\Users\woony90\Anaconda3\lib\site-packages\qtconsole\qtconsoleapp.py", line 60, in <module>
    from qtconsole.qt import QtCore, QtGui

[2017-01-10 12:45] ccordoba12 commented on #1340
Perhaps you installed a 64 bits version of Anaconda in a 32 bits Windows version.

Please verify that that's not the case.

[2017-01-10 14:48] sebastianWI opened #1346 "netcdf tools not working"
conda install netcdf also installs a couple of command line programs (e.g. ncdump, nccopy etc). They do not work properly. With all netcdf-files, they produce *** ncdump:  ncopen failed on file.nc
I experienced the problem both on windows 10, windows server 2008 and Ubuntu 16.04. If I install the netcdf tools manually (e.g. via the windows installer), everything works fine.

Note tha inside python

[2017-01-10 15:06] msarahan commented on #1343
It appears that this might be possible: http://superuser.com/a/407041/184799

However, I'm very wary about this.  It ventures pretty far into the "requires admin priveleges" minefield, and could be a large source of support issues.  In general, where conda can be self-contained, I'm happy to change it.  Once it starts modifying things system-wide, we need to be much more careful.  This would requi

[2017-01-10 15:10] amueller commented on #1343
I'm pretty sure this doesn't require admin privileges - it's possible to set preferred applications on a user-level.
It is true that it's an effect outside of the anaconda environment, but it seems to be a pretty big pain-point for beginners.

[2017-01-10 15:30] msarahan commented on #1343
@amueller we will investigate this change, but it will not happen until after the Anaconda 4.3 release, coming soon.  I just don't want to risk any possible admin privilege issue in this release - we need more time to be able to test.

[2017-01-10 15:32] ccordoba12 commented on #1343
Something that doesn't require admin privileges for sure is adding a context menu entry on the Windows file explorer to a open a file type with a given program. It's not as direct as doing a double click on `foo.ipynb`, but it's pretty close.

I agree with @msarahan that (unfortunately) it's too late to include this in Anaconda 4.3.

[2017-01-10 15:34] amueller commented on #1343
Oh yeah for sure this is intrusive, take your time :)

[2017-01-10 15:34] amueller commented on #1341
It would be awesome if you could get this into the release ;)

[2017-01-10 15:43] msarahan commented on #1341
Agreed.  I'll make sure it stays on the agenda.

[2017-01-10 17:09] rgr-myrg commented on #1182
@wjagers Permissions problem on /opt/anaconda3/bin/qt.conf for me as well. chmod solved it.

Thanks a lot.

[2017-01-10 17:15] goanpeca commented on #1182
@Haffi112,

Does doing

Fixes this for you?

[2017-01-10 18:02] goanpeca commented on #1175
@BjornFJohansson ?

[2017-01-10 18:02] goanpeca commented on #1069
@ReyesZYX99 ?

[2017-01-10 18:53] jhamman commented on #1346
I've also seen this issue. I usually end up deleting the command line tools added to my `bin`.

[2017-01-10 19:35] #1079 closed

[2017-01-10 19:36] #1341 closed

[2017-01-10 19:58] AkramSiddique opened #1347 "Anaconda"
New code

[2017-01-10 20:02] ccordoba12 commented on #1347
What does this mean?

[2017-01-10 20:34] #1347 closed

[2017-01-11 01:57] woony90 commented on #1340
My window version is a 64bits system. :(

windows edition: Windows10 Home
System processor: i5-3317U
Ram: 4GB (3.71GB usable)
system type: 64-bit Operating system, x64-based processor

[2017-01-11 03:48] TheMitchWorksPro commented on #1337
Environments seem to be working, but below is a dry run of the new environment if "conda update --all" were to be run on it immediately after having created it.  (also provided - a list of what is in the environment).

Does this need to be updated?  Can i update it safely to get all the additional packages?

# packages in environment at C:\ProgramFilesCoders\Anaconda2\envs\R_wPY35:
#
colorama

[2017-01-11 05:52] coolum001 opened #1348 "Navigator fails to install a package that triggers a Navigator update"
Running Anaconda Navigator 1.3.2, windows/Anaconda env. as  detailed below
Tried to install the package 'opencv' from the Navigator:
It appears that this (at some stage) triggers an update of Navigator itself, and hence the Navigator application crashes in mid-install (presumably after removing Navigator binaries).  The Navigator icon no longer appears in the Start menu.

Reinstalled Anaconda (Win

[2017-01-11 06:43] ccordoba12 commented on #1336
@TheMitchWorksPro, your problem is going to be fixed in Anaconda 4.3.

Closing this issue, as installations in these kind of directories is not going to be allowed since Anaconda 4.3.

[2017-01-11 06:43] #1336 closed

[2017-01-11 07:11] mingwandroid commented on #777
It is likely that your user account PATH has some entries in it leading to what's simply called DLL hell or perhaps you were not activating your environment correctly.

Either way, if you can use process hacker to show the list of modules loaded and PATH env var by Rcmd.exe when this happens it would be very helpful.

[2017-01-11 08:06] Jang-neudern commented on #732
Finally installed.

1. I'm a Korean and using non-ASCII user name. (in Korean, not English)
  -> creating new account for my window10, user name is in English.
2. IntelliJ, blueJ, JDK were installed.
 I still do not understand relation, but they can affect path modification or something somehow (that's what I've searched)
-> uninstall and delete paths (you can google how to)
3. I'm not sure path v

[2017-01-11 08:33] Jang-neudern commented on #732
I tested several times more,

My problem was just other pre-installed programs or their paths, I think.

without a new account, without a vaccine turned off, without some kinds of modifying the length of path variable, installed.

[2017-01-11 08:40] cj-foster commented on #1332
OK. Thanks. The IT team have (naively) just renamed the directory so it has no spaces and I am still getting the same errors.

[code]

Thanks.

[2017-01-11 09:33] IrinaMax commented on #498
How to uninstall anaconda from my MacBook? i want to install Tensorflow to work from R, but pip automaticly put it in anaconda directory and its not tensorFlow not working in R.

[2017-01-11 09:48] BjornFJohansson commented on #1175
Hi, sorry for the delay. I use the Ctrl++ or Ctrl+- in many different softwares, so for me that would be a definite advantage. The second best option for me would be an option in preferences.

[2017-01-11 15:35] goanpeca commented on #1332
@cj-foster I would advice a full reinstall using a path with no spaces

[2017-01-11 15:37] goanpeca commented on #1348
Is this an assumption or you are sure this actually happened (I dont see how it could?, also opencv has as dependencies numpy and python only)

[2017-01-11 16:24] TheMitchWorksPro commented on #1337
Second attempt to install RStudio Failed.  I selected the environment first in the only place the UI allows you to select it.  Here are screenshots of what I did and what happened:

![image](https://cloud.githubusercontent.com/assets/23440318/21856533/5adb4e66-d7f0-11e6-9d9e-9a8ec9d5f93e.png)

![image](https://cloud.githubusercontent.com/assets/23440318/21856546/6506391e-d7f0-11e6-9f89-1f0256e9077

[2017-01-11 16:28] goanpeca commented on #1337
@TheMitchWorksPro in your screenshot I see you installed (on the Home screen) on the root environment not on R_wPY35

<img width="256" alt="screen shot 2017-01-11 at 11 27 48 am" src="https://cloud.githubusercontent.com/assets/3627835/21856726/014f2d80-d7f1-11e6-9ff1-1ef8ba11c846.png">

[2017-01-11 16:31] TheMitchWorksPro commented on #1337
Could have sworn I tested drop-down at top of Home screen and it did not work before I switched to Environments tab to do it.  Now I see I was mistaken.  Trying again.  Results to post shortly (I hope).

[2017-01-11 16:48] TheMitchWorksPro commented on #1337
Process failed again.  Unidentified error on the pop up screen (screen is blank).

![image](https://cloud.githubusercontent.com/assets/23440318/21857466/89483086-d7f3-11e6-91b4-9749ac727023.png)

Precise process followed this time:
1) environment used (selected on home screen) was created earlier on Anaconda Navigator with R and Python 3.5 checked during its creation.  List of what it contains is

[2017-01-11 16:52] goanpeca commented on #1337
Please hold on for a couple of days, there is a release coming that takes care of this, sorry for the trouble

[2017-01-11 16:54] TheMitchWorksPro commented on #1337
In case this helps with debugging - here is a list of what the environment looked like after it died:

[R_wPY35_condaList_2017-01-11_12pm.txt](https://github.com/ContinuumIO/anaconda-issues/files/699477/R_wPY35_condaList_2017-01-11_12pm.txt)

To take advantage of new release - will I have to blow away Anaconda 4.2 and start over with 4.3?
Or is there a way to update this environment after the new

[2017-01-11 17:11] mingwandroid commented on #1337
Those R packages are very old. I am not sure what would cause such old versions to be installed.

[2017-01-11 17:25] TheMitchWorksPro commented on #1337
Based @goanpeca 's comments, I am holding off on attempting to complete RStudio installation for now, but I had to know.  So in case this helps with your research, this file is the output of running "conda update --all" on the environment followed by "conda list" to show what it looks like after running the command.

[R_wPY35_update-all-output_2017-01-11-12-24.txt](https://github.com/ContinuumIO/a

[2017-01-11 17:30] TheMitchWorksPro commented on #1337
Please keep this issue open and use it to let me know when I should try again.  Also, please advise on earlier comment:  is there way to update 4.2?  Or would trying the new release require blowing it away and re-installing and configuring?  I will need to know my options when I attempt the next fix.

Thanks.

[2017-01-11 18:08] olaurino opened #1349 "Python 3.6 segfaulting on OSX 10.7"
As OSX 10.7 is advertised as the baseline platform for Anaconda, I build my packages on this platform, to ensure binary compatibility.

However, as I started building packages against Python 3.6, I realized this package is not working on OSX 10.7.

Is this not the baseline platform for anaconda packages anymore?

More in detail, I create a new environment as follows, in a OSX 10.7 vagrant box (tuu

[2017-01-11 18:11] goanpeca commented on #1337
@TheMitchWorksPro, you will be able to install the new anaconda without "blowing up" everything. I will keep you updated

[2017-01-11 18:49] csoja commented on #1349
We are moving to 10.9 as the baseline going forward.   We will be updating the documentation soon to reflect that.  Thanks for reporting the issue - sorry for the trouble.

[2017-01-11 18:49] #1349 closed

[2017-01-11 20:30] TheMitchWorksPro commented on #1337
sounds great.  Able to use my R env. to run code in Jupyter and study ahead of my upcoming class.  Hoping to install RStudio before the 23rd as I think they will want us to work in it when I get to my R class, so being able to pick up where I left off during the upgrade would save me oodles of time.

Anaconda is an amazing tool.

Just struggling with some of the issues on my machine.  Kept a file

[2017-01-11 20:31] goanpeca commented on #1337
@TheMitchWorksPro we could really use your experience to improve our internal testing :-)

[2017-01-11 21:24] njp729 commented on #1324
@goanpeca thanks for your reply. I changed the setting and restarted, but now the font is tiny (relative to the default size used elsewhere - say, the window's header bar - and what Navigator looks like on my old computer), and when I resize the Navigator window, I occasionally get weird displays.

Full size
![image](https://cloud.githubusercontent.com/assets/22358572/21866969/dddd99ce-d811-11e6-9

[2017-01-11 22:46] henryiii commented on #498
This is probably not the very best place for that question, but I do happen to know the answer :-)   You don't need to uninstall anaconda, all you need to do is remove it from your path environment variable. I believe, on my Mac it set in the `.profile` file in your home directory.  Remove or comment that line out to Use the system Python.  Add back to your path, to get anaconda back.

[2017-01-12 02:33] Gabriel-p commented on #1284
I have this same issue on elementary OS Loki (based on Ubuntu 16.04, 64 bit).

[code]

[code]

[code]

[2017-01-12 03:24] mwtoews opened #1350 "PythonWin GUI shortcut"
It seems that Anaconda2 installs `pywin32` by default, which includes `Pythonwin.exe`, another Python IDE, into: (e.g.) `C:\Program Files\Anaconda2\Lib\site-packages\pythonwin\Pythonwin.exe`

However, the shortcut for this does not appear in the Start menu.

I've done this manually by first attempting:
[code]
however, part of this fails:

After creating the `Python 2.7` folder and reruning the sam

[2017-01-12 07:23] dawnnao commented on #1248
Same problem, but my Python is 3.5, help!
[notResponding.txt](https://github.com/ContinuumIO/anaconda-issues/files/700918/notResponding.txt)

[2017-01-12 15:29] arsenovic opened #1351 "include package: scikit-rf"
(sorry i hit submit comment before adding content)

what would be required to include that scikit-rf package into anaconda distribution?

* http://www.scikit-rf.org
* https://anaconda.org/scikit-rf/scikit-rf

[2017-01-12 16:50] jrpwwilliams commented on #1331
Is that log any help? User error or tough problem?

[2017-01-12 16:52] goanpeca commented on #1331
Could you type

`$ conda info --json` on the terminal and past the complete ouput?

[2017-01-12 17:05] TheMitchWorksPro opened #1352 "Anaconda 4.2 - Unit Test - Issues encountered (some w/ work-arounds, some not) for your research"
Updates:  slides updated.  Title page explains what's new this version.

Sorry that this is badly organized and doesn't have a clean summary in it but I am short on time.  Posted other issues (a few of them) one by one while working on them.  This attached file is an amalgam of all the things that went wrong with my Anaconda 4.2 environment, work-arounds where known, and what was attempted when a

[2017-01-12 17:07] TheMitchWorksPro commented on #1337
Hope this isn't too overwhelming as it is long ... but here's the "unit test" documentation I alluded to.  Hope it helps with all of your efforts:

https://github.com/ContinuumIO/anaconda-issues/issues/1352

[2017-01-12 17:08] jrpwwilliams commented on #1331
[0x7FF8502A70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
[0x7FF8502A70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
{
  "channels": [
    "https://repo.continuum.io/pkgs/free/win-64",
    "https://repo.continuum.io/pkgs/free/noarch",
    "https://repo.continuum.io/pkgs/pro/win-64",
    "https://repo.continuum.io/pkgs/pro/noarch",
    "https://repo.

[2017-01-12 17:12] goanpeca commented on #1331
What is

[0x7FF8502A70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
[0x7FF8502A70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)?

Is that is part of the stdout then that is why navigator does not start. We expect a json reply and those 2 lines are not json at all.

[2017-01-12 17:25] jrpwwilliams commented on #1331
I get those two lines with every conda command I enter. I've just googled it and got some suggestions. Let me play with those and get back to you if there are still problems after that.
Thanks

[2017-01-12 22:00] stuarteberg commented on #478
This issue is fixed on conda-forge, but not in `defaults`.  I guess anaconda hasn't yet started using conda-forge's recipe for this package?

[2017-01-13 01:24] TheMitchWorksPro commented on #1352
With more testing, had to add a few slides and update a few more.  Change made in main comment.  Just replaced the powerpoints with updated copy.

[2017-01-13 03:23] coolum001 commented on #1348
This is an assumption of mine.  I will try and see if I can recreate the problem in a clean system (as I may have been installing other packages at the same time with command line conda).  The behaviour seems to be similar to issue "After updating Anaconda 3 via Anaconda Navigator the Navigator disappears #1280 ".

Close if you wish, and I will resubmit when I have reproducible issue.

[2017-01-13 04:41] woony90 commented on #1340
what should I do now? :(

[2017-01-13 08:05] campagnola commented on #1330
I believe this is on its way:
https://github.com/conda-forge/staged-recipes/pull/2067

[2017-01-13 13:54] ccordoba12 commented on #1340
I really don't know. I don't understand what happens in your case, sorry.

[2017-01-13 14:16] ccordoba12 commented on #1330
@campagnola, conda-forge doesn't have PyQt5 packages (and will not still for some months).

[2017-01-13 14:47] cj-foster commented on #1332
Done, Problem fixed.

[2017-01-13 15:25] TheMitchWorksPro commented on #1352
One more not in the slides:

 In "R in a Nutshell" (good resource for novices like me), they point you to a dataset called "cars" and indicate that with RStudio, this comes with a default installation.  But as shown in this image, looks like that package is not working right in my R environment (the one I set up as per other issue hoping to use it for RStudio install once you get the kinks ironed

[2017-01-13 16:47] ilanschnell commented on #478
I just uploaded `future-0.16.0` build 1 packages with the entry points.

[2017-01-13 16:47] #478 closed

[2017-01-13 17:43] edminer opened #1353 "Installing from Miniconda3-3.5.5-Linux-x86_64.sh results in Python 3.4.5 being installed"
FYI.  I downloaded Miniconda3-3.5.5-Linux-x86_64.sh from  http://repo.continuum.io/miniconda/index.html.
Executing that install resulted in this version of Python being installed instead of 3.5.5:
python -V
Python 3.**4.**5 :: Continuum Analytics, Inc.

[2017-01-13 17:46] stuarteberg commented on #478
Thanks, @ilanschnell!

[2017-01-13 17:47] 01dc0de commented on #1278
Retested with updated mkl (2017.0.1) and numpy (1.11.3).
The bug was reproduced with the same code and data.

[2017-01-13 21:56] olaurino commented on #1349
BTW, is your Linux baseline still CentOS 5 or are you migrating to a different platform as well?

[2017-01-13 22:43] christianbrodbeck opened #1354 "iPython 5.1 not framework build on macOS"
After updating iPython to 5.1, I get a framework build error (see below). After downgrading to iPython 5.0 the error does not occur (`$ conda install ipython=5.0`). It [seems](https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/Tf2NF0aV0p4) that others have run into the same problem. Please let me know if there are further steps I can do to help diagnose this.

[code]

[2017-01-13 22:44] msarahan commented on #1349
Centos 5 is what we strive for, but it is not always possible. There are
some newer packages, such as tensorflow that use centos 6 instead.

On Fri, Jan 13, 2017, 15:57 Omar Laurino <notifications@github.com> wrote:

[2017-01-13 22:47] olaurino commented on #1349
Thanks a lot for the info!

[2017-01-14 01:24] cdkorzen opened #1355 "Unable to force install when troubleshooting on Windows 7"
I have Windows 7, 64bit.  My Anaconda platform crashed after a hard-link failure during an update, suddenly the command prompt had no idea "conda" was and the Navigator icon was gone.

Under the documentation there's a troubleshooting step, [How can I force Miniconda to install?](https://docs.continuum.io/anaconda/troubleshooting#id9).  I tried to install over my existing tree.

On Windows, neithe

[2017-01-14 01:34] cdkorzen opened #1356 "New environments that immediately have Jupyter Python kernels installed"

[2017-01-14 12:43] ijstokes commented on #446
From @ChrisBarker-NOAA on Dec 12 2016, Anaconda ML:

conda folks:

PING!!! one more good reason to make your default python interpreter GUI compatible -- like the python.org build does -- it would solve all these problems.

As for getting ipython to run under pythonw, I have no idea :-(

unfortunately the setuptools entry-points does not do the right thing -- though I"m not sure that ipython uses

[2017-01-14 14:47] woony90 commented on #1340
I typed "conda install pyside" to install pyside because the error message included "No module named 'PySide'"
That produced pyside is in conflict with python3.5 which I already installed with anaconda.
Thus, I downgraded it to python3.4 and finally my spyder works well.
It is little sad that I cannot use python3.5 but at least I can use spyder! Maybe I will try it again after the new versions of

[2017-01-14 16:44] gvaria1 opened #1357 "Problem with graphviz"
Dear all,

I am trying to visualize a decision tree with graph_viz and I am getting the following error:

Warning: Could not load "/home/moritz/Python/anaconda3/lib/graphviz/libgvplugin_pango.so.6" - file not found
Format: "pdf" not recognized. Use one of: canon cmap cmapx cmapx_np dot eps fig gv imap imap_np ismap pdf pic plain plain-ext png pov ps ps2 svg svgz tk vml vmlz xdot xdot1.2 xdot1.4

I

[2017-01-14 16:56] ccordoba12 commented on #1340
Ok, glad to know it's working for you. Hopefully, our new Anaconda release fix this problem for you.

[2017-01-14 16:56] #1340 closed

[2017-01-14 17:30] atabakd commented on #1182
changing permission did not work for me!

[2017-01-15 05:50] arita37 commented on #161
Think best is to address those problems to Python foundation, to make robust, reliable wrappers on top of Python 3.XXX so python 2 is compatible.
If enough people request the needs, maybe, there is enough funding to make this dream because true....

You can also Google to release Tensor Flow (2015 !!!), available in Python 3.... (not only in Python 2).

[2017-01-15 07:31] BLOODP opened #1358 "Navigator Error"
The following errors occured:

None:
CondaHTTPError: HTTP None None for url <None>
Elapsed: None

An HTTP error occurred when trying to retrieve this URL.
SSLError(SSLError(SSLError("bad handshake: SysCallError(54, 'ECONNRESET')",),),)

{'platform': 'osx-64', 'version': '1.2.1', 'conda': u'4.1.6', 'qt': '4.8.7', 'language': 'en', 'python': '2.7.12', 'os': 'Darwin;16.3.0;Darwin Kernel Version 16.3.

[2017-01-15 10:12] ribery77 commented on #1095
This still an issue. Even with new version of Anaconda. I cannot use qtpy 1.1.2? Is it possible to resolve?

[2017-01-15 15:10] ktorstensson commented on #1095
I also had to downgrade using 'conda install qtpy=1.0', in my case it lead to a downgrade of glueviz: 0.9.1-py35_0 --> 0.8.2-py35_1

[2017-01-15 16:03] goanpeca commented on #1358
Hi @BLOODP it seems to be a temporal connectivity issue

[2017-01-15 16:03] #1358 closed

[2017-01-15 22:40] TheMitchWorksPro commented on #1337
@goanpeca My R class begins on Monday, January the 23rd.  I know you must be very busy.  Please just let me know if Anaconda 4.3 will be ready for me to try upgrading and then triggering RStudio installation by then, or if I need to download and install RStudio independantly to get ready for it.  I need my full environment working day 1 when I walk into class so your time-table will drive what sol

[2017-01-16 02:13] BLOODP commented on #1358
but how to solve it

[2017-01-16 07:16] johannspies commented on #1281
On Mon, Dec 26, 2016 at 07:38:40AM -0800, Gonzalo Peña-Castellanos wrote:

 /home/js/anaconda3/bin/conda info
Current conda install:

               platform : linux-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : /hom

[2017-01-16 08:57] MaxNoe opened #1359 "yaml package broken?"
It seems the yaml package is broken:

[code]

[2017-01-16 09:40] mingwandroid commented on #1359
Please share details of you installation; the output from:

[code]

[2017-01-16 10:52] MaxNoe commented on #1359
Observed on uptodate conda on ubuntu, but also in the current version of the docker image `continuumio/miniconda3`.

Here for my ubuntu installation
[code]

[code]

[2017-01-16 14:02] dwhswenson opened #1360 "netCDF4 "missing libmfhdf.so.0""
There seems to be an incompatibility between current versions of netCDF4 and older versions of hdf4 (specifically `4.2.11-0` does not seem to work).

Steps to reproduce:

[code]

We found this in a test of our project on Travis. Some other part of our build process apparently wanted the more recent `jpeg`. See https://github.com/openpathsampling/openpathsampling/pull/655#issuecomment-272853914 for

[2017-01-16 15:13] csoja commented on #1353
The version number in the miniconda installer name is for conda - not python.  This one https://repo.continuum.io/miniconda/Miniconda3-4.2.12-Linux-x86_64.sh should install Python 3.5.

[2017-01-16 15:13] #1353 closed

[2017-01-16 15:22] ilanschnell commented on #1355
Thanks for the feedback.  Unlike the Unix bash installers, the Windows installer (as well as the Mac OS GUI installer) do not have the `-f` force option.  This is certainly something which would be useful for the Windows installer to have, and we should consider adding such a feature.  Thanks

[2017-01-16 17:07] jrpwwilliams commented on #1331
Thank you for your help. I have been unable to resolve the anomaly... issue with any of the guidance I've found, but have been able to successfully install and run on an older windows 7 machine so I can work from  that.
Thanks

[2017-01-16 17:07] #1331 closed

[2017-01-16 18:52] fhernand78 commented on #1201
Greetings
I have solved my problem. I just did the clean uninstall procedure.
On a terminal window (Mac)
1. conda install anaconda-clean2. anaconda-clean --yes3. Lauch Anaconda
I lauched Anaconda just for verify the uninstall procedure, I thought that Anaconda dissapear, but it launched normally, and the problem of crashing is gone.
-Fernando 

    El Lunes, 12 de diciembre, 2016 22:42:57, Gonzalo

[2017-01-16 18:55] #1201 closed

[2017-01-16 19:01] Haffi112 commented on #1182
This solution did not work for me either.

[2017-01-16 19:20] Phoestia opened #1361 "-bash: conda: command not found"
-bash: conda: command not found shows up at my terminal when I try to update anaconda.

Anaconda is still able to be use, but can not call from terminal and not able to be updated...

Can anyone help please?

[2017-01-16 19:36] Haffi112 commented on #1182
After googling for a while I stumbled upon the following solution:

    export QT_PLUGIN_PATH=<qt base path>/plugins

For me this was

    export QT_PLUGIN_PATH="/usr/lib/x86_64-linux-gnu/qt5/plugins"

[2017-01-16 19:45] VictoriaODell opened #1362 "Update installer images to new background"
Hey ya'll, we need to update our installer from the dark background to a light one.
EX:
Currently we have this for navigator and miniconda:
![anaconda-installer](https://cloud.githubusercontent.com/assets/10767430/21996936/334532f8-dbf2-11e6-954d-0577f2bda2ba.png)

And we need to get images like this (from Fusion):
![fusion-installer-welcome-image](https://cloud.githubusercontent.com/assets/107674

[2017-01-16 19:50] ilanschnell commented on #1362
Thanks.  This should really go into https://github.com/ContinuumIO/anaconda/issues

[2017-01-16 19:50] #1362 closed

[2017-01-16 21:18] ijstokes opened #1363 "Segfault on first execution of Anaconda Navigator"
I have a virgin system (entire laptop).  I installed Anaconda 4.2.0 (OS X, Python 3.5 version).  I started and closed original Navigator, then my second-ever Anaconda operation was:

[code]

When I then tried to start it I got a segfault, after about 5-10 seconds of looking at the green ring:

[code]

Next attempt to start it seems to be working better, I now have 1.4.0rc2 Navigator window open bu

[2017-01-16 21:33] ijstokes commented on #1363
This issue was moved to ContinuumIO/navigator#830

[2017-01-16 21:33] #1363 closed

[2017-01-17 01:12] ziofil commented on #799
Hi, any update on this front?

[2017-01-17 06:00] ceekr commented on #1187
The problem remains unresolved as of today. I hope we have a fix soon - thank you!

[2017-01-17 11:12] eneskeyif commented on #1187
This problem still hasn't solved. Please help us on it, I cannot be able to use anaconda for a long time...

[2017-01-17 11:14] enkey1 commented on #1187
This problem still hasn't solved, I cannot be able to use anaconda for a long time. Please help!

[2017-01-17 11:45] chohner opened #1364 "Error when uninstalling portaudio"
Current conda install:

               platform : osx-64
          conda version : 4.3.4
       conda is private : False
      conda-env version : 4.3.4
    conda-build version : 2.1.1
         python version : 3.5.2.final.0
       requests version : 2.12.4
       root environment : /Users/chohner/miniconda3  (writable)
    default environment : /Users/chohner/miniconda3
       envs directories :

[2017-01-17 11:51] atabakd commented on #1182
The plugin path solved it for me too.

[2017-01-17 11:58] goanpeca commented on #1182
@mingwandroid @ccordoba12

[2017-01-17 13:27] ccordoba12 commented on #1187
@enkey1, please update qt and pyqt with this command

    conda update qt pyqt

That should solve the problem for you.

[2017-01-17 13:33] ccordoba12 commented on #1182
@Haffi112, that's not the right solution because it's using your system Qt plugins, which are compiled under different conditions than the Qt package provided by Anaconda. So although that makes things work for you, it could also lead to bizarre and undebugable crashes (specially for Spyder, which uses a much wider range of Qt widgets than Navigator).

Please try with

    export QT_PLUGIN_PATH=<a

[2017-01-17 14:35] anjos commented on #608
This still happens for openblas-0.2.19-0 on OSX. Is there a plan to fix it?

[2017-01-17 14:43] 183amir commented on #595
@groutr is there any chance to look back into this? There is also a duplicate here: https://github.com/ContinuumIO/anaconda-issues/issues/608 and this is still happening in `openblas-0.2.19-0`.
Thanks.
ping @anjos

[2017-01-17 15:50] msarahan commented on #595
@183amir @groutr is no longer with Continuum.  I will re-raise this issue in our next meeting for reassignment to another team member.

[2017-01-17 16:06] 183amir commented on #595
Thank you @msarahan that would be great.

[2017-01-17 17:46] Haffi112 commented on #1182
This does not work for me :(

I tried doing (on the file in folder plugins/PyQt5)

    ldd libpyqt5qmlplugin.so

and my output is (in case this provides any useful information)

	linux-vdso.so.1 =>  (0x00007fff12d2a000)
	libpython2.7.so.1.0 => /home/hafsteinn/anaconda/plugins/PyQt5/./../../lib/libpython2.7.so.1.0 (0x00007f163aeeb000)
	libQt5Gui.so.5 => /home/hafsteinn/anaconda/plugins/PyQt5/./../.

[2017-01-17 18:39] christianbrodbeck opened #1365 "Mayavi has incomplete dependencies"
The discussion in https://github.com/conda/conda/issues/4300 suggested that Mayavi does not have complete dependency specifications.

- VTK issues a warning suggesting the dependency should be =6.3
- The errors below suggest that there is also a conflict with numpy 1.9 (I'm using OS X 10.12.2)

[code]

[2017-01-17 19:07] essicolo commented on #986
Ubuntu 16.04 here. `import rpy2.objects` returns `ImportError: libicuuc.so.54: cannot open shared object file: No such file or directory`. After `conda install icu=54`, `import rpy2.objects` returns `ImportError: libicuuc.so.56: cannot open shared object file: No such file or directory`.

[2017-01-17 19:14] mingwandroid commented on #986
You've probably installed something from `conda-forge` and that's broken your setup.

Remove the `conda-forge` channel and try to update everything in your environment to proceed.

[2017-01-17 19:43] essicolo commented on #986
Indeed. I deleted the `- conda-forge` line in `.condarc`. Then I removed the environment. I created it again and the issue no longer appears. Thanks!

[2017-01-17 19:49] #986 closed

[2017-01-17 19:52] manjugoudreddy commented on #480
Even I am getting same issues, any solutions please?

[2017-01-17 20:45] MartinHeroux commented on #480
You have initialize pygame before trying to change fonts, etc. Have pygame.init () in you code before trying to change fonts.  Worked for me.

[2017-01-17 20:59] manjugoudreddy commented on #480
Thanks for the suggestion, however I am calling self.pygame.init() and I still get the error.
Any alternatives solutions please.

[2017-01-17 21:15] MartinHeroux commented on #480
Are you using Mac pc or Linux?

[2017-01-18 01:41] ilanschnell commented on #1365
Thanks, for the feedback.  We have specify the VTK version which mayavi depends more explicitly.  Running:
[code]
should fix the problem for you.

[2017-01-18 01:43] ilanschnell commented on #1359
The problem is that even though you installed `yaml` (the C library), you need to install `pyyaml` (the Python bindings to yaml) in order to `import yaml`.

[2017-01-18 01:43] #1359 closed

[2017-01-18 01:53] pwsutherland opened #1366 "Padding Error for `conda install qt`"
I am using `IPython 5.1.0` as part of `Python 2.7.12 |Anaconda 4.2.0 (32-bit)` which has `matplotlib 1.5.3`

When I try to import  matplotlib's `pyplot` I get the following error:

`In [6]: %matplotlib
Using matplotlib backend: Qt5Agg
In [7]: This application failed to start because it could not find or load the Qt platform plugin "windows" in "".
Reinstalling the application may fix this problem.

[2017-01-18 02:14] msarahan commented on #1366
Please update conda. Recent 4.2 and 4.3 releases address this issue.

[2017-01-18 02:37] pwsutherland commented on #1366
Really appreciate your prompt reply.

That worked!

[2017-01-18 02:45] #1366 closed

[2017-01-18 03:58] ceekr commented on #1187
@ccordoba12 that fix does not work. First I get a "Anaconda Navigator quit unexpectedly." And running navigator from the command line shows me: "python quit unexpectedly."

Terminal has the following message:

[code]

[2017-01-18 04:01] goanpeca commented on #1187
@ceekr could you remove all channels from your condarc file and try again?

[2017-01-18 04:14] ccordoba12 commented on #1187
@ceekr, that's a Navigator bug not a problem with Qt (which is good because it can solved easily :-).

[2017-01-18 04:16] ceekr commented on #1187
Clearing the channels seem to have done the trick - the Navigator dashboard is up now. Thanks, @goanpeca !

@ccordoba12 yes,  isolating the cause help! :-)

[2017-01-18 04:20] goanpeca commented on #1187
@ceekr glad to hear its fixed. This is indeed a bug and the new version has taken care of this issue

[2017-01-18 09:09] cj-foster commented on #1332
OK. Not quite fixed. Seems to be an intermittent but recurring problem.
Here's the error this morning which appears after the 'initalising' splash screen.

`
Traceback (most recent call last):
  File "P:\utilities\Anaconda\Anaconda3\Scripts\anaconda-navigator-script.py", l
ine 5, in <module>
    sys.exit(anaconda_navigator.app.main.main())
  File "P:\utilities\Anaconda\Anaconda3\lib\site-packages\

[2017-01-18 09:17] samlong-yang commented on #121
I installed the opencv with  **conda install opencv** on the Ubuntu 16.04 machine.

But I found that I cannot handle the video files, then, I installed **ffmpeg** with **conda install conda install -c menpo ffmpeg=3.1.3** After that, I can use **cv2.VideoCapture** to read and **cv2.VideoWriter** to write the '.avi' video files with codec "*'MJPG'", but I still cannot use the functions above to rea

[2017-01-18 11:58] manjugoudreddy commented on #480
I am on ubuntu.

[2017-01-18 14:51] #1187 closed

[2017-01-18 15:19] szq0214 commented on #846
@yeganer You need to update your h5py.
conda install h5py solves my problem.

[2017-01-18 16:18] manjugoudreddy commented on #480
I am managed to fix the issue by installing different version (cogsci pygame) of pygame.
Apart of this I installed some other packages missing, which is purely required by my application.

[2017-01-18 17:22] ceekr commented on #1187
@goanpeca which new version are you referring to? I had downloaded `Anaconda3-4.2.0-MacOSX-x86_64.pkg` yesterday and the bug was found in that version. The clearing channel fix was applied to this version...

[2017-01-18 17:24] goanpeca commented on #1187
Version 1.4 coming this week

[2017-01-18 18:38] yucoz opened #1367 "navigator does not work"
my version was Anaconda2 4.1.1 and everything was okay. But now Anaconda navigator is not working.
i reintalled it a few times. and after i tried same thing with latest version anaconda2 4.2.0
however, situation is same. :/

**Erorr :**

`C:\Users\yuc>C:/Users/yuc/Anaconda2/Scripts/anaconda-navigator-script.py
Traceback (most recent call last):
  File "C:\Users\yuc\Anaconda2\Scripts\anaconda-navig

[2017-01-18 18:43] looooo opened #1368 "qt5 depends on freetype 2.5"
with earlier versions of qt anything higher then freetype 2.5 could be used. With qt5 only freetype 2.5 is possible. Would it be possible to change this?

[2017-01-18 18:44] Dynorat opened #1369 "Navigator won't start"
I performed the following actions:

conda update anaconda
conda update --all

Now my distribution appears to be broken when I try to call Navigator through both the icon and command line.  Though some parts like Jupyter Notebook still work if I call them directly from command line.

Here is the error message:
:~ mfields$ anaconda-navigator
Traceback (most recent call last):
  File "/Users/mfields/

[2017-01-18 18:44] goanpeca commented on #1369
Try

`$ conda update qtpy`

[2017-01-18 19:05] Dynorat commented on #1369
I performed the update
qtpy: 1.1.2-py27_0 --> 1.2.0-py27_0

No impact on navigator function.

:~ mfields$ /Users/mfields/Desktop/anaconda-navigator ; exit;
Traceback (most recent call last):
  File "/Users/mfields/Desktop/anaconda-navigator", line 4, in <module>
    import anaconda_navigator.app.main
  File "/Users/mfields/anaconda/lib/python2.7/site-packages/anaconda_navigator/app/main.py", line

[2017-01-18 20:08] desilinguist opened #1370 "`mkl` installed despite specifying `nomkl`"
When creating a conda environment using a file, the `defaults` channel keeps wanting to install `mkl-2017.0.1` even though my file explicitly specifies `nomkl`. The file looks like:

[code]

Below is the output when I run `conda create -n foo --file packages.txt` with this file. Note however, that if I specify `-c conda-forge`, things work as expected and only `openblas` is installed.

[code]

[2017-01-18 20:28] rgrinberg opened #1371 "r-feather 0.3.1 missing on OSX"
Seems to be available for Win/Linux. Why is it omitted on OSX?

https://anaconda.org/r/r-feather

[2017-01-18 20:47] mingwandroid commented on #1371
It got omitted because it requires extra steps to build it vs the other packages (it must be built on OSX 10.9 instead of 10.7) and, well, I forgot to do it. I'll put it on my list.

[2017-01-18 21:20] ccordoba12 commented on #1368
@mingwandroid?

[2017-01-18 21:50] mingwandroid commented on #1368
No. Binary compatibility does not allow much flexibility around this issue.

[2017-01-18 21:50] #1368 closed

[2017-01-18 21:53] ccordoba12 commented on #1368
He means that freetype 2.5 and 2.6 have a different API and that it's not possible to compile Qt5 with support for both, sorry.

[2017-01-18 21:53] ccordoba12 commented on #1368
different API and perhaps ABI too.

[2017-01-19 00:13] msarahan opened #1372 "mkl 2017 on mac missing dylib?"
This is with conda 4.3.x current branch.  Not sure if bug in conda or bug with MKL 2017.0.1 package.

[code]

[2017-01-19 00:25] kalefranz commented on #1372
Possible it's a conda bug, but very likely a file that's listed in `info/files` but not in the package. I'm on my phone right now, but I can look in a while.

[2017-01-19 00:31] msarahan commented on #1372
The file does appear to be in that package:

[code]

[2017-01-19 00:57] ilanschnell commented on #1372
The file `lib/libmkl_core.dylib` is both in the tarball and listed in `info/files.json`.  I tried updating numpy on my OSX labtop, and all worked fine: `numpy-1.11.3-0` and `mkl-2017.0.1-0`

[2017-01-19 02:01] msarahan commented on #1372
Confirmed - with conda 4.2.x, install works.  This appears to be a bug in conda 4.3.x.

[2017-01-19 02:03] msarahan commented on #1372
Closing here, moved to conda issue.

[2017-01-19 02:03] #1372 closed

[2017-01-19 05:29] looooo commented on #1368
Thanks for your answer.
So anaconda has freetype 2.5 pinned. Conda-forge pinns 2.6. So I will wait for a conda-forge qt5.

[2017-01-19 09:47] kratzert commented on #121
@staticdev The problem is, that other packages, like sk-video can only be used to load videos and pass them frame by frame (if loaded with ffmpeg reader) or have to be loaded entirely, which takes time for long videos. Still don't know any library that offers this much video functionality like opencv and is also fast..

@pecorarista I tried the same under ubuntu 14.04 and 16.04 but couldn't get it

[2017-01-19 14:16] kblomqvist commented on #98
Today it's 2.5.1. Could you update this, please?

[2017-01-19 15:03] ccordoba12 commented on #1368
It seems you're mixing conda-forge and Continuum packages. Please don't it.

You should create and work in a dedicated environment when installing conda-forge packages, instead of doing it directly in your root environment. That's because conda-forge and defaults have different build specs and they can't be mixed or else you'll see odd crashes.

[2017-01-19 19:41] bmwilly opened #1373 "r-dplyr segfaults instead of raising an error"
`r-dplyr` segfaults instead of raising an error.

Using `r-dplyr`:
[code]

Using dplyr from CRAN (installed with `install.packages`):
[code]

Some config info:
[code]

[code]

[code]

Probably related: #810

[2017-01-19 23:31] ahmedAll92 opened #1374 "Anaconda-navigator error on MacBook."
I installed Anaconda and when I try to lunch the anaconda-navigator the logo appears then disappears again. I tried to lunch it using terminal and there was an error message like this. Any suggestion or help?

Traceback (most recent call last):
  File "/Users/ahmedalluhaydan/Desktop/anaconda/lib/python2.7/site-packages/anaconda_navigator/widgets/main_window.py", line 355, in process_application_in

[2017-01-19 23:35] goanpeca commented on #1374
Could you update to the latest version

`$ conda update anaconda-navigator`

And make sure to delete any custome channels from the `~/.condarc` file and try again?

[2017-01-19 23:39] ahmedAll92 commented on #1374
Ahmeds-MBP:~ ahmedalluhaydan$ ~/.condarc
-bash: /Users/ahmedalluhaydan/.condarc: Permission denied

I don't know why it denied my action?
any other suggestions?

[2017-01-19 23:49] goanpeca commented on #1374
Could you type `$ conda info` and `$ conda list` in the terminal and paste the results here?

[2017-01-19 23:51] ahmedAll92 commented on #1374
Current conda install:

               platform : osx-64
          conda version : 4.3.6
       conda is private : False
      conda-env version : 4.3.6
    conda-build version : 2.0.2
         python version : 2.7.12.final.0
       requests version : 2.12.4
       root environment : /Users/ahmedalluhaydan/Desktop/anaconda  (writable)
    default environment : /Users/ahmedalluhaydan/Desktop/anacon

[2017-01-19 23:53] goanpeca commented on #1374
Let me take a look at the info and I will get back to you tomorrow, we are releasing soon a new version so I think you could use that one, which most likely fixes what you are seeing.

[2017-01-19 23:55] ahmedAll92 commented on #1374
Alright really appreciate it. I have work on and it most be done soon and it's not working. I will be waiting tomorrow for the new version.

[2017-01-20 04:41] hainm commented on #1360
I got similar issue..

[2017-01-20 14:56] alexei-argus opened #1375 ".py files not associated properly in Windows"
Hi,
I noticed that if you invoke .py scripts without prepending "python" to the command line the arguments aren't passed propertly.
For example, "python script.py first second" works well, but "script.py first second" receives no arguments.
I believe this has to do with the fact that the assoc utility reports that .py files aren't associated with any executable in the registry, at least according

[2017-01-20 16:03] Debilski commented on #776
Any news on this, @groutr ? It is still ugly with Python 3.6.

[2017-01-20 17:21] heather999 commented on #1326
Did you find a work-around?  I see the same problem.  Did setting the proxy_servers in .condarc help?

[2017-01-20 20:10] simonm3 opened #1376 "amazon images are all paravirtual rather than hvm"
The AMIs on AWS for anaconda all use PV virtualisation rather than HVM.

Amazon only allows paravirtual AMIs for a narrow range of server  types which excludes the free tier t2.micro and also the p2 GPUs. Amazon recommend all new AMIs use HVM.

[2017-01-21 19:14] ahmedAll92 commented on #1374
Anything yet? It seems it's taking more than I thought.

[2017-01-21 19:20] goanpeca commented on #1374
@ahmedAll92 the QA team is working on testing the package, it should be available on repo this Monday 23rd. Thanks for the patience

[2017-01-21 19:21] ahmedAll92 commented on #1374
Can you please notify me when it's available. Thanks again.

[2017-01-21 19:21] goanpeca commented on #1374
Will do

[2017-01-22 07:57] xinwang356 opened #1377 "My navigator doesn't show up after I installed it."
Traceback (most recent call last):
  File "/Users/xw/anaconda/bin/anaconda-navigator", line 4, in <module>
    import anaconda_navigator.app.main
  File "/Users/xw/anaconda/lib/python2.7/site-packages/anaconda_navigator/app/main.py", line 16, in <module>
    from qtpy.QtCore import QCoreApplication, QEvent, QObject, Qt
  File "/Users/xw/anaconda/lib/python2.7/site-packages/qtpy/QtCore.py", line 34

[2017-01-22 07:57] xinwang356 commented on #1377
platform : osx-64
          conda version : 4.3.7
       conda is private : False
      conda-env version : 4.3.7
    conda-build version : 1.18.2
         python version : 2.7.13.final.0
       requests version : 2.12.4
       root environment : /Users/xw/anaconda  (writable)
    default environment : /Users/xw/anaconda
       envs directories : /Users/xw/anaconda/envs
          package cache : /

[2017-01-22 07:58] xinwang356 commented on #1377
# packages in environment at /Users/xw/anaconda:
#
_license                  1.1                      py27_1
abstract-rendering        0.5.1               np110py27_0
alabaster                 0.7.9                    py27_0
anaconda                  custom                   py27_0
anaconda-client           1.6.0                    py27_0
anaconda-navigator        1.2.3                    py27_0
a

[2017-01-22 08:09] xinwang356 commented on #1377
I used launcher before. Today, I updated the spyder and restart the launcher. The launcher stuck at loading the apps. Then, I installed the navigator. It even didn't show up. Please help me resolve this issue. Thank you in advance.

[2017-01-22 08:16] xinwang356 commented on #1377
xwangs-MacBook-Pro:~ xw$ anaconda-navigator
Traceback (most recent call last):
  File "/Users/xw/anaconda/bin/anaconda-navigator", line 4, in <module>
    import anaconda_navigator.app.main
  File "/Users/xw/anaconda/lib/python2.7/site-packages/anaconda_navigator/app/main.py", line 21, in <module>
    from anaconda_navigator.widgets.dialogs.splash import SplashScreen
  File "/Users/xw/anaconda/lib

[2017-01-22 08:21] #1377 closed

[2017-01-22 21:39] crh07 commented on #1095
I am still having this problem as well.

[2017-01-23 01:56] crazySocket commented on #1281
I have exactly the same stacktrace. Did download anaconda recently (01-15 00:01 Anaconda3-4.2.0-Linux-x86_64.sh). I did not investigate thoroughly but it seems anaconda-navigator wants to call conda for some reason (root path?). In my case conda was not in PATH. BTW I have anaconda3 in my home directory too.

So, try running `PATH=~/anaconda3/bin/:$PATH anaconda-navigator`.

[2017-01-23 02:28] christianbrodbeck commented on #1365
Thanks! I still don't see `vtk` 6.3 as a requirement (see below), is this coming after a certain upgrade cycle? I'm also working on conda-forge recipes where hard coding a `vtk` version does not seem like a good idea?

[code]

[2017-01-23 12:13] dofine commented on #1326
@heather999 works for me. You can have a try.

[2017-01-23 13:30] gordeli commented on #1361
Short story: I have the same problem.

Full story:
OS: macOS Sierra
I have installed Anaconda 4.2.0 Python 3.5 version from the graphical installer on Friday. Everything was working fine until I tried to update all packages with the command "conda update --all". Then the anaconda-navigator stopped launching by starting the app (I could still launch it from Terminal though).
Trying to fix this made

[2017-01-23 13:39] gordeli commented on #1374
I had the same problem 2 days ago. The problem appeared after running "conda update -all". (before that the navigator was launching just fine). I was able to launch navigator from terminal adding "sudo" in front of the command and typing in my password (which was not needed before the issue appeared). After wiping off anaconda and reinstalling I am getting "-bash: conda: command not found" and "-b

[2017-01-23 13:42] gordeli commented on #1369
I had exactly the same issue. Reinstalling anaconda now gives "-bash: anaconda: command not found" when launching anything from the Terminal (was working fine after the original install of Anaconda 4.2.0). The navigator app is working again though

[2017-01-23 13:58] goanpeca commented on #1281
Yes, navigator depends on conda.

Please update to the latest anaconda navigator, and make sure to clean your `~/.condarc` file

[2017-01-23 14:07] goanpeca commented on #1369
Looks like the path is not set correctly in your case

[2017-01-23 14:08] goanpeca commented on #1374
@gordeli what was the error?

[2017-01-23 14:29] gordeli commented on #1374
@goanpeca
there was a series of errors as described in my post. Not sure what exactly you want to know.
1. conda update --all breaks all package dependencies I guess and breaks the anaconda navigator app (somehow you have to run it with administrator privileges after that.
2. instructions to uninstall anaconda on continuum website do not really work. maybe anaconda-clean starts malfunctioning as w

[2017-01-23 14:33] gordeli commented on #1369
@goanpeca
apparently, the path was set correctly automatically during the original install. Why wouldn't it work the same way after reinstall? I guess the uninstall process does not really uninstall that well. Maybe you could tell me how to do proper uninstall and I can try to see if it fixes my issue. Thanks

[2017-01-23 15:13] goanpeca commented on #1374
@gordeli please open a new issue and report it there.

[2017-01-23 15:16] goanpeca commented on #1369
@ilanschnell ?

[2017-01-23 16:48] jgmorrison opened #1378 "Install Issue for R-Essentials on Windows"
When installing R-Essentials on any version of Windows the following error occurs.

    echo ***** post_link.bat for m2w64-p11-kit ****
    **** post_link.bat for m2w64-p11-kit ****
    The system cannot find the path specified.
    The system cannot find the path specified.
    The system cannot find the path specified.
    The system cannot find the path specified.

With r-essentials and rpy2(rp

[2017-01-23 21:45] jjhelmus commented on #1360
I was able to work around this by forcing an update of hdf4 to version `4.2.12` in the environment with netcdf4 using, `conda install hdf4=4.2.12`.  This also downgraded the `jpeg` package from `9d-0` to `8d-2`.

[2017-01-24 11:09] drf5n commented on #831
With a script/python notebook I needed this workaround:

    os.environ['GDAL_DATA'] = os.popen('gdal-config --datadir').read().rstrip()

[2017-01-24 11:22] smontanaro opened #1379 "problems trying to search/install matplotlib 2.0.0 from conda-forge"
I'm unable to search for matplotlib 2.0.0 after adding the conda-forge channel. The full thread is here, but here are the most recent bits...

https://groups.google.com/a/continuum.io/d/msg/conda/y61DSWfcNxo/hUmdKPbcBAAJ

Dharhas> Maybe check if to see if you have anything weird in your .condarc file or
Dharhas> just delete it. Folks have had issues before if a bad channel name existed
Dharhas> in

[2017-01-24 13:59] msarahan commented on #1379
I have seen anaconda.org credentials go stale and cause this.  Try

``anaconda logout``

followed by

``anaconda login``

to refresh the credentials.  It does seem unlikely, though, given your "Member since" info...

[2017-01-24 15:12] TheMitchWorksPro commented on #1352
More information to help your research:  When Anaconda Navigator failed to install RStudio as shown in the slides, it did something I did not realize.  RStudio icon is on my machine and when I click it, I get a prompt as if it is ready to go, it just does not know how to find a usable R installation to hook to (popup tells me to select my R installation).  I waited as long as I could, but now I am

[2017-01-24 18:26] TheMitchWorksPro commented on #1352
@goanpeca - Please advise on this one.

Started the tests indicated above.  Here is what happened and I could use a little advice to determine what I should do next? ...

As per comment above, I installed the R language to a new directory off the Cran site.  Then when I launched my RStudio icon (the one that got installed by navigator before it appeared to error out), this time, it loaded without

[2017-01-24 18:29] TheMitchWorksPro commented on #1337
These comments left here that further correct update what is reported in this issue. Advice is being sought concerning next steps based on the way the installation of RStudio went (please see these comments):

https://github.com/ContinuumIO/anaconda-issues/issues/1352#issuecomment-274831510
https://github.com/ContinuumIO/anaconda-issues/issues/1352#issuecomment-274891464

[2017-01-24 19:08] mingwandroid commented on #1337
The upcoming 4.3 release will make using RStudio with Anaconda Navigator work properly, or at least we are working hard to make sure of that. In the meantime, this is recommended approach for using R and RStudio on Anaconda on Windows at present.

I think your system probably has artefacts from previous attempts at this, so uninstall all `Anaconda/Miniconda` using the `Control Panel`, then make su

[2017-01-24 20:33] thomco commented on #1315
@ilanschnell Any update on the expected release date of Anaconda/Miniconda3 4.3 with Python 3.6

[2017-01-25 04:13] ilanschnell commented on #595
I've added a `libgfortran` conda package (on OSX), and also made a new `openblas-0.2.19-1` which now links against `libgfortran`.  This should fix this issue.

[2017-01-25 04:34] ilanschnell commented on #1379
We actually now support `matplotlib 2.0.0` in the default channels also.

[2017-01-25 07:03] deepak1409 opened #1380 "Navigator Error"
The following errors occured:

RuntimeError:
Could not find URL: https://pypi.python.org/simple/win-32/

{'pyqt': '4.11.4', 'python': '3.5.2', 'conda': '4.1.6', 'version': '1.2.1', 'platform': 'win-32', 'language': 'en_IN', 'qt': '4.8.7', 'os': 'Windows;7;6.1.7601;AMD64;Intel64 Family 6 Model 69 Stepping 1, GenuineIntel'}

[2017-01-25 13:57] brylie opened #1381 "Add Orange back to Anaconda Navigator front screen"
Orange Machine Learning was removed from the Anaconda Navigator front page, due to its dependency on Qt4. As of version 3.3.9, Orange Machine Learning is compatible with Qt5.

Please consider adding Orange Machine Learning back to the 'front page' of Anaconda Navigator.

[2017-01-25 15:00] TheMitchWorksPro commented on #1352
Looks like I get my own answer the hard way.  Went to class and an experienced guy looked at my installation and said it was fine.  Then tried to use it got weird buggy symptoms.  Will blow it away and re-install today clean (outside Anaconda) to get it working.  Will be happy to retest on Anaconda 4.3 at a later date after it comes out as having all the tools integrated through your system is a g

[2017-01-25 15:10] TheMitchWorksPro commented on #1337
Just saw this.  Personally, I wanted to use the latest Python, but not all libraries have been migrated and I am taking a class that requires Python 2.7 for both Jupyter and Spyder.  Since Spyder from an Anaconda distribution only appears to launch on the root environment, I was forced to choose PY27 for root, and add environments for when I want to work in 3.x.

I have a mostly working environmen

[2017-01-25 15:29] goanpeca commented on #1380
@deepak1409 could you go to the console and type

[code]
And paste the output here?

[2017-01-25 16:06] TheMitchWorksPro commented on #1337
situation worse than I thought.  RStudio does not appear in my control panel as a program I can de-install.  I assume this is because it was bundled in Anaconda same way Spyder is and blowing away whole of Anaconda is now the only way to cleanly get rid of it.  Looks like I will need to initiate the emergency protocol of blowing it all away and starting fresh.

[2017-01-25 16:09] TheMitchWorksPro commented on #1352
Something to consider for your future release:  Inability to de-install RStudio independantly if something goes wrong means a user is saddled with lots of work rebuilding all of Anaconda (which may include multiple R/Python environments, Spyder, and other stuff I don't know because I haven't tried it yet).

If not 4.3, then some future release should consider installing tools in such a way that us

[2017-01-25 16:21] mingwandroid commented on #1337
To remove RStudio you should:

1. Launch `Anaconda Prompt` from the `Start Menu`
2. Type `conda remove rstudio`

Conda does not put the packages it manages in the Windows Control Panel, as if it were to do that, you would see potentially hundreds and hundreds of them.

[2017-01-25 16:25] TheMitchWorksPro commented on #1337
Thanks! will try that

[2017-01-25 17:56] TheMitchWorksPro commented on #1352
Re-writing last recommendation based on new information:  command prompt can be used with command "conda remove RStudio" to get rid of RStudio.  I assume same is true for Spyder.  a nice to have in future release would be ability to add/remove packages from within the Navigator Environment tab, ability to view their versions there (like you can on "conda" tab of Jupyter UI) and applications like S

[2017-01-25 22:56] chrisamow opened #1382 "anaconda (search and...) broken"
Initially was trying to set up an environment and apparently I have some dependencies that may be unsupported by anaconda, so I went to look for more details and...
(I had to install the anaconda-client also, that I'll include at the end)

conda version 4.3.8  (python 2.7)
turns out I can't even call anaconda --version - script breaks same way, so this is not search specific

[code]

[code]

[2017-01-25 22:57] goanpeca commented on #1382
@chrisamow could you type

[code]

And paste the output here?

[2017-01-26 08:54] bilderbuchi opened #1383 "Pylint list of dependencies is incomplete"
It seems the list of pylint dependencies is incomplete. This leads to problems like AtomLinter/linter-pylint#197, where the pylint linter plugin for the Atom editor does not find isort, as it's not installed when installing pylint.
`conda info pylint` gives
[code]
When checking against the [list of dependencies in the current pylint source](https://github.com/PyCQA/pylint/blob/2236f185703da86df83b

[2017-01-26 11:55] torp56 opened #1384 "Problem with installing r-rodbc"
Created from https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/WRb1UVIrvr4

First I use Anaconda Navigator to install r-rodbc in an R  and rBokeh environment.

I removed MRO from .condarc

channels:
  - r
  - bokeh
  - defaults

Now
Current conda install:

               platform : win-64
          conda version : 4.3.8
       conda is private : False
      conda-env version : 4.3.8

[2017-01-26 12:06] mingwandroid commented on #1384
OK, thanks for all the info, I'm fixing it now.

[2017-01-26 13:29] kjoth commented on #341
I installed in Win 10 64 bit. But the spyder keeps informing that "Connecting to Kernel" for ipyhton. Any solution tothis?

[2017-01-26 13:41] mingwandroid commented on #1384
This should be fixed now. Please close it if works for you.

[2017-01-26 17:00] allyelsey commented on #1377
Would you mind explaining how you fixed your issue? I have seen this issue before and am curious how you solved it.

[2017-01-26 17:14] #595 closed

[2017-01-26 18:27] lmcook88 commented on #1238
I am having the same issue as @ModulusOperandi. Running sudo anaconda-navigator works just fine but anaconda-navigator without sudo tells me I don't have permission then crashes. @goanpeca How can I modify privileges so I don't have to open with sudo each time?

[2017-01-26 18:30] goanpeca commented on #1238
@lmcook88 you can look for /Users/adamgoldfarb/.continuum/anaconda-client and delete the folder or change the permissions there

[2017-01-26 18:59] lmcook88 commented on #1238
I'm sorry, that didn't really help. I am new to python and using MacOSX version 10.10.5. Do I delete the folder from Finder or from terminal? Also, I do not have a folder /Users/laurencook/.continuum/anaconda-client. It is Users/laurencook/anaconda/ - is this the right directory?

[2017-01-26 19:00] goanpeca commented on #1238
Delete anything everything on this folder

`/Users/laurencook/.continuum`

[2017-01-26 19:02] lmcook88 commented on #1238
That folder does not exist...

[2017-01-26 19:03] goanpeca commented on #1238
its a hidden folder
open the terminal and do

`$ rm -rf /Users/laurencook/.continuum`

[2017-01-26 19:06] lmcook88 commented on #1238
I got this error...
`$ rm -rf /Users/laurencook/.continuum`
rm: /Users/laurencook/.continuum/anaconda-client/config.yaml: Permission denied
rm: /Users/laurencook/.continuum/anaconda-client: Permission denied
rm: /Users/laurencook/.continuum: Directory not empty

`Do I need to do sudo rm -rf /Users/laurencook/.continuum` ?

[2017-01-26 19:13] goanpeca commented on #1238
yes, oops

[2017-01-26 19:16] lmcook88 commented on #1238
OK. Worked. Thank you! Sorry for all the confusion.

[2017-01-26 19:36] abthabib opened #1385 "Error Spawn ENOET"
Hi,
I am new to python and after installing the system and worked for a while, I am receiving this error and it asked me to posted here:

Error: spawn ENOENT
at experts.errnoException (until.js:742:11)
at Process ChileProcess.handle.onexit (child_process.js:1027:32)
at chiled_process.js:1110:20
at process._tickCallback (node.js:279:11)

[2017-01-26 19:37] goanpeca commented on #1385
what system what program?

[2017-01-26 19:38] abthabib commented on #1385
Sorry: Im using Mac OS and this is Python Anaconda Launcher

[2017-01-26 19:45] ilanschnell commented on #1383
Thanks for reporting the issue.  I've added the `six` and `isort >=4.2.5` dependencies.  I would consider `mccabe` an optional dependency at this point.  I've tested the `pylint` command with just those dependencies added, and things appear to be working fine.  Adding `mccabe` as a dependency would mean that we also need to pull it into the Anaconda distribution installers (which I want to avoid a

[2017-01-26 19:45] #1383 closed

[2017-01-26 19:48] goanpeca commented on #1385
Anaconda Launcher is deprecated for a long time. Please update to the latest Anaconda Distribution

https://www.continuum.io/downloads#osx

And use Navigator, as Launcher is deprecated

https://docs.continuum.io/anaconda/navigator

Cheers

[2017-01-26 20:02] abthabib commented on #1385
Thank you. I appreciate your fast response.

On Thu, Jan 26, 2017 at 1:48 PM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2017-01-26 20:07] #1385 closed

[2017-01-26 21:40] bilderbuchi commented on #1383
Thanks!

[2017-01-27 03:39] kevin-coder opened #1386 "There is so many the same warnings during update"
When I am trying to use command:
conda update --all
to update the packages, download new version of package is OK, however, there are so many same warnings printed out in the console:
WARNING conda.gateways.disk:exp_backoff_fn(47): Uncaught backoff with errno 41
WARNING conda.gateways.disk:exp_backoff_fn(47): Uncaught backoff with errno 41
WARNING conda.gateways.disk:exp_backoff_fn(47): Uncaught b

[2017-01-27 06:50] MrLeeh commented on #138
So this finally seems to work. Maybe this issue should be closed. Just installed [PyQt5](https://anaconda.org/anaconda/pyqt) from the default channel.

[2017-01-27 08:06] #138 closed

[2017-01-27 08:12] torp56 commented on #1384
r-rodbc now installs without errors.
Thanks!

[2017-01-27 08:12] #1384 closed

[2017-01-27 11:01] 183amir commented on #1379
This may not be the best place to report it but `matplotlib 2.0.0` form the defaults channel seems to be broken:
[code]

There is a new python library for python 2 called `subprocess32` and matplotlib depends on it.
It is a dependency of matplotlib 2 in conda-forge
[code]

[2017-01-27 16:14] ilanschnell commented on #1379
I've added `subprocess32` as a dependency of the `matplotlib 2.0.0` (Python 2) packages.

[2017-01-27 16:17] 183amir commented on #1379
Thank you. Great!

[2017-01-27 17:14] kalefranz commented on #1386
conda update conda

fixed in 4.3.6 released Jan 18

[2017-01-27 17:14] #1386 closed

[2017-01-27 18:18] ilanschnell commented on #1379
Closing issue.  Please feel free to reopen if there are still problems.

[2017-01-27 20:07] abalter commented on #1063
This did not fix my problem. Also tried reverting to v3.1.3 with no avail:

I tried going back to v3.1.3 and still having the X11 problem:

[code]

I've ssh'd in with X. `xclock` opens and I can plot in python.

Furthermore:

[code]

So, why can't it load `R_X11.so`? Is the double slash `//` the problem?

[2017-01-27 21:04] mingwandroid commented on #1063
If you want to try with R 3.3.2 then I can try to help you. What is `...` in this case? Is it an actual folder-name?

I recommend starting from scratch with your installation if possible and installing R via:

`conda install -c r r-essentials=1.5.1`

If it doesn't work after that then please show the output from `conda info` and `conda list --show-package-urls`.

[2017-01-27 21:28] 183amir opened #1387 "the pillow package is broken"
Similar to https://github.com/ContinuumIO/anaconda-issues/issues/1379#issuecomment-275640870 the `pillow` package is also broken:
[code]
It depends on `olefile` but it's not a dependency of `pillow` in the defaults channel.
I suspect this is a new dependency in pillow version 4.

@ilanschnell you might want to consider adding tests like what I proposed here: https://github.com/ContinuumIO/anaconda

[2017-01-27 21:41] egranstedt commented on #1182
I'm having the same issue with a fresh install of anaconda for python3 on linux (Ubuntu 16.04).

Relevant conda-info:
[code]

Note that I have libselinux:
[code]

Also qt.conf is readable.

I was not able to resolve by setting:
`QT_PLUGIN_PATH=<anaconda installation dir>/plugins`

Setting it to the system-level QT plugins directory allows anaconda-navigator to run, but as @ccordoba12 indicates, th

[2017-01-27 22:25] rgrinberg opened #1388 "R not working on Archlinux"
This is the error that I'm getting:

[code]

I have no idea why it's looking for that particular version of icu, but here are the ones that I have installed:

[code]

[2017-01-27 23:54] abalter commented on #1063
@mingwandroid `...` is because I can't show our actual paths for security. Sorry about that. What I showed above is inside a conda  environment for v3.1.3. I also tried a 3.2.2 environment. I did not try installing a specific version of `r-essentials`.

It would be best to avoid a complete reinstall.

[code]

[code]

[2017-01-28 02:36] mingwandroid commented on #1063
You cannot use `conda-forge` software together with `conda defaults` software. The endeavours are not Binary Compatible, unfortunately.

[2017-01-28 06:42] ilanschnell commented on #1379
I just realized that the original issue was about access to `conda-forge`, so even though we have `matplotlib-2.0.0` (with `subprocess32` Python 2 dependency) in the default repository now, I'm not sure if the original issue has been resolved.  Sorry for closing.

[2017-01-28 06:57] ilanschnell commented on #1387
Thanks for pointing this out.  I will add an `olefile` package to repository, and as a dependency to `pillow`.  Do you know to which extend Pillow is actually broken by missing `olefile`?

[2017-01-28 07:40] 183amir commented on #1387
The problem is when I try to package another package that depends on pillow, setuptools tries to download olefile. However olefile is not a dependency of that package.

[2017-01-28 07:50] ilanschnell commented on #1387
Hmm, but `pillow` is using `setuptools` as a build dependency, see: https://github.com/ContinuumIO/anaconda-recipes/blob/master/pillow/meta.yaml#L24 so when you build `pillow`, it should already try to have downloaded `olefile` and failed, but it works fine.

Anyway, I'll add `olefile` as a new dependency of `pillow`.

[2017-01-28 08:41] 183amir commented on #1387
Yes it's wired. I don't know why these requirements are caught in conda
forge though.

On Sat, Jan 28, 2017, 8:50 AM Ilan Schnell <notifications@github.com> wrote:

[2017-01-28 17:22] ShashankSSingh opened #1389 "Navigator Error"
The following errors occured:

RuntimeError:
Connection error: HTTPSConnectionPool(host='repo.continuum.io', port=443): Max retries exceeded with url: /pkgs/free/win-64/conda-env-2.5.2-py35_0.tar.bz2 (Caused by ProxyError('Cannot connect to proxy.', NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x0000000003E4BE48>: Failed to establish a new connection:

[2017-01-29 01:53] abalter commented on #1063
Ok. What would be the easiest way to replace my default packages with conda forge ones?

I removed the default channel from my `.condarc`. The default ones I see are:

[code]

[2017-01-29 09:27] fancyg commented on #1238
I was just about to open the same issue then I found this. Seems that this is not uncommon.
Thanks~

[2017-01-29 10:24] mingwandroid commented on #1063
You can't since China forge doesn't have an R infrastructure yet. This is being worked on.

[2017-01-29 11:20] fancyg commented on #1374
Hi!
Whenever I tried to include a new channel it crashed immediately with the same error message as above.

[2017-01-29 13:59] ijstokes opened #1390 "Possible problems with Conda and R (R package deps?)"
I am seeing what seems to be some inconsistent behavior with R packages installed via Conda.  It might be a problem with the R packages, or with Conda, or just my misunderstanding of "expected behavior".

My first guess is that it seems like R cares about patch/micro version differences in libraries whereas Python does not (Python supports semver, so only MAJOR.MINOR need to match up, whereas R co

[2017-01-29 15:36] mingwandroid commented on #1390
You cannot use bioconda with conda defaults for two reasons:
1. They are not Binary Compatible (since bioconda are basing themselves on conda-forge now).
2. bioconda do not have any R-3.3.2 packages.

[2017-01-29 16:49] ijstokes opened #1391 "rbokeh not displaying plots in Jupyter"
Previously this code snippet with an R kernel in Jupyter worked for me in that it resulted in an in-notebook rbokeh plot.  Now I get an error.

Here is the code:

[code]

Here is the (new) output error message:

[code]

Here is what I previously got out:

<img width="749" alt="screenshot 2017-01-29 11 41 27" src="https://cloud.githubusercontent.com/assets/293525/22406017/ddff6ab2-e618-11e6-9171-f0

[2017-01-29 16:52] ijstokes commented on #1391
These examples are taken directly from the rbokeh GH site: https://hafen.github.io/rbokeh/#background

[2017-01-29 17:06] ijstokes commented on #1391
If you want the Notebook I'm using, you can get it here:

https://anaconda.org/ijstokes/7-data-processing-and-visualization-in-r

The problem section is 7.5 -- the first part previously worked inside of Jupyter (the second part is just R code inside Jupyter that needs to be written to files on disk and executed from disk).

[2017-01-29 17:56] mingwandroid commented on #1391
Please show the output from: `conda list --show-channel-urls`

[2017-01-29 21:31] abalter commented on #1063
This is what happens when I remove the default channel:

[code]

[2017-01-29 23:42] mingwandroid commented on #1063
You're going to have to start from scratch here really.

[2017-01-30 04:01] ijstokes commented on #1390
Got it. Closing.  Still a bit confused about how R was partially downgraded to create these warnings, but I'll assume that it is based on the idea that MICRO level versions should all be cross-compatible.

[2017-01-30 04:01] #1390 closed

[2017-01-30 09:04] #769 closed

[2017-01-30 09:04] lesteve commented on #769
mayavi 4.5 is available through conda so this is not a problem any more.

[2017-01-30 09:08] siggasvala commented on #1276
Hey ! I have the same problem - did you figure it out ? :)

[2017-01-30 09:12] nick-youngblut commented on #1382
I'm also having an issue with `anaconda search`. Maybe this should be a separate issue? My setup:
[code]

Searching for "r-base" package produces an error.

`anaconda search r-base`

[code]

 I get a similar error when searching for other packages (e.g., `anaconda search mothur`)

[2017-01-30 09:47] sebastian-luna-valero opened #1392 "Link error: Error: post-link failed for: gcc-4.8.5-7"
Hello,

When installing gcc on a conda environment I get the following error with `gcc`:
[code]
Would it be possible to update `gcc` to solve this problem, please?

Best regards,
Sebastian

[2017-01-30 10:49] cj-foster commented on #1332
I'm still seeing the same error on start-up just after the splash screen for 'Initialising...'
Just wondering if there is anything else I can try?
We are running Anaconda from a shared directory. I guess that means that it's possible that any post-install processes which would affect the local machine may not have happened.
Is there any sort of 'reset' I can run since it was working and now it is

[2017-01-30 11:21] mingwandroid commented on #1391
I managed to reproduce this. Investigating now.

[2017-01-30 11:27] mingwandroid commented on #1392
You need to remove `conda-forge` from your list of channels, `conda defaults` and `conda forge` are not Binary Compatible.

[2017-01-30 11:52] mingwandroid commented on #1390
You asked conda to install a package + version which only exists in the r-3.3.1 package set (because of `-c bioconda`) and that package depends on r-base, so it installed r-base 3.3.1 from the bioconda channel for you due to channel priorities (channels listed with -c get precedence).

[2017-01-30 13:02] mingwandroid commented on #1391
This works fine in `rstudio`'s `R Notebook` feature. This is a useful debugging data-point, and a possible workaround if you are in a pinch and *not* a resolution for the bug!

[2017-01-30 13:32] ijstokes commented on #1390
I sort of understand that, but not entirely.  If 3.3.1 is required (because it is MICRO version level sensitive) then why weren't all the other 3.3.2 R packages also down-graded?  If it is NOT sensitive to MICRO version levels then why wasn't the already installed 3.3.2 (from defaults) acceptable?

[2017-01-30 13:44] ijstokes commented on #1391
@mingwandroid I've tried several things to get `rbokeh` to work -- I really need to find a Python 3.5 package spec that I can publish on Anaconda Cloud so participants in this online training course have a reliable reference set of packages that will work for the R part of the course.

Unfortunately I no longer have my original working environment, but it **should** have been something identical t

[2017-01-30 13:45] ijstokes commented on #1391
[code]

And if it is more reproducible in this format (I'm not sure that it is, due to lack of channel information), here is the `-e` version:

[code]

[2017-01-30 14:09] mingwandroid commented on #1391
@ijstokes this is pretty urgent I guess? The online course is 'live' but broken?

[2017-01-30 14:14] bryevdv commented on #1391
Ping @hafen

[2017-01-30 14:31] ijstokes commented on #1391
@mingwandroid It is "this week urgent" not "today urgent".  The only reason I'd escalate it further is if it had some impact on the Anaconda 4.3 release, but I do not believe that is the case.

The course is not available online yet, but we're trying to get it out ASAP (it was supposed to be released a week or two ago) but I've had delays, like this, in completing the content review and confirming

[2017-01-30 14:43] mingwandroid commented on #1391
OK, well, I think I've done all my Anaconda 4.3 work now, @csoja may confirm that. I'm looking at this currently anyway. I'm trying to see if I can get something to work with the r-3.3.1 set of packages for now.

[2017-01-30 15:28] csoja commented on #1382
@nick-youngblut
It would be very helpful, if you would add the output to this issue from
_conda info_
_conda list_

[2017-01-30 15:52] bninopaul opened #1393 "Lockerror when conda install qt-5.6.2"
I get this error when installing qt-5.6.2:

``$conda install qt``
``Fetching package metadata .......``
``Solving package specifications: ..........``

``Package plan for installation in environment /Users/user/anaconda3:``

``The following packages will be downloaded:``

    package                    |            build
    ---------------------------|-----------------
    qt-5.6.2

[2017-01-30 16:05] goanpeca commented on #1332
Could you start navigator by openning the anaconda prompt and then typing

`$ anaconda-navigator` ?

[2017-01-30 16:05] Siecje opened #1394 "python3.dll is missing"
Anaconda 4.2.0 is missing python3.dll.

After `pip install PyQt5==5.7.1` importing `import PyQt5.QtCore` fails with missing .dll message.

Dependency Walker lists python3.dll as missing.

By adding `python3.dll` from an installer from python.org to the Anaconda install directory (same place as python35.dll), PyQt5 works.

[2017-01-30 17:32] sebastian-luna-valero commented on #1392
Thanks @mingwandroid

However, I have removed `conda-forge` and still get the same problem:
[code]

Any ideas?

Best regards,
Sebastian

[2017-01-30 17:33] mingwandroid commented on #1392
Do you have anything set for `LD_LIBRARY_PATH`?

[2017-01-30 17:38] sebastian-luna-valero commented on #1392
This is what I have:

[code]

but that should not be a problem, AFAIK.

[2017-01-30 17:45] mingwandroid commented on #1392
Pleas show the output from `ldd /ifs/apps/conda-2017-01-30/pkgs/gcc-4.8.5-7/libexec/gcc/x86_64-unknown-linux-gnu/4.8.5/cc1`

[2017-01-30 17:48] sebastian-luna-valero commented on #1392
Sure:
[code]

[2017-01-30 18:13] mingwandroid commented on #1392
Sorry, this is going to take some more investigation, please bear with me.

[2017-01-30 18:14] sebastian-luna-valero commented on #1392
No problem. Thanks @mingwandroid

[2017-01-30 18:34] mingwandroid commented on #1392
What is the nature of your installation? Does you conda installation cross a filesystem boundary in any way? Is it on a system where symlinks are not possible?

[2017-01-30 22:48] ijstokes commented on #1391
@mingwandroid much appreciated.  LMK if I can provide any further details.  The next step (if I had time) would be to roll back to Anaconda 4.1 and try to explicitly pull old r-rbokeh packages (pre November 2016).  I just haven't had time to go to that degree of effort.

[2017-01-30 23:14] mingwandroid commented on #1391
No problem, I spent a while trying different versions of R to no avail and I need to get more familiar with debugging R package problems. What better way to do that than investigating one that involves R, Javascript and Bokeh?

Interestingly, your testcase works perfectly fine in both RStudio and when from the terminal (where a html file is created and launched in the browser). I need to figure ou

[2017-01-31 00:00] oxydron commented on #698
@jskDr solution indeed do work and don't know why.

**Thanks mate!**

[2017-01-31 03:07] ijstokes commented on #1391
I promise this worked fine in mid November, so perhaps regressing to an earlier Jupyter version?

[2017-01-31 03:23] bryevdv commented on #1391
I still think that's the best suggestion. If you haven't tried whatever version of the notebook worked back then, that's the first thing I would suggest.

[2017-01-31 04:18] balletboy927 commented on #1238
Hi, @goanpeca could you help me out? I've working through what @ModulusOperandi and @lmcook88 had trouble with. After I do the `sudo rm -rf /Users/....`, this is what I get when I proceed:
`dyn-129-236-212-68:~ dylanptacek$ anaconda-navigator
Traceback (most recent call last):
  File "//anaconda/lib/python2.7/site-packages/anaconda_navigator/widgets/tabs/community.py", line 153, in _json_downloade

[2017-01-31 06:24] hafen commented on #1391
Interesting. I tested this out last month and it worked for me. Just tested again and the examples worked.

[2017-01-31 07:04] mingwandroid commented on #1391
It *seems* to be somewhere between repr, IRdisplay and IRkernel.

[2017-01-31 08:26] mingwandroid opened #1395 "Spyder / qtawesome issue."
Hey Carlos,

I was wondering if you could cast your eyes over this issue reported on the Anaconda - Public Google Group:

From https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/E7lx8rA6xwQ

The final resolution was:

Is this a known issue? Is there anything that can be done to detect the issue and fix whatever it is in the config that is corrupted and causing the need for `spyder --r

[2017-01-31 08:27] ccordoba12 commented on #1394
Please use conda packages to install PyQt5. We don't support pip packages for it right now.

[2017-01-31 08:28] ccordoba12 commented on #1393
I don't understand this error. @mingwandroid, have you seen it before?

[2017-01-31 08:33] ccordoba12 commented on #1395
Hey Ray, yep, this error is known to us. It was fixed in Spyder 3.1 and QtAwesome 0.4.1. A simple

    conda update spyder

should fix it because we added `qtawesome >=0.4.1` to the 3.1 Spyder recipe.

----

*Note*: This problem only happens on Windows 10 because that OS prevents reading/loading fonts not installed in the system and Spyder is using FontAwesome for its icon set through qtawesome.

[2017-01-31 08:33] #1395 closed

[2017-01-31 08:36] mingwandroid commented on #1395
Thanks Carlos,

So `spyder --reset` was unnecessary here?

[2017-01-31 08:39] mingwandroid commented on #1393
It's a conda thing, but 4.2.9 is quite old. @bninopaul can you so `conda update conda` then try again?

[2017-01-31 08:47] ccordoba12 commented on #1395
Yes, it shouldn't be necessary. We take care of showing a message saying that we have to use our old icon set if an error is found while reading qtawesome fonts, and we set the config option accordingly.

[2017-01-31 08:47] mingwandroid commented on #1395
Great, thanks Carlos.

[2017-01-31 08:53] miquelmarti commented on #223
This looks ugly, seriously... `VideoWriter` is broken and no reference anywhere?

[2017-01-31 09:09] sebastian-luna-valero commented on #1392
In the case above (where the link error happened), I had installed conda in an NFS share and the conda environment into a local hard drive.

Below is the output of a conda installation in a local hard drive only, and I have no linking error but `ldd` still outputs the same information. Please see below.
[code]

Does this help?

Best regards,
Sebastian

[2017-01-31 09:23] mingwandroid commented on #1392
I suspected either NFS *or* cross-filesystems and you hit us with both :-)

@kalefranz I think this is for you then as making this kind of scenario work seems to fit in with multiuser support.

[2017-01-31 10:39] sebastian-luna-valero commented on #1392
Thanks @mingwandroid

In case it is helpful, just wanted to add that it also failed within the bioconda/conda-forge container:
https://github.com/bioconda/bioconda-recipes/issues/3496#issuecomment-273226647

with the same error.

[2017-01-31 13:07] bninopaul commented on #1393
I update the conda version to 4.2.13.
[code]
but still same error,
[code]

[2017-01-31 13:40] damianavila commented on #1391
@ijstokes I tried to look into the notebook you referenced and I can not see it at anaconad.org. Can you give me access? Thanks!

[2017-01-31 13:41] mingwandroid commented on #1391
I discovered that `notebook` doesn't include `ipywidgets` and I hoped that might be the problem. It didn't fix it, but I assume we'd need that for rbokeh to work right?

[2017-01-31 13:42] mingwandroid commented on #1391
Here is another reproducer:

[code]

[2017-01-31 13:57] ijstokes commented on #1391
@damianavila here is the notebook: https://anaconda.org/datasciencepythonr/7-data-processing-and-visualization-in-r/notebook -- confirmed that it is public access.

@hafen could you please attach or embed the output of `conda list -e` into this issue so we can do a diff between your working setup and the ones @mingwandroid and I have that are not working?

That won't catch everything (because it w

[2017-01-31 14:02] kalefranz commented on #1392
The problem is occurring somewhere in the gcc post-link script.  The code for the post-link script is at https://github.com/ContinuumIO/anaconda/blob/master/packages/gcc/post-link.sh

Unfortunately we don't have much more information than that right now.  I guess I should be setting the `-x` flag and capturing all output at the debug level for these pre/post link/unlink scripts.

@sebastian-luna-v

[2017-01-31 14:17] sebastian-luna-valero commented on #1392
Thanks @kalefranz

In my test above, I used `conda update --all` which updated conda to the latest version 4.3.8.

Do you want me to rerun the same with more verbose output? if so, is it using `-vvv`?

[2017-01-31 14:48] mingwandroid commented on #1391
I've now figured ways to debug R stuff, but I'm far from my home turf here, and it's a bit clunky so any pointers from anyone would be appreciated. Right now, I've figured out how to debug in RStudio, but the problem doesn't actually occour in RStudio so it's not the ideal scenario.

`sessionInfo()` from within a working Jupyter R kernel would be helpful I think.

[2017-01-31 14:53] kalefranz commented on #1392
I'd try `conda install gcc` first, maybe only with one or two `-v`s.  If you actually *do* get an error, then three `-v`s may be helpful.  But it's going to be a LOT of output.

I've been working on a PR for improving our general subprocess function anyway, but I'm making the logging more helpful for cases just like this.  For reference: https://github.com/conda/conda/pull/4447

[2017-01-31 15:04] sebastian-luna-valero commented on #1392
I think below is only the relevant output with `-vv`:
[code]

Is this expected?
[code]

[2017-01-31 15:05] mgserafi commented on #223
@PetreanuAndi, do you have ffmpeg [installed](http://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu)?

[2017-01-31 15:20] kalefranz commented on #1392
Oh, so the upgrade to conda 4.3 fixed your issue?

[2017-01-31 15:21] kalefranz commented on #1392
I'm not sure what linking is expected here, and what isn't.  @mingwandroid probably has more perspective on that.

[2017-01-31 15:32] mingwandroid commented on #1392
@kalefranz, `conda 4.3.8` does not fix the issue. Please read https://github.com/ContinuumIO/anaconda-issues/issues/1392#issuecomment-276129415

[2017-01-31 15:50] mingwandroid commented on #1392
Can someone explain how the following happens?:

[code]

[2017-01-31 16:14] bryevdv commented on #1391
I don't think that's the case. Bokeh does not depend on `ipywidgets` in the python notebook, and `HTMLWidgets` AFAIK is a distinct thing, from the R world.

[2017-01-31 16:21] mingwandroid commented on #1392
@kalefranz, this package is not abnormal in any way. It contains a mix of symlinks, executables and shared libraries. The post-link attempts to compile an executable using the compiler.

As I described, this seems to be a problem with multiuser support given the root env and default env are on different filesystems.

I got as far as:

1. Not understanding how to create such a default env (see my a

[2017-01-31 16:28] kalefranz commented on #1392
I can if you provide output of `conda config --show-sources` and

    env | sort

[2017-01-31 16:29] kalefranz commented on #1392
Oh, `default environment` is probably `CONDA_DEFAULT_ENV`

[2017-01-31 16:31] hafen commented on #1391
Here's all my info:

[code]

R:

[code]

<img width="1089" alt="screen shot 2017-01-31 at 8 28 22 am" src="https://cloud.githubusercontent.com/assets/1275592/22474010/8a1c6ca6-e78f-11e6-8db7-532d7434216a.png">

[2017-01-31 16:32] kalefranz commented on #1392
`-vvv` will show exactly what's happening.  I agree we need better messaging for link type for logging levels that aren't as verbose.  I'll try to add that.

[2017-01-31 16:33] kalefranz commented on #1392
By linking, I meant the output of

    ldd install-1/pkgs/gcc-4.8.5-7/libexec/gcc/x86_64-unknown-linux-gnu/4.8.5/cc1

I used the wrong word.

[2017-01-31 16:34] mingwandroid commented on #1391
Thanks for those details.

[2017-01-31 16:45] mingwandroid commented on #1392
The biggest problem with investigating this is the rollback. I didn't really want to know `ldd install-1/pkgs/gcc-4.8.5-7/libexec/gcc/x86_64-unknown-linux-gnu/4.8.5/cc1` I wanted to know:

`ldd $CONDA_PREFIX/libexec/gcc/x86_64-unknown-linux-gnu/4.8.5/cc1`

.. but because of `Attempting to roll back.` I cannot get that information. Is there a way to prevent post-links or rollback?

[2017-01-31 16:48] kalefranz commented on #1392
yup!  use `CONDA_ROLLBACK_ENABLED=false`

[2017-01-31 16:54] mingwandroid commented on #1392
So @sebastian-luna-valero, can you retry with `-v -v -v` and `CONDA_ROLLBACK_ENABLED=false` then paste the results in here, and also paste the output of `ldd $CONDA_PREFIX/libexec/gcc/x86_64-unknown-linux-gnu/4.8.5/cc1`

Thanks.

[2017-01-31 17:00] kalefranz commented on #1392
To be clear, set `CONDA_ROLLBACK_ENABLED=false` as an environment variable.  So something like

    CONDA_ROLLBACK_ENABLED=false conda install gcc -vvv

[2017-01-31 17:08] sebastian-luna-valero commented on #1392
Thanks both.

A first attempt with `-vvv` generates a 1.7MB output file that is quite verbose to include here. I was wondering how to best share that with you.

On the other hand, could you please specify which scenario you want me to reproduce:
1. conda installation using the NFS and cross-filesystems locations, or (with linking error)
2. conda installation on local hard drive only (which does no

[2017-01-31 17:12] mingwandroid commented on #1392
Yeah, 1. You could tar.gz it up and attach it to github? Otherwise any reputable file sharing service is OK by me.

[2017-01-31 17:21] tiagofrepereira2012 opened #1396 "dlib in the defaults channel"
Hi,

I saw that dlib is available in `conda-forge`, is it possible to have it in the `defaults` channel?

Thanks

[2017-01-31 17:22] sebastian-luna-valero commented on #1392
Right.

So when I use `CONDA_ROLLBACK_ENABLED=false conda create -p /sebastian/test-gcc gcc -y -vvv`, I get:
[code]

It runs with `-vv`. In that case, I think the relevant output is below:
[code]

[2017-01-31 17:33] mingwandroid commented on #1392
Can you add the following to your `~/.condarc`:

`allow_softlinks: False`

.. and try again please? My understanding is that symlinks (called soft-links here) should never be used when linking from the package cache since RPATHs follow symlinks.

[2017-01-31 18:06] kalefranz commented on #1392
CONDA_ROLLBACK_ENABLED=false conda create -p /sebastian/test-gcc gcc -y -vvv

is only going to work with conda >=4.3

[2017-01-31 18:08] kalefranz commented on #1392
If you're using conda 4.2.x,

    conda create -p /sebastian/test-gcc gcc -y -vv

is the best it's going to get

[2017-01-31 18:12] mingwandroid commented on #1392
That's a good point, we should be doing all of this on conda 4.3 ideally since that's the first version where multiuser is supported and what you're attempting seems to be pretty much exactly that.

[2017-01-31 18:16] kalefranz commented on #1392
I'm tagging conda 4.3.9 probably today.  It'll have much better output for pre/post link/unlink failures.  If you can find the location of the post-link gcc script locally, go ahead and try to run it with something like

    PREFIX=/sebastian/test-gcc bash -x /ifs/apps/conda-2017-01-30/pkgs/gcc-4.8.5-7/info/post-link.sh

[2017-01-31 18:18] kalefranz commented on #1392
In your `/sebastian/test-gcc`, I'd install everything (including dependencies) EXCEPT for gcc, then

    CONDA_ROLLBACK_ENABLED=false conda install -p /sebastian/test-gcc gcc -y

which will fail because of the post-link error.  But at that point you should be able to run

    PREFIX=/sebastian/test-gcc bash -x /ifs/apps/conda-2017-01-30/pkgs/gcc-4.8.5-7/info/post-link.sh

and get a lot more inform

[2017-01-31 18:29] mingwandroid commented on #1392
@kalefranz, issues involving the pre-link script are a red herring. It is failing to run the executable because RPATHs follow symlinks and our package cache is at a different depth to our envs (and in the case of out-of-$CONDA_PREFIX envs like this, vastly so).

We need to hear back from @sebastian-luna-valero  if `allow_softlinks: False` fixes it and if does then that confirms my theory (we've be

[2017-01-31 18:43] kalefranz commented on #1392
So I should actually be copying the the pre/post link/unlink script to the prefix, running the script from the prefix, and then removing the script.  That would help, correct?

[2017-01-31 18:51] mingwandroid commented on #1392
The issue is really not to do with that script, it's to do with the executable that script runs.

To clarify, if that script did not exist, then the installation would have 'worked' here, but attempts to use `gcc` would fail as shared libraries would not get found, so we need to make it that shared objects do get found. I've outlined the 4 ways that can be fixed.

[2017-01-31 18:54] kalefranz commented on #1392
@sebastian-luna-valero Can you email the 1.7 MB log file to me?  kale@franz.io

[2017-01-31 19:08] mingwandroid commented on #1392
Here is a reference to the same issue from October: https://github.com/conda-forge/cmake-feedstock/issues/21#issuecomment-256067803

[2017-01-31 19:16] upokatik commented on #1315
It looks like Anaconda 4.3.0 has been finally released: https://www.continuum.io/downloads

[2017-01-31 19:27] ilanschnell commented on #1315
Yes, we are very happy.  There is also a blog post: https://www.continuum.io/blog/developer-blog/anaconda-43-released

[2017-01-31 20:30] tlk opened #1397 "Anaconda-Navigator.app fails to start due to ".continuum/anaconda-client: Permission denied""
Hello there,
just wanted to report that a fresh install with Anaconda3-4.3.0-MacOSX-x86_64.pkg on OSX/10.12.2 appears to set wrong ownership on $HOME/.continuum

When double-clicking the /Applications/Anaconda-Navigator.app icon/symlink a green loader was displayed for a few seconds until it disappeared. No error message, it just disappeared. Same result when repeated.

So I ran the following from

[2017-01-31 20:31] goanpeca commented on #1397
@tlk did you at some point used the anaconda-clean package?

[2017-01-31 20:32] tlk commented on #1397
Nope

Wow! quick response :)

[2017-01-31 20:32] goanpeca commented on #1397
Hmmmm pingin @ilanschnell

Thanks for the report @tlk

[2017-01-31 20:41] thomco commented on #1315
Awesome!  A few questions about the update:
Do I need to reinstall, or I can I 'conda update conda' to get 4.3?   If doing condos update, will be root environment become Python 3.6
I did not see a updated miniconda, is that also available

[2017-01-31 20:59] goanpeca commented on #871
@mrduane I am tracking this in the internal repo and will be implemented for 1.5 :-)

[2017-01-31 20:59] #871 closed

[2017-01-31 21:01] goanpeca commented on #1025
Closing this as it is being tracked in the internal repo @ijstokes

[2017-01-31 21:01] #1025 closed

[2017-01-31 21:03] goanpeca commented on #1069
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:03] goanpeca commented on #1196
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:03] goanpeca commented on #1189
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:03] ijstokes commented on #1025
@goanpeca can you provide a link?  It will only be accessible by authorized people.

[2017-01-31 21:03] goanpeca commented on #1188
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:03] goanpeca commented on #1175
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:03] goanpeca commented on #1100
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:04] goanpeca commented on #1025
Sure

https://github.com/ContinuumIO/navigator/issues/789

[2017-01-31 21:05] goanpeca commented on #1389
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1380
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1374
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1352
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1348
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1337
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:06] goanpeca commented on #1334
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1332
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1329
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1323
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1320
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1291
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1284
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1281
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1280
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:07] goanpeca commented on #1255
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1251
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1248
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1234
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1227
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1222
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1213
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1200
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:08] goanpeca commented on #1199
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-01-31 21:14] ju-me opened #1398 "program shutdown on 1st launch after installation on mac"
hey there,
anaconda shuts down on 1st launch after installation on os x el capitan during initializing sequence, i tried reinstallation several times, no error message, no further use possible. any ideas anyone? would be much appreciated
thx

[2017-01-31 21:15] goanpeca commented on #1398
@ju-me what version of anaconda are you using?

If you go to the terminal and type

`$ anaconda-navigator`

What is the result?

[2017-01-31 21:17] ju-me commented on #1398
command not found,
so it seems installation hasn't worked

[2017-01-31 21:28] goanpeca commented on #1398
@ju-me could you please try again, and make sure you install for the current user (and not for all users?)

[2017-01-31 21:33] ju-me commented on #1398
thouhgt of that too and have tried that 2 times already, selecting the 'just for me field', try one more time now after deleting every connected file

[2017-01-31 21:33] goanpeca commented on #1398
Are you using the .pkg or the .sh file?

[2017-01-31 21:33] ju-me commented on #1398
.pkg

[2017-01-31 21:37] goanpeca commented on #1398
If you type

[code]

On the command prompt?

[2017-01-31 21:40] ju-me commented on #1398
after installation now..
both commands turn out 'command not found'

[2017-01-31 21:43] goanpeca commented on #1398
So it seems the path is not correctly set

You can open ~/.bash_profile file and include the following line

[code]
Anaconda folder can be anaconda, or maybe anaconda3?

[2017-01-31 22:02] ilanschnell commented on #1397
Looks like a bug in `anaconda-client` to me.

[2017-01-31 22:25] dhirschfeld commented on #1298
ping! Just checking (hoping) a zip-file deployment option will be available for py36 Miniconda?

[2017-01-31 23:25] ju-me commented on #1398
tried that, deleted the preexisting entry from the wrond installation, did it 2 times over
is there info stored anywhere else, that might create a conflict with reinstalling?

[2017-01-31 23:34] goanpeca commented on #1398
@ilanschnell

[2017-01-31 23:49] Gabriel-p opened #1399 "Navigator icon is missing from start menu (Linux)"
Similar to #1100 . There's no launcher for `anaconda-navigator`.

OS: elementary Loki 64 bit (based on Ubuntu 16.04)

[code]

[code]

[2017-01-31 23:49] Gabriel-p commented on #1284
Thanks @goanpeca, that solved this issue. There's still no launcher though, so I opened #1399.

[2017-02-01 00:17] #1284 closed

[2017-02-01 01:36] nrontsis opened #1400 "Test package missing"
I installed `Anaconda` `4.3.0-np111py35_0` and it does not include the `test` [package]:(https://docs.python.org/3/library/test.html#writing-unit-tests-for-the-test-package)

[code]

[2017-02-01 01:39] ijstokes commented on #1391
OK, so this still doesn't work with Anaconda 4.3 virgin install + r-essentials.  I also tried a "minimal" setup using the Conda spec that @hafen provided and then on top of that I did `conda install r-rbokeh r-irkernel` and still no luck.  Same error message:

    HTML widgets cannot be represented in plain text (need html)

[2017-02-01 01:41] ijstokes commented on #1391
I think next step I think is to try and install rbokeh through standard R mechanisms.

[2017-02-01 02:12] panas89 commented on #910
conda update -all

This fixed this issue for me on Windows 64 bit.

[2017-02-01 02:22] ArthurZ commented on #1280
Thank you for sharing the news @goanpeca!
I first tried to upgrade the Anaconda 3 installation on Windows, but the installer did not allow to proceed beyond the point
[code]
I did not see upgrade instructions listed. And I did not want to end up un-installing or creating an extra version of Anaconda. Is there an in-place upgrade option?
As to the anaconda-navigator itself, it now works 👍
Interesti

[2017-02-01 03:56] oharb opened #1401 "Anaconda Navigator Crashes After Launch"
Hi friends,

I tried installing anaconda via pkg and sh installers and with both installations of the Anaconda Navigator the app crashes every time I try to launch it. The logo will display in the center of my screen and it will say "initializing" and will then crash. Happy to provide any helpful information from terminal and thanks in advance for the help!

Running OS X Sierra 10.12.2 and Anacond

[2017-02-01 04:10] goanpeca commented on #1280
this rstudio will live inside the conda environment. it is not related to any other rstudio you might have installed

[2017-02-01 07:49] hafen commented on #1391
Can you print the results of `sessionInfo()` in your notebook after loading rbokeh and compare it to my output above? My guess now is that a dependency of rbokeh doesn't have its git tags up to date so conda is installing an older version (I don't know enough about conda but recall it uses tags to register R package versions). In that case you can either `install.packages("rbokeh")` to see if that

[2017-02-01 09:31] mingwandroid commented on #1391
[code]

[2017-02-01 09:43] mingwandroid commented on #1391
conda fetches most things from CRAN but a lot of the Jupyter related stuff from github. The tags seem ok.

I'm going to try install.packages() on all the things one at a time to see if any individual one fixes it.

Here's a traceback for when it goes wrong:

[code]

[2017-02-01 10:40] sebastian-luna-valero commented on #1392
Thanks, guys!

Ok, so I am now:

* using conda 4.3.8 with `-vvv`. Output is here [install-gcc.output.gz](https://github.com/ContinuumIO/anaconda-issues/files/744569/install-gcc.output.gz)

* configured `.condarc` with `allow_softlinks: False`

However, below is the output without with `-v` only:
[code]

Output with same config but `-vv` is:
[code]

Please let me know your thoughts.

Best regards,

[2017-02-01 10:45] mingwandroid commented on #1391
@bryevdv

Thanks, what about `widgetsnbextension`? Is that also not required here? I installed it anyway, and jupyter gives me the following warning:

[code]

.. and sure enough, I don't have that file in that location. Here's what I do have (excluding the pkgs cache):

[code]

Doing the following:

cp $CONDA_PREFIX/share/jupyter/nbextensions/jupyter-js-widgets/extension.js $CONDA_PREFIX/share/jup

[2017-02-01 10:47] tlk commented on #1397
#1401 looks like a dupe

[2017-02-01 10:49] mingwandroid commented on #1392
Hi @sebastian-luna-valero, that looks good!

You should be able to proceed with that option set for now. The downside is that it copies files instead of symlinking them, but the upside is that your software now works.

This is a bug that's been kicking around for a good while. Thanks for bringing it to our attention again.

[2017-02-01 10:50] tlk commented on #1398
@ju-me Sorry if this is obvious to you, but just double checking - when goanpeca asks you to type in commands, do you include the '$' sign? That symbol is not to be copy-pasted :-)

[2017-02-01 10:53] sebastian-luna-valero commented on #1392
Many thanks @mingwandroid, your support is much appreciated!

As you suggested, I will be using that option set for now.

Should we just wait for an updated `gcc` in order to work with the default options?

[2017-02-01 11:03] mingwandroid commented on #1392
I am not sure how we will proceed with this issue.

Updating `gcc` is not something I plan to do, and there are countless packages (all of those that contain executables) that would need to be rebuilt if that was the solution we adopt for this. As you can imagine, I'm not keen on that idea.

I think conda should never symlink any executables that use non-system shared libraries.

[2017-02-01 12:12] goanpeca commented on #1401
Could you try going to the command prompt ant typing

`$ sudo rm -rf ~/.continuum`

And try again?

[2017-02-01 12:12] goanpeca commented on #1397
Yep, just provided some info. We will look further into this. Closing for now :-)

[2017-02-01 12:12] #1397 closed

[2017-02-01 13:59] #1380 closed

[2017-02-01 14:33] goanpeca commented on #1367
@yucoz please manually delete this folder

`C:\\Users\\yuc\\AppData\\Local\\ContinuumIO`

[2017-02-01 14:33] goanpeca commented on #1369
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-02-01 14:33] goanpeca commented on #1367
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

[2017-02-01 14:34] goanpeca commented on #1100
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:34] #1100 closed

[2017-02-01 14:34] goanpeca commented on #1248
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:34] #1248 closed

[2017-02-01 14:35] goanpeca commented on #1255
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1255 closed

[2017-02-01 14:35] goanpeca commented on #1332
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1332 closed

[2017-02-01 14:35] goanpeca commented on #1227
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1227 closed

[2017-02-01 14:35] goanpeca commented on #1200
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1200 closed

[2017-02-01 14:35] goanpeca commented on #1199
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1199 closed

[2017-02-01 14:35] goanpeca commented on #1188
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:35] #1188 closed

[2017-02-01 14:36] goanpeca commented on #1175
@BjornFJohansson I am tracking the Ctrl+/Ctrl-  on the internal repo and will be added to a future release.

[2017-02-01 14:36] goanpeca commented on #1069
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:36] #1069 closed

[2017-02-01 14:37] goanpeca commented on #1399
Closing as a duplicate of https://github.com/ContinuumIO/anaconda-issues/issues/1082

[2017-02-01 14:37] #1399 closed

[2017-02-01 14:40] cj-foster commented on #1332
Thanks for this. Your original post about using the anaconda-prompt caused me to go and check the environment variables. It looks like my Windows PATH still has a path to a network version of Python 2.7.11.
I'm on a locked down work PC so when that gets amended I will update.

[2017-02-01 14:41] goanpeca commented on #1329
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:41] #1329 closed

[2017-02-01 14:41] goanpeca commented on #1323
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:41] goanpeca commented on #1320
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:41] #1320 closed

[2017-02-01 14:41] goanpeca commented on #1291
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:41] #1291 closed

[2017-02-01 14:42] goanpeca commented on #1281
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:42] #1281 closed

[2017-02-01 14:42] #1280 closed

[2017-02-01 14:42] goanpeca commented on #1251
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:42] #1251 closed

[2017-02-01 14:42] goanpeca commented on #1234
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:42] #1234 closed

[2017-02-01 14:42] goanpeca commented on #1222
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:42] #1222 closed

[2017-02-01 14:42] goanpeca commented on #1213
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:42] #1213 closed

[2017-02-01 14:43] goanpeca commented on #1196
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:43] #1196 closed

[2017-02-01 14:43] goanpeca commented on #1189
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:43] #1189 closed

[2017-02-01 14:44] goanpeca commented on #1334
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:44] #1334 closed

[2017-02-01 14:44] goanpeca commented on #1352
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:44] #1352 closed

[2017-02-01 14:44] goanpeca commented on #1389
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:44] #1389 closed

[2017-02-01 14:45] goanpeca commented on #1374
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:45] #1374 closed

[2017-02-01 14:45] goanpeca commented on #1369
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:45] #1369 closed

[2017-02-01 14:45] goanpeca commented on #1367
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:45] #1367 closed

[2017-02-01 14:46] goanpeca commented on #1182
There is a new release available for Anaconda. You can download it from https://www.continuum.io/downloads

This release includes Anaconda Navigator 1.4.3 which includes several fixes and improvements.

You can update it by typing in the command prompt
`$ conda install anaconda-navigator`

---

This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:46] #1182 closed

[2017-02-01 14:48] goanpeca commented on #1337
This should be fixed by the latest version, please reopen if this is not the case.

[2017-02-01 14:48] #1337 closed

[2017-02-01 14:49] csoja commented on #1315
There are not updated Miniconda installers yet - but there will be soon (hopefully this week).

[2017-02-01 14:49] #1175 closed

[2017-02-01 14:59] csoja commented on #1298
Yes - though the py36 Miniconda installers are not available yet (hoping this week), but when they are, there will be zip versions posted here: https://repo.continuum.io/miniconda/.winzip/

[2017-02-01 15:53] TheMitchWorksPro commented on #1337
if I do "conda update conda" followed by "conda update anaconda" - will
this update the whole of the Anaconda tools?
do you recommend this approach or is it safer to just do "conda update
anaconda-navigator"

I have an elaborate working environment and am looking to avoid de-install
/ re-install to reap the benefits of this upgrade if possible.  Please
advise, and I can take the next step and see

[2017-02-01 15:56] goanpeca commented on #1337
@TheMitchWorksPro I recommend you download the latest anaconda distribution and start from scratch.

[2017-02-01 16:17] joesoap99 opened #1402 "Anaconda 4.3 Rstudio install fails"
Windows 8.1, 64 bit
Anaconda 4.30 (sometimes calls it 4.38??)
Root Python 2.7.13
Environment Python 3.51

I upgraded to latest with
conda update conda
and
conda update anaconda,
which gave n me the latest packages in Python 2.7

Q1: Navigator now offers an Rstudio install icon for Root and all environments
In my Python 2.7 Root environment, Rstudio cannot install as there is an error message that

[2017-02-01 16:20] goanpeca commented on #1402
Q1: Navigator now offers an Rstudio install icon for Root and all environments
In my Python 2.7 Root environment, Rstudio cannot install as there is an error message that Orange3 conflicts. Orange 3 is available in the distribution but I have not installed Orange3 as it does not work with Python 2.7 in any case. Orange3 needs an earlier version of Qt and Python 3. Is this a bug?

RStudio on window

[2017-02-01 17:16] alimanfoo opened #1403 "R ICU dependency conflict not detected"
As described [here](https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/myBjZaaAoDI), if a user installs rpy2 from the r channel, then installs any software from conda-forge that depends on ICU, then ICU will get upgraded to version 56 and r-base will get installed from conda-forge. After this, some parts of R run fine, but others generate an error regarding a missing ICU 54 library fi

[2017-02-01 17:17] alimanfoo commented on #1403
Just to say the bigger issue here is to enable both rpy2 and software from conda-forge to be installed safely into the same conda environment. But I realise that is tricky right now so I am comfortable with whatever resolution is appropriate for this issue right now.

[2017-02-01 18:22] fbilbao commented on #1402
I have the same issue. I uninstalled the previous version (4.2.0) an tried to install anaconda 4.3.0. My antivirus detected [a virus](http://www.avira.com/es/support-virus-lab-product?vdl%5Bsq%5D=TR%2FCrypt&noLog=1) and stop the installation process.

Going back to 4.2.0...

[2017-02-01 18:26] mingwandroid commented on #1402
@fbilbao do you know which file this happened in?

[2017-02-01 18:35] fbilbao commented on #1402
I downloaded the [EXE](https://repo.continuum.io/archive/Anaconda3-4.3.0-Windows-x86_64.exe) and [ZIP](https://repo.continuum.io/archive/.winzip/Anaconda2-4.3.0-Windows-x86_64.zip) installers.

Both work fine until (I guess, not really sure) the installing of the menu configuration files, or at least that was the warning text.

![captura](https://cloud.githubusercontent.com/assets/403309/22520625/

[2017-02-01 18:39] mingwandroid commented on #1402
That's interesting, but a separate issue. Do you know which file your antivirus software reported as being a virus? Was it the exe or the zip file itself? Did it specify which file in those files it thought was a virus?

[2017-02-01 18:41] bryevdv commented on #1391
I don't know, I'm afraid. Nothing python bokeh uses. Maybe that is an `HTMLWidgets` thing? Again, `HTMLWidgets` is something from the R world, I don't really know much about it.

[2017-02-01 18:43] TheMitchWorksPro commented on #1337
Thanks for the speedy response.  My classes are now in full swing, so since
my environment works, stopping to de-install and rebuild is not an option
until I graduate from them in July.

Hope to follow your instructions and try again then with whatever release
is current at that time.
Best wishes

On Wed, Feb 1, 2017 at 10:56 AM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2017-02-01 18:48] fbilbao commented on #1402
No, not really. The screenshots was taken when the detection happens and the virus is "TR/Crypt.ZPACK.omgsw" but i can't say exactly the infected file

[2017-02-01 18:53] mwjun commented on #1401
Thank you! It works. @goanpeca

[2017-02-01 18:54] Alphamineron opened #1404 "Anaconda Navigator Not Launching!"
Hey!
I'm not a genius Computer Science Grad but just a high school student trying to start learning Machine Learning. I was watching a Google Developers videos and they were using Anaconda to code so I went on to install it. I installed it for my user. Turns out that the Navigator doesn't start.
I also had to install the launcher manually through `conda install launcher` in Terminal.
When I click

[2017-02-01 18:55] mingwandroid commented on #1402
OK, thanks, we'll investigate this immediately. To put your mind at rest, Virus Scanners often detect false positives and we virus scan our software very carefully.

[2017-02-01 18:58] fbilbao commented on #1402
Thanks! For now i stick with 4.2. You are right, could be the antivirus the problem, but this is an corporate computer, i can't change it

[2017-02-01 19:01] mingwandroid commented on #1402
Can you give us details of the version of Avira you have installed and also possibly which options are in effect?

[2017-02-01 19:05] fbilbao commented on #1402
Avira 15.0.24.146 06-12-2016 (updated)

We only have the real-time protection and firewall active.

[2017-02-01 19:07] mingwandroid commented on #1402
Thanks alot, that's very helpful.

[2017-02-01 19:20] joesoap99 commented on #1402
Thank you.

Q1: Navigator (not me) gives an Rstudio installation icon for Python 2.7 - even though it won't work in 2.7.

Q2: After running it for 1 hour 20 minutes I gave up

Q3: I tried installing a Python 3.6 by
conda create -n py36 python=3.6 ananconda
It installed the environment but there were only 5 packages in it. It was alsoPython 2.7 , not python 3.6.
Crazy?

Q4: I end up doing that ever

[2017-02-01 19:48] goanpeca commented on #1404
Please open a terminal and run

`rm -rf /Users/AI-Mac1/.continuum`

And try again :-)

[2017-02-01 19:49] #1401 closed

[2017-02-01 20:27] dhirschfeld commented on #1298
Great! Just to be clear though, the current "zip" files just unpack the exe installer which wouldn't help with the nanoserver install - the zip file has to contain the actual xcopy-able files/folders for it to be useful for making nanoserver images.

[2017-02-01 20:29] joe-texan opened #1405 "import numy multiarry dll load failed"
Hi, I am using a fresh installation of python 3.6 via anaconda3-4.3.1 but I get the following error any time I try to import numpy:
Python 3.6.0 |Anaconda 4.3.0 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]
Type "copyright", "credits" or "license" for more information.

IPython 5.1.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's fea

[2017-02-01 22:20] ajohns13 commented on #1279
I'm seeing the same issue for the GUI application with python 2.7.11 and Anaconda 4.3.0

[2017-02-01 22:20] goanpeca commented on #1279
If you go to the command prompt and type:

`anaconda-navigator` what is the output you see?

[2017-02-01 22:29] ajohns13 commented on #1279
I ended up running with the CLI fine. But I replicated the issue and I get a `Permission denied` response. Let me know if you want to see a full trace.

[2017-02-01 23:32] mingwandroid commented on #1391
Luckily this stuff worked just fine for @msarahan so we were able to compare working with non-working.

The most useful thing we discovered after that is `options(jupyter.log_level=10)`, setting this caused the macOS Terminal to output, for me:

[code]

@ijstokes for now, `brew install pandoc`. Tomorrow I will look into adding a package (`RStudio` has an embedded `pandoc` so I'll probably  split t

[2017-02-02 00:11] timothyrenner commented on #1287
Seeing the same issue on macOS with standard Anaconda distribution.

[2017-02-02 00:18] goanpeca commented on #1279
@ajohns13 could you paste the issue? I know how to fix it :-), but need to see the erro

[2017-02-02 00:41] #1404 closed

[2017-02-02 03:08] smontanaro commented on #1379
I am still stumped by this. I deleted ~/.condarc, ~/.continuum, and ~/.conda then moved my existing ~/anaconda and ~/miniconda directories out of the way and downloaded and executed the Anaconda 3.6 install script.  I created an environment named numpy and activated it. So far, so good.

I tried "conda search pybind11" and found nothing, so I added conda-forge with this command:

(numpy) python_ex

[2017-02-02 03:37] jlgabriel commented on #1182
Hi, the same happened to me with the new Anaconda 4.3 Windows 64bit installer, when I installed in the default suggested path (under C:\Users\...).

After I uninstalled it and re-installed it in a folder in root (C:\Anaconda), the error disappeared and now I can use Spyder and others.

I hope it helps! best regards, Juan

[2017-02-02 08:32] mingwandroid commented on #1182
@jlgabriel, what was the exact path under `C:\Users`?

[2017-02-02 09:44] PetreanuAndi commented on #223
Hello. At that point in time I managed to output a significantly **better quality video** using :

fourcc = cv2.VideoWriter_fourcc('M', 'J', 'P', 'G')
.....
writer = cv2.VideoWriter(str(video_path), fourcc, 12, (w * 2, h * 2), True)
......
output = cv2.cvtColor(output, cv2.COLOR_BGR2RGB)
writer.write(output)
.............

However, I do recall having to install a bunch of codecs and other such pac

[2017-02-02 10:40] jlgabriel commented on #1182
Hi, I initially selected the option to install Anaconda just for my user and the path was:

C:\Users\juanl\Anaconda3

After installing it in C:\Anaconda (and for all users? I don't remember...) this problem was solved.

[2017-02-02 11:35] BjornFJohansson commented on #1175
Just to give feedback on the 1.4.3

High DPI huge text and icons, no maximize:

![image](https://cloud.githubusercontent.com/assets/9726401/22547655/89a4a46c-e93a-11e6-8b3c-29182ac00f5c.png)

normal, small text but has maximize icon:

![image](https://cloud.githubusercontent.com/assets/9726401/22547850/8d803fe6-e93b-11e6-9dfb-ad4e6d676f9a.png)

[2017-02-02 11:58] joesoap99 opened #1406 "R Studio Fails"
Windows 8.1, 64 bit
Anaconda 4.30 (sometimes calls it 4.38??)
Root Python 2.7.13
Environment Python 3.51

Rstudio eventually installed.
On running Rstudio from icon in Navigator it gave the error message below.
The Rstudio window was opened but none of the menus functioned:

![rstudio](https://cloud.githubusercontent.com/assets/8518350/22548555/d75111c4-e93e-11e6-964f-25529828963a.png)

[2017-02-02 14:29] goanpeca commented on #1175
Thanks for the feedback. One last thing, do you know the resolution of your screen?

[2017-02-02 14:32] pbentkowski opened #1407 "Cannot downgrade Spyder in Anaconda 4.3 due to conflict with Python 3.6"
I wanted to downgrade Spyder in Anaconda Navigator (anaconda 4.3) from 3.1.x to 3.0.2 and I got this:

[code]

Anaconda 4.3 on *ubuntu 14.04, 64 bit

[2017-02-02 14:33] goanpeca commented on #1407
There is not a version of spyder 3.0.2 available for python 3.6

[2017-02-02 14:37] ijstokes commented on #1391
Conda-Forge and the anaconda-nb-extension channels have pandoc packaged and available.  I tried using the 1.12 pandoc version available in `anaconda-nb-extensions` and this had the effect of no longer putting the "HTML widgets ..." error message inside the Jupyter Notebook, but neither did it produce an rbokeh plot.  I used the `options(...)` technique and then saw that the "HTML widgets ...." err

[2017-02-02 14:44] msarahan commented on #1391
That HTML widgets message will always be there.  Basically, Jupyter is requesting these forms of data from all inputs:

```getOption("jupyter.display_mimetypes")```

which for me is:

```'text/plain' 'text/html' 'text/markdown' 'text/latex' 'application/json' 'application/javascript' 'application/pdf' 'image/png' 'image/jpeg' 'image/svg+xml'```

The fact that you are now getting the html response

[2017-02-02 14:53] pbentkowski commented on #1407
Yes, I know. This is what the error is saying. Removing the downgrade options from the menu would be reasonable ;-)
 Cheers.

[2017-02-02 15:07] mingwandroid commented on #1391
@ijstokes can you list your packages after you introduced `conda-forge` to the mix. I would recommend preferring Homebrew for now I'm afraid.

Also, you may as well go ahead and create a new clean env to test this on.

[2017-02-02 16:34] athompson673 opened #1408 "spyder crashes with RuntimeError: Invalid Qt API 'PyQt5', valid values are: 'pyside', 'pyqt', 'pyqt5'"
On a fresh install of anaconda I had several issues with starting spyder. the first was to fix qt.conf as mentioned [here](https://github.com/spyder-ide/spyder/issues/4087). then I got the error mentioned in the title... I took a look at *qtconsole\qt.py* which threw the error based on the basis that `os.environ.get('QT_API', None)` did not match any of the options given in *qtconsole\qt_loaders.p

[2017-02-02 16:43] athompson673 commented on #1408
Update* it would be better to change *QT_API* as now I'm having an issue with *sitecustomize.py* (part of spyder) also expecting a hardcoded: "pyqt5" where is this env. var. set?

[2017-02-02 16:48] mingwandroid commented on #1408
The likely problem here is that your install location contains more than 30 characters. We need to fix this. Thanks for reporting.

[2017-02-02 16:54] athompson673 commented on #1408
It's just the default install for single user... my username is only 8 chars long. I set the env. var. to "pyqt5" through the windows dialogue, and it now works.

[2017-02-02 16:57] mingwandroid commented on #1408
This:

`C:\Users\usrname\AppData\Local\Continuum\Anaconda3` is not 8 chars long, I understand that it is the default location, it is a bug that we need to fix. You should not need to set QT_API.

[2017-02-02 17:07] jgmorrison commented on #1270
I can verify this happens on Windows installations that have spaces or non-ASCII characters in the username regardless of Python2 or Python3. The recent Anaconda-4.3 release does not allow Anaconda to be installed in a path that has spaces or non-ASCII characters anymore.

[2017-02-02 17:18] mingwandroid commented on #1270
It also happens with install prefixes longer than 30 characters, but we will fix that ASAP.

[2017-02-02 18:56] ccordoba12 commented on #1407
Closing then.

[2017-02-02 18:56] #1407 closed

[2017-02-02 19:17] pbentkowski commented on #1407
Yup. Thanks for quick response.

[2017-02-02 19:46] mingwandroid commented on #1402
@fbilbao, I submitted the file that triggered Avira scanner and they've confirmed it as a false positive:

[code]

[2017-02-02 19:49] fbilbao commented on #1402
Ok, thanks. I really appreciate your dedication.

El jue., 2 de feb. de 2017 16:46, Ray Donnelly <notifications@github.com>
escribió:

--

Saludos
Francisco Bilbao F.
Sent from my Quipu

[2017-02-02 20:14] #1402 closed

[2017-02-02 21:07] jcannell opened #1409 "Include Urllib3"
Hello,

I apologize in advance if this is the wrong place to request packages for Anaconda.

It would be great if Anaconda included urllib3. I know Anaconda leverages packages that include urllib3 (e.g. requests) but it's a nice to have if you want to use it directly.

Thanks.

[2017-02-02 21:56] luiscrouch opened #1410 "Windows (x86_64) install consistently fails as of 4.3.0 (claiming non-ascii characters in path)"
Windows 7
Python 2.7 version
Anaconda 4.3.0

Message from error window:

Happens regardless of installing for "Just Me" or "All Users".

Desired path is:
`C:\ProgramData\Anaconda2`
which, clearly, contains no non-ascii characters.

4.2.0 installer works fine on same machine, so easy to work around (can update via conda once installed).

![image](https://cloud.githubusercontent.com/assets/25516431/