[2016-09-14 21:29] #879 closed

[2016-09-14 21:45] msarahan commented on #968
Based on http://forums.winamp.com/archive/index.php/t-260624.html, I have attempted to change calls to ```Exec``` to using the ```ExecDos``` plugin with the ```/ToStack``` option, because of this comment from the email thread:

I am still seeing the crashes.  We will keep working on this, but our chances of resolving this for the next Anaconda release are dwindling.  The callstack for the crash en

[2016-09-15 02:15] RodenLuo commented on #921
@biographie
In your case, try
`/Users/bio/anaconda/bin/jupyter notebook`

The above command works for me. But launching from Navigator still fails.

@jackjm
Works for me! Launch from Navigator successfully after doing
`conda update nb_conda nb_conda_kernels nb_anacondacloud`
This starting `conda` should be the path to conda command. For me, using anaconda, it is "/Applications/anaconda/bin/conda".

[2016-09-15 03:13] victoriastuart commented on #720
I had the same issue/error:

    Intel MKL FATAL ERROR: Cannot load libmkl_avx2.so or libmkl_def.so

when running a word2vev Python script in my TensorFlow virtual environment (Anaconda).  MKL was installed:

    conda list | grep -i mkl
        mkl                       11.3.3                        0    defaults
        mkl-service               1.1.2                    py27_2    defaults

Per u

[2016-09-15 08:54] covelloz commented on #777
@RodneyT272
You are amazing! Your hack worked for Windows 7 too. I followed your directions exactly.

One nuance was that the shortcut wasn't immediately pinnable in Window 7. I had to right-click the shortcut > properties, then append "cmd.exe /C" to the beginning of the target field, so that all-in-all the shortcut target was
"cmd.exe /C C:\%your-R-path%\rstudio.bat"
where rstudio.bat is the cop

[2016-09-15 14:36] agrawalramakant commented on #443
does nt work with 3.5.2 either. the same dll problem

[2016-09-15 20:48] jhamrick commented on #152
I also just ran into this issue. @toinsson's workaround works for me as well.

[2016-09-16 02:33] jni commented on #485
@mcg1969 your suggestion still seems to be pulling graphviz from defaults for me... Anyone have any idea how to force conda to download the conda-forge version?

[code]

[2016-09-16 02:58] ccordoba12 commented on #485
@mcg1969, I was the one who built graphviz for conda-forge. Unfortunately I haven't had time to move it to defaults, and also to add `python-graphviz` to it.

[2016-09-16 09:23] xylary opened #1064 "Navigator Error"
Anaconda Navigator Update error:

Extra data: line 2 column 1 - line 252 column 1 (char 81 - 19660)

{'platform': 'osx-64', 'version': '1.2.2', 'conda': u'4.2.6', 'qt': '4.8.7', 'language': 'en', 'python': '2.7.12', 'os': 'Darwin;15.6.0;Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64;x86_64;i386', 'pyqt': u'4.11.4'}

[2016-09-16 09:49] Noammac commented on #1004
Not only `Anaconda`, installed it on `python-3.5.2` and I get the same error

[2016-09-16 23:51] joonpark72 opened #1065 "Latest updates to PyQt"
after performing latest conda update --all, resulting in updates of conda-env and PyQt, etc...  breaks functionality for Spyder as well as Jupyter notebook...   I initially thought it had to to with migration of Windows 10 to the latest 1607 versrion but I see the same result after re-installation of Anaconda 4.1.1 (Python3).  Would you please look into this?  I need Spyder for few MOOCs I am taki

[2016-09-17 00:18] damianavila commented on #1051
Did you see my linked comment above? I think there is a platform-specific issue somehow...

[2016-09-17 00:27] ccordoba12 commented on #1065
@joonpark72, I'm about to do a new release of Spyder that will be compatible with PyQt. It'll be available on September 21.

In the meantime, please use the default Anaconda installation and don't perform any updates. Sorry for the inconveniences ;-)

[2016-09-17 00:48] joonpark72 commented on #1065
Thank you .  One more question.  In general, should I just use conda update anaconda instead of conda update --all to avoid these problems all together?

[2016-09-17 01:27] ccordoba12 commented on #1065
Yes, it's safer. `conda update anaconda` will give you a consistent set of packages, meant to work all together, while `conda update --all` tries to update everything to its latest version, which sometimes give you some inconsistencies.

[2016-09-17 02:14] joonpark72 commented on #1065
One last thing, I had to install ipyparallel using conda install ipyparallel and it updated conda andn conda-env to the latest version which seems to have few bugs...   How can I go about installing the version of a package consistent with default state of anaconda installation so as to avoid updating dependencies???

[2016-09-17 05:08] cakeisgod opened #1066 "Nothing on the Home page"
Cannot find any applications on my Anaconda Navigator Home Page, but I do install Spyder and Jupiter Notebook before.

[2016-09-17 06:20] pavan540 opened #1067 "import is not working on freshly installed anaconda"
i have just installed anacoda for windows 10.  I am trying to import padas using the following
import pandas as pd
I am getting an error message that import is not a recognized command. Python is working perfectly
![stackoverflow](https://cloud.githubusercontent.com/assets/8725835/18606412/db5b8fbc-7ccc-11e6-93b2-c9e74ebdcbfc.png)

[2016-09-17 07:30] jcmorris-mts commented on #732
Just to make SeppDeDepp's answer a bit more convenient...

1. Save the code below as a batch file in <ANACONDA_HOME> where your python is located.
2. Run it as an admin.  Works a treat!

Assuming <ANACONDA_HOME> = "C:\Anaconda3"

[code]

[2016-09-17 09:39] jorisvandenbossche commented on #1065
Matplotlib also does not seem to work anymore (due to update of either matplotlib or qt). If I just install it in a fresh env:

[code]

[2016-09-17 09:43] jorisvandenbossche commented on #1065
I suppose this is an issue with pyqt 5, as it also gives the same error when fixing the matplotlib version to 1.5.1 (but still using latest pyqt), but works fine when fixing pyqt to 4.x with matplotlib 1.5.3

[2016-09-17 11:19] jorisvandenbossche opened #1068 "Fresh matplotlib install broken: installs qt5, but matplotlib rc patched to require qt4"
Related to https://github.com/ContinuumIO/anaconda-issues/issues/1065 (but opening a new issue as this is not a Qt problem but how the matplotlib rc is patched AFAIU). Also reported it at matplotlib: https://github.com/matplotlib/matplotlib/issues/7124#issuecomment-247762925

When you do a fresh `conda install matplotlib`, this now installs qt/pyqt 5.x instead of 4.x.
But as far as I understand, a

[2016-09-17 11:23] jorisvandenbossche commented on #1068
The patch is here: https://github.com/ContinuumIO/anaconda-recipes/blob/master/matplotlib/rctmp_pyside.patch

[2016-09-17 11:48] ccordoba12 commented on #1068
Thanks @jorisvandenbossche, this means that we need to remove or update that patch so that Matplotlib can work with Qt5.

[2016-09-17 15:00] ReyesZYX99 opened #1069 "Navigator doesn't work right"
Freshly installed Anaconda, but the Home page shows nothing and only installed packages can be shown while the descriptions are blank

the log viewer shows:
2016-09-17 22:56:12,612 - ERROR
    download_api._request_finished : 240
    ('Head Reply Error:', 99)

[2016-09-17 19:28] cdaringe opened #1070 "conda remove package-name doesn't remove package"
[code]

as you can see, the env has `pre-commit` installed, but `remove` can not resolve it.

[2016-09-18 17:28] MaxNoe opened #1071 "Update arm7 packages"
It would be nice if you publish more recent package versions (e.g. python 3.5, pandas 0.18.1, etc.)

[2016-09-18 22:58] tomasarcher commented on #993
Hello.

I have the exact same problem here.

Anaconda2 on windows 10 - Python 2.7.12 | Anaconda 4.1.1 (64-bit) | orange 2.7.8 | orange-app 1.0.1

Like fascani, In canvas.log, I find this type of error messages:

_Running widget discovery process.
Could not import 'Orange.OrangeWidgets.Data.OWDiscretize'.
Traceback (most recent call last):
  File "C:\Users\tomas.archer\Anaconda2\lib\site-packages\O

[2016-09-18 23:12] tydlwav opened #1072 "arrow keys malfunctioning"
While in Anaconda python, the left right up down keys which supposed to be navigating through my code returns "^[A]" and stuff like that. Original python does not have the problem.

[2016-09-18 23:19] sergiubuciumas opened #1073 "Navigator Error"
I do have continuously issue with anaconda when I try to install packages, can you please help me understand what is wrong ?

The following errors occured:

None:
Dependency missing in current osx-64 channels:
  - conda >=4.1.6 -> conda-env >=2.5.0

You can search for packages on anaconda.org with

    anaconda search -t conda conda-env

{'platform': 'osx-64', 'version': '1.2.1', 'conda': u'4.1.6'

[2016-09-19 02:08] tacaswell commented on #1068
You can also fix this by setting the backend in any of the ways documented at http://matplotlib.org/faq/usage_faq.html#what-is-a-backend to `'Qt5Agg'`

[2016-09-19 06:29] grinsted opened #1074 "conda can install gdal in virtual environment but not outside"
conda can install gdal in an anaconda virtual environment but not outside.

[code]

I have a fresh install of anaconda w. python 3.5 on a fresh install of windows10.

[2016-09-19 08:17] #1074 closed

[2016-09-19 08:18] fascani commented on #993
I recently installed Python 3.5 with anaconda, replacing the 2.7 Python
version and Orange did have more plotting tools than before although I did
not check it has everything.

Francois

On Sunday, September 18, 2016, tomasarcher <notifications@github.com> wrote:

[2016-09-19 08:33] duncanwp opened #1075 "Launcher crashes on startup"
I've recently found that the Anaconda launcher will crash on startup on my Windows 10 PC (build 10586.589). I don't have anything non-standard in my root env ([package_list.txt](https://github.com/ContinuumIO/anaconda-issues/files/479531/package_list.txt)).

Looking at task manager it seems that the launcher is spawning hundreds of Python processes (and with them Console Managers) each using 10'sM

[2016-09-19 10:46] sriaz2 opened #1076 "Navigator fails to start on latest Anaconda installer v 4.2"

[2016-09-19 14:42] goanpeca commented on #1076
@ilanschnell, my bad I forgot to warn you on the recipe updates, but yes, we need to change the dependencies for the new version and add  **_license as a dependency and pin **pyqt=5.**

[2016-09-19 14:43] goanpeca commented on #1066
Hi @cakeisgod could you provide us with some additional information?

Please go to the command line and type

`conda info` and paste the result here and the type again on the command line
`conda list` and paste it here

What OS are you running?

[2016-09-19 14:46] goanpeca commented on #1073
Hi @sergiubuciumas what channels are you using?

[2016-09-19 14:50] hnaveed opened #1077 "Warning message appears "WARNING conda.common.disk.delete_trash(237): ..." for conda install --yes test and conda install --yes mock"

[2016-09-19 15:02] duncanwp commented on #1075
Great, thanks! Might it be worth releasing a final version of launcher with a deprecation notice?

[2016-09-19 15:03] ajheaps commented on #1065
I'm trying to do a conda build of a package to release a new version and get what I think is the same error.  As part of the build process is trying to install matplotlib 1.5.3 and this fails with
ImportError: No module named PyQt4

Specifying the matplotlib version number as 1.5.1 in the meta.yaml file doesn't help here as I thought it might have and I still get the same error even though it is t

[2016-09-19 15:03] sriaz2 opened #1078 "conda tests failing on MacOSx"

[2016-09-19 16:48] sergiubuciumas commented on #1073
http://conda.anaconda.org and http://conda.anaconda.org/gurobi

Was working fine till upgraded OSX to version: 10.11.6 (15G1004), also can't even create environments in anaconda, tried with Python2.7 and 3.5 and same issue.

[2016-09-19 17:18] cakeisgod commented on #1066
Hi @goanpeca , first thanks for you help. And my problem is I have install spyder and Jupiter Notebook on previous anaconda version but after I upgrade to the newest anaconda. I cannot find anything on my Home page (It should show the applications I have installed, right?)

I am running WINDOWS 10 64 bit.

Current conda install:

             platform : win-64
        conda version : 4.1.6
    con

[2016-09-19 17:26] meowklaski commented on #899
@ilanschnell  Is there any plan to fix this?

[2016-09-19 20:34] olaurino commented on #686
I was about to release new binaries for our package ([Sherpa](https://github.com/sherpa/sherpa), the modeling package of the Chandra X-Ray telescope software) when I realized the binaries I had been testing were broken by an update in libgcc **at the build number level**.

libgcc 4.8.5-1 contained libgfortran, while 4.8.5-2 does not. This is a **big** change for a build number increase, and **I am

[2016-09-19 22:24] jevad opened #1079 "error message when creating Navigator.app link on Mac OS/X"
Using Anaconda3-4.1.1 (installed to the user directory, not the system directory) on Mac OS/X 10.11.6, installed with the GUI installer:

Every time I "create" with conda, I get the following error when it links the packages:

Linking packages ...
ln: /Applications//Navigator.app: Permission denied#################################################              |  85%

I checked, and there is no Nav

[2016-09-19 22:34] jevad commented on #1079
I figured out part of what it is doing (and I'll update the subject line if I get the chance).  It is trying to create a link in /Applications, and it does not have permission to do that -- it does seem to eventually create the link it needs, so I'm going to ignore it.  Y'all might want to fix the error message, but I would consider this very low priority.

[2016-09-19 22:54] ilanschnell commented on #1076
@goanpeca `_license` is no longer part of the Anaconda installer.  Would it be possible to this an optional dependency?

[2016-09-20 10:19] cbrnr commented on #1068
@ccordoba12 is there a PR that fixes this issue?

[2016-09-20 10:45] ccordoba12 commented on #1068
Not yet, sorry.

[2016-09-20 13:54] mingwandroid commented on #968
Hi all, I've fixed this bug with https://github.com/mingwandroid/nsis-untgz/commit/29e79565c3f434b6987c0067b1cc81be6bacacf8

We've verified the fix in our v4.2 test installers and the issue will not be present in the final release.

Github is going to close this issue on me, but I'll reopen it and close it again at final release.

[2016-09-20 14:12] goanpeca commented on #1076
@ilanschnell sure, but If we do this the License Manager dialog functionality is a bit useless and completely undiscoverable :-| for users, and the idea was to ease the " pain" of having users copy paste stuff into a hidden folder (.continuum)

@chdoig?

[2016-09-20 14:26] goanpeca commented on #1079
Hi @jevad, thanks for the heads up

---

@ilanschnell what should we do here?

[2016-09-20 15:28] goanpeca commented on #1066
Hi @cakeisgod so lets try the following:

First go to C:\Users\Blake\ and look for a `.anaconda` hidden folder and delete it

Then update navigator to the latest version

`conda install anaconda-navigator=1.2.3`

And let me know what happens :-p

[2016-09-20 15:29] paulmicheletty commented on #1077
+1 I'm getting this error as well

[2016-09-20 17:35] chdoig commented on #1076
We need it as required dependency for Navigator - Crystal already talked to @ilanschnell, @goanpeca and they are working on it.

[2016-09-20 17:43] goanpeca commented on #1076
:-) :+1:

[2016-09-20 22:54] poplav opened #1080 "Update R-IRkernel version to `0.7`"
The [IRkernel](https://github.com/IRkernel/IRkernel/releases/tag/0.7) has recently made a new release to `0.7` from `0.6.1`.  Based on the [listed packages `0.6.1`](http://repo.continuum.io/pkgs/r/linux-64/) is the latest hosted now.  I am requesting an upgrade.

I am not familiar with how the packaging repo works, but it looks to be at [conda-recipes/r-packages/r-irkernel](https://github.com/cond

[2016-09-21 04:51] cakeisgod commented on #1066
Nice, it is working correctly now. Thank you! :)

[2016-09-21 04:51] #1066 closed

[2016-09-21 05:46] SweRavn opened #1081 "Controls are not visible on Windows 10 64"
All controls are not rendered on Windows 10 with the 1.2.1 version of the Anaconda Navigator. See e.g. attachment.
![image](https://cloud.githubusercontent.com/assets/12221256/18699110/69c80d66-7fcf-11e6-8b52-a35452e94682.png)

[2016-09-21 11:04] ReimarBauer commented on #1065
qt-5.6.0 seems to work fine with linux while it currently seems to be not complete for windows because of missing DLL

from PyQT4 import QTCore, QtGui

gives on windows an import error DLL load failed

Related no windows build for latest mss on our atmo channel
[](https://bitbucket.org/wxmetvis/mss/issues/76/meta-needs-more-version-pinnings-or-fix-on)

[2016-09-21 13:36] astrofrog commented on #1068
Just to give a heads-up, this is causing builds to fail for Astropy and also for Glue - so we are pinning qt=4 for now.

[2016-09-21 13:43] goanpeca commented on #1081
@csoja this is the "usual" problem with Qt when dealing with spaces in the user name...

---

@SweRavn can you go to the command line and type `conda info` and `conda list` and paste the result here (as text, not as an attachment)?

[2016-09-21 14:02] SweRavn commented on #1081
Current conda install:

             platform : win-64
        conda version : 4.1.6
    conda-env version : 2.5.1
  conda-build version : 1.21.3
       python version : 3.5.2.final.0
     requests version : 2.10.0
     root environment : C:\Program Files\Anaconda3  (read only)
  default environment : C:\Program Files\Anaconda3
     envs directories : C:\Users\ravn\.conda\envs

[2016-09-21 14:04] goanpeca commented on #1081
@ccordoba12, @mingwandroid is this still an issue the spaces on windows?

[2016-09-21 14:21] mingwandroid commented on #1065
`from PyQT4 import QTCore, QtGui` implies that you had PyQt4 installed, not PyQt5? @ccordoba12, @goanpeca does that seem to be the case to you also or am I mistaken?

Please give detailed reproduction steps. I know a lot more about Qt itself than I do PyQt.

[2016-09-21 14:34] goanpeca commented on #1065
You might have one or the other installed, but an env variable might be defining which one to use....

[2016-09-21 15:19] ccordoba12 commented on #1065
@ReimarBauer, what are you trying to do exactly on Windows? I don't understand your last comment, sorry :-)

[2016-09-21 15:20] ccordoba12 commented on #1068
Thanks @astrofrog, we're still fighting with this ;-)

[2016-09-21 18:01] mingwandroid commented on #1080
I'm looking into doing this update for you now.

[2016-09-21 19:49] dartdog opened #1082 "Navigator not added to classic menu indicator on Ubuntu 16.04"
No items on the menu, nor for Spyder or Orange.. the root python and the py27 items are added... all start fine from command line... (sometimes hard to remember so I like menus!)

[2016-09-21 20:01] goanpeca commented on #1082
Hi @dartdog thanks for your comment

---

@ilanschnell, @csoja ?

[2016-09-21 21:31] minifly opened #1083 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
  - 7za ==920
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'conda': '4.1.6', 'version': '1.2.1', 'python': '3.5.2', 'os': 'Windows;10;10.0.14393;AMD64;Intel64 Family 6 Model 63 Stepping 2, GenuineIntel', 'platform': 'win-64', 'language': '

[2016-09-21 21:45] goanpeca commented on #1083
Hi @minifly the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-21 21:45] #1083 closed

[2016-09-21 21:52] manodeep commented on #498
Came by this thread while trying to sort out my solve my `conda build` issues. Just in case this proves useful to someone, I have noted my solution for anaconda python on MAC. I simply fix the paths after creating the shared extension. This requires compiling with `-headerpad_max_install_names` and setting a flag like so:

     ifeq ($(UNAME), Darwin)
          PATH_TO_PYTHON := $(shell which pyth

[2016-09-21 22:31] joonpark72 commented on #1065
Back to the original question, has the new version of spyder compatible with new PyQt5, yet?

[2016-09-21 23:02] mingwandroid commented on #1080
This is done now.

[2016-09-21 23:02] #1080 closed

[2016-09-22 00:09] rvsasseen opened #1084 "graphviz dot not finding /usr/lib/libltdl.7.dylib (from libtool?)"
I'm not sure if this is the right place to post this; if not please suggest where to post. I'm on a new Mac, which is a new platform for me, and this is my first experience with Anaconda. I suspect the problem might be with Anaconda's libtool installation.

I installed graphviz via MacPorts, and installed (python) graphviz and pydot-ng from Navigator. I'm trying to graph a decision tree from sklea

[2016-09-22 04:15] yuvipanda commented on #921
I'm running into this now when trying to spawn instances from JupyterHub, which runs via the jupyterhub-singleuser command (https://github.com/jupyterhub/jupyterhub/blob/master/jupyterhub/singleuser.py). Moving back to 4.0.0 fixed it.

[2016-09-22 04:36] yuvipanda commented on #921
This only happens when conda is not in PATH. If conda is in PATH, it works ok. Is having conda in PATH a requirement for using conda? (am pretty new to conda)

[2016-09-22 09:43] jonathan-liono opened #1085 "segmentation fault: 11 on conda in terminal on Mac OS X (Navigator is not launching)"
This afternoon I tried to include opencv into anaconda environment through the following command:

Then it asked me to update both conda and conda-env in order to proceed. As a result, everything broke down, for example, opening navigator leads to nothing (which I think it crashes due to this issue).

And I tried applying conda update conda. However the response I got was "segmentation fault: 11".

[2016-09-22 09:55] sho-87 commented on #1077
I get the same warning when doing `conda update anaconda`

[2016-09-22 10:04] sho-87 opened #1086 "Navigator doesn't start"
I've tried installing Anaconda (Python 2.7 64bit) on both Windows 10 and OSX El Capitan and on both operating systems when I click the icon/menu item for launching navigator nothing happens

On my Windows machine I tried launching from command prompt with `anaconda-navigator` and I get the following error:

[code]

I thought this was related to #1076 but in my case its not complaining about licens

[2016-09-22 10:14] sho-87 opened #1087 "Multiple start menu folders"
I installed anaconda by following these steps on Windows 10:
1. Install Anaconda 4.1.1 (Python 2.7 64 bit) using the installer from the website
2. `conda update conda`
3. `conda update anaconda`

After step 1 a folder appears in my start menu called "Anaconda2 (64-bit)". After completing step 3, another folder shows up called "Anaconda (64-bit)"

They seem to contain (slightly) different things:

[2016-09-22 10:25] sho-87 opened #1088 "Anaconda version number"
I'm pretty confused by the version numbers used by anaconda. I installed anaconda by doing the following:

1. Install Anaconda 4.1.1 (Python 2.7 64 bit) using the installer from the website
2. `conda update conda`
3. `conda update anaconda`

So I'm expecting to see my version number as **4.1.1**, but, my start menu contains a folder for Anaconda **2** and when I run python from the command line I

[2016-09-22 12:38] eunseoplee90 commented on #732
Hi~

I am trying to install minianaconda, but I cant.
When installing, I had the same problem, and following above method.
Until 'addpath' and 'mkdirs' are worked well, but at entering mkmenus, I have some problem like this.
![image](https://cloud.githubusercontent.com/assets/9734295/18748332/c4601ab4-810c-11e6-98a8-e5493ae46a66.png)
![image](https://cloud.githubusercontent.com/assets/9734295/1874

[2016-09-22 13:08] p-i- opened #1089 "(OSX) `anaconda-navigator` produces "ImportError: No module named 'PySide'""
Launcher stalled. Googled and learned it has been superseded by navigator.  So:
[code]
Help said navigator would put icon on my desktop but it didn't. So I try to launch it from the commandline:

[code]

However, this fails:

What's going wrong here? The obvious step is to install `PySide` but that begs the question "Why isn't it working out-of-the-box?"  -- it suggests that something is wrong at

[2016-09-22 13:35] goanpeca commented on #1089
Hi @p-i- we are having some issues with some packages updates.

You should do:

`conda install anaconda-navigator pyqt=4.* qt=4.* -f`

[2016-09-22 13:44] Eric89GXL commented on #479
Fixed in https://github.com/scipy/scipy/pull/6074

[2016-09-22 13:44] #479 closed

[2016-09-22 13:44] Eric89GXL commented on #425
This should have been fixed by https://github.com/scipy/scipy/pull/6074, +1 for closing

[2016-09-22 13:49] Eric89GXL commented on #652
If anybody has time to outline roughly what needs to be changed to fix this sort of issue (files to change, etc.), I'm happy to take a stab at it

[2016-09-22 13:53] Eric89GXL commented on #695
@insertinterestingnamehere do you have time to test [this matrix] (https://staff.washington.edu/larsoner/bad_avx.npy) to see if it fails on your AVX hardware, like:
[code]
That could help bolster the case for Intel to take a closer look, since it is a failure that happens on more hardware.

[2016-09-22 14:23] p-i- commented on #1089
Ok, that produces:

I'm guessing the conflict is with my existing version of navigator I just installed.  But doing `conda uninstall anaconda-navigator` first doesn't change the error.

How to proceed?

(PS fwiw My eventual goal is to get an IPython Notebook running inside PyCharm, so that I can single step through Python code).

[2016-09-22 14:37] #1076 closed

[2016-09-22 14:37] #1078 closed

[2016-09-22 20:52] poplav commented on #1080
@mingwandroid:
Are you sure this was done correctly?
I am inspecting the `0.7` release is there, but it looks to be `0.6`.
[code]
Note how is says it was built with R `3.3.1`.
Previously I had R `3.2.2`
When I ran `conda install -c R r-irkernel=0.7` It showed packages were updated such as r-base which appears to have been, but the irkernel even though listed as `0.7` appears to be `0.6`.
Can you m

[2016-09-22 21:35] dwhswenson opened #1090 "SIP and Qt4 incompatibility when pinned to pyqt 4?"
(Context: all of my problems here are with test builds on Travis.)

I'm pinned to pyqt 4 because of https://github.com/ContinuumIO/anaconda-issues/issues/1068. Until a few hours ago, this was working fine, although it was using Qt 5.6.0 with pyqt 4.11.4, which seemed a little weird.

Apparently some requirements switched, perhaps in pyqt (which bumped from 4.11.4-py27_3 to 4.11.4-p27_4) and now I

[2016-09-22 21:50] ccordoba12 commented on #1090
Thanks for letting us know about it :-) We'll try to fix it right away

[2016-09-22 21:54] sbailey commented on #1090
Another data point: I've pinned to qt=4 and got qt=4.8.7 which was working until the same break today:

(working) => (broken)
  * qt 4.8.7 => qt 4.8.7
  * sip 4.18-py27_0 => 4.16.9-py27_0
  * pyqt 4.11.4-py27_4 => 4.11.4-py27_4

i.e. sip was the only thing that changed.

[2016-09-22 22:07] ccordoba12 commented on #1090
Yes, different pyqt 4 versions were compiled with different (and unfortunately incompatible) versions of sip.

We just need to correct that :-)

[2016-09-22 22:11] ccordoba12 commented on #1090
By the way, we're very sorry about these nasty and constants breakages guys. It's just that Qt and PyQt are very hard to manage :-)

[2016-09-22 22:30] MSeifert04 commented on #1090
Is there any way to fix this right now? I'm not able to upgrade sip/downgrade pyqt again and this makes my local python programs unstartable at the moment,

[2016-09-22 22:37] ccordoba12 commented on #1090
You can pin to pyqt 4.11.4 build 3

[2016-09-22 22:46] MSeifert04 commented on #1090
@ccordoba12 Thank you! `conda install pyqt=4.11.4=py35_6` worked well!

[2016-09-22 22:55] sbailey commented on #1090
`conda create -n qttest pyqt=4.11.4=py27_3` on osx is still giving me sip/4.16.9-py27_0 .  Is build 3 different for py27 vs. py35, or different for linux vs. osx?

[2016-09-22 22:57] ccordoba12 commented on #1090
Build 3 works correctly with sip 4.16

[2016-09-22 23:00] ccordoba12 commented on #1090
Or build 6 on Windows, as @MSeifert04 pointed out

[2016-09-22 23:06] mingwandroid commented on #1080
Seems I forgot to update the git ref, so yes this is 0.6.1 pretending to be
0.7. I didn't take enough care here. I will fix it when I get back from
vacation. If you need it before then, building it for yourself  is not too
difficult.

Here is my incomplete attempt for reference:
https://github.com/mingwandroid/conda-recipes/commit/bdcc60b18bbc0ef54c83004c7dc7cb7b6168ee9f

On Sep 22, 2016 10:52 PM,

[2016-09-22 23:29] poplav commented on #1080
@mingwandroid Thank you for confirming.
It can wait till you get back from vacation.  Please let me know/comment back on the issue when `0.7` is up.  Appreciate it!

[2016-09-23 06:54] birgander2 commented on #654
This bug seems to be still present in the current Anaconda!?

[2016-09-23 10:25] ccordoba12 commented on #1090
I submitted a PR to our internal repo with a fix for this. It should be available in a couple of hours :-)

[2016-09-23 12:49] MSeifert04 commented on #654
@birgander2 I don't know but there is currently some build problem regarding pyqt so maybe it will be resolved in a few hours. Could you tell us which pyqt, astropy, sip version you're using?

[2016-09-23 13:49] jakirkham commented on #307
We are trying to do this at [conda-forge]( http://conda-forge.github.io/ ) in PR ( https://github.com/conda-forge/sqlite-feedstock/pull/7 ), but it appears to be a real pain to make sure `readline` is picked up from the environment and not the system. Suggestions welcome.

[2016-09-23 14:04] csoja commented on #1090
This fix is live now.  Thanks @ccordoba12 @ilanschnell !
I am closing this issue, but please let us know if there is still an issue and we will reopen.

[2016-09-23 14:04] #1090 closed

[2016-09-23 14:10] Eric89GXL commented on #187
This issue recently resurfaced with our CI builds that have been stable for months. In the last ~24 hours they started giving this same error. Did something change with packaging at the `conda` end in terms of which Qt backend gets pulled in with `traits`, or was a package updated?

[2016-09-23 14:16] csoja commented on #187
@ccordoba12 @ilanschnell May be related to the qt/pyqt changes of late?

[2016-09-23 14:22] ilanschnell commented on #1088
Anaconda 4.2 is not released yet.  We are planning to release it next week.

[2016-09-23 15:29] pgdr opened #1091 "Module PyQt4.Qt is broken"
After running `conda install pyqt=4`, python2.7 reveals that (after running)
[code]
the module `PyQt4.Qt` is seemingly empty!

Indeed, running `PyQt4.Qt.SIGNAL(None)` gives
[code]

Which should look like this:
[code]

[2016-09-23 15:44] csoja commented on #1091
Thank you for reporting the issue.  Can you provide the results of _conda info_ as well?  It will help us to know which platform you are attempting this on.

[2016-09-23 16:30] sho-87 commented on #1088
and how about the difference between 2.3.0 and 4.1.1?

[2016-09-23 16:43] atabakd commented on #720
Seems to be only affecting python 3

[2016-09-23 17:03] csoja commented on #1088
The latest version right now is v4.1.1.
What happens when you _conda install anaconda=4.1.1_?
Can you copy the results here?
Also, can you copy in the results of what shows on the screen when you ran _conda update anaconda_ and got anaconda v2.3?

[2016-09-23 17:36] jjgalvez opened #1092 "jupyter does not exit properly on linux"
I suspect that because you are using qprocess to launch jupyter, the web deamon ends up a ghost process that does not exit when you close navigator. To correct this I modified the launch method in launch.py to open a terminal first. I know it's ugly but no more ghost processes.
I changed the code to:

[code]

This is an important bug as there is no indication that the jupyter process will remain a

[2016-09-23 17:39] pgdr commented on #1091
Thank you for the reply.

I have the the following from our Travis logs: https://s3.amazonaws.com/archive.travis-ci.org/jobs/162184217/log.txt

[code]

[2016-09-23 17:46] sho-87 commented on #1088
ok so I did a fresh install from the website and here are the steps I took and the output I get:

- Install Anaconda 4.1.1 (Python 2.7 64 bit) using the installer from the website

When I use command prompt to start Python I correctly see Python 2.7.12 and Anaconda 4.1.1. All of the start menu links work (e.g. Jupyter notebook). Navigator also seems to start correctly (#1086)

- `conda update cond

[2016-09-23 17:57] ft512835 commented on #1060
thank you

[2016-09-23 18:24] mcg1969 commented on #1088
I am almost certain I've seen the gevent-websocket problem before, and identified the correction. In fact I'm surprised it is coming up again. I will try and track down the documentation for the issue. The problem here is almost certainly a tight dependency pinning problem.

[2016-09-23 18:29] ccordoba12 commented on #1091
This should be working as expected now. Please try again.

[2016-09-23 18:34] csoja commented on #1088
Thank you for the additional details.  We have been able to reproduce the problem with a clean machine (Windows 8 64-bit Anaconda2 v4.1.1 installation) - and it is something we need to fix.  Our apologies you've run into this.

[2016-09-23 18:48] pgdr commented on #1091
Works like a charm!  Thanks a lot for the extremely quick fix!

This issue may be closed.

[2016-09-23 18:54] sho-87 commented on #1088
Can confirm the same thing is happening on my laptop (OSX El Capitan). One difference I noticed there is that after doing `conda update conda`, launching `python` from terminal shows an anaconda version of `Anaconda custom (x86_64)` instead of `4.1.1`

[2016-09-23 18:57] mcg1969 commented on #1088
Can we verify that this is limited to 4.2.x? If it's possible, @sho-87, can you repeat the steps you've taken, except: instead of `conda update conda`, do `conda install conda=4.1` instead, to make sure that the very latest version of conda 4.1 is installed, but not 4.2, before you do `conda update anaconda`.

[2016-09-23 19:09] sho-87 commented on #1088
ok so after fresh install I ran `conda install conda=4.1`:

[code]

Then running `conda update anaconda` shows no new packages to install so it seems like this is an issue with conda 4.2

[2016-09-23 19:10] mcg1969 commented on #1088
That's very helpful. Thank you very much for the help.

[2016-09-23 20:23] ccordoba12 commented on #1091
Great!

[2016-09-23 20:23] #1091 closed

[2016-09-23 20:28] sandhujasmine opened #1093 "Trouble mirroring anaconda-nb-extensions and wakari channels"
Attached is the error when client tried to mirror these channels:

[python errors.txt](https://github.com/ContinuumIO/anaconda-issues/files/490581/python.errors.txt)

Also posting relevant error below:
[code]

I'll post the `wakari.yaml` file as soon as I receive it.

[2016-09-24 00:51] sho-87 opened #1094 "Problem installing package without updating conda"
I have Anaconda 4.1.1 installed (Python 2.7.12 64bit on windows) and trying to install a couple of packages (`mingw` and `libpython`)

When I try to install them conda tries to also update itself to v4.2.7. I believe there might be some issues with 4.2.x right now (#1088) so I'm wondering how you can install a package without also having to update conda?

[2016-09-24 02:55] joonpark72 commented on #1065
When would it be safe to update using conda update --all?  I noticed it no longer calls for pyQt version 5.

[2016-09-24 03:52] insertinterestingnamehere commented on #695
Sorry, I sometimes miss github notifications. I need to unfollow some things. I currently only have to my ivy bridge machine. Thus far, the latest matrix comes up clean on Windows and virtualized Linux there. I'll try without virtualization as well.

[2016-09-24 03:57] insertinterestingnamehere commented on #686
libgcc 5.2 is backwards compatible with binaries built with gcc 4.8. Using the newer version should work. That aside, pulling libgfortran out in a new build seems wrong to me. I'm not sure on what the rationale could have been for that.

[2016-09-24 06:16] ccordoba12 commented on #1065
In a week, after Anaconda 4.2 is released, but it's better to just run `conda update anaconda`

[2016-09-24 06:16] #1065 closed

[2016-09-24 06:59] ccordoba12 commented on #187
It could. @moorepants, could you try again? It should be fixed now :-)

[2016-09-24 13:40] olaurino commented on #686
Thanks @insertinterestingnamehere.

Whatever the rationale, I was rather surprised by the fact that such a big change was introduced in a build number increase. Should I start pinning down dependencies at the build number level?

[2016-09-24 15:23] acy925 opened #1095 "Can't open anaconda-navigator..."
I installed navigator corretly, but I can't open it. The problem is:" from qtpy.QtCore import QT_VERSION_STR, QObject, QThread, QTimer, Signal."////////////ImportError: cannot import name QT_VERSION_STR/////// And my PyQt4 is the latest Version. Maybe there's something wrong with sip in PyQt4, because I installed py2.7 and py 3.5 together. Could anyone offer some help? Thank you very much!!!

[2016-09-24 16:42] mcg1969 commented on #1088
@ilanschnell @csoja @kalefranz I haven't found the problem with 4.2.x yet; I'm still studying 4.1.x's behavior. But I have something that I think is somewhat important.

Notice above that sho-87 remarked that updating `conda` to 4.2.x required switching the Anaconda package to `anaconda-custom`. This should not be happening---we should be able to upgrade and downgrade `conda` without affecting `an

[2016-09-24 16:47] mcg1969 commented on #1088
@csoja @ilanschnell @kalefranz Actually, this may be _exactly_ what the problem is: _conda 4.2 is incompatible with anaconda 4.1_. After all, `anaconda 4.1' requires `ruamel_yaml 0.11.7`, while `conda 4.2` requires `ruamel_yaml 0.11.14` or later. They cannot be installed in the same environment.

[2016-09-24 16:51] mcg1969 commented on #1088
This investigation has highlighted the urgency of my solver/hint fix. The `gevent-websocket` hint is completely useless. Basically, it should have said that `conda 4.2` and `anaconda 4.1` conflict; and ideally, it would have pointed to their common `ruamel_yaml` dependency as the cause.

[2016-09-24 17:00] mcg1969 commented on #1094
`conda install <package> conda<4.2`

[2016-09-24 17:02] mcg1969 commented on #1094
Also, you can do this: `conda config --set auto_update_conda false`. That will prevent `conda` from trying to update itself when you install new packages.

[2016-09-24 18:19] rtrhd commented on #1095
I had the same issue with just the python 3.5 anaconda on macos X having applied recent updates. It looked to be an issue with `qtpy`, the current version of which seems to export `QT_VERSION_STRING` as  `__version__`  instead.  In `anaconda_navigator/utils/analytics.py` I tried changing
[code]
to
[code]
and then where `QT_VERSION_STRING` is used:
[code]
to
[code]
and that seemed to fix the proble

[2016-09-24 18:34] #1094 closed

[2016-09-24 21:04] ryan413 commented on #1095
i had same issue and got same message, fixed by reinstalling although didn't see this thread until after doing so

[2016-09-24 21:21] prithvikg commented on #732
Did some research and found out it was because my path variable was too long. Windows apparently has a limit of 1024 for path length. so i cleared some variables and reinstalled and it seemed to work fine

[2016-09-25 10:35] ravindraprasad75 commented on #1095
I had the same problem in mac. rtrhd's solution works!!!. Thank you

[2016-09-25 13:00] acy925 commented on #1095
It really works!!! Thank you!!!

[2016-09-25 16:36] npadus commented on #1095
You are the best thx

[2016-09-25 21:06] usakg commented on #1077
+1 the same issue that I have on windows

[2016-09-25 21:19] ilanschnell commented on #1088
Fantastic!  Thanks for figuring this out @mcg1969!  I will make a hotfix to remove `yuamel_yaml` as an Anaconda dependency for all packages on repo.continuum.io`, and also ensure that the new Anaconda 4.2 installers that we are working on will reflect this change.

[2016-09-26 00:59] luishang commented on #732
Same problem here. 'addpath' and 'mkdirs' worked well, but mkmenus, didn't. I'm also running in cmd as an administrator and the length of my path is shot: c:\Anaconda

[2016-09-26 01:00] vmuriart commented on #749
Just got mine to work after adding the condarc file.

@goanpeca Why are both the environment variables and `.condarc` needed for the proxy. I would think that the presence of the environment variables would mitigate needing the `.condarc` file.

[2016-09-26 01:30] pgkirsch opened #1096 "Python crashes when using the conda/omnia installation of cvxopt on Windows 10 with the LDL KKT solver"
Note: I originally opened an [issue](https://github.com/cvxopt/cvxopt/issues/71#issuecomment-249209581) on the cvxopt developers' github page but they were unable to reproduce the problem, so wondering if it is potentially an issue with the anaconda/omnia binaries rather than a cvxopt bug.

Using Anaconda 4.1.1, Python 2.7.12 and the conda/omnia installation of cvxopt 1.1.8 on Windows 10.

Trying

[2016-09-26 01:43] ilanschnell commented on #1088
I have just removed the `ruamel_yaml` dependency from all Anaconda meta-packages on `repo.continuum.io`.

[2016-09-26 03:33] goanpeca commented on #749
@vmuriart conda uses both env variables and condarc settings, whereas anaconda-client only uses environment variables. Due to this mismatch between those two libraries (whcih Navigator depends on) is why we see this behavior.

[2016-09-26 03:40] vmuriart commented on #749
Based on that though, if I have my environment variables set correctly, then it should work and I shouldn't need to have a `.condarc` file at all.

This wasn't the case though. The environment variables alone weren't enough for the proxy to fully work, I had to duplicate the environment variable data in the `.condarc` file as well.

It's not a big deal, just something that caught me off-guard. I'v

[2016-09-26 08:16] arvindpdmn commented on #749
Can someone explain "You have to set condarc configuration plus the ENV variables (that requests library uses)"? Exactly what do I need to do?

For me it takes many minutes, not just 2! My net connection is slow. Why does navigator use internet when starting up? Can I disable this?

[2016-09-26 11:05] birgander2 commented on #654
pyqt = 4.10.4 py34_1 (this one works, I had problems with 4.11.4 py34_7). Astropy = 1.2.1, sip=4.18.

[2016-09-26 11:53] ccordoba12 commented on #654
@birgander2, could you post some code that's giving you troubles?

[2016-09-26 11:57] birgander2 commented on #654
Oh, exactly the above one for example!

[2016-09-26 12:00] ccordoba12 commented on #654
From @astrofrog?

[2016-09-26 12:17] xueyaodeai commented on #1095
➜
[code]
➜  anaconda-navigator
[code]
**the new version qtpy delete the attribute 'QT_VERSION_STR'**
https://github.com/spyder-ide/qtpy/pull/47/commits/473ea77a54e0b85403ceb00cfd78bb540cd8e2e3

[2016-09-26 13:08] birgander2 commented on #654
yes

[2016-09-26 13:28] Eric89GXL commented on #187
It looks like our CI builds are passing again, thanks!

[2016-09-26 14:32] csoja commented on #1088
I confirmed that I can now do
1) install anaconda 4.1.1
2) conda update conda
3) conda update anaconda

And I remain on the latest version of Anaconda v4.1.1.

Thanks @sho-87 for your help in reporting and debugging this issue!

Closing this issue.

[2016-09-26 14:32] #1088 closed

[2016-09-26 14:33] yz6028693 opened #1097 "Navigator Error"
The following errors occured:

AttributeError:
'NoneType' object has no attribute 'startswith'

{'language': 'en_US', 'python': '3.5.2', 'platform': 'win-64', 'conda': '4.1.6', 'os': 'Windows;7;6.1.7601;AMD64;Intel64 Family 6 Model 63 Stepping 2, GenuineIntel', 'version': '1.2.1', 'pyqt': '4.11.4', 'qt': '4.8.7'}

[2016-09-26 14:34] goanpeca commented on #1095
This will be fixed in the new version of navigator coming in 3 days. in the meantime you can downgrade qtpy

`conda install qtpy=1.0.*`

[2016-09-26 14:35] goanpeca commented on #1097
@yz6028693 what were you trying to do?

[2016-09-26 15:14] yz6028693 commented on #1097
@goanpeca Thank you, I am trying to install mingw libpython package into my anaconda. It give me the same error message whether I using anaconda itself to install or type  'conda install mingw libpython' in command line to install.

[2016-09-26 15:16] goanpeca commented on #1097
what error are you getting if you run it in the console?, can you paste it?

[2016-09-26 15:18] yz6028693 commented on #1097
Sure. Here it is:

(C:\Users\usrzyu\AppData\Local\Continuum\Anaconda2) C:\Users\usrzyu>conda instal
l mingw libpython
Fetching package metadata ...An unexpected error has occurred, please consider s
ending the
following traceback to the conda GitHub issue tracker at:

    https://github.com/conda/conda/issues

Include the output of the command 'conda info' in your report.

Traceback (most recent c

[2016-09-26 15:21] yz6028693 commented on #1097
@goanpeca Both Anaconda2 and Anaconda3 have this problem on my computer...

[2016-09-26 15:24] yz6028693 commented on #1097
@goanpeca And the same error will happen even I type 'conda update conda' in console to update it.

[2016-09-26 15:26] goanpeca commented on #1097
@kalefranz ?

[2016-09-26 15:46] jskDr commented on #698
I got also the following error:
python: symbol lookup error: /home/username/anaconda2/lib/libmkl_core.so: undefined symbol: mkl_blas_dtrsm

[2016-09-26 16:47] jskDr commented on #698
I finally solved this problem using two steps for my deep learning applications with Keras/Theano. Notice that I am using Ubuntu 14.04.

First, I removed mkl with the following two commands.
$ [sudo] conda install nomkl numpy scipy scikit-learn numexpr
$ [sudo] conda remove mkl mkl-service

Although mkl is removed from my anaconda python 3, LinearRegression fit in skearn still makes error related

[2016-09-26 17:00] cchacons commented on #223
Anyone know if this issue has been fixed? it's been more than a year.

Thanks,
Carlos

[2016-09-26 17:53] hollisn commented on #737
Just got the same error on OSX 10.11.6

Error: spawn ENOENT
    at exports._errnoException (util.js:742:11)
    at Process.ChildProcess._handle.onexit (child_process.js:1027:32)
    at child_process.js:1110:20
    at process._tickCallback (node.js:279:11)

[2016-09-26 18:46] jmfranck opened #1098 "Local package install fails when installed to "C:\Program Files\Anaconda2""
I successfully installed to "C:\Program Files\Anaconda2" (due to local security restrictions).

However, when attempting to build extensions (`setuptools`, using `python setup.py develop`), it fails once it attempts to invoke gcc, with the message:

(I have installed this same package successfully on a computer where Anaconda is installed to `C:\Anaconda`)

As in issue #248 , this seems to be due

[2016-09-26 21:01] kalefranz commented on #984
This should now be resolved with a metadata change on repo.continuum.io.

CC @csoja

[2016-09-26 21:01] #984 closed

[2016-09-26 21:02] kalefranz commented on #1077
resolved with https://github.com/conda/conda/pull/3522

[2016-09-26 21:02] #1077 closed

[2016-09-26 21:02] kalefranz commented on #1097
resolved with https://github.com/conda/conda/pull/3523

[2016-09-26 21:02] #1097 closed

[2016-09-26 21:09] goanpeca commented on #1097
:+1:

[2016-09-26 22:11] zhiruiwang opened #1099 "anaconda-navigator can't be launched"
I recently update my qt and qtpy(and maybe other packages) to the latest version, however after that my anaconda-navigator can't be launched. I wonder is that the dependency of anaconda-navigator that cause the problem? Could you tell me which version of qt and qtpy or any other pachages should I downgrade to? My anaconda-navigator version is 1.2.3.

[2016-09-27 03:24] koustav19 opened #1100 "Navigator icon is missing from start menu"
Updated navigator from version 1.2.1 to 1.2.3. After that the Anaconda Navigator icon is missing from Windows 10 start menu.

[2016-09-27 03:26] koustav19 commented on #1100
![image](https://cloud.githubusercontent.com/assets/22253442/18859261/287318c2-8490-11e6-9a50-c392d0172c6a.png)

[2016-09-27 04:56] MichelleKaz commented on #742
I also have the same issue. As today is Sep 27th, what do I need to do to make this update effective on my laptop. Thanks.

[2016-09-27 05:40] Asilve00 opened #1101 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator -> pyqt 4.*
  - anaconda-navigator -> python 2.7*|3.4*
  - matplotlib ==1.5.3
Use "conda info <package>" to see the dependencies for each package.

{'pyqt': '4.11.4', 'os': 'Darwin;15.6.0;Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248

[2016-09-27 05:50] angy50 commented on #296
Hi I am getting same error that python.exe has stopped working and gives two options; 1. close program 2. debug program.
When I choose close program, it continuously keep on printing following message in ipython console of spyder:
It seems the kernel died unexpectedly. Use 'Restart kernel' to continue using this console.
There is no problem with spyder working since other codes are getting execute

[2016-09-27 07:24] ccordoba12 commented on #742
`conda update qt pyqt`

[2016-09-27 07:26] ccordoba12 commented on #296
@angy50, this should be fixed in Spyder 3.0. Please update to it with

    conda update spyder

[2016-09-27 08:12] MichelleKaz commented on #742
Thank you for the update. Where do I run this command? I am using Windows laptop. Sorry I am a new user.

[2016-09-27 08:17] ccordoba12 commented on #742
In a Windows command prompt or terminal (i.e. `cmd.exe`)

[2016-09-27 08:40] eduardodisanti opened #1102 "Anaconda 3 Navigator error"
Error: spawn ENOENT
    at exports._errnoException (util.js:742:11)
    at Process.ChildProcess._handle.onexit (child_process.js:1027:32)
    at child_process.js:1110:20
    at process._tickCallback (node.js:279:11)

[2016-09-27 08:41] eduardodisanti commented on #1102
./launcher
[13285:0927/103934:INFO:CONSOLE(33)] ""Analytics is disabled"", source: file:///home/disaned/anaconda3/node-webkit/launcher/index.html (33)
[13285:0927/103934:WARNING:simple_index_file.cc(337)] Could not map Simple Index file.
[13285:0927/103934:INFO:CONSOLE(1)] ""ready"", source: file:///home/disaned/anaconda3/node-webkit/launcher/static/application.js (1)
[13285:0927/103934:INFO:CONSO

[2016-09-27 08:42] MichelleKaz commented on #742
I have run this in windows command prompt - 100% completed. However font size is still tiny when I open Anaconda navigator. I have restarted the laptop too. Please help.

[2016-09-27 09:05] ccordoba12 commented on #742
Maybe you also need to update Navigator:

    conda update anaconda-navigator

@goanpeca can help you further :-)

[2016-09-27 10:06] angy50 commented on #296
I got the problem why it was so.... it was my code problem...thank u

[2016-09-27 12:58] timestocome commented on #742
No luck

I ran all the current Windows OS updates. Then I updated qt/pyqt and anaconda-navigator, and I tried restarting the Surface but the fonts are still microscopic

It's nbd, I pretty much just work from a cli, but your gui looked interesting and I thought I'd give it a try.

The menu bar font is readable, but nothing inside of the gui is, perhaps there's a different font inside that's hardco

[2016-09-27 12:58] akshaybabloo opened #1103 "Anaconda upgrade error"
Hi,

I was able to update `conda`, but when I tried to update `anaconda`, I get some unknown error.

Here is the full stack

[code]

**Update:**

It seems to be working if I remove `lib/qt4` folder.

[2016-09-27 14:14] goanpeca commented on #1099
Hi @zhiruiwang you need to downrgarde qtpy to 1.0 version while we release a fix for it in a couple of days.

You can go to the command prompt and type

`conda install qtpy=1.0` and then naviagator should work. Also just to be sure can you go to the command line and launch Navigator from there to see if we get any error trace?

`anaconda-navigator`

[2016-09-27 14:16] goanpeca commented on #1089
@p-i- while the new anaconda distribution is released in a couple of days you can do the following.

Go to the command line and type

`conda install anaconda-navigator pyqt=4.* qt=4.* qtpy=1.0`

Please let me know if this works for you

[2016-09-27 14:16] goanpeca commented on #1073
@kalefranz ?

[2016-09-27 14:17] goanpeca commented on #1100
@koustav19 thanks for reporting

----

@ilanschnell is this fixed for the new release?

[2016-09-27 14:20] jgmorrison opened #1104 "Check that bzip2 is installed"
Anaconda does not check if bzip2 is installed on Linux systems during installation and results in an error during the Anaconda installation:

    tar (child): bzip2: Cannot exec: No such file or directory
    tar (child): Error is not recoverable: exiting now
    tar: Child returned status 2
    tar: Error is not recoverable: exiting now

Some versions of Centos7/RHEL 7 do not have bzip2 by defaul

[2016-09-27 14:28] goanpeca commented on #742
Hi @timestocome can we try something?

if you go to the command prompt and type

[code]

What do you get?

[2016-09-27 14:32] goanpeca commented on #1101
Hi @Asilve00  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-27 14:32] #1101 closed

[2016-09-27 14:43] snimmagadda1 commented on #211
Has there been any fix? Same issue Here

[2016-09-27 14:49] kalefranz commented on #1103
root cause is identical to https://github.com/conda/conda/issues/3494

[2016-09-27 14:51] goanpeca commented on #1102
You dont seem to be using Navigator, but the old and now deprecated launcher.

To install navigator you need to go to the command prompt and type

`conda install anaconda-navigator qtpy=1.0 qt=4.* pyqt=4.*` The command will be only

`conda install anaconda-navigator` when we release some fixes into our dependencies

Cheers

[2016-09-27 14:51] #1102 closed

[2016-09-27 14:51] #1095 closed

[2016-09-27 15:18] koustav19 commented on #1100
I can open anaconda Navigator by command 'anaconda-navigator' but showing errors on cmd.

[2016-09-27 15:22] goanpeca commented on #1100
Can you paste the errors?

[2016-09-27 15:32] koustav19 commented on #1100
Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

C:\Users\XXX>anaconda-navigator
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
Traceback (most recent call last):
  File "C:\Users\XXX\Anaconda3\lib\site-packages\anaconda_navigator\widgets\tabs\community.py", line 418, in convert_image
    extension =

[2016-09-27 15:32] timestocome commented on #742
Same thing, top title bar looks good ( Windows OS may set this font )
Everything inside the Anaconda window is too tiny to read.

[2016-09-27 15:34] timestocome commented on #742
Getting a warning
libpng warning: iCCP: known inoccors sRGB profile

[2016-09-27 15:41] goanpeca commented on #742
The warning is harmless

Everything inside the Anaconda window is too tiny to read.

Thats too bad, we had tested this with win10 on a high res screen this was solving the problem on that machine :-|, will need to investigate further.

[2016-09-27 15:43] goanpeca commented on #1100
Yikes!, this is fixed i the next release coming tomorrow, can you try tomorrow :-), sorry for the trouble

[2016-09-27 15:44] koustav19 commented on #1100
Thank you very much for the help.

[2016-09-27 15:47] kalefranz commented on #1103
@akshaybabloo Can you please provide the output of `conda info`?

[2016-09-27 16:13] timestocome commented on #742
no problem, ping me if you need me to test anything

[2016-09-27 16:13] kalefranz opened #1105 "Package dependencies not resolved correctly"
_From @ikalev on September 23, 2016 9:31_

``pyqt=4.11.4``'s dependencies resolve to ``sip=4.16.9``:

[code]

However, this version of ``sip`` is incompatible with ``pyqt=4.11.4`` (which breaks ``matplotlib``). I was about to report this in the PyQT bug tracker when I suddenly discovered that the ``pyqt`` package properly requires ``sip=4.18``:

 - download https://repo.continuum.io/pkgs/free/win-

[2016-09-27 16:13] kalefranz commented on #1105
_From @murison on September 23, 2016 16:29_

Same error for me (Ubuntu 15.10). Now matplotlib is BROKEN and unusable. After a 'conda update --all', I have

\# packages in environment at /scr/bin/anaconda3:
\#
ipython                   5.1.0                    py35_0
python                    3.5.2                         0
matplotlib                1.5.1               np111py35_0
pyqt

[2016-09-27 16:13] kalefranz commented on #1105
_From @murison on September 26, 2016 19:35_

Someone seems to have fixed the erroneous SIP dependence. I did an update and now SIP 4.18 (the correct one) is installed.

[2016-09-27 16:14] goanpeca commented on #742
Thanks :+1:, will get back to you

[2016-09-27 16:16] kalefranz commented on #1073
http://conda.anaconda.org isn't a valid channel.  So the only packages that will be picked up are those in http://conda.anaconda.org/gurobi

[2016-09-27 16:16] #1073 closed

[2016-09-27 16:16] goanpeca commented on #1073
Thanks, I missed the lack of channel!

[2016-09-27 16:18] ilanschnell commented on #1104
The error message already tells the user that `bzip2` is not installed (although maybe not perfect).  Closing issue.

[2016-09-27 16:18] #1104 closed

[2016-09-27 16:49] slink commented on #1103
@kalefranz In case it helps, here is the output of `conda info` from my machine. I am experiencing the same error after running `conda update --all`

    Linking packages ...
    CondaOSError: OS error: failed to link (src=u'/Users/slink/anaconda/pkgs/qt-4.8.7-4/mkspecs/default', dst='/Users/slink/anaconda/mkspecs/default', type=3, error=OSError(17, 'File exists'))

    $ conda info
    Current co

[2016-09-27 17:56] roxbarrett commented on #742
[code]
fixed the issue for me! Thank you! Let me know if you want any info to help you guys further troubleshoot.

[2016-09-27 17:58] csoja commented on #1105
Based on the last comment, the SIP dependence is correct.  Closing this issue.

[2016-09-27 17:58] #1105 closed

[2016-09-27 18:00] ilanschnell commented on #1098
This sounds like an (upstream) setuptools issue.  Have you tried updating setuptools, using:
[code]
?

[2016-09-27 18:06] goanpeca opened #1106 "Conda prints stuff in stdout even with --json flag on"
Conda commands with the `--json` should not print to the console anything unless it is proper json, otherwise assumptions made by parsing clients (Navigator) break.

Something like

`conda env create -n qatest -f environment.yaml --json`

prints to the standard output

[code]

[2016-09-27 18:44] ccordoba12 commented on #1105
Yep, this was fixed by me last Saturday.

[2016-09-27 19:09] brylie opened #1107 "anaconda-navigator blocking Qt 5.x installation"
I am trying to install Spyder 3.0, which was recently released. However, when trying to upgrade Qt to 5.x, I get the following message:

UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator -> pyqt 4.*
  - qt 5.*

How can I upgrade Qt to 5.x, while anaconda-navigator is installed?

[2016-09-27 19:12] ccordoba12 commented on #1107
I think you need to update Navigator before trying to update to Qt5

[2016-09-27 19:14] brylie commented on #1107
After I uninstall anaconda-navigator and upgrade Spyder, I tried to re-install anaconda-navigator. However, it seems to want to downgrade several packages, including Qt and Spyder:

[2016-09-27 19:24] goanpeca commented on #1107
@brylie this is correct as only the new version of navigator works with Qt5. The new packages will be live tomorrow, please try again then when all these issues will be resolved.

Sorry for the inconveniences.

[2016-09-27 19:24] brylie commented on #1107
Thanks @goanpeca. No worries. I will try again soon :smiley:

[2016-09-27 19:52] goanpeca commented on #1107
@brylie we pushed the 1.3.1 release of Navigator now, can you try again

[2016-09-27 21:56] sandhujasmine commented on #1093
The client got further along. Here's the .condarc file:
[code]

There's still an error when mirroring `wakari`. See below:
[code]

Here's the full file of errors [anaconda-wakari-errors.txt](https://github.com/ContinuumIO/anaconda-issues/files/496728/anaconda-wakari-errors.txt)

[2016-09-27 22:35] akshaybabloo commented on #1103
It's:

[code]

[2016-09-27 23:53] MichelleKaz commented on #742
set QT_AUTO_SCREEN_SCALE_FACTOR=1
anaconda-navigator

has worked for me too. Thank you.

[2016-09-27 23:56] MichelleKaz commented on #742
I also get the same warning message
libpng warning: iCCP: known incorrect sRGB profile

[2016-09-28 00:45] xzstanford opened #1108 "Navigator Error"
Application action error

/Users/username/anaconda/bin/python /Users/xzhang/anaconda/bin/conda install --yes --json --force-pscheck --prefix /Users/xzhang/anaconda spyder=3.0.0: The following specifications were found to be in conflict:
  - pyqtgraph -> pyqt 4.*
  - pyqtgraph -> python 2.7*|3.4*
  - spyder 3.0.0*
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Darwin;

[2016-09-28 02:16] martinpsz opened #1109 "Issues with linking of QT package on Mac OS 10.12.1"
This is the error message I am receiving:

<img width="567" alt="screen shot 2016-09-27 at 7 14 28 pm" src="https://cloud.githubusercontent.com/assets/8620006/18898469/a9f77720-84e6-11e6-9030-067a8aed4302.png">

I have attempted to download the packages directly from anaconda's site and placing the files into my directory of packages. This does not resolve the linking issue. Any ideas on how I can

[2016-09-28 02:21] freyreeste commented on #1100
I received an major update for Windows 10, after which I cannot find Condas' icons except for Anaconda Prompt.

I can manage to run the Anaconda Cloud though with the comand anaconda-navigator. However, there appears an error message saying: libpng warning: iccp : known incorrect sRGB profile.

Please advice

[2016-09-28 03:14] mikerushford opened #1110 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - enum34 -> python 2.6*|2.7*|3.3*
  - pickleshare ==0.7.4
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'win-32', 'version': '1.2.2', 'conda': u'4.2.7', 'qt': '4.8.7', 'language': 'en_US', 'python': '2.7.12', 'os': 'Windows;Vista;6.0.6002;x86;x8

[2016-09-28 03:15] mikerushford commented on #1110
fyi

[2016-09-28 03:38] mikerushford opened #1111 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - enum34 -> python 2.6*|2.7*|3.3*
  - python ==3.5.2
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'win-32', 'version': '1.2.2', 'conda': u'4.2.7', 'qt': '4.8.7', 'language': 'en_US', 'python': '2.7.12', 'os': 'Windows;Vista;6.0.6002;x86;x86 Fam

[2016-09-28 03:38] mikerushford commented on #1111
FYI

[2016-09-28 04:13] freyreeste opened #1112 "Launching Spider Failure"
I cannot launch Spider from the Anaconda Navigator. The prompt is opened and ends up closing without running the application.

[2016-09-28 04:14] koustav19 commented on #1100
Thank you, problem has been solved.

[2016-09-28 04:58] smithsp commented on #698
Following the instructions of @jskDr worked for me.
Thanks @jskDr . 👍

[2016-09-28 04:58] freyreeste commented on #1112
Solved now. I'm sorry for any inconvenience.

[2016-09-28 05:13] koustav19 commented on #1100
Now navigator is crashing...
![image](https://cloud.githubusercontent.com/assets/22253442/18901331/b75ab37e-8567-11e6-996b-c220dcedca2b.png)

[2016-09-28 07:32] bkreider commented on #1093
Does it happen at random files or at the same file each time?

[2016-09-28 08:01] ccordoba12 commented on #1112
Ok, thanks for letting us know about it :-)

[2016-09-28 08:01] #1112 closed

[2016-09-28 08:02] ccordoba12 commented on #1109
Any ideas about this @mingwandroid?

[2016-09-28 08:28] mingwandroid commented on #1109
@martinspz, please show everything you did to get into this situation, going from not having `anaconda` installed at all to encountering this problem so that I can try to reproduce it, because my naive attempt: `conda create -n qt4test anaconda-navigator=1.2.3` worked fine.

From the information you've given, it looks to me as though you've created an environment which is named, literally, `//anac

[2016-09-28 13:26] csoja commented on #1105
Thanks @ccordoba12 !

[2016-09-28 14:15] goanpeca commented on #742
the warning is harmless it is not a problem

[2016-09-28 14:36] goanpeca commented on #1110
Hi @mikerushford what were you trying to do. Seems like you are trying to install a package that conflicts with something that you already have installed.

Do you have the latests versions 1.3.1 of Anaconda Navigator?

[2016-09-28 14:55] csoja commented on #1106
Is this fixed with conda 4.2.9?

[2016-09-28 14:56] goanpeca commented on #1106
Yep closing :-)

[2016-09-28 14:56] #1106 closed

[2016-09-28 15:13] martinpsz commented on #1109
First, my environment ‘//anaconda’, while probably a bad set up, has not posed issues in the past. I have had that setup for a while now.

Second, I typically update packages by opening Terminal on Mac, typing in “conda update —all”. This results, typically, in an output that tells me the packages that need updating and it asks if i want to update them. This procedure, has historically at least, w

[2016-09-28 15:15] #1093 closed

[2016-09-28 15:15] csoja commented on #1093
Issue moved to [ContinuumIO/cas-mirror #11](https://github.com/ContinuumIO/cas-mirror/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-28 15:29] mingwandroid commented on #1109
For me to help I need to reproduce the issue, can you provide the details I asked for previously so that I can try to do that?

[2016-09-28 15:33] martinpsz commented on #1109
Ray,

I appreciate your willingness to help.

It has been a long while since I set up Anaconda on my desktop. I downloaded the Anaconda software from the site and went through the usual installation procedure. I don’t recall if I did anything unusually that, many months later, would be lead to the issue I am having.

Perhaps I will just uninstall, reinstall and set it up such that the directory is

[2016-09-28 15:36] mingwandroid commented on #1109
Yeah, that sounds sensible.

Out of interest, did you install from the GUI installer or using the shell script?

[2016-09-28 15:39] martinpsz commented on #1109
GUI installer.

Updating using shell script.

On Sep 28, 2016 8:36 AM, "Ray Donnelly" <notifications@github.com> wrote:

[2016-09-28 15:43] michaelaye commented on #1068
Just as an addition, this is not only happening for anaconda, but a simple update in my conda environment created this issue as well.

[2016-09-28 16:01] goanpeca commented on #1108
Hi @xzstanford the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-28 16:01] #1108 closed

[2016-09-28 16:01] goanpeca commented on #1110
The packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-28 16:01] #1110 closed

[2016-09-28 16:01] goanpeca commented on #1111
The packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-28 16:01] #1111 closed

[2016-09-28 16:07] ccordoba12 commented on #1068
This should be fixed now. @astrofrog, could you confirm it?

[2016-09-28 16:16] michaelaye commented on #1068
by what version of files? I did the update today and got this issue.

[2016-09-28 16:21] jorisvandenbossche commented on #1068
Just did a fresh test of `conda create -n test-mpl python=3.5 matplotlib -c defaults`, still get the error

[2016-09-28 16:46] brylie commented on #1107
It works! Cool :sunglasses:

[2016-09-28 16:47] brylie opened #1113 "Error when installing Orange via anaconda-navigator"
When trying to install Orange from the anaconda-navigator, I get the following error:

[code]

[2016-09-28 16:48] brylie commented on #1113
Note, this may be a remnant of issues I was experiencing managing versions of Qt (related #1107).

[2016-09-28 16:50] brylie commented on #1113
I tried `rm -rf ~/anaconda3/pkgs/qt-4.*`, but got the same error.

[2016-09-28 16:52] goanpeca commented on #1107
:+1:

[2016-09-28 16:52] #1107 closed

[2016-09-28 17:00] tacaswell commented on #1068
I am also not convinced that having a hard dependency on qt5 in the right solution.  This is going to conflict badly with anyone who is embedding matplotlib in a qt4 app and is directly import pyqt4 rather than going through some sort of compatibility library.

[2016-09-28 17:06] ccordoba12 commented on #1068
@tacaswell, what do you propose instead?

[2016-09-28 17:19] tacaswell commented on #1068
Probably something in the install script of pyqt and/or mpl that sets default when the system knows which version of qt is installed.

[2016-09-28 17:20] tacaswell commented on #1068
or provide a build with each version and let the resolver sort it out?

[2016-09-28 17:25] brylie commented on #1113
I opened a [support request on the Orange 3 issue tracker](https://github.com/biolab/orange3/issues/1613). It is unclear to me where the problem is, so I am following up on both project trackers.

[2016-09-28 17:33] csoja commented on #1113
@brylie thank you for submitting the issue.  We do not have a Qt 5.x compatible version of Orange2 or Orange3.  As a result, Orange is incompatible with the latest version of Navigator and Spyder.  You can create a new environment just for Orange - that does not have the latest Navigator or Spyder in it, and that should continue to work fine for you.  Do you see this same error when you install Or

[2016-09-28 17:54] astrofrog commented on #1068
Is there any reason the Matplotlib build even needs to require PyQt as a dependency? I often get frustrated that the whole of Qt gets installed when I really just want to use the Agg backend. Can't we decouple Matplotlib from PyQt, and just rely on the normal default Matplotlib behavior?

[2016-09-28 18:25] xzstanford opened #1114 "Navigator Error"
Application action error

/Users/username/anaconda/bin/python /Users/xzhang/anaconda/bin/conda install --yes --json --force-pscheck --prefix /Users/xzhang/anaconda spyder=3.0.0: UnsatisfiableError: The following specifications were found to be in conflict:
  - pyqtgraph -> pyqt 4.*
  - pyqtgraph -> python 2.7*|3.4*
  - spyder 3.0.0*
Use "conda info <package>" to see the dependencies for each packa

[2016-09-28 18:31] goanpeca commented on #1114
Hi @xzstanford the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-09-28 21:13] ilanschnell commented on #1086
Today, Anaconda 4.2.0 was released, which should fix this issue.

[2016-09-28 21:14] ilanschnell commented on #1056
Thanks!  We updated Quandl to 3.0.1 about a week ago.

[2016-09-28 21:14] #1056 closed

[2016-09-28 22:08] sratel opened #1115 "Navigator Error"
Anaconda Navigator Update error:

/Users/ratels/anaconda/bin/python /Users/ratels/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
Use "conda info <package>" to see the dependencies for each package.

{'language': 'en', 'os': 'Darwin;16.0.0;Darwi

[2016-09-28 22:10] #1086 closed

[2016-09-28 22:11] goanpeca commented on #1115
Could you update navigator on the command line

`conda update anaconda-navigator`

[2016-09-29 00:06] xzstanford commented on #1114
Hi, thanks.
Have use conda update anaconda-navigator to updated version of navigator.

However, it still in conflict.
Thanks.

/Users/x/anaconda/bin/python /Users/x/anaconda/bin/conda install --yes
--json --force-pscheck --prefix /Users/x/anaconda spyder=3.0.0:
UnsatisfiableError: The following specifications were found to be in
conflict:
- spyder 3.0.0*
Use "conda info " to see the dependencies f

[2016-09-29 00:40] cactiball commented on #394
@rkmaddox thank you so much! Why is this happening though? Shouldn't it be OK if one is strictly following the anaconda installing steps?

[2016-09-29 03:45] joonpark72 opened #1116 "Anaconda navigator won't start with new Anaconda 4.2"
Well, first of all, thank you for keeping things up-to-date.
This morning, I did a clean install of anaconda 4.2, mainly because conda update anaconda seem to make my shortcuts disappear...  Anyways, with this installation anaconda-navigator doesn't work.  I also tried to launch it from the command prompt and got the following error:
`(C:\Users\Joonho\Anaconda3) C:\Users\Joonho>anaconda-navigator

[2016-09-29 04:50] freyreeste opened #1117 "Installing R Essentials troubles"
Enclosed is a print screen of a couple of issues found when installing r essentials. Please advice.
[R essentials issue.pdf](https://github.com/ContinuumIO/anaconda-issues/files/499806/R.essentials.issue.pdf)

[2016-09-29 04:53] mingwandroid commented on #1117
Have you run out of disk space?

[2016-09-29 05:14] freyreeste commented on #1117
No at all.. I had created an enviroment python2.7 in Anaconda 3. May be that the cause of the issue?

[2016-09-29 05:28] freyreeste commented on #1117
I deleted the python2.7 enviroment and try again installing R essentials. Enclosed is the new result shown. In case you cannot read spanish the errror says that "mingw-w64\p11-kit.exe is not recognized as an internal nor external command or file to be executed in lots/batches.
[R essentials installation Second try.pdf](https://github.com/ContinuumIO/anaconda-issues/files/499847/R.essentials.instal

[2016-09-29 05:30] freyreeste commented on #1117
the second message says that "the system cannot find the path specified"

[2016-09-29 05:32] freyreeste commented on #1117
the good thing is that the r packages are listed within the enviroment now.

[2016-09-29 06:55] brylie commented on #1113
@csoja thanks for the response.

For what it's worth, there are now two issues on the Qtpy repository related to getting Orange 3 to work with Qt 5:
- https://github.com/spyder-ide/qtpy/issues/76
- https://github.com/spyder-ide/qtpy/issues/77

[2016-09-29 07:17] ccordoba12 commented on #1113
We're discussing how to solve spyder-ide/qtpy#77.

I'm afraid spyder-ide/qtpy#76 needs to be addressed by the Orange guys (i.e. by changing their calls to `pyqtSignal` to `Signal` instead :-).

[2016-09-29 08:21] ccordoba12 commented on #1082
This needs to be solved in the `menuinst` package.

[2016-09-29 11:08] goanpeca commented on #1116
@joonpark72 can you delete your `~/.anaconda` folder and try again?

[2016-09-29 11:09] goanpeca commented on #1114
@xzstanford could you run `conda info` and `conda list` on the command line and paste the output?

[2016-09-29 12:42] jonathan-liono commented on #1085
I have resolved the issue by updating anaconda pip packages manually through the following (as mentioned in [here](http://stackoverflow.com/questions/2720014/upgrading-all-packages-with-pip)):

Basically, all packages were updated. However, this may be related to qt & qtpy problems as mentioned here: [https://github.com/ContinuumIO/anaconda-issues/issues/1099](https://github.com/ContinuumIO/anacon

[2016-09-29 12:42] #1085 closed

[2016-09-29 15:00] yourinoelnelson commented on #152
Ran into the same issue with conda version 4.2.9 while trying to install the R kernell, got the libreadline.so.6: undefined symbol: PC error while trying to install git2r package. The work around seem to solve that issue.

[2016-09-29 15:40] csoja commented on #1103
@akshaybabloo are you still having this issue?

[2016-09-29 16:04] ilanschnell commented on #1068
To me is seems the problem is that the `~/.matplotlib` configuration is still mentioning `PyQt4`.  If this is the case, the easiest way to solve this problem is to remove the matplotlib configuration, such that the new matplotlib 1.5.3 can create a new one (which will refer to `PtQy5`), as https://github.com/ContinuumIO/anaconda-recipes/blob/master/matplotlib/rctmp_pyside.patch is updated.

[2016-09-29 16:12] xzstanford commented on #1114
Current conda install:

               platform : osx-64

          conda version : 4.2.9

       conda is private : False

      conda-env version : 4.2.9

    conda-build version : 0+unknown

         python version : 3.5.2.final.0

       requests version : 2.9.1

       root environment : /Users/user/anaconda  (writable)

    default environment : /Users/user/anaconda

       envs directories

[2016-09-29 18:04] tacaswell commented on #1068
As part of the build process mpl tries to guess what the current GUI toolkit is an set that to be the 'default' backend, else 'Agg'.  If you do not ship a patch `.config/matplotlibrc` than you will get piles of bug reports that mpl is not working because it is set to a non-interactive backend.

Probably the right way to package this is to have a `matplotlib-core` with no gui deps, `matplotlib-qt4`

[2016-09-29 18:19] goanpeca commented on #1114
@xzstanford this is probably related to qt

What if you do

`conda install qt=5 pyqt=5`
and then
`conda install anaconda-navigator`
?

[2016-09-29 18:35] justwjr commented on #936
Fixed, thank you!
had to run:

conda update nb_conda nb_conda_kernels nb_anacondacloud

[2016-09-29 20:15] muskybread opened #1118 "Spyder application appears to cause screen flashes / glitches"
Hello,

I am having an issue where the Spyder application appears to cause visual glitches, including recurring black screen flashes (like my monitor is powering on / off or the cable is unplugged / plugged). It seems unlikely that Spyder would be the cause, but I cannot replicate the issue in any other scenario except Spyder being open. It's been a problem for a few weeks now, including with Spyd

[2016-09-29 20:56] jbednar commented on #1068
+1 for a matplotlib-core that non-GUI packages using matplotlib can depend on!  That would really make our lives much easier.

[2016-09-29 20:59] ccordoba12 commented on #1068
There are some discussions already to support this kind of packages in conda-build. But until then, we need to fix this :-)

[2016-09-29 21:03] ccordoba12 commented on #1118
I'd also say this is video drivers issue, specifically a wrong installation of DirectX or OpenGL. I don't know what else to say, given that you're clear that's not the case...

[2016-09-29 21:06] shibukawa opened #1119 "Anaconda shadows systems' curl/openssl/python etc"
Anaconda is very useful, but it doesn't isolate system environment and Anaconda's components. There are two issues. One is putting too many packages on overwritten PATH, this shadows system's components. Another one is it heavily depends on system's BASH. At first I installed via GUI installer, but I can't run because I uses zsh on macOS.

The following one is macOS specific solution. macOS makes

[2016-09-29 21:14] shibukawa commented on #1119
If I was Continuum's engineer, I will do like this:

* Write /etc/paths.d/anaconda with ```{installed path} + "/bin"```.
* Add ```anaconda-``` prefix to all commands in components in "/bin", like ```anaconda-python3```.
* Put alias command to call ```anaconda-python3``` via ```python3``` in Anaconda's environments' "/bin" folder.

Sorry, I don't know Linux or other environment.

[2016-09-29 22:17] joonpark72 commented on #1116
It gives the same result.  However, the content of the new ~/.anaconda appears somewhat different.   Anything else, I should try?

[2016-09-29 23:04] xzstanford commented on #1114
Hi,
I have uninstalled old version and installed updated version of Anaconda.
Thanks.
Best,

On Thu, Sep 29, 2016 at 11:19 AM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2016-09-29 23:29] #1114 closed

[2016-09-29 23:30] goanpeca commented on #1116
Can you type on the command line

`conda info`

And paste the results here?

[2016-09-29 23:35] joonpark72 commented on #1116
`(C:\Users\Joonho\Anaconda3) C:\Users\Joonho>conda info
Current conda install:

               platform : win-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : C:\Users\Joonho\Anaconda3  (writable)
    default environmen

[2016-09-29 23:41] goanpeca commented on #1116
Thanks @joonpark72, I can reproduce the problem working on a hotfix.

[2016-09-29 23:42] joonpark72 commented on #1116
Thanks!  Look forward to your reply.

[2016-09-29 23:46] goanpeca commented on #1116
@joonpark72 could you remove conda-forge from your channels?

`~/.condarc`

And try?

[2016-09-29 23:51] joonpark72 commented on #1116
removed all but default channels and seem to work.  So I should leave these out from now on?

[2016-09-29 23:52] goanpeca commented on #1116
What was the exact content of that condarc file?

[2016-09-29 23:54] joonpark72 commented on #1116
`channels:
  - defaults
  - conda-forge
  - https://conda.binstar.org/menpo

allow_softlinks: False`

Just had 2 extra channels.

[2016-09-29 23:57] goanpeca commented on #1116
I am not sure what is causing the issue... :-|

But perhaps you should add the channel as

[2016-09-29 23:57] joonpark72 commented on #1116
add them as~~~~ ?

[2016-09-30 00:01] goanpeca commented on #1116
I am not sure what is causing the issue... :-|

But perhaps you should add the channel as

Either

**`https://conda.anaconda.org/menpo`**  (Notice that is anaconda and not binstar)

Or just as

**`menpo`**

[2016-09-30 00:07] joonpark72 commented on #1116
Ok, I added them back as conda-forge and menpo.  It seems to work now somehow.  Thanks for the help.

[2016-09-30 00:12] goanpeca commented on #1116
Glad we sorted it out :-), but I am issuing a fix to make it more robust, thanks for all the help

:+1:

[2016-09-30 00:13] joonpark72 commented on #1116
You're welcome and thanks for providing us with such a great platform!

[2016-09-30 00:16] #1116 closed

[2016-09-30 00:17] goanpeca commented on #1115
Hi @sratel any luck?

[2016-09-30 00:42] sratel commented on #1115
Unfortunately, no. The update command worked, but then when I opened Navigator it was still proposing me to update to version 1.3.1. And now Navigator doesn't open at all... Should I remove all and reinstall it ? Thank you for your help.

[2016-09-30 01:08] sratel commented on #1115
I reinstalled Anaconda and all seems to be fine now. I have Navigator 1.3.1. Thanks !

[2016-09-30 01:08] #1115 closed

[2016-09-30 02:25] goanpeca commented on #1115
ok cool glad to hear is working now

[2016-09-30 05:55] mvrmurty opened #1120 "Navigator Error"
Anaconda Navigator Update error:

/Users/mvrmurty/anaconda/bin/python /Users/mvrmurty/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
  - orange -> pyqt 4.*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'osx-

[2016-09-30 09:00] 183amir commented on #1042
@csoja and @ilanschnell could you please look into this?

[2016-09-30 09:02] H0R5E opened #1121 "Support Qt4 as separate package"
Hi, I've been using Ananconda to develop a Qt4 App (for the last 2 years) and now it seems like its been obsoleted by Qt5.

I can work around it (a bit) by pinning PyQt to version 4 in an environment, but it's not an ideal solution. Would it be possible to have Qt4 and Qt5 as separate packages?

[code]

[2016-09-30 09:38] H0R5E opened #1122 ""All Users" install on Windows writes to readonly directory by default"
Hi, I recently had to reinstall Anaconda 2.7 for Windows 7 64bit, and I like to install using the "All Users" option. Unfortunately, the default location (C:\Program Files\Anaconda2) for the Anaconda install now makes using it as a non-admin user impossible as the folder is set to readonly. For example:

[code]

I guess permissions need to be changed for the installation folder in this case by the

[2016-09-30 09:54] H0R5E commented on #1121
I think the point here is that, as a developer using Python 2,  I don't expect it to change significantly, but this change is a significant shift.

[2016-09-30 19:28] YichenGong commented on #826
Thanks muupan, it works!

[2016-09-30 20:23] ccordoba12 commented on #1121
We tried really hard to make that possible (during six months or so), but we couldn't make it work correctly. We always ended up with changes that worked well for Qt4 and break Qt5, or viceversa.

So, I'm very sorry to tell you that this is not going to be possible.

[2016-09-30 20:23] #1121 closed

[2016-10-01 03:05] Dipugee opened #1123 "Problems convert nbviewer out put to pdf for sharing"
Hi:

I am using Jupyter under Navigator 1.2.3 on my MacOS 10.12. I created an html output file using nbviewer and saved on my Ma. I attach it here. The print preview of this html file looks ok and the there are no line wrap around. However, .pdf file wraps the lines and destroys the readability of the notebook. I need to share this as a .pdf with a client who does not have Anaconda, Navigator or J

[2016-10-01 08:04] yujenny opened #1124 "Anaconda launcher suddenly always fails when opened"
Error: spawn ENOENT
    at exports._errnoException (util.js:742:11)
    at Process.ChildProcess._handle.onexit (child_process.js:1027:32)
    at child_process.js:1110:20
    at process._tickCallback (node.js:279:11)

[2016-10-01 08:16] H0R5E commented on #1121
OK thanks for the reply.

Is there any documentation or announcement describing the change? Particularly are there any plans to remove the archived Qt4 packages and if so when is that likely to happen?

[2016-10-01 08:19] akshaybabloo commented on #1103
@csoja I deleted the folder manually. So I can't be sure if it's been rectified or not.

[2016-10-01 10:53] goanpeca commented on #1124
Hi @yujenny

Launcher has been deprecated for several months. Anaconda Navigator replaced it. Lo learn more please visit the [documentation](https://docs.continuum.io/anaconda/navigator).

To install navigator on the command line you can type:

`conda install anaconda-navigator` or download the latests Anaconda (version 4.2)

[2016-10-01 10:53] #1124 closed

[2016-10-01 12:29] carloslagorio commented on #1057
I'm having the opposite problem. My resolution is 3200x1800 and the GUI displays so big that the top right icons (minimize, resize, close) don't fit in my screen.

Is there an update on this? I only installed navigator yesterday and am running version 1.3.1.

Thanks!

[2016-10-01 12:33] carloslagorio commented on #742
I ran all the updates to no avail. My problem is the opposite, the GUI is displayed so big on my screen that it comes out pixelated and does not fit on my screen (so I can't access the top right icons for instance or reach about 75% of the GUI area).

thanks!

[2016-10-01 15:04] dartdog opened #1125 "How to install Google Cloud sdk, since Anaconda makes Python3 default??"
I just tried to install the Google cloud sdk as instructed here:
Running on a new Ubuntu 16.04 install
https://cloud.google.com/sdk/downloads
and I get this:
Running the install as suggested : tom@tomServal:~$ curl https://sdk.cloud.google.com | bash
/home/tom/google-cloud-sdk/install.sh
Welcome to the Google Cloud SDK!
Traceback (most recent call last):
  File "/home/tom/google-cloud-sdk/lib/thir

[2016-10-01 16:08] dartdog commented on #1125
So.. I think that by activating the py27 env then doing the installs using the bash installer I have a good installation, and I think it works without the env being active after install... we shall see... Might be good to document somewhere!

[2016-10-01 16:08] #1125 closed

[2016-10-01 16:12] nmvega commented on #1103
Hi Friends:

I'm having the same issue (I believe =:)).Is there a workaround?

@csoja What folder, specifically, did you delete? Not that I want to just delete folders :), but maybe just to get around this problem momentarily.

Certainly open to nicer workarounds. Thank you in advance!

jdoe@g750asus$ #conda update -y anaconda
[ ... SNIP ... ]
Unlinking packages ...
[ ... SNIP ... ]
Linking packag

[2016-10-01 16:44] ijstokes opened #1126 "Anaconda uninstaller needs "scrub" option"
Anaconda is complicated both because of Conda environments but also because of all the third party software that gets installed with it that can leave files and (more importantly) configuration bits and pieces in surprising places.  This can mean that "updates" fail and even "fresh installs" pick up old configuration -- both in such a way that Anaconda can be left in a state anywhere from "mildly

[2016-10-01 16:54] WilliamLeeBravo opened #1127 "Anaconda Navigator became so huge"
Hi, I'm a beginner and recently I found my navigator became so huge and it made me not comfortable. Is there anyone could help me to solve this problem?
![2016-10-01 12-51-45](https://cloud.githubusercontent.com/assets/7219519/19015651/13c1991e-87d6-11e6-9675-799cc6dfc037.png)

[2016-10-01 16:54] WilliamLeeBravo commented on #1127
Thank you so much!

[2016-10-01 18:44] markusritschel opened #1128 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
  - mayavi -> numpy 1.7*|1.8*|1.9*
  - pandas ==0.18.1
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Linux;4.4.0-21-generic;#37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016;x86_64;x86_64', 'qt': '4.8.7', 'python': '3.5.2', 'conda': '4.1.6', 'platform': '

[2016-10-01 18:56] 183amir commented on #1042
Hi @anjos could you please check to see if this still happens in `jpeg 8d` build number `2`?

[2016-10-01 19:06] 183amir commented on #1042
Ok I checked it:
[code]
It seems ok.
Thank you.

[2016-10-01 22:14] ijstokes opened #1129 "rpy2.rinterface on Windows gives DLL import error"
As reported on Anaconda ML, after doing `conda install -c r rpy2` on Windows with Anaconda3, `rpy2.rinterface` cannot be imported due to a DLL import error:

[code]

This may be related to #605 or #759.

I've tried a few other things but to no avail (just ended up with different problems).

So right now I think rpy2 (the essential bridge between Python and R in Anaconda) is broken.

[2016-10-01 22:19] ijstokes commented on #1029
Further to the October 1st 2016 Anaconda ML thread for a user with non-ASCII characters in his username, I've updated the title of this issue.

[2016-10-01 22:23] ijstokes opened #1130 "Test Anaconda installations into home directory with spaces and unicode"
Anaconda 2 and Anaconda 3 installations should be tested on Windows, Mac, and Linux into home directories with spaces and unicode characters in their name.  If we know in advance that this will definitely not work then we should warn and suggest an alternative before proceeding.  Or figure out how to modify the installation process so it does work properly.  See Oct 1st 2016 Anaconda ML thread for

[2016-10-02 08:04] ccordoba12 commented on #1121
No, Qt4 packages will always remain in the default channels.

[2016-10-02 22:44] goanpeca commented on #742
issuing a fix for the too big problem soon

[2016-10-03 03:34] akshaybabloo commented on #1103
@nmvega In your case it looks like you would have to delete `qt-4.8.7-1`, but I uninstalled Anaconda and reinstalled it just to make everything normal.

[2016-10-03 03:38] AHardReset commented on #1130
Hi! few days ago I tried to install Anaconda 2.7 in windows 10, but when the install almost finish an error appears:
![bandicam 2016-09-30 18-23-41-507](https://cloud.githubusercontent.com/assets/22583153/19026400/4c614670-88da-11e6-999c-7498a3568778.jpg)

This happen because my username have an non ascii characters (in this case ó´´ from Aarón)
I verified this when I opened the CMD (Windows + R,

[2016-10-03 10:48] mingwandroid commented on #1129
@Hi @ijstokes, I have not been able to reproduce this. I tried on Python 3.4 and Python 3.5 in both my existing `miniconda` installations and in a brand new installation of Anaconda3 4.2, both from the console and from `ipython` (though not every possible combination was tested).

The recipe for `rpy2` was initially based on your one from here: https://github.com/ContinuumIO/anaconda-issues/issues

[2016-10-03 11:22] mingwandroid commented on #1129
Looking into this more, if I run from the `Jupyter Notebook` Start Menu shortcut then indeed the problem is reproducible (I tend to live entirely on the command line, even on Windows).

The problem happens because environments are not activated in the python script that menuinst uses to execute our sotware with:

https://github.com/ContinuumIO/menuinst/blob/master/cwp.py

.. instead we just augmen

[2016-10-03 11:46] ijstokes commented on #1129
@mingwandroid those errors were, I believe, from the command line.  I started `cmd.exe` and then typed `ipython`, that's it (NOTE: it wasn't the *Anaconda Command Prompt* that I started from).  But when I try it now (CLI or from IPython QtConsole in Navigator) the command works! I have no recollection of what could have changed in the past 48 hours -- very little I'd say!  Attached is my `conda li

[2016-10-03 11:51] mingwandroid commented on #1129
Hi @ijstokes, did you see my most recent comment? The google groups posting does imply launching from `Jupyter Notebook` and I guess most Windows users will use the Start Menu shortcuts, and when doing this I could reproduce it. Can you verify that is the case and that my modification to `cwp.py` fixes it for you also?

[2016-10-03 12:29] ijstokes commented on #1113
I think I'm having this problem as well, but I'm a bit confused because if the packages aren't available/compatible why does i) Navigator show up `orange3` as an installable package; and ii) actually attempt to install it when I click on it? (though it does appear to get stuck in the "*Linking Qt*" stage of the package install).

[2016-10-03 12:30] brylie commented on #1113
@ijstokes yes, that does appear to be somewhat of an usability issue.

[2016-10-03 12:35] ijstokes opened #1131 "Uninstall Anaconda on Windows doesn't appear to fully remove it"
I used the standard Windows "uninstaller" to remove anything that had Anaconda anything or Python anything in the name.  I then tried to install Anaconda again from scratch, but was blocked because `C:\Users\ijsto\Anaconda3` still existed.  I did reboot in between the uninstall and the re-install.  Perhaps related to #1126.

[2016-10-03 12:42] ijstokes commented on #1117
Those errors are showing network timeouts for fetching the necessary packages.  I would suggest deleting (again) the specific Conda environment that you've created and then try to create it again.

[2016-10-03 12:48] ijstokes commented on #1129
@mingwandroid See other issues I've just submitted this morning.  Anaconda doesn't uninstall or install nicely #1131 .  I'm working through those issues now, as a precursor to reproducing the problem and attempting your suggested fix.

[2016-10-03 12:53] ijstokes commented on #1131
Looks like Start Menu isn't handled very well by the uninstall process either:

![screen shot 2016-10-03 at 8 48 35 am](https://cloud.githubusercontent.com/assets/293525/19037808/444ab914-8946-11e6-827e-58a9f142a408.png)

Related to #1087, but not quite the same thing.

[2016-10-03 13:08] ijstokes commented on #1129
OK, my start menu is fracked and I don't know how to fix it.  So that is an obstacle to reproducing the problem from the Start Menu.

However, here is what I've tried:

1. Uninstall everything using the standard Windows uninstaller (as mentioned in #1131 I don't believe this does everything it needs to).

2. Go into my home directory and delete a bunch of directories (as per feature request in #11

[2016-10-03 13:27] ijstokes commented on #1087
Community member reported similar on Anaconda ML: https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/mE_ZEB_xrf8

[2016-10-03 13:28] ijstokes commented on #1130
Here is the link to the Anaconda ML thread: https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/zTQQ0NqqIvk

[2016-10-03 13:33] ijstokes commented on #1131
And serendipitously a community member has reported a similar problems with Anaconda uninstall on the Anaconda ML:

https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/z2VXkeqYNCk

[2016-10-03 13:35] mingwandroid commented on #1129
This doesn't, from a `conda` perspective, activate an environment. You get three PATH entries added ($CONDA_PREFIX, $CONDA_PREFIX/Scripts and $CONDA_PREFIX/Library/bin), whereas activating an environment involves adding also $CONDA_PREFIX/Library/mingw-w64/bin. It also runs the activate scripts for any packages that have them (which can set other necessary package-specific environment variables, o

[2016-10-03 13:37] ijstokes commented on #1129
@csoja could this protocol (listed above) be something that gets added to the manual test sequence managed by @MulticastMatt testing team?  It is unclear to me if the problem is in `rpy2` or Anaconda itself.  Some of @mingwandroid comments suggests this problem is baked in to Anaconda.

[2016-10-03 13:41] ijstokes commented on #1129
@mingwandroid there is no `cwp.py` file in my `C:\Users\ijsto\Anaconda3\Lib\site-packages\menuinst` directory, so I don't know what to modify to make the change you're suggesting.

I appreciate that a vanillla `cmd.exe` shell may not be sufficient to run Anaconda bits-and-pieces properly.  But surely every other incantation should have worked: QtConsole, IPython Terminal, Jupyter Notebook.  None o

[2016-10-03 13:50] mingwandroid commented on #1129
@ijstokes look at `C:\Users\ijsto\Anaconda3\cwp.py`.

We can easily add $CONDA_PREFIX/Library/mingw-w64/bin to the PATH when we install Anaconda/Miniconda, but the problem with trying to run things without properly activating the conda environment are:

- There is a limit to PATH length on Windows of 8192 and many applications add things there.
- DLL hell increases as things are added there (if An

[2016-10-03 13:53] mingwandroid commented on #1129
For these other options to work, you need to edit `cwp.py`.

[2016-10-03 14:09] csoja commented on #1126
Coincidentally enough, we released anaconda-clean with Anaconda
Distribution v4.2 that gives the capability to do just that (
https://github.com/ContinuumIO/anaconda-clean/blob/master/README.md).  It
is not integrated into the uninstaller at this point - and we still need to
document its usage into the Anaconda Distribution documentation better -
but it does exist now.

On Sat, Oct 1, 2016 at 11:4

[2016-10-03 14:21] ijstokes commented on #1129
AFAICT the `cwp.py` fix above (adding an entry to the DLL directory) fixes the problem.  I still have Start Menu weirdness such that my "Anaconda Prompt" isn't really (which is to say, I have to `activate root` before the `from rpy2 import rinterface` command will work), but I think that is "on my side" (but a problem I believe many will face because it seems we don't manage install/reinstall/unin

[2016-10-03 14:40] poplav commented on #1080
@mingwandroid any updates here?

[2016-10-03 14:40] mingwandroid commented on #1129
@ijstokes : everyone who runs `Anaconda Prompt` can use `rpy2` just fine (because that runs the correct activate logic). Everyone who runs cmd.exe then `activate.bat root` is in the same boat (for the same reason).

The people who can't are those who use a menu shortcut (because of we need an extra PATH entry in `cwp.py` *or* fix that script to run activate) and those who elect to add Anaconda to

[2016-10-03 14:40] mingwandroid commented on #1080
I will get on it right away.

[2016-10-03 14:48] ijstokes commented on #1129
@mingwandroid I'm with you.  I'd even go so far as to suggest that we should do the same with Mac and Linux, so instead of adding Anaconda to `PATH` we have an entry `source /path/to/anaconda/bin/activate root` put into the user's `~/.bashrc` file (or `~/.bash_profile` -- whichever it is).

But it sounds like anything launched from Navigator today (in Windows) won't have a working `rpy2`, at least

[2016-10-03 14:58] mingwandroid commented on #1129
That seems to be the case. I had hoped that installing `jupyter` into another environment then launching from that one within `Navigator` would cause it to activate that environment correctly but this does not seem to be the case unfortunately (@goanpeca, how do you handle this?).

We can make an update to the menuinst package quite easily that would *fix* this though, adding that extra path, then

[2016-10-03 15:17] ijstokes commented on #1129
@mingwandroid and @csoja I would say that it is essential 4.2.1 allows someone to `conda install -c r rpy2` and for it to work properly from standard Navigator "apps" (Jupyter, QtConsole).  I wouldn't want to specify the strategy for how that is achieved.

[2016-10-03 15:27] mingwandroid commented on #1129
We can roll out a new menuinst in the meantime I think?

[2016-10-03 15:28] csoja commented on #1113
We removed the Orange app from repo.continuum.io - so I'm surprised it is still available on the home screen of Navigator.  We will have to investigate that.  orange is still available on the environments tab (and on repo.continuum.io) - because if you create a new environment, you can install Orange into that new environment and it will work.

We are investigating how to improve the usability.  N

[2016-10-03 15:49] csoja commented on #1129
yes, @mingwandroid please roll out a new menuinst.

[2016-10-03 16:21] astrofrog opened #1132 "PySide build broken on MacOS X"
The pyside 1.1.2 py27_1 appears to be severely broken on Mac:

[code]

[2016-10-03 16:37] glimmerphoenix opened #1133 "Unable to load R kernel in Jupyter notebook"
[Moving issue here from jupyter/notebook issue track after @ccordoba12 request;  should be assigned to @mingwandroid ]

Hello,

I'm running Ubuntu Server 16.04 64-bit.

After a fresh installation of R packages in Anaconda within a new environment, through `conda install -c r r-essentials`, I get the following error when trying to launch a new R notebook in `jupyter-notebook`:

<pre>
(datascience)

[2016-10-03 16:37] glimmerphoenix commented on #1133
Additional info:

I uninstalled stringi from the baseline R library in my system. After that, I can open R notebooks in Jupyter without errors. However, I don't think that you should be forced to uninstall any package from the baseline R library in your system when the whole point of using Anaconda is basically to encapsulate all dependencies in your working environment.

I have set up R with Jupy

[2016-10-03 16:48] mingwandroid commented on #1133
It seems to me that Ubuntu 16.04 64-bit has set `R_LIBS` or something like that? This is not the recommended way to identify the system R install path since that gets precedence in all R instances.

How did you install your baseline R library?

[2016-10-03 17:05] glimmerphoenix commented on #1133
1. *Baseline installation* of R and recommended R packages:  following the [suggested procedure from the official documentation of the R project](https://cran.r-project.org/bin/linux/ubuntu/README.html).

2. *Additional packages* (such as `ggplot2`, `dplyr`, `tidyr`, etc.): Directly in RStudio, through the "Packages" tab.

For what it is worth, RStudio returns:
[code]

No clue about my conda envir

[2016-10-03 20:23] TheTC5 opened #1134 "Navigator Error"
Anaconda Navigator Update error:

/Users/Tim-Christoph/anaconda/bin/python /Users/Tim-Christoph/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
Use "conda info <package>" to see the dependencies for each package.

{'version': '1.2.1', 'pyqt': '4.11.4', 'os': 'Darwi

[2016-10-03 20:58] mingwandroid commented on #1109
#martinpsz, in your opinion, can this be closed?

[2016-10-03 21:50] martinpsz commented on #1109
Yes, issue was fixed by reinstall.

On Oct 3, 2016 1:58 PM, "Ray Donnelly" <notifications@github.com> wrote:

[2016-10-03 22:13] mingwandroid commented on #1109
Thanks.

[2016-10-03 22:13] #1109 closed

[2016-10-03 22:22] mingwandroid commented on #1133
Looking into this more, if I `mkdir -p ~/R/x86_64-pc-linux-gnu-library/3.3`, then launch R from conda, and do `.libPaths()`, then I get:

[1] "/root/R/x86_64-pc-linux-gnu-library/3.3"
[2] "/root/r_3_3_1-x64-3.5/lib/R/library"

This means that I most likely need to patch r-base to prevent this from happening.

[2016-10-03 22:49] mingwandroid commented on #1133
If you edit ${CONDA_PREFIX}/lib/R/etc/Renviron and comment-out:

`R_LIBS_USER=${R_LIBS_USER-'~/R/x86_64-pc-linux-gnu-library/3.3'}`

then you should be able to proceed. I will work on a permanent fix next time I rebuild R.

[2016-10-03 23:19] jmfranck commented on #1098
Upgrading to setuptools 27.2 doesn't fix the problem.
However, as you say, it does [seem like this issue is known](https://github.com/pypa/setuptools/issues/398),
and [might be fixed in the more recent/development version of setuptools](https://github.com/pypa/pip/issues/2783).

[2016-10-03 23:28] glimmerphoenix commented on #1133
@mingwandroid Thanks a lot for your suggestions.

I have commented out the line you mention. The result is that I can open an R notebook in Jupyter and perform basic operations with standard functions in `r-base` (sum, mean, etc.).

However, I cannot load in the notebook any additional library (such as `ggplot2`). I tried to edit the same line in `${CONDA_PREFIX}/lib/R/etc/Renviron`, to point to t

[2016-10-03 23:31] mingwandroid commented on #1133
To use `ggplot2`, did you install it with conda as follows:

`conda install -c r r-ggplot2`

.. because these two issues do not, on the face of it, seem related.

[2016-10-03 23:40] ccordoba12 commented on #1132
Nobody has touched PySide in two years or more :-)

[2016-10-03 23:46] glimmerphoenix commented on #1133
@mingwandroid  According to https://www.continuum.io/blog/developer/jupyter-and-conda-r:

Just in case, I have just double-checked if `ggplot2` is already installed:
[code]
Paying attention, the library `ggplot2` does seems to load (no errors when I call `library(ggplot2)`; but when I try to create a simple boxplot I get:

[code]
In any case, please don't spend time on this notice until the first

[2016-10-04 01:47] willingc opened #1135 "Add a visual indicator or message when untarring files with command line installer"
Howdy continuum folks!

A future enhancement request on the Mac OS X Anaconda CLI installer. After writing `PREFIX=/User/username/Anaconda`, it would be nice to add either a progress indicator or a message saying that files are being untarred. It took a short while with no output until "Installing..." (long enough for me to check if it was running with `ps -a`).

Thanks for all the good stuff in t

[2016-10-04 06:54] brylie commented on #1113
@csoja yesterday, I noticed that Orange3 is no longer visible in the anaconda-navigator home screen.

I created a new environment in anaconda-navigator, and installed Orange3 from the package manager. How do I launch Orange3 from its environment?

[2016-10-04 07:27] astrofrog commented on #1132
@ccordoba12 - nevertheless the failure is real, and several users have reported this to me. Could it be due to the update of one of PySide's dependencies?

[2016-10-04 09:57] mingwandroid commented on #1080
I've uploaded new `r-irkernel` packages now.

[2016-10-04 10:48] astrofrog commented on #1132
Here's a minimal example failing on Travis: https://travis-ci.org/astrofrog/debug-pyside/builds/164895121

[2016-10-04 14:32] csoja commented on #1113
On your Orange environment, click the triangle “Go” button, select Terminal, and in the terminal window that opens type “orange-canvas”. Orange opens up in its own environment, separate from Navigator.

[2016-10-04 14:57] remenska commented on #584
+1

[2016-10-04 15:32] slink commented on #1103
@akshaybabloo I did the same thing and it seemed to clear up just fine. Have you tried upgrading since then?

[2016-10-04 16:11] poplav commented on #1080
@mingwandroid , Thanks I confirmed it works now!

[2016-10-04 16:12] ccordoba12 commented on #1132
Yes, it seems due to our latest Qt4 build (but I don't why that caused the breakage).

[2016-10-04 16:45] mingwandroid commented on #1080
Thanks for the feedback.

[2016-10-04 16:50] goanpeca commented on #1134
Hi @TheTC5 due to some Qt issues you probably need to do the following on the command line

`conda update anaconda`

This should install the latest version of Navigator, Qt and other programs.

[2016-10-04 16:50] #1134 closed

[2016-10-04 16:50] goanpeca commented on #1128
Hi @markusritschel the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator

On the command prompt you can type:

`conda update anaconda-navigator`

[2016-10-04 16:50] #1128 closed

[2016-10-04 16:52] goanpeca commented on #1120
@mvrmurty the orange package is only available for Qt4 (not Qt5, the latest and recommended package)

You can update all your anaconda installation by doing on the command line

`conda update anaconda`

If you still want to use Orange, for the moment, we advice you use a new environment.

Regards

[2016-10-04 16:52] #1120 closed

[2016-10-04 16:53] #1113 closed

[2016-10-04 16:53] goanpeca commented on #1089
The new release of Anaconda should fix these issues

[2016-10-04 16:54] #1075 closed

[2016-10-04 16:57] #288 closed

[2016-10-04 16:57] goanpeca commented on #606
What is the status of this issue?

[2016-10-04 16:58] goanpeca commented on #742
This has been fixed in the latest version of navigator

`conda update anaconda-navigator`

Or by installing the latest version of Anaconda

`conda update anaconda`

[2016-10-04 16:58] #742 closed

[2016-10-04 16:58] #755 closed

[2016-10-04 16:59] goanpeca commented on #868
This has been fixed on the latest version of Navigator

`conda update anaconda-navigator`

or

`conda update anaconda`

[2016-10-04 16:59] #868 closed

[2016-10-04 16:59] #909 closed

[2016-10-04 17:00] #911 closed

[2016-10-04 17:00] #950 closed

[2016-10-04 17:01] goanpeca commented on #969
This has been fixed by the latest version of navigator.

`conda update anaconda-navigator`

or

`conda update anaconda`

[2016-10-04 17:01] #969 closed

[2016-10-04 17:02] goanpeca commented on #944
This has been fixed in the latest navigator

[2016-10-04 17:02] #944 closed

[2016-10-04 17:03] goanpeca commented on #1064
This has been fixed in the latest version

`conda update anaconda-navigator`

or

`conda update anaconda`

[2016-10-04 17:03] #1064 closed

[2016-10-04 17:07] goanpeca commented on #1000
Please do

`conda update anaconda-navigator`

and

`conda update anaconda`

[2016-10-04 17:07] #1000 closed

[2016-10-04 17:07] goanpeca commented on #1028
`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version :-)

[2016-10-04 17:07] #1028 closed

[2016-10-04 17:09] goanpeca commented on #1061
New version available

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version :-)

[2016-10-04 17:09] #1061 closed

[2016-10-04 17:11] goanpeca commented on #938
This was solved by the latest build for qt=4.* packages

[2016-10-04 17:11] #938 closed

[2016-10-04 17:13] goanpeca commented on #873
This has been fixed in version 1.3

[2016-10-04 17:13] #873 closed

[2016-10-04 17:14] goanpeca commented on #939
@Danilushka this should have been fixed in the latest release (1.3)

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version :-)

[2016-10-04 17:14] #939 closed

[2016-10-04 17:15] goanpeca commented on #920
This has been solved in the latest Navigator (1.3)

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version :-)

[2016-10-04 17:15] #920 closed

[2016-10-04 18:03] #934 closed

[2016-10-04 18:03] #1024 closed

[2016-10-04 18:06] #942 closed

[2016-10-04 18:08] goanpeca commented on #1057
Closing as it has been fixed on the latest release (1,3)

@carloslagorio your problem has been reported on #1127. Please refer to that one

[2016-10-04 18:08] #1057 closed

[2016-10-04 18:08] #910 closed

[2016-10-04 18:09] goanpeca commented on #1040
It seem the content of your condarc is incorrect.

Please clean your condarc and try again with the latest version of Navigator (1.3)

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version (4.2)

[2016-10-04 18:09] #1040 closed

[2016-10-04 18:10] goanpeca commented on #1081
`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version (4.2)

[2016-10-04 18:10] #1081 closed

[2016-10-04 18:11] goanpeca commented on #1099
This has been fixed with the latest version of both qtpy and Navigator

You can update navigator by going to the command line and typing

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latest anaconda version (4.2)

[2016-10-04 18:11] #1099 closed

[2016-10-04 18:12] goanpeca commented on #1127
@WilliamLeeBravo thanks for reporting, we are working on this.

[2016-10-04 18:14] goanpeca commented on #875
This is fixed on 1.3 version of Navigator :-)

[2016-10-04 18:14] #875 closed

[2016-10-04 18:31] timestocome commented on #742
Thank you!
It works on my SurfaceBook, I'm looking forward to checking it out.

[2016-10-04 18:32] ccordoba12 commented on #606
Nothing has been done so far. It seems @mingwandroid is going to work on this one.

[2016-10-04 18:42] mingwandroid commented on #606
Against my better judgement 😄 (I'm a CLI kind of person, though I make an exception for powerful IDEs and nice launchers).

I'm thinking we should make a todo list style github issue for Qt5 related things, e.g. I'd like to roll this in with updating to 5.6.2 (which should be out real-soon-now. Hopefully an equivalent PyQt will also be ready around then? - I don't like sitting on .0 patch releases

[2016-10-04 18:51] ccordoba12 commented on #606
I don't think there are going to be more PyQt 5.6 releases, but we can continue using 5.6.0 but depending on Qt 5.6.x (at least that's what Homebrew is doing :-)

[2016-10-04 18:56] mingwandroid commented on #606
Do we want menuinst to create Windows Start Menu shortcuts here and/or should they be on Navigator?

[2016-10-04 18:56] ccordoba12 commented on #606
@mingwandroid, I think the solution to this is to create new recipes for `qtdesigner`, etc, that depend on Qt and just have a `menu-windows.json` file (with the proper metadata) associated with them.

[2016-10-04 18:58] ccordoba12 commented on #606
I think `menuinst` only installs one menu entry per package, or can it create several ones?

[2016-10-04 18:58] mingwandroid opened #1136 "Qt5 meta-issues"
I want to use this to keep track of changes for Qt5 itself, if you want to re-use this issue for the PyQt side of things too then that's fine, we'll keep this comment for Qt5 itself though and I'll add suggestions people make in subsequent comments (we can't edit each others' comments can we?)

- [ ] Update to 5.6.2 (or whichever version is latest once work commences)
- [ ] Add shortcuts for Qt gu

[2016-10-04 19:00] mingwandroid commented on #606
Maybe that would be a useful improvement (we also need to discuss how to change it to allow Qt Creator to make an icon for macOS).

[2016-10-04 19:15] ccordoba12 commented on #606
Yes, that would be sooo useful!

[2016-10-04 19:18] ccordoba12 commented on #606
My bad, menuinst can create several entries:

https://github.com/conda-forge/spyder-feedstock/blob/master/recipe/menu-windows.json

So we only need to add a `menu-windows.json` to Qt.

----

@goanpeca, what is needed for applications to appear on Navigator?

[2016-10-04 19:21] ccordoba12 commented on #1136
I think we should schedule this for Anaconda 4.3.

[2016-10-04 19:29] goanpeca commented on #606
To be defined as apps... that is https://github.com/conda-forge/spyder-feedstock/blob/master/recipe/meta.yaml#L39

[2016-10-04 20:03] mingwandroid commented on #606
Great, I wonder if all this shouldn't be unified, seems a bit redundant defining menu entries differently from app bundle links?

[2016-10-04 20:38] ccordoba12 commented on #606
Yes, I think they can unified in menuinst

[2016-10-04 20:48] mingwandroid commented on #1136
Maybe, it will depend on the quality of 5.6.0 more than anything.

[2016-10-04 21:14] willkeenan commented on #1057
Many thanks, Gonzalo, to you and your colleagues. I've just installed
the latest release and it renders perfectly!

Will

On 10/4/2016 2:08 PM, Gonzalo Peña-Castellanos wrote:

[2016-10-04 22:05] goanpeca commented on #1057
:+1:

[2016-10-04 23:24] nmvega commented on #1103
Hello... I'm sorry for the delayed reply. Yes, I ended up downloading the
latest version and reinstalling it from scratch, too, as a workaround. That
worked fine. =:) Thank you.

On October 4, 2016 11:32:59 AM !link <notifications@github.com> wrote:

[2016-10-04 23:48] akshaybabloo commented on #1103
@slink Ya I tried it, but I got some error (I Don't remember what it was. It was about QT I guess). I just uninstalled Anaconda and reinstalled it.

[2016-10-05 03:57] ccordoba12 commented on #1136
Right, let's wait then for 5.6.2 to start working on this (as you said before :-)

[2016-10-05 11:38] anjos commented on #1042
This seems corrected with build 2.

[2016-10-05 11:38] #1042 closed

[2016-10-05 14:20] leipzig commented on #1063
[code]

[2016-10-05 14:28] marcodesouza opened #1137 "Navigator Error"
Anaconda Navigator Update error:

/home/marco/programas/anaconda2/bin/python /home/marco/programas/anaconda2/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
  - orange -> pyqt 4.*
Use "conda info <package>" to see the dependencies for each package.

{'pl

[2016-10-05 14:39] goanpeca commented on #1137
@marcodesouza thanks for reporting. Dure to updates in the Qt package (now version 5.6.* is available) orange is no longer compatible with the latest version of anaconda (and latest navigator hence). If you want to update anaconda to the latest, you have to uninstall orange. If you still want to use orange you can do so by installing it in a separate environment.

To update anaconda on the command

[2016-10-05 14:39] #1137 closed

[2016-10-05 19:25] gerardojuan opened #1138 "Navigator Error"
Anaconda Navigator Update error:

Extra data: line 2 column 1 (char 80)

{'os': 'Darwin;15.6.0;Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64;x86_64;i386', 'pyqt': '4.11.4', 'version': '1.2.2', 'qt': '4.8.7', 'language': 'en', 'python': '3.5.2', 'conda': '4.1.9', 'platform': 'osx-64'}

[2016-10-05 19:37] goanpeca commented on #1138
@gerardojuan this has been in fix in the latest version of Navigator, please go to the command line ant type

`conda update anaconda-navigator`

or

`conda update anaconda` to update to the latests anaconda distribution

[2016-10-05 19:37] #1138 closed

[2016-10-05 20:19] gerardojuan commented on #1138
Thanks. Works now.

[2016-10-05 20:39] mingwandroid commented on #1129
The new `menuinst` is now available, `conda update menuinst` should result in Navigator and Jupyter being able to import rinterface.

[2016-10-05 20:39] #1129 closed

[2016-10-06 05:53] j450h1 commented on #1028
thanks!

[2016-10-06 06:48] brylie opened #1139 "Nothing happens when clicking 'Open Terminal' on anaconda-navigator environment"
In Anaconda Navigator, clicking 'Open Terminal' (in the green arrow popup menu) produces no result.

![screenshot_20161006_095203](https://cloud.githubusercontent.com/assets/17307/19143145/9421a54a-8baa-11e6-959c-7a0bcfc88b4a.png)
# Expected result

Clicking on the 'Open Terminal' menu item would open a system terminal with the proper environment activated.
# Environment
- OS: Ubuntu 16.04
- Deskt

[2016-10-06 08:26] MananDhunna opened #1140 "Navigator Error"
Anaconda Navigator Update error:

/Users/manandhunna/anaconda/bin/python /Users/manandhunna/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
  - orange3 -> pyqt 4.*
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Dar

[2016-10-06 10:29] dakshvar22 commented on #121
Still an issue.. Any permanent solution guys?

[2016-10-06 12:22] goanpeca commented on #1139
@brylie could you open navigator from the command line and see if there is any error output on the console when you execute that action?

[2016-10-06 12:31] goanpeca commented on #1140
Hi @Maggie-M due to recent changes with the Qt library (version5 is now available and the default for the latest anaconda distribution), Navigator and Orange are not compatible as Orange does not provide (yet) a Qt5 compatible versions.

You can update Anaconda to the latest by typing on the command line

`conda update anaconda`

And if you need to use orange, you can install into a new environmen

[2016-10-06 12:31] #1140 closed

[2016-10-06 15:21] robmarkcole commented on #999
I am experiencing the crashing kernel, log below

[I 16:19:15.258 NotebookApp] Kernel started: 31882017-86c0-4f54-aba5-76cd8b7fa6f7
[1] "Got unhandled msg_type:" "comm_open"
Error in unlockBinding("base_display", displayenv) :
  no binding for "base_display"
Calls: <Anonymous> ... <Anonymous> -> handle_shell -> <Anonymous> -> unlockBinding
Execution halted
[I 16:19:36.257 NotebookApp] KernelRestar

[2016-10-06 15:27] mingwandroid commented on #999
Please show `conda list`. Did you update r-irkernel?

[2016-10-06 15:32] robmarkcole commented on #999
Hi yes irkernel is up to date

r-irkernel                0.7                    r3.3.1_0    r

Last login: Thu Oct  6 16:28:39 on ttys006
Robins-MacBook-Air:~ robincole$ conda list
# packages in environment at /Users/robincole/anaconda3:
#
_nb_ext_conf              0.2.0                    py35_0
alabaster                 0.7.8                    py35_0
anaconda                  4.1.1

[2016-10-06 16:14] pkgw opened #1141 "ncurses needs a rebuild for conda-build 2.0"
The current `defaults` package of `ncurses`, 5.9-8, still has the short prefixes that are incompatible with conda-build 2.0:

[code]

[2016-10-07 00:13] mingwandroid commented on #1130
Hi @ijstokes, we definitely need to do better. Here are my thoughts.

Unicode: With Python3 this should be OK, but with Python2 I wouldn't allow this on Windows. From past investigations, the C code in Python2 uses the ASCII variant of the Win32 API instead of the wide variant. A problem here is that you could install Miniconda3 and then create an env. with Python2 and then things will start to fa

[2016-10-07 01:46] parente commented on #1063
The problem seems to have appeared somehow between between r-base 3.3.1 build 1 and r-base 3.3.1 build 3 (https://github.com/conda/conda-recipes/compare/601fd5d16627371e9595e65b4c8e79c305942c6d...dfe2d55f7616a22242c1616ab32ad25ee5806dfd).

[2016-10-07 06:38] brylie commented on #1139
@goanpeca OK.

When starting anaconda-navigator, I get the following notice three times:

[2016-10-07 06:39] brylie commented on #1139
When clicking the 'Open Terminal' menu item, there is no output in the terminal.

[2016-10-07 08:01] flying-sheep commented on #1063
you switched around the deps quite a bit in [dee9542](https://github.com/conda/conda-recipes/commit/dee9542272b2bcc1e49f5ac23ab5d46fbe37e926?w=1). that *might* be it.

you should maybe add a test for R like `Rscript -e "stopifnot(all(capabilities(c('cairo', 'png'))))"`

[2016-10-07 08:32] manueldeljesus commented on #1089
I have updated anaconda today and I am having this very same problem. Do I need to install PySide from pip still?

[2016-10-07 12:23] goanpeca commented on #1089
Could you type `conda info` and `conda list` and paste the output here?

[2016-10-07 12:25] goanpeca commented on #1139
You can safely ignore

Hmmmm ok

Could you type on the command line

`conda info`

`source activate orange`
`conda list`

And paste the result here?

[2016-10-07 12:28] manueldeljesus commented on #1089
conda info:

Current conda install:

               platform : osx-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.3
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : /Users/manuel/anaconda  (writable)
    default environment : /Users/manuel/anaconda
       envs directo

[2016-10-07 12:28] manueldeljesus commented on #1089
conda list

# packages in environment at /Users/manuel/anaconda:
#
_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
abstract-rendering        0.5.1               np111py35_0
accelerate                2.3.0               np111py35_3
accelerate_cudalib        2.0                           0
alabaster                 0.7.9

[2016-10-07 12:33] goanpeca commented on #1089
Ok so there is an error there

[code]

They should both be 5 or 4 not a mix, so I suggest the following

`conda remove orange3 orange-app`
`conda install qt=5 pyqt=5`

[2016-10-07 12:44] manueldeljesus commented on #1089
Problem fixed. Thank you very much.

[2016-10-07 12:57] goanpeca commented on #1089
Awesome :-), glad to hear it is fixed!

[2016-10-07 12:57] #1089 closed

[2016-10-07 13:07] brylie commented on #1139
Conda info:

[code]

[code]

[2016-10-07 13:08] brylie commented on #1139
I am able to `conda install Orange3` successfully.

I just didn't know how to activate the environment from the terminal. Likewise, the 'Open Terminal' menu item is not working.

[2016-10-07 13:11] brylie commented on #1139
Ah, dang it. I can't even run `orange-canvas` manually from the terminal:

[code]

[2016-10-07 13:16] brylie commented on #1139
Conda can't find a package matching 'libqtwebkit':

[code]

[2016-10-07 13:28] goanpeca commented on #1139
@brylie your env shows a mismatch of qt and pyqt

[code]

For orange to work you need to have qt=4 and pyqt=4

`source activate orange`
`conda install pyqt=4 qt=4`

[2016-10-07 18:01] jhunkeler opened #1142 "GNU GSL: Incorrect architecture"
In the `linux-64` channel it appears GSL has been released using the wrong architecture. Here's the relevant information.

[code]

[code]

[code]

[code]

**Note**

The `osx-64` channel provides GSL using the correct architecture:

[code]

[2016-10-07 22:34] AlbinB opened #1143 "Navigator Error"
Anaconda Navigator Update error:

/Users/albin/anaconda/bin/python /Users/albin/anaconda/bin/conda install --yes --json --force-pscheck --name root anaconda-navigator=1.3.1: UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda-navigator 1.3.1*
Use "conda info <package>" to see the dependencies for each package.

{'pyqt': '4.11.4', 'python': '3.5.1', 'conda':

[2016-10-08 01:55] zhaossbnu opened #1144 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
  - mayavi ==4.4.0
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'python': '3.5.2', 'platform': 'win-32', 'pyqt': '4.11.4', 'language': 'zh_CN', 'os': 'Windows;10;10.0.10240;AMD64;Intel64 Family 6 Model 58 Stepping 9, GenuineIntel', 'qt': '

[2016-10-08 01:58] darioromero opened #1145 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - pydot-ng ==1.0.0.15
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'win-64', 'python': '3.5.2', 'language': 'en_US', 'os': 'Windows;10;10.0.14393;AMD64;Intel64 Family 6 Model 69 Stepping 1, GenuineIntel', 'version': '1.2.1', 'qt

[2016-10-08 04:23] lbeltran71 opened #1146 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - python 3.5*
  - vtk ==6.3.0
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Darwin;16.0.0;Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64;x86_64;i386', 'pyqt': '4.11.4', 'language': 'en', 'python': '3.5

[2016-10-08 16:27] goanpeca commented on #1146
Hi @lbeltran71  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda

[2016-10-08 16:27] #1146 closed

[2016-10-08 16:27] goanpeca commented on #1144
Hi @zhaossbnu the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-10-08 16:27] #1144 closed

[2016-10-08 16:28] goanpeca commented on #1145
Hi @darioromero  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anacond

[2016-10-08 16:28] #1145 closed

[2016-10-08 18:52] freyreeste commented on #1143
Hi

I cannot neither open Anaconda Cloud by double click on
![anaconda navigator issue 20161008](https://cloud.githubusercontent.com/assets/18019518/19215247/115180b0-8d6f-11e6-9039-36c25ec50db7.jpg)
the icon nor by using the anaconda-navigator comand. Enclosed is a print screen of the error shown. I would be grateful if you can help me to solve this issue.

[2016-10-08 22:20] adelavega commented on #187
Does somebody mind explaining how/why this issue came up? And perhaps how it was fixed?

I'm having a similar issue with conda 4.2.9. Using a package (pysurfer) that uses Mayavai with the qt backend, I get the error:

     NotImplementedError: the tvtk.pyface.ui.null. pyface backend doesn't implement SceneEditor

Would downgrading to prior to when said "qt/pyqt changes of late" changes were made f

[2016-10-08 22:22] goanpeca commented on #1143
Hi @freyreeste due to recent changes with the Qt library (version5 is now available and the default for the latest anaconda distribution), Navigator and Orange are not compatible as Orange does not provide (yet) a Qt5 compatible versions.

So I suggest you do the following, on the command prompt type

`conda remove orange-app`  # Depending on which one you have installed
`conda remove orange2`  #

[2016-10-08 22:22] #1143 closed

[2016-10-09 16:02] zenkavi commented on #999
I'm having the same problem as @robmarkcole as well. Same error msg, same r-irkernel version

[2016-10-10 16:08] wulmer opened #1147 "Target directory from installer command line option not recognized"
Hi,

I tried running the latest installer `Anaconda3-4.2.0-Windows-x86_64.exe` with the silent option. However I did not succeed in changing the target installation directory.
I tried running the installer as described in the docs with the following command:

    start /wait "" Anaconda3-4.2.0-Windows-x86_64.exe /InstallationType=AllUsers /AddToPath=1 /RegisterPython=0 /D=C:\Anaconda3

What happen

[2016-10-10 16:58] wavetossed opened #1148 "Cannot start Navigator on OSX"
When the GUI app would not start, I poked around in the .app folder and discovered that it runs anaconda-navigator. So I tried that from the shell prompt and get these errors:

Michaels-MacBook-Pro:~ mpd$ anaconda-navigator
Traceback (most recent call last):
  File "/Users/mpd/anaconda/lib/python3.5/site-packages/qtpy/__init__.py", line 119, in <module>
    from PySide import __version__ as PYSIDE

[2016-10-10 17:28] msarahan commented on #1147
@wulmer neither of these commands include the /S flag, and thus are not silent.  Is that just a mistake in reproducing the commands you used?

Also, I am unable to reproduce the behavior you describe, when adding /S to the flags.  I am always able to see the output at the specified directory.  Can you please confirm that you are using the /S flag?

[2016-10-10 17:37] msarahan commented on #1147
One other detail: are you running these commands from an elevated prompt?  From what I've seen, the installer should (and does, for me) show an error box if you try to install silently for all users from a non-elevated prompt.

[2016-10-10 18:58] goanpeca commented on #1148
@wavetossed could you type in the command prompt

`conda info`

and `conda list`

and paste the output here?

[2016-10-11 02:19] tshtatland commented on #1079
The cmd line installer does not make the symlink "eventually" for me (Mac OS X 10.10.5, Anaconda2-4.2.0-MacOSX-x86_64.sh).
I tried this temp fix, and it appears to work fine:
sudo ln -s /Users/shtatland/anaconda2/Anaconda-Navigator.app /Applications/Anaconda-Navigator.app

That is, I can launch the app. Anything I am missing here?
Thanks!

[2016-10-11 05:46] wulmer commented on #1147
Sorry, I removed the `/S` flag to debug the command line settings and forgot to post it here. Of course I tried these commands with the silent flag.

And yes, I am running these commands from an elevated prompt.

@msarahan Could you please post the exact command line that you are using for the `Anaconda3-4.2.0-Windows-x86_64.exe` installer? I tried various syntaxes, w/ and w/o quotes, different or

[2016-10-11 07:52] jevad commented on #1079
@tshtatland : The link that eventually was created (for me), was in ~/Applications, not in /Applications.

[2016-10-11 17:10] msarahan commented on #1147
Sure, I just copy/pasted your command, but added /S:

[code]

I'm using Windows 10, 10.0.14393, in a VMWare fusion virtual machine.  The md5 for the Anaconda installer that I've downloaded from the Continuum website is:

0ca5ef4dcfe84376aad073bbb3f8db00

[2016-10-11 17:22] Tagar opened #1149 "Anaconda's etc/ld.so.conf.d/anaconda.conf:/opt/cloudera/parcels/Anaconda/lib causes linux kernel panic"
Anaconda's etc/ld.so.conf.d/anaconda.conf:/opt/cloudera/parcels/Anaconda/lib overrid causes linux kernel panic.

We have updated our kernel and after system reboot, linux kernel panics.
After quite some time with RHEL support, they found issue to be in libuuid that is overridden by Anaconda.

Here's information from RHEL ticket.

Notice key piece there "For the initramfs installation, which is ass

[2016-10-11 17:23] Tagar commented on #1149
https://github.com/Anaconda-Platform/support/issues/77

[2016-10-11 19:19] rcthomas commented on #1068
The second workaround isn't working for me (fresh Linux Anaconda 3.5 installation).  Anyone else having trouble using either work-around?

    Python 3.5.2 :: Anaconda 4.2.0 (64-bit)

    import matplotlib
    matplotlib.use("qt5agg")
    import matplotlib.pyplot as plt

    Traceback (most recent call last):
      File "try.py", line 3, in <module>
        import matplotlib.pyplot as plt
      Fi

[2016-10-11 21:06] atterebf opened #1150 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
  - orange3 ==3.3.6
  - python 3.4*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'osx-64', 'version': '1.2.1', 'conda': u'4.1.6', 'qt': '4.8.7', 'language': 'en', 'python': '2.7.12', 'os': 'Darwin;14.5.0;Darwin Kernel Version 14.5.0: Mon Aug 2

[2016-10-12 01:55] FinDonny opened #1151 "Anaconda Navigator will not launch"
I installed Anaconda for windows 64 a month ago and it was working well until today.
I mainly use Spyder to write and run simple codes for python 2.7.12.
Today Spyder wouldn't launch and neither would Anaconda Navigator.

Last week I had to install Python 2.5 to facilitate and installation of another software and I think that may have been the the reason for my problems.
Another post indicated tha

[2016-10-12 05:38] tskisner commented on #1068
I see it too from a fresh Miniconda3 install with only numpy, matplotlib, and dependencies installed.  I already purged ~/.matplotlib but no change.

[2016-10-12 09:02] wulmer commented on #1147
Thanks for checking, @msarahan . I don't know what happened, but it works now.
Actually, the `/D=` argument is ignored if the `/S` argument is missing. And as stated in the conda documentation, the `/D=` argument must be last and *not* enclosed in quotes!

Closing this issue then.

[2016-10-12 09:02] #1147 closed

[2016-10-12 13:28] tacaswell commented on #1068
What version of qt, pyqt, and mpl do you have installed?

What is the output of `matplotlib.get_backend()` ?

[2016-10-12 15:47] rcthomas commented on #1068
@tacaswell, in my case:

    pyqt                      5.6.0                    py35_0    defaults
    qt                        5.6.0                         0    defaults
    qtawesome                 0.3.3                    py35_0    defaults
    qtconsole                 4.2.1                    py35_1    defaults
    qtpy                      1.1.2                    py35_0    defaults

[2016-10-12 16:08] ecseymour commented on #1088
I too have this problem of being unable to upgrade from version 2.3, and I coming here as per the request at [this Google Group conversation](https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/WPhdE00TkqU).

Here is the output of `conda info a`:

    Current conda install:

               platform : linux-64
          conda version : 4.2.9
       conda is private : False
      conda-e

[2016-10-12 16:21] tskisner commented on #1068
@rcthomas and I are both using the same Cray system at NERSC.  I think this might be a local problem that we can solve offline.  My versions are:
[code]
I get the above results on both the login and compute nodes.  If I run a script that actually tries to make a plot then the backend imports pyqt.  On the login node this works fine.  On a compute node I get:
[code]
For some reason qt_compat.py is

[2016-10-12 17:30] holdenk commented on #305
Were looking at using virtual env to enable consistent linting but in the current state it seems like we need a seperate path in out shell scripts just for conda users, it would be nice if virtualenv and conda played nice together - but alternatively some clear error messaging around this would be pretty helpful too.

[2016-10-12 18:00] tskisner commented on #1068
Hi there again.  Please disregard my previous post- this problem is reproducible on all nodes of this system.  I have dug a little deeper now...

The system is running SLES 11 sp3.  From a fresh, bare-bones miniconda3 install (just numpy, matplotlib, and dependencies with versions above), matplotlib attempts to load pyqt5 and fails, then tries to fall back to pyqt4 (which does not exist).  So this

[2016-10-12 18:44] wavetossed commented on #1148
I ended up completely removing Anaconda and some other python installs. Then I  tried again with Anaconda 3 which worked to a point. Navigator was mostly OK but Jupiter ran into problems. Deleted again and started with Anaconda 2. Then created python 3.5 environments  to run Jupyter, another R environment also to run Jupyter and all the problems are gone.

At this point I think the best way to use

[2016-10-12 18:46] tskisner commented on #1068
I should mention that the workaround of pinning pyqt to 4.11 **does** work for me to fix the matplotlib error.  I'll open a separate issue related to "Qt5 installs on ancient SLES systems" if/when that becomes important.

[2016-10-12 18:51] tacaswell commented on #1068
@rcthomas What does `import PyQt5` do?

[2016-10-12 19:02] rcthomas commented on #1068
@tacaswell, to answer your question, and again with a completely fresh installation (Anaconda3-4.2.0-Linux-x86_64.sh):

    Python 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:53:06)
    [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
    Type "help", "copyright", "credits" or "license" for more information.

Now I was able to make this all just go away by doing `conda uninstall libxc

[2016-10-12 19:07] tskisner commented on #1068
FYI, the import of the top-level pyqt will not trigger the loading of the qt shared libraries.  but doing:
[code]
will.  @rcthomas - after doing your "conda uninstall libxcb", can you confirm the backend that is being used again?

[2016-10-12 19:12] rcthomas commented on #1068
After `conda uninstall libxcb`

    Qt5Agg

[2016-10-12 19:35] Dennis-Mayk opened #1152 "No Navigator Icon in Ubuntu 16.04"
No application icons for Anaconda 3 in application tray after installation of anaconda 3 for linux 64bit.
Also anaconda-navigator needed to be installed seperately and is not automatically installed as described on the website.

When launching anaconda-navigator via terminal this error comes up (also here no icons are displayed in the taskbar):

`anaconda libpng warning: iCCP: known incorrect sRGB

[2016-10-12 19:57] alepignata opened #1153 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
- _nb_ext_conf ==0.3.0
- bokeh ==0.12.3
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Windows;10;10.0.14393;AMD64;Intel64 Family 6 Model 61 Stepping 4, GenuineIntel', 'platform': 'win-64', 'pyqt': '4.11.4', 'qt': '4.8.7', 'python': '3.5.2', 'version':

[2016-10-12 20:04] goanpeca commented on #1153
Hi @alepignata the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

[2016-10-12 20:04] #1153 closed

[2016-10-12 20:37] TimCraigGenia commented on #33
I'm having this error on mac, it prevents me from even uninstalling anaconda.  Pretty annoying.

[2016-10-12 20:38] ijstokes commented on #1130
@csoja we've got a good concrete proposal from @mingwandroid for how we should proceed with enhancements to the installer, and probably also carry-over behavior for `conda` and *Navigator* when dealing with environment creation.

[2016-10-12 20:39] ijstokes commented on #1130
@MulticastMatt I'm not sure who is managing the testing teams and their testing protocol, but I think we have some confirmation that this is an issue we need to test for.

[2016-10-13 03:39] lf2013 commented on #97
just had the same problem

[2016-10-13 08:09] jaganmohan opened #1154 "Navigator Error while downloading packages in python 2.7 environment"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
  - numexpr ==2.6.1
  - scikits-image ==0.7.1 -> numpy 1.6*|1.7*
  - scikits-image ==0.7.1 -> python 2.6*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'win-64', 'version': '1.2.1', 'os': 'Windows;10;10.0.14393;AMD64;Intel64 Family 6 Model 69 S

[2016-10-13 08:46] gplssm commented on #451
I can reproduce this error using pandas 0.18.1/0.19 in a virtualenv. Is someone taking care about?

[2016-10-13 10:04] #1154 closed

[2016-10-13 10:49] joesoap99 opened #1155 "Glueviz Install Corrupts Python 3.5 Environment"
Was asked to pass this on as possible bug rom Google Conda Group and offered a fix.

https://groups.google.com/a/continuum.io/forum/#!topic/conda/KOwczpgw3vM

Windows 7, 64 bit, Anaconda 4.2, Python 2.7

I created a new Python 3.5 environment within my original Python 2.7 install.

All seemed to be OK with the install but in Navigator the icon it showed that Glueiviz 0.8.2 needed to be installed (

[2016-10-13 13:57] ccordoba12 commented on #97
PySide is not maintained at this moment, please use PyQt :-)

[2016-10-13 14:24] jaxankey opened #1156 "Installing pyqtgraph (and PyQt4 requirement) kills Spyder and Anaconda Explorer"
Windows 10, Anaconda3-4.2.0-Windows-x86_64

A fresh install of Anaconda works, and now uses PyQt5 as the default Qt. If I install pyqtgraph (or another library requiring PyQt4), PyQt4 is downloaded, compiled, linked and installed successfully. However, after this process, Spyder AND Anaconda Explorer fail.

Trying to launch Spyder from the command line, I get this:

[code]
Trying `conda install Py

[2016-10-13 14:28] ccordoba12 commented on #1156
Thanks for reporting. We'll take a look at it :-)

[2016-10-13 16:21] csoja commented on #1130
@ijstokes we've got this on the list for Anaconda Distribution v4.3.

[2016-10-13 17:00] mingwandroid commented on #999
@ijstokes You need to update your pcre. `conda update pcre` should see you right. I will pin it for the next rebuild of `r-base`.

[2016-10-13 18:00] ijstokes commented on #999
@mingwandroid can you clarify: is "pinning" something different from a precise Conda package dependency specification?  Right now I see `pcre` specified in the deps list for `r-base` but without a version number:

https://anaconda.org/r/r-base/files?sort=time&sort_order=desc

(clicking on the (i) icon).  Are you suggesting that a version number needs to be added?  Or something else?

[2016-10-13 18:15] mingwandroid commented on #999
Yes, but it doesn't have to be so precise.

It is listed without any version pinning and is therefore happy to use any old version, including the broken one that you have in your environment.

The pinning is in fact already applied to the recipe:

https://github.com/conda/conda-recipes/blob/master/r-base/meta.yaml#L60

.. I do not plan to rebuild this until I next roll out an update to our R infra

[2016-10-13 19:13] dmacmillan commented on #1068
@rcthomas I am experiencing the same issue as you are. I cannot simply set the backend and get matplotlib to work. Also @tskisner I tried running your command for importing qt X11 shared libraries and got this:

`python -c "from PyQt5 import QtCore, QtGui, QtWidgets"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: libXdmcp.so.6: cannot open shared object file

[2016-10-13 20:18] ericbdc opened #1157 "Navigator Error - handling versions when urllib2 install"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - ndg-httpsclient ==0.3.3
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'python': '3.5.2', 'conda': '4.2.9', 'language': 'fr_FR', 'pyqt': '4.11.4', 'version': '1.2.1', 'os': 'Windows;10;10.0.14393;AMD64;Intel64 Family 6 Model 69 Stepping 1,

[2016-10-13 20:46] goanpeca commented on #1157
Hi @ericbdc the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

C

[2016-10-13 20:46] #1157 closed

[2016-10-13 20:48] ccordoba12 commented on #1068
@rcthomas, please install that library (libXdmcp.so.6) with your package manager :-)

[2016-10-13 20:49] ccordoba12 commented on #1068
@tskisner, how ancient is your system? We compile our packages in CentOS 5 :-)

[2016-10-14 02:54] ccordoba12 commented on #1156
I talked with the Anaconda team, and our take on this one is: if you want to use PyQt4 applications, please create a new environment and install those apps there.

Don't mess with the root environment because we're now decided to support only Qt5/PyQt5 :-)

[2016-10-14 02:54] #1156 closed

[2016-10-14 07:46] themerius commented on #999
Yesterday I've installed the R kernel with `conda create -n R-Env -c r r-essentials` and also here the kernel dies.

The kernel dies with this errors in my case:

    [I 09:38:50.535 NotebookApp] KernelRestarter: restarting kernel (1/5)
    WARNING:root:kernel 308f3095-94db-44f6-97fa-ccdf42cf8b68 restarted
    Error in unlockBinding("base_display", displayenv) :
      no binding for "base_display"

[2016-10-14 11:14] robmarkcole commented on #999
After installing pcre and launching a notebook with R, I get the following..

![image](https://cloud.githubusercontent.com/assets/11855322/19385665/b670e7ec-9207-11e6-88f0-f47f53340b0c.png)

[2016-10-14 12:12] mingwandroid commented on #999
@robmarkcole this is a separate issue (the original bug report was about OS X), you should really jave opened another issue, though I will admit that you are not the first person to take this issue off in tangential direction :-)

Assuming 64-bit Windows running 64-bit conda, can you please look in `C:\Windows\System32` (or really `%SYSTEMROOT%\System32`) and see if you have a `zlib1.dll` in there

[2016-10-14 12:48] robmarkcole commented on #999
Hi minwandroid, sorry I didn't appreciate it was a separate issue. I am running windows at work and mac on my research days :-)
zlib.dll is present.

PATH=C:\Windows\system32;
C:\Windows;
C:\Windows\System32\Wbem;
C:\Windows\System32\WindowsPowerShell\v1.0\;
C:\Program Files\Gemalto\GAC;
C:\Program Files\Gemalto\Classic Client\BIN;
C:\Program Files\Gemalto\GAC\;
C:\Program Files\MATLAB\R2014b\bin;

[2016-10-14 12:56] mingwandroid commented on #999
Do you mean it is in `C:\Windows\System32`? That is fatal to any software that wants to use a different `zlib1.dll`. You need to find out what software put it there and uninstall it, and then, if you still have `zlib1.dll` in that folder, you need to delete it.

[2016-10-14 13:01] robmarkcole commented on #999
Yes in System32. It was Date Modified in 2008, way before I took ownership of this (work) laptop. It appears to be the oldest file in System32.
How could I find out which software installed it, or depends on it? I suppose I could delete it and see what happens, but since this is my work computer I may regret it..!

[2016-10-14 13:09] mingwandroid commented on #999
You could rename it and see what breaks. I doubt it will render your system unusable, but I cannot 100% guarantee that. Alternatively, there's a Task Manager replacement called Process Hacker 2 [1]. It can also be run from a portable install [2] in a stand-alone fashion. It has a way to search for processes using DLLs.

If you run that, then click on `Find handles or DLLs`, you should be able to e

[2016-10-14 13:20] dmacmillan commented on #1068
Sigh, I don't have a package manager on my system. I need to do everything manually because of restrictions. I looked into installing this library but it requires another library (xproto) which didn't work or I couldn't figure out how to do a local install even with `./configure --prefix=/custom/path`

[2016-10-14 13:26] robmarkcole commented on #999
Since both those solutions require admin rights I got the IT dept on the phone, they deleted the dll and now R is working in jupyter :-)

[2016-10-14 13:38] mingwandroid commented on #999
Great to hear. Thanks!

[2016-10-14 13:45] mingwandroid commented on #999
A final point, ideally you would use the `Anaconda Command Prompt` to launch all of your `conda` software. Doing this guarantees that, for that session, the `conda` binary folders are put to the front of PATH which minimises chances of the wrong DLLs getting used, otherwise it is unfortunately pot-luck whether software will work or not depending on the relative installation order of software that

[2016-10-14 13:56] funnybomb opened #1158 "reinstall anaconda and get " ImportError: No module named 'PyQt4' ""
I reinstall anaconda3 recently and download new Anaconda3-4.2.0-Linux-x86_64.sh from
and got this error:

In [1]: import matplotlib.pyplot as plt
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-eff513f636fd> in <module>()
----> 1 import matplotlib.pyplot as plt

/home/fcaiyi/ana

[2016-10-14 15:28] jjhelmus commented on #1158
I'm seeing the same issue in some of my CI builds but only with Python 2.7.  Specifying qt=4 when creating the environment is a work-around.

 A minimal example to reproduce:

[code]

[2016-10-14 15:58] jjhelmus commented on #1158
Looks like the root cause of this is that the linux-64 pyqt 5.6.0-py27_0 package links against libXdmcp which may not exist on the host machine.

[code]

Is it possible to build PyQt5 without linking against libXdmcp?

[2016-10-14 16:10] geraldstanje commented on #1023
hi, is pyqt5 already in with Anaconda 4.2.0 - Python 2.7 version, 64-Bit Installer?

[2016-10-14 16:11] jjhelmus commented on #1158
This issue seems to be a repeat of #1068, moving discussion there.

[2016-10-14 16:14] mingwandroid commented on #1068
@tskisner: Can you show the output of:
`ldd -v /global/common/edison/contrib/hpcosmo/conda/toast-conda_3.5-20161011/lib/libQt5X11Extras.so`

please?

[2016-10-14 16:15] mingwandroid commented on #1023
Yes.

[2016-10-14 16:25] jjhelmus commented on #1068
The linkage to libXdmcp seems to be coming from the libxcb package (1.12-0), specifically the libxcb.so libarary in that package.

[code]

At least on the system on am testing on (CentOS6) force uninstalling the libxcb package reverts to using the system provided libxcb library which do not link against libXdmcp.

[2016-10-14 16:31] rcthomas commented on #1068
@ccordoba12, @tskisner and I are running on a Cray XC30.  Update via package manager is not really our call here.  There is a planned OS upgrade coming but it won't be for several months.

[2016-10-14 16:41] geraldstanje commented on #1023
@mingwandroid: awesome!

[2016-10-14 16:53] tskisner commented on #1068
@mingwandroid , the ldd output was in my post further up this thread...  Since this seems to be a Qt5 + libxcb + system conflict problem (not matplotlib or pyqt5), perhaps we should open a separate issue?

[2016-10-14 16:55] geraldstanje commented on #1023
just a quick side node:
the install of packages fails, if the  you install anaconda for "all users"
e.g. pip install pywavelets

is that issue already tracked?

[2016-10-14 17:04] mingwandroid commented on #1068
Can you try:

[code]

[2016-10-14 17:04] mingwandroid commented on #1068
@tskinser: I asked for `-v` to be added, but it's ok, I've investigated further now and don't need it now.

[2016-10-14 17:15] joey1993 opened #1159 "Launcher Error(cannot open Launcher at all)"
Error: spawn ENOENT
    at exports._errnoException (util.js:742:11)
    at Process.ChildProcess._handle.onexit (child_process.js:1027:32)
    at child_process.js:1110:20
    at process._tickCallback (node.js:279:11)

[2016-10-14 17:52] tskisner commented on #1068
@mingwandroid sorry for missing that '-v'...  The preload of the empty shared library has no effect.  Just to be clear:  @dmacmillan is seeing a different system library problem (no libXdmcp.so on the system).

On the system that @rcthomas and I are using, that library exists and seems to have no unresolved symbols.  Our issue instead is with the libxcb-xlib.so library, which exists in older versi

[2016-10-14 18:24] jjhelmus commented on #1068
@mingwandroid

From a CentOS 6 based docker container without libXdmcp installed in a environment created using `conda create -n test python=2.7 pyqt`:

[code]

[2016-10-14 18:35] goanpeca commented on #1159
Launcher is deprecated and no longer in maintenance and was replace by [Anaconda Navigator](https://docs.continuum.io/anaconda/navigator).

Please update to the latest version of Anaconda by typing on the command line

`conda update anaconda` or

Install Anaconda Navigator by typing

`conda update anaconda-navigator`

[2016-10-14 18:35] #1159 closed

[2016-10-14 18:38] joey1993 commented on #1159
conda doesn't work any more, it shows like: /opt/anaconda1anaconda2anaconda3/bin/python: bad interpreter: No such file or directory

[2016-10-14 18:43] goanpeca commented on #1159
I suggest you download the latest version of Anaconda from https://www.continuum.io/downloads

[2016-10-14 18:49] joey1993 commented on #1159
Thanks! The error happened when I tried to update Spyder in Launcher. It seems the python in /opt was automatically removed but not updated. Then sehbang of /Users/me/anaconda/bin/conda directs the system to /opt/ana... which does not exist.

[2016-10-14 22:50] BigdataHelwan commented on #264
@ccordoba12 I 've been using Spyder for over 3 months. but suddenly and from nowhere it's not working anymore. I tried `spyder `command at the `cmd.exe` and that what I get. Please help!

[code]

I am using Windows 8.1 64-bit machine

[2016-10-14 22:59] ccordoba12 commented on #264
@BigdataHelwan, I still don't understand why our config files end up corrupted, which is what's happening in your case.

Please run

    spyder --reset

to fix your problem :-)

[2016-10-14 23:03] ccordoba12 commented on #1023
@geraldstanje, nop. Please open a new issue for your problem :-)

[2016-10-14 23:06] BigdataHelwan commented on #264
@ccordoba12 , It's giving me the same error again.

[2016-10-14 23:16] ccordoba12 commented on #1158
Yep, closing in favor of #1068.

[2016-10-14 23:16] #1158 closed

[2016-10-14 23:29] ccordoba12 commented on #1068
So we have two problems here:

1. Our `libxcb` is linking to `libXdmcp`, which is not present in some platforms. According to [Linux from Scratch](http://www.linuxfromscratch.org/blfs/view/svn/x/libxcb.html), `libXdmcp` is an optional dependency, so we could look at compiling `libxcb` without it.
2. Our `libxcb` does not provide `libxcb-xlib`, needed by some platforms. There's no solution to this

[2016-10-14 23:44] ccordoba12 commented on #264
Please remove manually this directory then

    C:\Users\Eng.Adel\.spyder2

and try again

[2016-10-14 23:52] BigdataHelwan commented on #264
I've made an edit in `spyder.ini` deleting `window/pre` and it worked!

[2016-10-15 00:52] kalefranz opened #1160 "conda install pyPDF2 broke pandas"
_From @tmcewen on October 15, 2016 0:43_

I'm using Microsoft Windows version 6.1.7601 which I believe is Windows 7...
I installed pypdf2 using the command below:
`conda install -c conda-forge pypdf2=1.26.0 `
Everything installed correctly (I remeber it updated conda or anaconda) and I closed the command prompt.  I ran my program that I'm working on and got the following error
![error_1](https://c

[2016-10-15 00:53] kalefranz commented on #1160
Relevant part of the stack trace:

    failed to parse CPython sys.version: '2.7.11 |Anaconda 2.3.0  (64-bit)|

[2016-10-15 00:55] kalefranz commented on #1160
@tmcewen Please consider upgrading to Anaconda 4.2.

    conda update conda
    conda update anaconda

Anaconda 2.3.0 is rather old.

Please update this issue if your problem resolves :)

[2016-10-15 09:43] robmarkcole commented on #999
On my mac, I still experience the death kernel, pcre is up to date..

conda update pcre

All requested packages already installed.
packages in environment at /Users/robincole/anaconda3:
pcre                      8.39                          0

[2016-10-15 09:49] ijstokes commented on #999
@robmarkcole and @mingwandroid same here.  `conda update pcre` moved me from 8.31 to 8.39 (nothing else updated), then my attempt to create a new Jupyter notebook with the R kernel got me:

[code]

[2016-10-15 22:47] jakirkham commented on #833
This issue appears to have resurfaced. Please see this [build]( https://travis-ci.org/conda-forge/pyagrum-feedstock/jobs/167379108#L323 ) as an example.

xref: https://github.com/conda-forge/pyagrum-feedstock/pull/2

cc @jschueller

[2016-10-15 22:51] mcg1969 commented on #833
@jakirkham are you sure? it looks like the referenced feedstock is having a problem on Mac, but the Mac does indeed have `isl 0.12.*` for both gcc packages.

[2016-10-15 22:52] mcg1969 commented on #833
Hmm, it does seem like something is amiss

[2016-10-15 23:00] mcg1969 commented on #833
I can't reproduce it locally, actually. @jakirkham can you by any chance come up with a bare `conda create -n` command that tries to install `gcc` and `isl 0.17.1`? I'm unable to.

[2016-10-15 23:03] mingwandroid commented on #833
Recently, some packages were added to repo.continuum.io, and in that process, an old version of anaconda was used. This meant that the metadata hotfixes were not the latest ones.

I pushed 4 new packages now and at the same time, fixed the metadata.

I hope this explains everything!

[2016-10-15 23:03] mcg1969 commented on #833
That would explain why I can't reproduce it :-) Thanks @mingwandroid

[2016-10-15 23:16] jakirkham commented on #833
Indeed. That does seem to have fixed it. Thanks @mingwandroid .

[2016-10-15 23:16] #833 closed

[2016-10-15 23:20] mingwandroid commented on #833
I actually spent quite a lot of time (too much) thinking my repodata.json diffs were a problem rather than a fix, so the confirmation is appreciated :-)

[2016-10-15 23:22] mcg1969 commented on #833
We really do need to find a way to properly manage metadata hotfixes. I do like the idea of rebuilding the package with the new metadata, but the problem is we break MD5 when we do that, making it harder for people who want signature-verified environments.

[2016-10-15 23:23] mingwandroid commented on #833
Yup. No argument from me. Content addressable seems to be a good way to handle this sort of thing, basically modelled on how git works.

[2016-10-16 01:36] jakirkham opened #1161 "Miniconda 4.1.12 Release"
We have encountered some issues installing and activating Miniconda 4.1.11 on AppVeyor. I suspect they have moved some things around resulting in a longer path length. As a result, activating the root environment resulted in AppVeyor CI crashing. `conda` version `4.1.12` included a much need fix in the form of PR ( https://github.com/conda/conda/pull/3349 ). It would be great if Miniconda could ha

[2016-10-16 03:01] zhuyu2015 commented on #1127
I also have the same issue...

[2016-10-16 09:23] astrofrog opened #1162 "Error: HTTPError: 502 Server Error: Bad Gateway for url"
I am seeing a number of `Error: HTTPError: 502 Server Error: Bad Gateway for url:` errors today, for example:

[code]

Is one of the servers down?

[2016-10-16 18:30] kzapfe commented on #999
Hello team:
I have the same problem here, with the newest anaconda just fresh installed a pair hours ago as date of this message.  I am on a GNU/Linux machine x86_64.
[code]
And r and r-essentials straight outta the conda installer:
[code]
Also, if I try to make it directly from R, I cannot install devtools. I get an error of the tune:
[code]

It seems that R cannot see where conda puts everything

[2016-10-16 18:41] ijstokes commented on #999
@kzapfe can you tell us if the following gives you a working R kernel in Jupyter:

[code]

Then create a new notebook with the "R [conda default]" env or "R [conda test_r]" env and see if it works.  We're having trouble figuring out what the source of this problem is as it appears to only affect some people in some configurations (I am one of those people for whom R is broken, so I'm motivated to

[2016-10-16 19:03] kzapfe commented on #999
Okey, keeps dying... messages on the shell are as follows:
[code]

[2016-10-16 20:00] zenkavi commented on #999
Hi, there is still no solution for this on Mac correct? My kernel is still dying with the following error
`[I 12:57:01.313 NotebookApp] Kernel started: 5f894bb4-c34f-4694-a733-4fbaa878fbf5
[1] "Got unhandled msg_type:" "comm_open"
Error in unlockBinding("base_display", displayenv) :
  no binding for "base_display"
Calls: <Anonymous> ... <Anonymous> -> handle_shell -> <Anonymous> -> unlockBinding
E

[2016-10-16 20:21] mingwandroid commented on #999
Can you do `conda update r-rikernel` and see if that works for you?

[2016-10-16 22:10] zenkavi commented on #999
Yes

[code]

[2016-10-17 08:16] seekshreyas commented on #999
I'm having similar issues. The kernel just keeps dying

## Errors

[code]

### Jupyter Server error
[code]

[2016-10-17 09:06] freed24 opened #1163 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - python 3.5*
  - wxpython ==3.0
Use "conda info <package>" to see the dependencies for each package.

{'os': 'Windows;7;6.1.7601;AMD64;Intel64 Family 6 Model 60 Stepping 3, GenuineIntel', 'language': 'zh_CN', 'pyqt': '4.11.4', 'conda': '4.2.9', 'version': '1.2.1', 'python': '3.5.2

[2016-10-17 09:21] mingwandroid commented on #999
You are not using the R from Anaconda:

`/usr/local/Cellar/r/3.2.2_1/R.framework/Resources/bin/R`

This looks like homebrew instead.

Please activate your `conda` environment (http://conda.pydata.org/docs/using/envs.html) and install `r-essentials` and `jupyter`.

[2016-10-17 09:38] seekshreyas commented on #999
@mingwandroid : I think I am using conda virtual environment and it is activated. I checked and on
`which r jupyter`
I get this
[code]

[2016-10-17 10:11] mingwandroid commented on #999
@zenkavi, please try `conda update r-essentials` and show me the output of that.

[2016-10-17 10:15] mingwandroid commented on #999
@seekshreyas: Please show me the PATH from the command prompt from which you are launching jupyter:

`echo $PATH`

A minor nit, conda doesn't call refer to its `environments` as `virutal environments`, indeed conda doesn't work with normal `virtual environments`.

[2016-10-17 14:50] sorooshafiee commented on #1074
I also have the same problem with cvxopt and opencv. It is solved by changing to anaconda virtual environment! Thanks for reporting this issue 👍

[2016-10-17 18:08] jhprinz commented on #1103
Not sure, if that is related. But i had trouble with `qt`, too and at some point I got an issue `CondaOSError: OS error: failed to link ...` and apparently some qt file did not exist. Just reinstalling with the `-f` option fixed it. `conda install -f qt`

[2016-10-17 20:24] jschueller opened #1164 "wrong pinning of qt in pyqt 4.11.4-py35_6"
hi,
it seems pyqt 4.11.4-py35_6 from defaults overrides pyqt from conda-forge but does not properly pin qt 4 so qt 5.6 gets pulled and a matplotlib import fails:
https://ci.appveyor.com/project/conda-forge/staged-recipes/build/1.0.8123/job/qsqd3y5kblho068p
(https://github.com/conda-forge/staged-recipes/pull/1727)

[2016-10-17 20:43] zenkavi commented on #999
@mingwandroid Here's the output:

[code]

[2016-10-17 20:48] jakirkham commented on #1164
Copying @ccordoba12 and @ocefpaf as they have been following the Qt situation more closely.

[2016-10-17 20:48] mingwandroid commented on #999
@zenkavi, I think that you may have missed `-c r` from your command-line, so `conda` is finding only the `r-essentials` package that you have already installed.

[2016-10-17 20:54] mingwandroid commented on #1068
@jjhelmus, can you try to update `libxcb` as follows:

`conda update -c qttesting libxcb`

and let me know if that fixes your issue please?

For the `libxcb-xlib` problem, I think I need to fire up a SLES 11 sp3 VM and investigate further.

[2016-10-17 21:05] jjhelmus commented on #1068
@mingwandroid The `libxcb` in `qttesting` seems to solve the `libXdmcp` issue:

[code]

Importing matplotlib.pyplot in this environment also works.

[2016-10-17 21:27] mingwandroid commented on #1068
Thanks for the feedback @jjhelmus, I just need to figure out what to do about libxcb-xlib now, I'm fairly stumped on that one. Dropping OpenGL is one possibility, but that's drastic (though CentOS 5.11 has pretty limited OpenGL support anyway ...)

I'll upload the new `libxcb` to `defaults` anyway.

[2016-10-18 00:26] nwfpug opened #1165 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - anaconda ==4.2.0
  - bokeh ==0.12.3
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'osx-64', 'version': '1.2.1', 'conda': u'4.2.7', 'qt': '4.8.7', 'language': 'en', 'python': '2.7.12', 'os': 'Darwin;16.0.0;Darwin Kernel Version 16.0.0: Mon Aug

[2016-10-18 00:33] zenkavi commented on #999
@mingwandroid my apologies. you were totally right. AND NOW IT'S WORKING! Thank you very much!

[2016-10-18 01:46] ccordoba12 commented on #1164
Why are you using build 6 when 7 is the last one?

[2016-10-18 02:24] kzapfe commented on #999
Okey, seems that there is an update avaiable now, I did
[code]
and it doesn't die inmediately anymore.
I will throw something at it and see if it holds...

Well, it holds. Thank you everybody!

[2016-10-18 03:53] ijstokes commented on #999
@mingwandroid I have R kernels working in my root environment now, thanks to `conda update -c r r-essentials`.  Looks like I managed some kind of special maneuver and had `r-essentials` without `r-base` if I'm reading the Conda output correctly.  I certainly *did* have `r-base` at one point recently...

[code]

[2016-10-18 06:49] jschueller commented on #1164
I did not specify build 7...

[2016-10-18 07:36] jschueller commented on #1164
retried, build 7 doesn't get pulled:
https://ci.appveyor.com/project/conda-forge/staged-recipes/build/1.0.8147/job/sthsh78x3u082007

[2016-10-18 09:22] ocefpaf commented on #1164
@ccordoba12 in `conda-forge` pinnings I tied `pyqt  4.11.*` to `qt 4.8.*` everywhere I could to avoid getting `qt 5.*` but it seems that some of `defaults` `pyqt  4.11.*` are still OK with `qt 5`.

One way to fix this would be to over-specify `qt 4` in all feedstocks that uses `pyqt  4.11.*` (because pinning `pyqt` in conda-forge won't work as we do not have `qt` for all platform in `conda-forge`

[2016-10-18 09:47] jschueller commented on #1164
I still think pyqt from defaults is just not pinning qt 4.

[2016-10-18 11:08] Chris35Wills opened #1166 "Fresh matplotlib/gdal compatability issues"
This relates to issue [#1068](https://github.com/ContinuumIO/anaconda-issues/issues/1068) but is with more specific regard to gdal - in short, I can't get gdal and matplotlib to work together. I can get matplotlib working with the new conda install using:

	conda create --name mplgeo_test python=3.5 matplotlib ipython
	source activate mplgeo_test
	conda update -c qttesting libxcb
	python -c "from

[2016-10-18 13:10] ocefpaf commented on #1164
@jschueller build number `7` of `pyqt` does seems to be properly pinned to `qt 4`. See the json info from https://anaconda.org/anaconda/pyqt/4.11.4/download/win-64/pyqt-4.11.4-py35_7.tar.bz2 for example.

So the issue is IMO the bug I mentioned above. And, since we cannot fix that as that is not considered a bug, we must choose a way to workaround it.

[2016-10-18 13:26] goanpeca commented on #1164
There is no way for conda to know the meaning of build numbers for packages with the same name and a different amount of build numbers in different channels. So a higher build number in default does not mean a better package than a lower build number i conda forge

[2016-10-18 13:26] jschueller commented on #1164
ok, but then the question is why did conda pick 4.11.4-py35_6 instead of 4.11.4-py35_7 ?
could it be a mirror issue or something ?

[2016-10-18 13:29] ocefpaf commented on #1164
That is fine and the channel preference takes care of it.

That is the issue and `conda` is known to do that. I won't mention the many issues where I raised that as that solver behavior is explained to me as a feature and not a bug... Conda is trying to maximize the versions installed and goes for a lower build number to do that as that build number is unpinned and "easy" to satisfy the solver.

[2016-10-18 13:37] jschueller commented on #1164
if conda goes for the lower build number how could package updates be taken into account ? that makes no sense ???

[2016-10-18 14:10] csoja commented on #999
Can this issue be closed?

[2016-10-18 14:13] mingwandroid commented on #1164
You can inspect the pinning here:
http://repo.continuum.io/pkgs/free/win-64/repodata.json

You'll see:
[code]
But as @ccordoba12 pointed out, the problem is you are using build 6 instead of 7 (for some reason). Build 6 pinning is indeed broken and will happily pull in qt 5.6.0:
[code]

[2016-10-18 14:16] ocefpaf commented on #1164
by `you`  you mean `conda`, right :wink:

See https://github.com/ContinuumIO/anaconda-issues/issues/1164#issuecomment-254507648 , https://github.com/ContinuumIO/anaconda-issues/issues/1164#issuecomment-254453691 , and https://github.com/ContinuumIO/anaconda-issues/issues/1164#issuecomment-254506765

[2016-10-18 14:23] mingwandroid commented on #1164
Right. I actually wrote my comment hours ago and forgot to send it then didn't edit that part, but I just wanted to show where the numbers can be investigated for future reference.

[2016-10-18 15:51] dartdog opened #1167 "Anaconda update ruined custom GPU TensorFlow install"
Any advice appreciated!!
This is sort of lengthy and in the weeds at this point so I will point to this issue raised in the TensorFlow git Hub issues https://github.com/tensorflow/tensorflow/issues/5017

TL:DR
I have a brand new machine (Linux 16.04) specifically bought with the new Nvidia 1060 gpu which requires the Nvidia 8 drivers (cudnn 5.1.5) Hence I don't want the base Anaconda TensorFlow wh

[2016-10-18 16:50] stringhamc commented on #152
@toinsson workaround worked for me, I also had to do a 'pip uninstall readline' as well.

[2016-10-18 17:26] dartdog commented on #1167
Note this response at the Tensor Flow GH
This is a bit beyond my Linux Knowledge:

    The ldd output here suggests that you're linking with /usr/lib/x86_64-linux-gnu/libstdc++.so.6, but
    the error output you alluded to above (ImportError: /home/tom/anaconda3/bin/../lib/libstdc++.so.6:)
    was linking with /home/tom/anaconda3/lib/libstdc++.so.6.

So I'm not quite sure what exactly is happening

[2016-10-18 18:25] csoja commented on #1161
@kalefranz @ilanschnell I think we are planning a release of Miniconda with 4.2.10 soon.

[2016-10-18 19:07] kalefranz commented on #1161
Yes, we're releasing 4.2.10 this week and will make a Miniconda installer for it also.

[2016-10-18 19:59] patricktokeeffe opened #1168 "Updating Anaconda with Navigator removes Windows Start Menu shortcuts"
With a fresh installation of Anaconda2-4.1.1 (x64) on Win7 x64, I observed kernels started by Spyder would immediately die. I decided to update everything before investigating by launching Anaconda Navigator and upgrading the metapackage `anaconda` from 4.1.1 -> 4.2.0.

Now my start menu only contains a shortcut to <kbd>Anaconda Prompt</kbd>. (Disappearing shortcuts were mentioned in #1116 but I d

[2016-10-19 00:16] jakirkham commented on #1164
cc @astrofrog

[2016-10-19 08:50] aweinstein opened #1169 "`%matplotlib qt` in console throws an exception"
After updating to Anaconda 4.2.0 in a Linux machine, I cannot run`%matplotlib qt` in a qtconsole. I get the following exception:

[code]

This seems to be related to #1065 and #1068, but since the trigger of this problem is different, I'm reporting this as a different bug.

[2016-10-19 09:14] ltrojan opened #1170 "install scikit-image"
`conda create scikit-image --name scratch`

`Linking packages ...
An unexpected error has occurred, please consider sending the#########################################################################################################                  |  89%
following traceback to the conda GitHub issue tracker at:

    https://github.com/conda/conda/issues

Include the output of the command 'conda

[2016-10-19 09:15] ltrojan commented on #1170
[code]

[2016-10-19 09:16] ltrojan commented on #1170
[code]

Hope this is sufficient info...

[2016-10-19 13:09] ceforest opened #1171 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - pynio ==1.4.3
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'version': '1.2.1', 'python': '3.5.2', 'platform': 'osx-64', 'pyqt': '4.11.4', 'language': 'en', 'qt': '4.8.7', 'os': 'Darwin;15.6.0;Darwin Kernel Version 15.6.0: Mon Aug 29 20:21

[2016-10-19 13:19] montes00 opened #1172 "Anaconda (linux) fails to import SWIG interfaced C++ code when std_vector.i is included"
I have faced a problem on my C++ program binding to Anaconda.
When I tried to use the `std_vector.i`, import in Anaconda fails (undefined symbol).

Measurements I have seen are:
- The sample below represents the bug reported here. It does not work in Anaconda Python for Linux (64 bit, python3.5).
- However, the identical code works for python3 installed by the apt package system in Ubuntu 16.04. (

[2016-10-19 13:40] goanpeca commented on #1171
Hi @ceforest the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1 now / 1.3.2 later today)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`

[2016-10-19 13:40] #1171 closed

[2016-10-19 13:40] goanpeca commented on #1165
Hi @nwfpug  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1 now / 1.3.2 later today)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`c

[2016-10-19 13:40] #1165 closed

[2016-10-19 13:41] goanpeca commented on #1163
Hi @freed24  the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1 now / 1.3.2 later today)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`

[2016-10-19 13:41] #1163 closed

[2016-10-19 13:43] goanpeca commented on #1151
@FinDonny I would advice to just redownload the latest anaconda for your system and install it for your user only. https://www.continuum.io/downloads#windows

[2016-10-19 13:43] #1151 closed

[2016-10-19 13:44] goanpeca commented on #1150
Hi @atterebf the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.1 now / 1.3.2 later today)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`

[2016-10-19 13:44] #1150 closed

[2016-10-19 13:46] goanpeca commented on #1148
@wavetossed I would actually recommend having anaconda3 and install py2 envs. That way you have the latest Python (which I would recommend :-p )

[2016-10-19 13:46] #1148 closed

[2016-10-19 14:04] ccordoba12 commented on #1169
You need to use

    %matplotlib qt5

now :-)

[2016-10-19 14:04] #1169 closed

[2016-10-19 14:19] ccordoba12 commented on #1166
@ocefpaf, would you like to comment here?

[2016-10-19 15:04] Chris35Wills commented on #1166
Getting everything from the conda_forge channel seems to sort out dependencies for python 3.4:

[code]

This then works out without errors or warnings:

[code]

[2016-10-19 16:01] ocefpaf commented on #1166
There is no way we can make `gdal` from `conda-forge` work with `defaults` because of the `qt`, `jpeg` and `icu` versions being different. Sorry. You can either use all `conda-forge`, as you did above, or all from `defaults`. At the end of the day your choice of which one to use will be between an updated `gdal` (`conda-forge`) or an updated `Qt` (`defaults`).

[2016-10-19 16:29] tmcewen commented on #1160
[code]
Both of these commands give the failure below... how do I go about updating conda?  Do I have to completely uninstall and reinstall?
![error2](https://cloud.githubusercontent.com/assets/925723/19527826/63c13e04-95de-11e6-97ec-6b78378ab705.PNG)

[2016-10-19 16:54] Chris35Wills commented on #1166
@ocefpaf, thanks. I'll just stick with `conda-forge` then.

[2016-10-19 16:54] #1166 closed

[2016-10-19 16:57] ocefpaf commented on #1166
Bare in mind that we are working to ameliorate those issue by getting `Qt` in `conda-forge` and, in the future, `defaults` may be using stable versions of `conda-forge` recipes. So hopefully things will be better soon.

[2016-10-19 17:25] rahulsinghk998 commented on #121
Facing the same issue . .

[2016-10-19 19:07] pgensler opened #1173 "Anaconda Crashes when deleting enviroments"
When I try to delete environments, Anaconda crashes, and my icon in the applications folder is no longer there, but I can still launch it as normal. Thoughts on what could be causing this?

[2016-10-19 19:08] goanpeca commented on #1173
@pgensler could you paste the traceback ?

[2016-10-19 19:10] pgensler commented on #1173
Sure, I'm pretty new to this, but how would I do that?

[2016-10-19 19:11] goanpeca commented on #1173
You mean Anaconda Navigator? you mean conda on the command line?

What do you men by

[2016-10-19 19:12] pgensler commented on #1173
I don't know what a traceback is. This is the error that I get from OS X when Anaconda Navigator quit unexpecedly:
Process:               python3.5 [86799]
Path:                  /Users/USER/*/python
Identifier:            com.continuum.io
Version:               1.3.1 (???)
Code Type:             X86-64 (Native)
Parent Process:        ??? [86798]
Responsible:           python3.5 [86799]
User ID:

[2016-10-19 19:17] goanpeca commented on #1173
Ok, so Navigator,

Could you go to the command prompt (terminal) and type

`conda info`

And paste the result here, then

`conda list`

[2016-10-19 19:27] kalefranz opened #1174 "Error in installing Graphlab"
_From @chatterjeesidd on October 19, 2016 19:22_

The installation procedure for anaconda freezes at 70% for sometime and then completes with error. Installation log attached.

[launcher-install-log.txt](https://github.com/conda/conda/files/539995/launcher-install-log.txt)

_Copied from original issue: conda/conda#3670_

[2016-10-19 19:31] pgensler commented on #1173
Sure:
Current conda install:

               platform : osx-64
          conda version : 4.2.9
       conda is private : False
      conda-env version : 4.2.9
    conda-build version : 2.0.2
         python version : 3.5.2.final.0
       requests version : 2.11.1
       root environment : /Users/petergensler/anaconda  (writable)
    default environment : /Users/petergensler/anaconda
       envs di

[2016-10-19 19:43] dartdog commented on #1167
This from the TensorFlow GH issues (Referenced above) site fixed the issue: Recording it here for people who follow.
try to do this:

    # cp /usr/lib/x86_64-linux-gnu/libstdc++.so.6 /home/tom/anaconda3/lib/
and it should work, at least it works for me.

[2016-10-19 19:43] #1167 closed

[2016-10-19 21:42] goanpeca commented on #1173
@pgensler are you sure about the last command?

`anaconda-navigator`

It seems anaconda-navigator was not installed correctly, cause the info we get is from the `anaconda` command

The command is all together

`anaconda-navigator`

and not

`anaconda -navigator`

[2016-10-19 21:45] pgensler commented on #1173
Sorry, the last command, Anaconda-Navigator tries to open, but Python opens up and crashes with it as well. Here is the traceback:
Traceback (most recent call last):
  File "/Users/petergensler/anaconda/lib/python3.5/site-packages/anaconda_navigator/widgets/main_window.py", line 355, in process_application_info
    packages, apps = output
TypeError: 'NoneType' object is not iterable
Abort trap: 6

[2016-10-19 21:46] pgensler commented on #1173
Do you know what default virtual environments come with Anaconda by chance?

[2016-10-19 21:51] chatterjeesidd commented on #1174
Hi @kalefranz , would you be able to suggest what I need to do to complete the installation. I am very new to using python and graphlab.

[2016-10-20 05:59] BjornFJohansson opened #1175 "Anaconda-navigator missing maximize button and chopping buttons at the edges"
Hi,
anaconda-navigator 1.3.2 still gives me a strange GUI. I have no maximize button and the text is still cut off in the corners (see screenshots below).

![image](https://cloud.githubusercontent.com/assets/9726401/19547632/5bac4ef8-9691-11e6-91cc-cca59827934b.png)

![image](https://cloud.githubusercontent.com/assets/9726401/19547658/7a57b61c-9691-11e6-8642-5c8cd5b37a66.png)

![image](https://clo

[2016-10-20 06:32] brylie commented on #1139
Thanks @goanpeca. It would be really useful, as an end user, if the installation would properly manage the dependencies. The steps to create a new environment and install Orange3 are error prone.

Is there some middle ground solution, where the 'Install Orange3' button could be added back to the anaconda-navigator homescreen (e.g. clicking 'Install Orange3' would create a new environment, install

[2016-10-20 06:35] brylie opened #1176 "Restore 'easy installer' for Orange 3"
Recently, the 'Install Orange3' button was removed from anaconda-navigator. This was, in part, due to mismatch in Qt dependency versions between anaconda-installer (Qt5) and orange3 (Qt4). I was instructed that to install Orange 3, I needed to create a new environment and manually install Orange 3 -- including the need to specify which Qt version manually (#1139). This process is error prone, and

[2016-10-20 10:13] PetreanuAndi commented on #223
@aizvorski , your solution does work, but the quality of the output is horrible (beyond the frist keyframe)
Checking their documentation, i found this observation : "Often, writing videos requires fine tuning FFmpeg’s writing parameters to select encoders, framerates, bitrates, etc. For this, you can use skvideo.io.FFmpegWriter"

However, that does not compile, it can not find the FFmpegWriter met

[2016-10-20 11:18] goanpeca commented on #1176
hi @brylie, we are working on this for version 1.4 of navigator coming in some weeks. Thanks for the feedback.

[2016-10-20 11:19] goanpeca commented on #1139
@brylie what you suggesst is exactly what we are working on for 1.4 :-)

[2016-10-20 12:46] goanpeca commented on #1175
@BjornFJohansson we added a new option in the preferences to disable high DPI scaling. It is on by default so you need to disable it and restart navigator.

<img width="479" alt="screen shot 2016-10-20 at 8 46 26 am" src="https://cloud.githubusercontent.com/assets/3627835/19560262/be1be2b4-96a1-11e6-8b21-e12f616b0a3f.png">

Could you try and let us know if it works ok?

[2016-10-20 12:48] goanpeca commented on #1173
@pgensler great, that feedback I can use to get the problem fixed. Thanks, will work on this ASAP

[2016-10-20 12:49] goanpeca commented on #1173
@pgensler there is a new bugfix version of navigator, you can get it by typing on the command prompt

`conda update anaconda-navigator`

I believe this should fix the error you see, but I would need a confirmation, thanks

[2016-10-20 13:15] goanpeca commented on #1127
@zhuyu2015 and @WilliamLeeBravo, the new version of Anaconda Navigator added a fix for this.

To update to the latest version please type on the command prompt:

`conda update anaconda-navigator`

We added a new option in the preferences to disable high DPI scaling. It is on by default so you need to disable it and restart navigator.

<img width="479" alt="screen shot 2016-10-20 at 8 46 26 am" src

[2016-10-20 13:30] BjornFJohansson commented on #1175
Hi, it works, sort of.
I now have a maximize button, but I now think the text is too small (see screenshot below).
Maybe I am getting old, and I should get glasses...
I have a Lenovo T450s with 1920 x 1080 14" monitor. Does my computer somehow fall in between the computers that you are aiming for?

![image](https://cloud.githubusercontent.com/assets/9726401/19561242/bd1ca88e-96cf-11e6-8744-905f68e

[2016-10-20 13:38] goanpeca commented on #1175
Maybe 😆

Well, if the fonts look smaller than the rest of the fonts in your OS, then yes we might have a problem, otherwise 👓

[2016-10-20 13:57] WilliamLeeBravo commented on #1127
Thanks for working on this, however, the navigator is still that huge even
after I have updated it. I'm not quite sure what is wrong. I think it will
be more helpful if I give you my laptop information. I'm using a thinkpad
t450s laptop running Ubuntu 16.04 LTS system. The cpu is i5-5300u. Anyway
I'm starting to use ipython in terminal but not spyder IDE for my python
study, and I will keep checki

[2016-10-20 14:11] ijstokes commented on #999
@csoja I think so -- many of the people who reported ongoing problems are now saying that these various steps (in particular, updating `pcre` and `r-irkernel`) have solved the problem for them.  It certainly has solved the problem for me.  I'm closing it, but if anyone else is suffering after trying the steps described here (and it seems like it is the same issue) please request to reopen.

[2016-10-20 14:11] #999 closed

[2016-10-20 14:13] goanpeca commented on #1127
did you disable the option (uncheck it) on the preferences dialog as with the screenshot pasted in my previous message?

[2016-10-20 14:19] WilliamLeeBravo commented on #1127
[image: Inline image 1]
Yes, I've done this for several times but nothing changed.

On Thu, Oct 20, 2016 at 10:13 AM, Gonzalo Peña-Castellanos <
notifications@github.com> wrote:

[2016-10-20 14:54] Berisha-mekayhu opened #1177 "Navigator Error"
The following errors occured:

None:
Dependency missing in current win-64 channels:
  - theano ==0.8.2 -> m2w64-toolchain

You can search for packages on anaconda.org with

    anaconda search -t conda m2w64-toolchain

{'conda': '4.1.11', 'os': 'Windows;8.1;6.3.9600;AMD64;Intel64 Family 6 Model 60 Stepping 3, GenuineIntel', 'language': 'en_US', 'version': '1.2.1', 'python': '3.5.2', 'pyqt': '4.11.

[2016-10-20 15:34] kalefranz opened #1178 "Error in installing Graphlab"
_From @chatterjeesidd on October 19, 2016 19:22_

The installation procedure for anaconda freezes at 70% for sometime and then completes with error. Installation log attached.

[launcher-install-log.txt](https://github.com/conda/conda/files/539995/launcher-install-log.txt)

_Copied from original issue: conda/conda#3670_

[2016-10-20 15:34] kalefranz commented on #1178
This issue was moved to ContinuumIO/anaconda-issues#1174

[2016-10-20 15:44] goanpeca commented on #1177
Hi @Berisha-mekayhu the package is not available for the platform you use.

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`

Cheers

[2016-10-20 15:44] #1177 closed

[2016-10-21 06:56] freed24 opened #1179 "Navigator Error"
The following errors occured:

None:
UnsatisfiableError: The following specifications were found to be in conflict:
  - mysql-python ==1.2.5
  - python 3.5*
Use "conda info <package>" to see the dependencies for each package.

{'platform': 'win-64', 'os': 'Windows;7;6.1.7601;AMD64;Intel64 Family 6 Model 60 Stepping 3, GenuineIntel', 'pyqt': '4.11.4', 'python': '3.5.2', 'version': '1.2.1', 'conda':

[2016-10-21 07:44] brylie commented on #1139
Thanks @goanpeca

Also, the original issue reported in this thread is still unresolved. I still cannot 'Open Terminal' from the anaconda-navigator, in KDE plasma 5.8.

[2016-10-21 07:49] brylie commented on #1176
Thanks @goanpeca :smile:

[2016-10-21 13:39] goanpeca commented on #1179
Hi @freed the packages selected for installation are in conflict, to learn more you can [read here](http://conda.pydata.org/docs/troubleshooting.html#unsatisfiable)

Please download the latest version of navigator (1.3.2)

On the command prompt you can type:

`conda update anaconda-navigator`

or you can also update to the latest anaconda distribution (4.2) by typing:

`conda update anaconda`
`con

[2016-10-21 13:39] #1179 closed

[2016-10-21 13:42] mingwandroid commented on #1063
@flying-sheep I didn't change any dependencies in https://github.com/conda/conda-recipes/commit/dee9542272b2bcc1e49f5ac23ab5d46fbe37e926. The only change there is renaming the jinja2 template variable `pfx` to `native`.

I actually already do test the capabilities are as I expect them to be before I upload each release, and I have never encountered this problem, nor have I been able to reproduce i

[2016-10-21 18:21] ebadia opened #1180 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
- matplotlib ==1.5.3
- pyqtgraph -> pyqt 4.*
- pyqtgraph -> python 2.7_|3.4_
  Use "conda info <package>" to see the dependencies for each package.

{'version': '1.2.1', 'os': 'Darwin;16.0.0;Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X

[2016-10-21 18:25] #1180 closed, assigned to goanpeca

[2016-10-21 19:07] pgensler commented on #1173
Sorry, I just updated Navigator, and its still crashing.

[2016-10-21 19:56] goanpeca commented on #1173
if you delete the folder

`~/.anaconda/navigator`

An restart, same problem?

[2016-10-21 22:54] snowlizard13 opened #1181 "Navigator Error"
The following errors occured:

RuntimeError:
Connection error: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590): https://conda.anaconda.org/conda-forge/win-64/shapely-1.5.16-np111py27_1.tar.bz2

{'platform': 'win-64', 'version': '1.2.1', 'conda': u'4.1.11', 'qt': '4.8.7', 'language': 'en_US', 'python': '2.7.12', 'os': 'Windows;7;6.1.7601;AMD64;Intel64 Family 6 Model 60 Stepp

[2016-10-22 12:42] David-OConnor commented on #1068
I can confirm that on a clean install of Anaconda py3.5 on win64, this is still present. Steps to reproduce:

-Install Anaconda
-conda update conda; conda update --all
-from matplotlib import pyplot as plt

You can revert to an old version of qt to allow matplotlib to work, but then jupyter qtconsole doesn't work.

[2016-10-22 13:27] Haffi112 opened #1182 "Navigator: This application failed to start because it could not find or load the Qt platform plugin "xcb" in ""."
When I try to run anaconda-navigator I get the following message:

This application failed to start because it could not find or load the Qt platform plugin "xcb"
in "".

Available platform plugins are: minimal, offscreen, xcb.

Reinstalling the application may fix this problem.
Aborted (core dumped)

I have no clue how to fix this and googling hasn't helped at all. This is my first install of Ana

[2016-10-22 16:44] kcinicx opened #1183 "New Anaconda Install won't launch"
First time installing Anaconda on Mac OS-X. According to the site, executing Anaconda Navigator should start the GUI but I get the error below. Tried uninstalling and reinstalling to no avail. Any ideas?

[2016-10-23 03:33] HolyMonarch opened #1184 "Navigator Error"
The following errors occured:

UnsatisfiableSpecifications:
The following specifications were found to be in conflict:
- opencv ==2.4.8
- python 3.5*
  Use "conda info <package>" to see the dependencies for each package.

{'language': 'en', 'os': 'Darwin;16.0.0;Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64;x86_64;i386', 'qt': '4.8.7', 'platform': '

[2016-10-23 07:55] AshaSusan opened #1185 "Spyder not opening due to incomplete installation of anaconda"
* Installed anaconda3-4.2.0 Windows 64 bit. Three error messages were shown hence used the following commands which worked
"C:\Anaconda3\pythonw.exe" -E -s "C:\Anaconda3\Lib\_nsis.py" addpath
"C:\Anaconda3\pythonw.exe" -E -s "C:\Anaconda3\Lib\_nsis.py" mkdirs
"C:\Anaconda3\pythonw.exe" -E -s "C:\Anaconda3\Lib\_nsis.py" mkmenus

* Spyder is not opening

* Error shown:
![image](https://cloud.githubu

[2016-10-23 13:27] ccordoba12 commented on #1185
If conda is working for you, you can open a terminal (i.e. cmd.exe) and run these commands:

    conda install -f qt
    conda install -f pyqt

[2016-10-23 14:04] eronlloyd commented on #951
Any updates on this?

[2016-10-24 14:44] httassadar opened #1186 "conda update spyder hangs on unlinking stage"
Windows
Python 2.7.12
Anaconda 4.2.0 (64 bit)
Spyder 3.0.0

When I do
conda update spyder
(to update from 3.0.0-py27_0 to 3.0.1_py27_0)

it will hang at unlinking stage.

Same if I do
conda uninstall spyder

[2016-10-24 14:49] httassadar commented on #1186
pip install spyder --upgrade
worked fine.

[2016-10-24 15:38] goanpeca commented on #1183
Hi @kcinicx could you go to the command prompt and type

`conda info` and paste the result here

and then type

`conda list` and paste the result here

Thanks

[2016-10-24 16:39] mingwandroid commented on #1068
@David-OConnor: I cannot reproduce this. The matplotlib 1.5.3 package contains a `Lib\site-packages\matplotlib\mpl-data\matplotlibrc` file which contains the following:

[code]

If you can try it again and do `conda list` I'd appreciate it, one thing to note is that matplotlib has a list of places it looks in for matplotlibrc, as detailed here: http://stackoverflow.com/a/23484838/3257826

.. so it