[2018-04-11 11:32] mingwandroid commented on #9142
Another thing to try is to run `C:\Windows\System32\dxdiag.exe` and see what output it gives.

[2018-04-11 11:35] mingwandroid commented on #9142
As a final fallback, I could provide `opengl32sw.dll` (it comes as part of mesa) but when it's used the performance will be terrible since it's a software rasteriser so before I consider that I'm afraid you are a useful test-case to figure out these compatibility issues; we want the best performance for as many people as possible.

[2018-04-11 11:53] mingwandroid commented on #9138
Thanks @phw, it's incorrect to say that anything is "not integral". If you are referring to the somewhat crippled capabilities of our `ffmpeg` executable, well, that's down the the `MPEG-LA` licensing rules and us not wanting to go anywhere near that quagmire I am afraid.

We expect and actively encourage end-users to use any binary from any package we build as they see fit, and apart from the Ana

[2018-04-11 11:56] mingwandroid commented on #9138
For your application, if you are sure you want the system `ffmpeg` can you not try to run `/usr/bin/ffmpeg` first?

[2018-04-11 12:38] 183amir opened #9144 "Cannot create an environment with caffe 1.0 and tensorflow 1.6.0"
This is on Linux 64-bit and the defaults channel:
[code]
Each package is installable separately.

Here is the info of packages:
[code]
and
[code]

Is it possible to release a new version of one of them so that they are installable in one environment?

[2018-04-11 12:53] 183amir commented on #9144
`caffe` is conflicting with `grpcio` over `libprotobuf`:
[code]
[code]

[2018-04-11 13:50] alport commented on #9087
I am having the same problem; after selecting any environment, then all the "upgradable" packages, if I select any of these Upgradable packages and "Apply", I get the scrolling blue progress abr, but no packages are listed. This Install Packages window seems to hang.
I am tempted to just do a new install - in OSX - just delete the Application and redownload??

[2018-04-11 13:52] phw commented on #9138
I think the issue was mainly that it is also missing xcbgrab for screen capturing.

The problem with this is that I cannot be sure where the user has installed ffmpeg. I think I could probably savely set it to "/usr/bin:/usr/local/bin" for a typical system installation, but this breaks as soon as I put the application into Flatpak, AppImage or Snap, where there is a separate bin directory in the P

[2018-04-11 14:41] gregor-d commented on #1775
Same problem here. What worked for me was:
- Save my Path-variable
- Delete everything in my Path-variable (under Environment Variables)
- Install Anaconda
- Restore Path-variable

[2018-04-11 14:54] mingwandroid commented on #7455
Those fonts are for qt-based apps on Linux only at present (and I added them explicitly in support of RStudio). To the best of my knowledge you need system fonts here.

[2018-04-11 17:23] Taylorphawkins opened #9145 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]
I am very confused as to what just happened? I updated spyder using "conda update spyder" and it all updated fine. Then  after relaunching anaconda and trying to launch spyder I get this.

Spyder also didn't update to 3.2.8(latest) but to 3.2.3.

[2018-04-11 17:26] goanpeca commented on #9145
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-11 17:26] #9145 closed

[2018-04-11 18:15] jjhelmus commented on #9144
Thanks for tracking down the conflict @183amir. `caffe` will be to be rebuild against a newer version `libprotobuf` to establish compatibility between the two packages.  I'll look into this next week once I am back from travel.  For the time being `tensorflow` 1.6.0 and `caffe` will need to be installed into separate conda environments.

[2018-04-11 19:42] Maximilan21 opened #9146 "Installed latest Anaconda with Python. "jupyter notebook" is not being installed with all other files. " Error executing Jupyter command 'notebook': [Errno 'jupyter-notebook' not found] 2". Have installed as admin."
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-11 20:56] mingwandroid commented on #8932
@sigiesec thank you, I am working on updating to this version now. Initial tests look good. It's great to have a reliable zeromq on Windows again.

[2018-04-11 21:39] shivangvsingh5 opened #9147 "navigator error"
getting navigator error after installing anaconda for mac os X ...below are the errors-
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'

[2018-04-11 21:45] WRZY opened #9148 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-11 22:10] cristianhojas opened #9149 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=9644)
## Traceback
[code]
## System information
[code]

[2018-04-11 22:34] Adorra commented on #4808
@vaibhavs21 @CarolineMorton I'm in a similar situation with the above solutions that have been applied. Anaconda Navigator states it is already up to date.

[2018-04-11 23:13] mingwandroid commented on #9144
Could we consider only linking statically to `protobuf`? It seems to be quite a frequent source of incompatibilities.

[2018-04-11 23:34] Yolup1 opened #9150 "Anaconda Installation Issues"
Receive error stating that anaconda is not an internal or external command

open navigator and/or prompt

 I did a lot of things terribly wrong because I am a noob, here it goes
 download and install anaconda windows 64 bit
 It works!
 play with tensorflow and run out of space on hard drive partition
 stupidly uninstall anaconda manually (delete the `Anaconda3` folder from my user folder)
 attempt

[2018-04-12 01:36] dhirschfeld commented on #9142
I enabled `faulthandler` but it didn't seem to give any further useful info:
[code]

[2018-04-12 01:37] mysaladdays opened #9151 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-12 01:47] mingwandroid commented on #9142
Can you try the DLLs from [here](http://download.qt.io/development_releases/prebuilt/llvmpipe/windows/) please?

[2018-04-12 01:48] mingwandroid commented on #9142
Some Qt bug references:

https://bugreports.qt.io/browse/QTBUG-44756
https://bugreports.qt.io/browse/QTBUG-57004

[2018-04-12 01:55] dhirschfeld commented on #9142
In case it helps below are the loaded DLLs from Process Explorer for the working conda-forge `qt=5.6.2`
[code]

[2018-04-12 01:58] dhirschfeld commented on #9142
Testing out ` opengl32sw-64.7z`

[2018-04-12 01:58] mingwandroid commented on #9142
BTW, we've been a little lucky with out PyQt based applications in that they work with PyQt 5.6 and also with PyQt 5.9 and our dependencies are set so as to allow either to work so you should be able to still use new versions of spyder, navigator and orange3 with PyQt 5.6.

You will run into trouble with the upcoming RStudio 1.2 which absolutely needs Qt 5.9 (for QtWebEngine which is basically Chr

[2018-04-12 02:03] mingwandroid commented on #9142
A Kivy bug related to using `ANGLE` on `Citrix VM` (some hints about antialiasing but I suspect we are running into a need for OpenGL >= 3 and Citrix providing only 2, if you can figure a way to check that I'd appreciate it):

https://github.com/kivy/kivy/issues/4971

[2018-04-12 02:09] dhirschfeld commented on #9142
I put the `opengl32sw.dll` from that link in my Python folder and spyder works fine. The console output is:
[code]

[2018-04-12 04:11] khenshaa opened #9152 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=559)
## Traceback
[code]
## System information
[code]

[2018-04-12 04:15] goanpeca commented on #9152
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-12 04:15] #9152 closed

[2018-04-12 06:32] akshayachetan opened #9153 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=2408)
## Traceback
[code]
## System information
[code]

[2018-04-12 06:32] #9153 closed

[2018-04-12 06:36] goanpeca commented on #9153
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-12 06:42] akshayachetan opened #9154 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=2408)
## Traceback
[code]
## System information
[code]

[2018-04-12 06:46] goanpeca commented on #9154
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-12 06:46] #9154 closed

[2018-04-12 07:29] tonmoyborah commented on #121
Still an issue

[2018-04-12 08:26] mingwandroid commented on #9142
The qt apps I know of are anaconda-navigator, spyder, orange3 and RStudio. Conda-forge may have some others but they may be incompatible for other reasons (pyqt ones might work, C++ ones stand no chance without recompilation).

[2018-04-12 08:34] mingwandroid commented on #121
We will not be providing h264 or h265 support for licensing reasons. That is the issue here.

[2018-04-12 08:34] #121 closed

[2018-04-12 08:56] nehaljwani commented on #9150
@Yolup1 Questions for you:
- On the one TB partition, were you installing it on a path with spaces or without spaces?
- What's the filesystem on that partition?
- Do you see the same behaviour with the miniconda installer?
- How does your computer connect to the internet? Is it behind a corporate firewall/proxy server?

What's the error message?

[2018-04-12 08:59] mingwandroid commented on #9142
@ccordoba12:

I didn't read this right first time. Ah yes, I expect they probably do.

[2018-04-12 09:01] nehaljwani commented on #8202
@Georacer If you move `~/.local/lib/python2.7/site-packages` to `~/.local/lib/python2.7/site-packages.bak` are you still able to reproduce the problem?

[2018-04-12 11:16] SaberD commented on #7161
tensorflow v1.7 is out
The anaconda tensorflow-gpu package for windows is getting quite old :older_man:
A quick solution is to just use:
``` pip3 install --upgrade tensorflow-gpu ```

[2018-04-12 11:56] SaberD commented on #7161
to get the latest version running you have to remove the cudatoolkit and cudnn packages from anaconda and install them manually.
![image](https://user-images.githubusercontent.com/13253873/38675432-fb0c4db2-3e57-11e8-8014-23cc0242b2bc.png)
Currently you need version 9.0 of cuda toolkit and version 7.0 cudnn (for cuda 9.0)
links: [cuda](https://developer.nvidia.com/cuda-toolkit-archive), [cudnn](ht

[2018-04-12 12:02] SaberD commented on #7161
to test if you are running on the gpu:
[code]
to print out available devices:
[code]

[2018-04-12 14:15] oleksandr-pavlyk commented on #9129
@stuartarchibald Yes, I agree. I will also make sure to file an issue with MKL team.

[2018-04-12 14:18] goanpeca commented on #9149
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-12 14:18] #9149 closed

[2018-04-12 14:18] goanpeca commented on #9147
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-12 14:18] #9147 closed

[2018-04-12 14:50] hhuang4 opened #9155 "Anaconda Navigator Error"
### Actual Behavior

My laptop froze the other day so I did hard reset. However, after that, I cannot access Anaconda Navigator anymore. There is such error message below. I am using Windows 10 and latest version of Anaconda x86.

Main Error
byte indices must be integers or slices, not str
Traceback
Traceback (most recent call last):
  File "C:\Anaconda\lib\site-packages\anaconda_navigator\excepti

[2018-04-12 15:42] goanpeca commented on #9151
Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

Also, it is a good idea to update all conda packages to get the latest versions which include bug and compatibility fixes.

[code]

[2018-04-12 15:42] #9151 closed

[2018-04-12 16:46] jdavies-st commented on #9129
Thanks for looking into this.  I verify that on my system, build 0 of 1.14.2 does not exhibit this behavior.

In the meantime, is there a way as a user to turn off mkl acceleration for Anaconda-built numpy?  I notice when I do a `conda search numpy` that there are `nomkl` versions
[code]
but I can't get them to resolve
[code]
I must be doing something wrong, but I can't find any documentation of h

[2018-04-12 18:06] mas-dse-greina commented on #1837
Getting the same error. All of the links here seem to reference each other, but I don't see the actual solution. I have installed and re-install miniconda several times now. Creating a virtual environment doesn't work.

[buer@param ~]$ conda update conda
Fetching package metadata .........
Solving package specifications: .

Package plan for installation in environment /home/buer/miniconda2:

The f

[2018-04-12 18:47] sidletsky opened #9156 "Navigator Error"
### Actual Behavior

When clicking on the app icon, it opens a page in a browser with an error description

### Expected Behavior

App should open

### Steps to Reproduce

1. install anaconda from http://anaconda.com/download/
2. run

##### Anaconda or Miniconda version:

5.1

##### Operating System:

macOS 10.13.4

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

#####

[2018-04-12 19:25] Yolup1 commented on #9150
1) without spaces
2) if you mean the format on the partition, it is NTFS. if you mean any directories, there are no directories on the partition, it is empty
3) i cannot download the miniconda installer, just like the anaconda installer
4) when i download the installer from the internet via firefox, the connection fails. i am using a home computer and as far as i know there is no firewall or proxy

[2018-04-12 19:28] jjhelmus commented on #9129
You should be able to install the version of NumPy which uses OpenBLAS using `conda install numpy nomkl`.  The `nomkl` package is the key install the `nomkl` feature.

[2018-04-12 19:38] jjhelmus commented on #9144
This sounds like a great idea.  I'm not sure if there are connections between the protobuf library version and protocol itself which could potentially prevent this from working.  I'll look into the details and run tests before publishing any packages.

[2018-04-12 20:00] Georacer commented on #8202
@nehaljwani I removed (renamed) the `site-packages` folder as you proposed.
The command `(base) anaconda-navigator` works now.
The launch icon for the navigator still doesn't do anything and closes after a few seconds.

I consider the problem solved, but I would certainly appreciate an explanation on why this happens and if you are so kind, a proposition on how to keep working with my custom pytho

[2018-04-12 20:17] goanpeca commented on #9156
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-12 20:17] #9156 closed

[2018-04-12 20:29] jdavies-st commented on #9129
That does it.  Many thanks.  I understand feature tracking a bit better now.  😎

[2018-04-12 20:36] ckendal opened #9157 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=435)
## Traceback
[code]
## System information
[code]

[2018-04-12 20:37] goanpeca commented on #9157
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-12 20:37] #9157 closed

[2018-04-12 21:27] tkelman commented on #8087
@MarkAPitt if you could put `rollback_enabled: false` in your `.condarc` file, then edit every copy of the `ipykernel-post-link.bat` script that you can find to remove `> NUL` and try again, maybe we'll see more of your error.

[2018-04-12 22:08] romeolandry opened #9158 "Anaconda-navigator don't start"
I have install anaconda and sypder an anaconda-navigator don't start

Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\qtpy\__init__.py", line 163, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleNotFoundError: No module named 'PySide'

During handling of the above exception, another exception occurred:

Traceback (most

[2018-04-12 23:39] esra-aydemir opened #9159 "anaconda-navigator did not launch after installing opencv (Failed to launch GPU process)"
#### A have just installed opencv in conda using
[instructions here](https://anaconda.org/conda-forge/opencv)
#### It gave this error:
[13848:13886:0413/023107.613354:ERROR:browser_gpu_channel_host_factory.cc(120)] Failed to launch GPU process.
#### and did not launch
#### The traceback on the error page opened is as follows:
Traceback (most recent call last):
  File "/home/aras/anaconda3/lib/pyth

[2018-04-13 02:08] barisgecer commented on #223
@jeremy-rutman
I am leaving this here for others:
[code]

[2018-04-13 03:30] HL--K commented on #8568
I deleted the binstar/config.yaml file and it worked.  I had to search for it (using a program called 'Everything').  It was added to a completely separate directory by a previous install of Anaconda, and the previous uninstall did not delete it.

[2018-04-13 04:03] BanksJ opened #9160 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-13 05:51] esra-aydemir commented on #9159
After I have removed and reinstallled conda forge it worked as expected.

[2018-04-13 05:51] #9159 closed

[2018-04-13 06:31] xjx79 opened #9161 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-13 06:35] goanpeca commented on #9161
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-13 06:35] #9161 closed

[2018-04-13 10:28] rocky84 opened #9162 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-13 10:33] goanpeca commented on #9162
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-13 10:33] #9162 closed

[2018-04-13 10:34] stmax82 opened #9163 "Package request: ipython-notebook for Python 3.6"
Having installed the latest miniconda on a new system (Python 3.6 on Win 10 x64) I was kinda surprised that `conda install ipython-notebook` didn't work because there's no ipython-notebook package for Python 3.6 yet.

Workaround is to create an environment with Python 3.5 or to install an older miniconda?

Could the package be updated?

[2018-04-13 10:34] nehaljwani commented on #8202
@Georacer I can only tell what I would do:
- If I work on multiple python projects or custom versions of python packages, I would not put them in --user-site. I would rather put them in the conda environment where I do most of the work. I do this quite often and rely on `python setup.py develop` which sets up a link in the activated conda environment's site-packages directory and I continue workin

[2018-04-13 10:36] nehaljwani commented on #8202
Regarding anaconda-navigator closing, could you try updating the package and see if that helps?

[2018-04-13 10:39] mingwandroid commented on #9163
The package you need is called simply `jupyter`.

[2018-04-13 10:39] #9163 closed

[2018-04-13 10:48] petre-dimo opened #9164 "using anaconda / linux / toshiba netbook nb500"
I just installed last anaconda3 / 32 bit version for Linux (Ubuntu - last update)
I updated everything (anaconda, conda, etc...) but I can't start navigator, jupyter or spyder because I get the same error : QXcbConnection : Could not connect to display
Searching for an explanation I found that DPI scaling must be changed in navigator preferences, but how can I reach this option (in a window) since

[2018-04-13 10:59] Georacer commented on #8202
@nehaljwani Thank you for your suggestions!

Regarding, the launch icon:
I have updated conda to version 4.5.0 and anaconda-navigator to version 1.8.2, through conda.
The launch icon still doesn't work.

Any idea where I can find the shortcut to check if the link has the correct command? Or anything along those lines.

[2018-04-13 11:17] Mika-Lahtinen opened #9165 "Navigator Error"
### Actual Behavior
`An unexpected error occurred on Navigator start-up<br>byte indices must be integers or slices, not str
Traceback (most recent call last):
  File "/home/mikale/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "/home/mikale/anaconda3/lib/python3.6/site-packages/anaconda_navigato

[2018-04-13 11:21] #9165 closed, assigned to goanpeca

[2018-04-13 13:06] GothArchivist opened #9166 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=708)
## Traceback
[code]
## System information
[code]

[2018-04-13 13:09] goanpeca commented on #9166
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-13 13:09] #9166 closed

[2018-04-13 13:15] AIFatima opened #9167 "Navigator Error"
The following errors occured:

None:
CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.continuum.io/pkgs/pro/win-64/repodata.json.bz2>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
ConnectTimeout(MaxRetryError("HTTPSConnectionPool(host='repo.continuum.io', port=443): Max retries e

[2018-04-13 13:18] goanpeca commented on #9167
Closing as duplicate of #1932

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1932 for more information on how to fix this.**

[2018-04-13 13:18] #9167 closed

[2018-04-13 13:20] fatboystring opened #9168 "f port open"
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-13 13:20] #9168 closed, assigned to nobody

[2018-04-13 13:31] mingwandroid commented on #8244
This has been fixed for a few weeks now. Please run conda update python.

[2018-04-13 14:30] stadelmanma opened #9169 "PyInstaller issue with changes to function _get_sysconfigdata_name"
### Actual Behavior

Calling PyInstaller on a simple hello-world script raises an exception because it doesn't expect the method `_get_sysconfigdata_name` (defined in sysconfig.py) to require an argument. As far as I can tell and based on the conversation in a linked issue this appears to be an anaconda customization.

Partial backtrace produced from PyInstaller
[code]

Method definition from offi

[2018-04-13 15:28] goanpeca commented on #8202
@Georacer if you try to launch it from the terminal/anaconda prompt is there any traceback/error?

[2018-04-13 15:29] goanpeca commented on #9159
@esra-aydemir you are using an old version of conda, I would suggest you updated all your packages to newer versions

[code]

[2018-04-13 15:35] goanpeca commented on #9160
Closing as duplicate of #6970

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #6970 for more information on how to fix this issue.**

[2018-04-13 15:35] #9160 closed

[2018-04-13 15:39] Georacer commented on #8202
I can launch the anaconda navigator typing:
[code]
The window opens normally, without any further printout in the terminal.
Nothing is printed when I close the window either.

Did you have some other series of commands perhaps?

[2018-04-13 15:49] goanpeca commented on #8202
We do not support any icon/launcher on linux systems, so I am not sure what you mean, on Linux all users need to run navigator from a properly activated env, via a terminal.

[2018-04-13 15:52] Georacer commented on #8202
I was talking about the launcher icon attainable from the launch menu in Ubuntu:

![image](https://user-images.githubusercontent.com/3149996/38744856-9d4e9168-3f4b-11e8-9eec-f945c3aed3cb.png)

This was available after installing the Anaconda suite, so I though I should give it a try.
I report that it doesn't work for me but I am also of the opinion that this isn't crucial to my Anaconda experience

[2018-04-13 15:54] mponichtera commented on #1775
So after testing couple of approaches i managed to install updated anaconda. For me only this worked, without the error:

1. On C:\ manually create Anaconda folder
2. Install anaconda for 1 user without adminitrative privilages inside this directory.

[2018-04-13 15:56] goanpeca commented on #8202
I am not sure why Ubuntu is doing that, but having a proper icon is something that is being tracked already but not supported at the moment.

[2018-04-13 15:57] Georacer commented on #8202
Okay. Then no need for me to keep wasting your time ;)

[2018-04-13 16:02] goanpeca commented on #8202
No time is wasted here! We are happy to help. Thanks @nehaljwani for the debugging and @Georacer for providing all the feedback

[2018-04-13 19:30] mccarthyryanc commented on #8948
I would really like to see a Python 3.6 version my pymssql.

[2018-04-13 19:44] vatsal2020 opened #9170 "Issues running the Navigator app"
This error shows up

Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/Vatsal/Library/Application Support/binstar/config.yaml", line 1, column 1

Traceback

Traceback (most recent call last):
  File "/Users/Vatsal/anaconda2/lib/python2.7/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*ar

[2018-04-13 19:59] kt995 opened #9171 "Issue with slices vs str"
Navigator Error

An unexpected error occurred on Navigator start-up
Report

Please report this issue in the anaconda issue tracker
Main Error

byte indices must be integers or slices, not str

Traceback

Traceback (most recent call last):
  File "/Users/katie/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwar

[2018-04-14 03:17] shadowwalkersb opened #9172 "How to disable anaconda's compilers during environment activation?"
In our software development workflow we use miniconda/anaconda to download and install binary dependencies. We have a metapackage which has the dependencies listed as build and run requirements. With the new compilers, our build workflow got broken. As a workaround, until we update our build system to use the new compilers, we simply added an activation script that unsets compiler related environm

[2018-04-14 04:34] Saikiran-Myneni opened #9173 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=6312)
## Traceback
[code]
## System information
[code]

[2018-04-14 04:39] goanpeca commented on #9173
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-14 04:39] #9173 closed

[2018-04-14 04:58] Saikiran-Myneni commented on #9173
Issue resolved.
Thanks @goanpeca

[2018-04-14 06:53] asutosh405 commented on #4808
running the 2 commands mentioned in the thread solved the purpose for me.
I was also facing the same issue.

thumbs up .. !!!

[2018-04-14 10:11] mingwandroid commented on #9172
If you do not want to use the new compilers then do not add them to your `requirements/build` section.

[2018-04-14 10:11] #9172 closed

[2018-04-14 12:15] shadowwalkersb commented on #9172
We don't have them in the recipe.

On Sat, Apr 14, 2018 at 5:11 AM, Ray Donnelly <notifications@github.com>
wrote:

--
shadow_walker
Just a coder!

[2018-04-14 12:29] mingwandroid commented on #9172
Is your recipe available somewhere?

[2018-04-14 12:55] shadowwalkersb commented on #9172
https://github.com/cryoem/eman-deps-feedstock

[2018-04-14 12:57] shadowwalkersb commented on #9172
The latest recipe is here, https://github.com/cryoem/eman-deps-feedstock/blob/activate-scripts/recipe/meta.yaml.

[2018-04-14 13:05] mingwandroid commented on #9172
Well, I made the compilers a `requirements/run` of `theano` because it will dynamically compile kernels when it finds compilers (and I do not want to force people to use system compilers and I do not want to deal with bugs due to poor system compilers): https://github.com/AnacondaRecipes/aggregate/blob/master/theano-feedstock/recipe/meta.yaml#L31

Possible approaches:
1. Remove `theano` from `requ

[2018-04-14 13:15] shadowwalkersb commented on #9172
`theano` is not needed at build time. It's there to make sure build and run requirements are consistent. If it is not under build requirements, the solver won't take it into account during metapackage creation, right? Also, even when it is only under run requirements, won't it pull its dependencies during installation?

I am working on fixing the our recipe, but am stuck with "symbols not found" a

[2018-04-14 13:17] mingwandroid commented on #9172
Why do you think this is a good thing to do? It is the opposite of a good thing to do.

The things you need at build time are very distinct conceptually from the things you need at runtime.

[2018-04-14 14:07] shadowwalkersb commented on #9172
I've been through cb3 documentation and blogs a few times. But, I can't say everything is crystal clear. So, I am not sure how cb3 will make things better and it is going to take some more time till we can use cb3.

`eman-deps` doesn't build anything new, just pulls in dependencies, thus `metapackage`. Or, am I misusing the term?

Since it is a metapackage, all that matters is run requirements. Bu

[2018-04-14 14:29] shadowwalkersb commented on #9172
OK, thanks for bearing with me. The built package is here, https://github.com/cryoem/eman2. The branch I am working on is https://github.com/cryoem/eman2/tree/osx-missing-symbol. Sorry if the messages have been disconnected.

[2018-04-14 14:29] mingwandroid commented on #9172
How can I reproduce this? What channels are needed?

[2018-04-14 14:42] mingwandroid commented on #9172
I need to be able to build both the package containing `libEM2.so` and the one containing `libgsl.23.dylib` from source to help out here.

[2018-04-14 14:51] shadowwalkersb commented on #9172
The instructions are here, http://blake.bcm.edu/emanwiki/EMAN2/COMPILE_EMAN2_ANACONDA#Miniconda2. But, you need to use v8 of `eman-deps`. So, the following sequence should reproduce it. I have had that on my Mac OSX 10.11.

[code]

[2018-04-14 15:15] shadowwalkersb commented on #9172
@mingwandroid , I may be offline for a while.

[2018-04-14 15:37] mingwandroid commented on #9172
I probably won't be able to look at this until Monday. Please ping me if I forget and you hear nothing by Tuesday.

[2018-04-14 15:44] mingwandroid commented on #9172
If you can though, setting up conda-recipes for eman2.git would be helpful.

conda-build 3 performs a load of checks on DSOs now to make sure that they are 'correct' that it would be good to take advantage of here. Also, mixing toolchains is bad so I would look to use our own compilers (trying to support mixing them is a big waste of effort in general).

[2018-04-14 19:37] shirishr opened #9174 "post-installation issue with caffe2 in anaconda python version 3.6"
### Actual Behavior

I have installed caffe2 by running:
**conda install -c caffe2 caffe2-cuda9.0-cudnn7**

**The install is successful because:**

python -c 'from caffe2.python import core' 2>/dev/null && echo "Success" || echo "Failure" results in **success**

python -c 'from caffe2.python import workspace' 2>/dev/null && echo "Success" || echo "Failure" results in **success**

However error occ

[2018-04-14 20:11] zhouyuf2 opened #9175 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-15 00:30] ThirstyGeo commented on #8276
Same behaviour for 5.1.0 on Windows 10

I have tried many solutions peppered around the web, including:

- removing all instances of previously installed conda and Anaconda (Windows remove programs, plus manual search of computer for hidden directories)
- cleaning PATH variable
- Installing With and Without admin privileges
- Installing to user directory, andinstalling to 'C:\Anaconda3'
- Installi

[2018-04-15 01:52] ThirstyGeo commented on #8276
The solution in my case was:
1. open command window
2. set path=
3. Run install

So it appears that something in my PATH has been conflicting with the Anaconda3 install

[2018-04-15 06:53] shadowwalkersb commented on #9172
I'll try to have something more organized for you to look at by Monday. Some of the things previously mentioned in this thread were simplified and could be misleading, if you are going to dig deeper. I'll post an update later. Just letting you know, so you don't waste your time.

[2018-04-15 12:49] gitmor opened #9176 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-15 12:50] goanpeca commented on #9176
Closing as duplicate of #6970

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #6970 for more information on how to fix this.**

[2018-04-15 12:50] #9176 closed

[2018-04-15 13:58] hanzhen-sdu opened #9177 "Navigator Error"
Navigator Error
An unexpected error occurred on Navigator start-up
Report
Please report this issue in the anaconda issue tracker
Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\econ\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1

Traceback

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-pack

[2018-04-15 14:29] goanpeca commented on #9175
Closing as duplicate of #8216

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8216 for more information on how to fix this issue.**

Or try running

[code]

[2018-04-15 14:29] #9175 closed

[2018-04-15 14:29] goanpeca commented on #9170
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-15 14:29] #9170 closed

[2018-04-15 19:05] Danifan1217 commented on #8568
Gracias, pude solucionar mi problema. ¡Los amo!

[2018-04-15 20:49] Likahler opened #9178 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=547)
## Traceback
[code]
## System information
[code]

[2018-04-15 20:51] goanpeca commented on #9178
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-15 20:51] #9178 closed

[2018-04-15 23:52] goanpeca commented on #9177
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-15 23:52] #9177 closed

[2018-04-16 01:45] shadowwalkersb commented on #9172
Recipe is at https://github.com/cryoem/eman2/commits/osx-missing-symbol-debug.

The commit before the last one, https://github.com/cryoem/eman2/commit/6f0403e9f57748f861b9c33a5fbc1bda387795f8, is broken and I get the "symbol not found" error. There are `nm` and `otool -L` outputs. Mac logs are at https://travis-ci.org/cryoem/eman2/builds/366684129. The last commit that he branch head is pointing t

[2018-04-16 01:49] mccurcio opened #9179 "Trouble started with could not get R to work and then Navigator"
### Actual Behavior
loaded and Anaconda3-5.1.0-Linux-x86_64.sh,
I did a clean install of Anaconda Python3.6 for linux 64 bit and was running the 'anaconda-navigator' to learn it. I could not get the Environments working, bc it did not show the "create" button on the new create mini-window.  Then I was investigating how the R was working.  I could not get anything to work after a while.

### Expect

[2018-04-16 11:45] jgrundling opened #9180 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-16 12:14] zaphot commented on #729
Hi,

i still have problems installing (non-annconda) R packages which require compilation.
I have installed the following annconda R packages:
[code]

The example from above
[code]
only yields
[code]

pulling the source code and building from command line also fails:
[code]

So do i need to install Rtools from cran or is there? And where exactly do i have to create the /tmp folder for base environ

[2018-04-16 13:55] msarahan commented on #9172
We generally edit the CFLAGS/CXXFLAGS that are set by the activation scripts to trim any troublesome flags, or to change their values.  For one such pattern, see https://github.com/AnacondaRecipes/python-feedstock/blob/2.7.13/recipe/build.sh#L55

You can add an activate script that does this if you want it to be automatic.  I'd advise putting it in your build script instead, though, so that it's m

[2018-04-16 14:34] csoja commented on #729
@zaphot please open a new issue instead of commenting on an issue that has already been closed.

[2018-04-16 14:51] goanpeca commented on #9180
@ccordoba12 ?

[2018-04-16 14:52] goanpeca commented on #9171
@kt995 please provide the requested information se we have a better chance of debugging the issue.

Open a terminal and paste the output of running

[code]

And then

[code]

[2018-04-16 14:55] goanpeca commented on #9179
@mccurcio you will need to properly activate the environment before issuing the commands. Open a terminal and type

[code]

Also try to run navigator that way

[code]

[2018-04-16 15:12] kt995 commented on #9171
Hi!  Thanks for responding

Katies-MacBook-Pro:~ katie$ conda info

     active environment : None
       user config file : /Users/katie/.condarc
 populated config files :
          conda version : 4.4.10
    conda-build version : 3.4.1
         python version : 3.6.4.final.0
       base environment : /Users/katie/anaconda3  (writable)
           channel URLs : https://repo.continuum.io/pkgs/main

[2018-04-16 15:37] InakolluNehaPriyanka opened #9181 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=7824)
## Traceback
[code]
## System information
[code]

[2018-04-16 15:40] goanpeca commented on #9181
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-16 15:40] #9181 closed

[2018-04-16 17:26] mikofski commented on #729
@zaphot, I added some [wikis with help on installing R packages from source or CRAN](https://github.com/ContinuumIO/anaconda-issues/wiki/Install-R-Packages). Note I didn't use devtools or try to install from a clone, but if I grab the link from [the CRAN `readxl` webpage](https://cran.r-project.org/web/packages/readxl/index.html) I can install it from R:
[code]

hope this helps!

[2018-04-16 17:59] pmlandwehr opened #9182 "Can't find funcsigs despite it being installed"
I've got a copy of `funcsigs` installed via the base `anaconda2` distribution but python can't find it. This is causing a subtle breakage when trying to run pytest - that is, one not easily traced back to the missing funcsigs:

[code]

[code]

[code]

[2018-04-16 18:01] mingwandroid commented on #9182
Please fill in all details asked for in the template.

[2018-04-16 18:17] jeethjoseph commented on #7256
I had the same issue. This worked for me.
conda install anaconda-clean
conda-clean --yes

[2018-04-16 19:16] shadowwalkersb commented on #9172
Thanks, @msarahan . I had tried your suggestion and tried it again after your comment. It works on my Mac without the renaming, but doesn't work on my Linux box, even with the renaming the activation script to something like `zz-*.sh`. I guess, I should submit an issue to https://github.com/conda/conda/issues? And, is that an expected behavior, so should I file it as a bug or feature request? If i

[2018-04-16 19:30] csoja commented on #6828
@57jgm I'd recommend looking at https://conda-forge.org/   It speeds up the process of Anaconda adding a package to repo.anaconda.com when the recipe and package is available first through conda-forge.

[2018-04-16 20:36] premkilaru commented on #8981
Hello goanpeca,

Thank you for the response. Since I did this in my work machine (windows 10) I raised internal IT tickets as I suspected it was linked to access credentials. Service desk uninstalled the Anaconda from ProgramData and make me reinstall in local folder.  Then I saw the root environment changed to (writable), previously it was (readable)

![image](https://user-images.githubuserconten

[2018-04-16 20:48] mingwandroid commented on #9172
I'm not sure when I'll get round to this. It won't be tonight I'm afraid.

[2018-04-16 21:02] shadowwalkersb commented on #9172
Sure, no problem. I'll ping you in couple days, if you don't mind...

[2018-04-16 21:14] mingwandroid commented on #9172
Ping away. I am having vague recollections about `gsl` not wanting to automatically link to any given `blas` implementation. I need to find these references I think.

[2018-04-16 21:36] zaphot opened #9183 "libcurl.dll missing [windows]"
installed version: curl version 7.59.0, build h7602738_0

steps to reproduce:
	- open an anaconda prompt
	- install curl: conda install -c anaconda curl
	- type curl

german error message (just stating: libcurl.dll seems to be missing and i should try to reinstall the program):

##### `conda info:`
[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-16 22:02] zaphot opened #9184 "installing external R packages requiring compilation fails [windows]"
I cannot build/install R packages which require compilation.

i followed the steps provided here https://github.com/ContinuumIO/anaconda-issues/issues/729 and https://github.com/ContinuumIO/anaconda-issues/wiki/Install-R-Packages and installed the following packages:
	`conda install m2w64-toolchain m2-make m2-sed m2-zip m2-gzip m2-tar m2-texinfo m2-coreutils m2-diffutils r-devtools`. Moreover i cr

[2018-04-16 22:04] zaphot commented on #729
thanks for the answer! Unfortunately this didn't work. Therefore, i created a new issue: https://github.com/ContinuumIO/anaconda-issues/issues/9184

[2018-04-16 22:41] mikofski commented on #9184
Weird, are you using R from Anaconda or are you using [MRAN](https://mran.microsoft.com/open)? I think you may be experiencing some `$PATH` dependency hell. Notice that your R installations says:

[code]

Did you install R two ways? Maybe you should quit Anaconda and use MRAN as it suggests? [Follow the links and search for `readxl`.](https://mran.microsoft.com/package/readxl)

Otherwise if you ar

[2018-04-16 22:48] mikofski commented on #9184
FYI: here is my py36r environment:

<details><pre>
name: py36r
channels:
  - pvlib
  - conda-forge
  - defaults
dependencies:
  - gitdb2=2.0.3=py_0
  - gitpython=2.1.8=py_0
  - nbdime=0.4.1=py36_0
  - nbsphinx=0.3.1=py_0
  - siphon=0.6.1=py36_0
  - smmap2=2.0.3=py36_0
  - vitables=3.0.0=1
  - alabaster=0.7.10=py36hcd07829_0
  - asn1crypto=0.24.0=py36_0
  - attrs=17.4.0=py36_0
  - babel=2.5.3=py36_

[2018-04-16 23:11] mikofski commented on #9184
Ah, I bet this has something to do with the [switch to MRO earlier this year](https://docs.anaconda.com/anaconda/user-guide/tasks/use-r-language). Sorry for my earlier comments, I removed them because they were irrelevant. Please ignore them.

[2018-04-16 23:33] mingwandroid commented on #9184
There's no need to build binaries for yourself on R on Windows since binaries are provided, either by conda or by MRAN when using MRO.

You should use: `conda install r-readxl`. That will work just fine on both `MRO` and the older `R` infrastructure, otherwise you should use just `install.packages("readxl")` if you want to use binaries from `MRAN`.

[2018-04-16 23:33] #9184 closed

[2018-04-17 00:42] mccurcio commented on #9179
Wow, This is strange.  When I use:
~/anaconda3 $ source activate base
I now get back:
bash: /home/mcc/anaconda3/etc/profile.d/conda.sh: line 80: syntax error near unexpected token `('
bash: /home/mcc/anaconda3/etc/profile.d/conda.sh: line 80: `conda() {'

Then I tried:
~ $ conda info
mcc@A505 ~ $ conda list --show-channel-urls
mcc@A505 ~ $ source activate base
bash: /home/mcc/anaconda3/etc/profile

[2018-04-17 00:50] goanpeca commented on #9179
@kalefranz thoughts?

[2018-04-17 01:37] 961006 opened #9185 "Python packages i need: python-opencv, easydict,(version >= 3.4.2)."
Python packages i need: python-opencv, easydict,(version >= 3.4.2).
thanks.

[2018-04-17 02:16] mccurcio commented on #9179
After I down loaded I did check the md5 and it as good. I am considering starting over and deleting and reinstalling...
What do you think?

[2018-04-17 02:38] mccurcio commented on #9179
As an aside, I loaded Anaconda in my home director but I think I will use /opt/anaconda3 for the next time.

[2018-04-17 04:09] kmw1682 opened #9186 "Navigator Fails to Launch"
### Actual Behavior

This:
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/kevinweiler/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback
Traceback (most recent call last):
  File "/anac

[2018-04-17 04:33] goanpeca commented on #9186
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-17 04:33] #9186 closed

[2018-04-17 04:40] #8981 closed

[2018-04-17 05:56] dhirschfeld commented on #9142
Spyder also worked fine with both the mesa 11.2.2 and 12.0.rc2 versions on my Citrix desktop.

Will see what I can do about 32bit testing...

[2018-04-17 07:05] zaphot commented on #9183
[code]

 this just states: nothing found with this name

[2018-04-17 07:28] zaphot commented on #9184
I am surprised by this harsh reaction. Of course there IS need to build binaries for yourself...
I am developing an R package with C++ code and so far I used cran R and Rtools to generate binaries to distribute them to my colleagues. Now I attempted to use anaconda MRO for this.

R-readxl should thus only be an example (as stated above), which seems to be quite tested and even was successfully com

[2018-04-17 09:00] mingwandroid commented on #9184
I see no harsh reaction. You didn't explain that you were a software developer working on R packages. One of the key things AD does is to take away the pain of compiling software.

If you want to compile your own packages then just follow the 'normal' instructions for installing and using Rtools. Everything should work just the same.

[2018-04-17 09:09] pettersoderlund commented on #7212
@vhuang26 @Thadaeus I had the same problem, running ubuntu 17.1 on virtual machine. fixed it with help from here: https://github.com/ContinuumIO/anaconda-issues/issues/1323

changed 'enable_high_dpi_scaling = True' to False in
~/.anaconda/navigator/anaconda-navigator.ini  fixed it for me.

[2018-04-17 09:11] mingwandroid commented on #9184
If you want a conda-package for Rtools then you can use conda-build to build https://github.com/AnacondaRecipes/aggregateMRO/tree/master/rtools-feedstock/recipe

If you do that then you can use `conda skeleton cran --r-interp mro-base` to make other conda-recipes that will use this Rtools conda-package.

[2018-04-17 09:36] tysun opened #9187 "Anaconda custom (64-bit) - not showing version number"
I read this issue.
https://github.com/ContinuumIO/anaconda-issues/issues/1088

But When I run `python --version` I still get **Anaconda custom (64-bit)**. It doesn't show the version number.

And my current version `conda -V` is still conda 4.5.1 even though I ran `conda update conda` and `conda update anaconda`. Therefore I cannot update `pip 9.0.3` to version 10.

Strange thing is is I run `cond

[2018-04-17 10:43] mathubhalan commented on #9180
Having Spyder load error in Anaconda

Traceback (most recent call last):
  File "C:\Users\mathu_gopalan\AppData\Local\Continuum\anaconda3\lib\site-packages\qtpy\__init__.py", line 148, in <module>
    from PySide import __version__ as PYSIDE_VERSION  # analysis:ignore
ModuleNotFoundError: No module named 'PySide'

During handling of the above exception, another exception occurred:

Traceback (most

[2018-04-17 10:49] boyuanuk opened #9188 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-17 10:51] goanpeca commented on #9188
Closing as duplicate of #1845

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1845 for more information on how to fix this.**

[2018-04-17 10:51] #9188 closed

[2018-04-17 10:51] mathubhalan commented on #9158
Same Issue for me as well. could any one help ?

[2018-04-17 12:03] nos86 commented on #9128
Hello nehaljwani,
sorry for delay, I missed your answer.
I used Anaconda Navigator clicking on green button "Install"

The error displayed is:
![image](https://user-images.githubusercontent.com/6265510/38868604-e1cb256e-4247-11e8-9cbb-4b9a224db69b.png)

Consider that the folder installer is looking for (C:\Users\salvatore) doesn't exist; the right folder is (C:\Users\salvatore musumeci).
I think t

[2018-04-17 12:32] goanpeca commented on #9128
Hi @nos86, thanks for the reply. We have a bug on windows with user with spaces. We are working on a fix to be released in a week and a half.

[2018-04-17 12:36] nos86 commented on #9128
Great..! I'll wait for the new release.
I'll close the topic as soon as I'm able to install VSCode.

Thanks for support

[2018-04-17 12:38] msarahan commented on #9187
conda and anaconda are two different versions.  Conda is a package manager, while anaconda is a collection of packages.  The versions of anaconda reflect a very specific set of packages that are all tested together.  If you update anything in that collection, you then have a custom anaconda version, which is what you're seeing.  Nothing is wrong here.

[2018-04-17 12:38] #9187 closed

[2018-04-17 13:00] goanpeca commented on #3679
@boza111 since que now use Qt 5.9, the fix you proposed at that time might work now. Is it possible for you to check ?

[2018-04-17 13:35] werid opened #9189 "Installer claims to append source /home/USERNAME/anaconda3/bin/activate to .bashrc, but doesn't."
### Actual `Behavior`

The installer says:

[code]

Problem: it asks me about PATH, then says it'll append the source line to .bashrc, but doesn't.

Either installer should not say it's appending that line, or it should actually do it (and maybe ask about that too)

[code]

##### Anaconda or Miniconda version:

Anaconda3-5.1.0-Linux-x86_64.sh

##### Operating System:

Debian 8.10, linux kernkel 3.

[2018-04-17 14:49] mikofski commented on #9184
@zaphot I believe you can also change your r from mro to r-base as it says in the linked anaconda docs above. Then you can build & install cran r packages the way I did and in the previous issue.

[2018-04-17 14:50] goanpeca commented on #3679
See https://github.com/spyder-ide/qtpy/issues/142

[2018-04-17 17:01] rth opened #9190 "PyQt with matplotlib import failure: libgcc_s.so.1 must be installed for pthread_cancel to work"
This issue was moved from https://github.com/matplotlib/matplotlib/issues/11058 (see this link for more detailed description)

### Actual Behavior
On Debian 9.4, in the following environment,
[code]
importing
[code]
raises,
[code]

Importing these packages in orther order or separately works fine.

error on Debian 9.4.

### Expected Behavior

Imports without errors.

### Steps to Reproduce

See th

[2018-04-17 17:06] mingwandroid commented on #9190
Thanks. I cannot reproduce this. I have asked others on the AD team to try to reproduce it.

[2018-04-17 17:08] rth commented on #9190
Hmm, not sure, you agree that it happens in the official miniconda docker image on Travis CI (cf links at the end of https://github.com/matplotlib/matplotlib/issues/11058#issuecomment-381912684)?   Also just started saw it in a  Debian 9.4 box on EC2.

For more context, I first run into this when using that image for CI on Wercker CI.

Thanks for looking into it! Please let me know if there is any

[2018-04-17 17:14] mingwandroid commented on #9190
It appears that way yes, but I don't know exactly what is on Travis CI and I never use it (nor have I heard of Wercker CI) :-( At a guess, they're running some 32-bit graphics drivers or something like that?

I'm unfamiliar with how to investigate things on Travis CI.

[2018-04-17 17:17] mingwandroid commented on #9190
If you prefix the command with xvfb-run does the error happen? Can you get Travis to list all packages? Can you show the output from running file against every `.so*` in the `/usr` hierarchy?

[2018-04-17 17:26] anushreddy commented on #2668
@csoja Worked like a charm. Thanks

[2018-04-17 17:55] tkelman commented on #8087
Please post the entire output (preferably to something like gist.github.com), not just the very end. Also be sure to run `conda create -v -n python36 python=3.6 anaconda`

[2018-04-17 19:41] mingwandroid commented on #5191
You just need to make sure you are not using either of the old `gcc` nor the `libgcc` packages.

[2018-04-17 19:41] #5191 closed

[2018-04-17 19:45] htso commented on #5191
Can you elaborate on how to find out if I'm using old libgcc packages. My gcc is version 4.8.4

[2018-04-17 20:04] mingwandroid commented on #5191
`conda list --show-channel-urls` will show you what packages you have installed.

Your system GCC does not matter here. Conda environments are (almost fully) self-contained.

[2018-04-17 20:42] sinoyuco opened #9191 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-17 20:47] goanpeca commented on #9191
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-17 20:47] #9191 closed

[2018-04-17 22:15] mingwandroid commented on #5191
Run `conda list --show-channel-urls`

[2018-04-18 05:21] nikitamalviya opened #9192 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-18 05:22] NikitaMalviya opened #9193 "installing new packages in anaconda jupyter"
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-18 05:23] #9192 closed, assigned to goanpeca

[2018-04-18 06:13] mingwandroid commented on #5191
conda remove libgcc

[2018-04-18 06:14] mingwandroid commented on #5191
Then conda install libgcc-ng --force

It does not matter that the list is long, please paste the whole thing.

[2018-04-18 06:21] Flock1 opened #9194 "I'm not able to connect to anaconda server for downlads"
### Actual Behavior

Nothing. No internet speed for downloads (internet is fine and works on others machines)

### Expected Behavior

Quick downloads

### Steps to Reproduce

Installing anaconda for Ubuntu 16.04

##### Anaconda or Miniconda version: Anaconda 5.1

##### Operating System: Ubuntu 16.04

[code]

[2018-04-18 06:34] fedanna commented on #764
I also had this problem, it was something wrong with my company firewall.
When I tried do the same, on the same computer, connected to my home wi-fi, everything was ok.

[2018-04-18 08:22] LittletreeZou opened #9195 "Navigator Error：could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'"
After the installation, I tried to open the Anaconda navigator and I got the error shown as below. I also open Anaconda prompt and input conda -- version, it works.

**Navigator Error**
An unexpected error occurred on Navigator start-up
Report
Please report this issue in the anaconda issue tracker
Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\

[2018-04-18 08:56] zhenzhenbadgirl opened #9196 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-18 08:57] #9196 closed

[2018-04-18 09:00] goanpeca commented on #9196
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-18 11:36] stadelmanma commented on #9185
`conda install -c conda-forge opencv` will get you openCV, note the different channel.
You need to use pip for easydict.. `pip install easydict`

[2018-04-18 11:57] rth commented on #9190
Well, it's still the same official miniconda docker image, and as far as I understand, it shouldn't matter too much where it is running..  This issue does seem brittle as I wasn't able to reproduce it on another Debian system.

Same thing except that I get a segmentation fault (`Aborted (core dumped)`)  https://travis-ci.org/rth/ci-sandbox/builds/368048816#L888

So it should be the same packages i

[2018-04-18 12:30] MarkAPitt commented on #8087
Complete output from the install is [here](https://gist.github.com/MarkAPitt/a1fc145b86905480d03be1edd441dba7).

[2018-04-18 13:11] 806100963 opened #9197 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-18 13:15] mingwandroid commented on #9190
To me these Travis machines seem broken in some subtle way. And docker does not offer the amount of isolation people think it does (clearly, otherwise things would either reproduce every reliably or they would not given the same image).

[code]

[code]

That looks fine so I still have no idea about this.

[2018-04-18 13:16] goanpeca commented on #9197
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-18 13:16] #9197 closed

[2018-04-18 13:53] danielkari95 opened #9198 "R kernel in Jupyter keeps dying"
### Actual Behavior

R kernel dies instantly after I open Jupyter Notebook.  I have tried to follow instructions in https://github.com/ContinuumIO/anaconda-issues/issues/999 but so far without luck.

Here is the error message I get:

[code]
`Tiedostonimen, hakemistonimen tai levynimen syntaksi ei kelpaa` translates to `filename directory name or volume label syntax is incorrect`

### Expected Beha

[2018-04-18 13:58] rth commented on #9190
Yes, it's a bit strange, I guess we'll see of other people run into this.. Thanks for investigating!

[2018-04-18 14:02] mingwandroid commented on #9198
You have installed Anaconda to a folder containing a space character. This does not work with R. Please install elsewhere.

[2018-04-18 14:02] #9198 closed

[2018-04-18 14:02] jjhelmus commented on #9185
opencv is also available in `defaults` using `conda install opencv`.  This package includes the Python bindings.  I am not aware of a seperate `python-opencv` package.

[2018-04-18 14:04] jjhelmus commented on #9174
The `caffe2` package is not provided by Anaconda, Inc and therefore we cannot help resolve this issue.  Please contact the creator of this package for help.

[2018-04-18 14:04] #9174 closed

[2018-04-18 14:41] csoja commented on #9193
No information in the template to diagnose the issue.  Closing.

[2018-04-18 14:41] #9193 closed

[2018-04-18 15:03] danyXu commented on #8988
did you resolved this problem

[2018-04-18 15:18] #9195 closed, assigned to goanpeca

[2018-04-18 15:28] RinaldoB opened #9199 "Spyder fails to execute after qt update"
### Actual Behavior
After updating packages with `conda update --all` I cannot start spyder anymore. It tries to import from PyQt5.QtWebKitWidgets which is not available.
### Expected Behavior
Execution of spyder.
### Steps to Reproduce

##### Anaconda or Miniconda version:
5.1
##### Operating System:
Linux
##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-18 15:28] csoja commented on #9194
Anaconda can be almost 600MB (https://repo.anaconda.com/archive/) - even with a fast internet connection, it won't be that fast of a download.  If you want a quick download, you may want to download and install Miniconda instead (https://conda.io/miniconda.html or https://repo.anaconda.com/miniconda/ or ) - as it is much smaller - and then use conda to install the other packages you want.

[2018-04-18 15:29] RinaldoB commented on #9199
Probably related: https://github.com/conda-forge/pyqt-feedstock/issues/19

[2018-04-18 15:35] mingwandroid commented on #9199
It is very unlikely to be related since that issue is very old and Qt 5.9 is very new.

What do you see from the command line if you run spyder? What OS are you running exactly?

[2018-04-18 16:44] RinaldoB commented on #9199
Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.86-1 x86_64 GNU/Linux

My understanding of the issue is that "PyQt5.QtWebEngineWidgets" is not available in the Anaconda distribution. Spyder then falls back to PyQt5.QtWebKitWidgets, which is also not available because it has been deprecated and removed from Qt 5.6.

Is this the intended behavior?

Traceback (most recent call last):
  File "anaconda2/bin/spyd

[2018-04-18 16:51] mingwandroid commented on #9199
No, that issue is out of date. Since `Qt 5.9`, `PyQt5.QtWebEngineWidgets` *is* available on all OSes (but only with `Python 3` on Windows, `Python 2` on Windows is restricted to needing `Qt 5.6`). Something else is going on here.

Can you show the output of `LD_DEBUG=all spyder` please? It will be pretty long I am afraid.

[2018-04-18 17:13] buzz2vatsal commented on #150
Just install image in your anaconda env by typing "pip install image"

[2018-04-18 17:25] RinaldoB commented on #9199
Maybe this is in fact more useful

[code]

[2018-04-18 17:25] Flock1 commented on #9194
That's fine. But I'm not even able to update conda, which is just a few MBs. The site was very slow and nothing is getting installed.

[2018-04-18 17:42] tkelman commented on #8087
What is the content of `C:\Program Files (x86)\Anaconda2\envs\python36\Scripts\.ipykernel-post-link.bat` ?

[2018-04-18 17:50] mingwandroid commented on #9199
Did `spyder` ever work on this machine? Are you really using `Debian 7` / `wheezy` here?

Can you try installing `libegl1-mesa` and/or `libgl1-mesa-glx` and see if matters improve?

[2018-04-18 17:57] marcusianlevine commented on #9169
I'm experiencing the same issue with the following environment

`conda info`

[code]

`conda list --show-channel-urls`
[code]

[2018-04-18 18:00] RinaldoB commented on #9199
spyder has been working for years on this machine, until the last ´conda update --all´, as stated in the opening post

yes, the machine is in Debian 7

[2018-04-18 18:38] mingwandroid commented on #9199
Ok did you try installing those packages?

[2018-04-18 18:39] MarkAPitt commented on #8087
[code]

[2018-04-18 18:47] 292301001 commented on #7256
@goanpeca = 'hero'

[2018-04-18 19:14] 292301001 commented on #7256
nvm I'm still having pretty much the same problem. python3.6.4 still runs through anaconda in terminal tho dunno if that helps. I've tryed all steps listed above

~$ anaconda-navigator
 Traceback (most recent call last):
  File "/home/xenozombie/anaconda3/bin/anaconda-navigator", line 11, in <module>
    sys.exit(main())
  File "/home/xenozombie/anaconda3/lib/python3.6/site-packages/anaconda_navig

[2018-04-18 19:57] tkelman commented on #8087
And which copy of the file were you removing the `> NUL` from? If you were changing it at that location, it might be getting overwritten by a source version stored somewhere else.

[2018-04-18 20:26] mazerj opened #9200 "Interaction between suid-bit and weakref.py (Linux Mint/Ubuntu) - Anaconda python2.7"
### Actual Behavior

Anaconda distribution binary behaves differently when importing weakref.py (triggered by `import numpy as np`, for example) when the suid-bit is set.

This is really obscure, but I'm running the python interpreter from a thin C wrapper program and if the wrapper is suid-root, `import weakref.py` fails. Same program, with suid-bit  cleared and if works. Doesn't happen with the

[2018-04-18 20:44] ksednew opened #9201 "Navigator Error on Start-Up - root_prefix"
An unexpected error occurred on Navigator start-up

Report

Please report this issue in the anaconda issue tracker

Main Error

'root_prefix'
Traceback

Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/anaconda_nav

[2018-04-19 01:51] lcb0929 opened #9202 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=10344)
## Traceback
[code]
## System information
[code]

[2018-04-19 01:53] goanpeca commented on #9202
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-19 01:53] #9202 closed

[2018-04-19 03:38] cmorris2945 opened #9203 "byte indices must be integers or slices, not str"
When I click on the Anaconda Navigator I get this error message.
When I try to install or update anything for Anaconda in the Anaconda Command Prompt it does nothing and keeps asking me if I want to send this as a error report.

Traceback

Traceback (most recent call last):
  File "C:\Users\Christopher\Anaconda3.2\lib\site-packages\anaconda_navigator\exceptions.py", line 75, in exception_handler

[2018-04-19 03:45] Allagite opened #9204 "An unexpected error occurred on Navigator start-up"
Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/weiyuwang/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback

Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "/anaconda3

[2018-04-19 08:02] BhekiMabheka commented on #1538
I am using Anaconda, getting the same error

[2018-04-19 08:05] lazyjek commented on #6619
I came with such an issue today, and fixed it by doing so (after `./configure ...)`
1. conda install gxx_linux-64
2. modifying vim/src/auto/config.mk : LDFLAGS = -L/user/local/lib -L${CONDA_PREFIX}/lib -Wl,--as-needed

[2018-04-19 09:11] mingwandroid commented on #6619
A better pattern/fix would be:

[code]

.. because this will keep all of our other good `LDFLAGS` and also add the only one of yours that is different.

[2018-04-19 10:06] RinaldoB commented on #9199
great,  PyQt5.QtWebEngineWidgets can be imported after instalation of the `libegl1-mesa` package. however spyder still fails to start with a `Segmentation fault` during the start up screen

[2018-04-19 10:51] nehaljwani commented on #9190
I am able to reproduce this.

[code]

[2018-04-19 10:57] nehaljwani commented on #9190
Source of problem:
[code]

Out is different from what Ray would expect it to be:
[code]

[2018-04-19 11:00] mingwandroid commented on #9190
That output is fine, the symbol should be resolved in `libglib-2.0.so.0` (see my comment).

Which version of `glib` has been installed here? `conda list --show-channel-urls` please.

[2018-04-19 11:02] nehaljwani commented on #9190
Version of `glib` installed is glib-2.53.6-h5d9569c_2

[2018-04-19 11:05] nehaljwani commented on #9190
Complete output:
[code]

[2018-04-19 11:10] mingwandroid commented on #9190
can you try to update it to `2.56.1`?

[2018-04-19 11:10] nehaljwani commented on #9190
That updates qt. OP wants qt 5.9.4

[2018-04-19 11:11] mingwandroid commented on #9190
No, I don't think anyone wants Qt 5.9.4 vs Qt 5.9.5 (which was released since this issue was opened).

[2018-04-19 11:12] mingwandroid commented on #9190
5.9.5 is a bugfix release which is fully binary compatible, so why would anyone not want that?

[2018-04-19 11:15] andylepki commented on #9204
hi - sorry no solution - same error here
newbie on github so apologies for any protocol blunders!

fresh install
deleted "config.yaml" from old install

Mac OS X El Capitan
10.11.6

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/alepki/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback
Traceback (most recent call l

[2018-04-19 11:26] VinodRaj531 commented on #2760
@sroder Can you please tell me how you could solve this issue? Even I have strong company firewall and I guess that is giving me this error.

[2018-04-19 11:32] nehaljwani commented on #9190
Upgrading glib and qt doesn't help. Same error. LD_DEBUG=all output attached for both.
[glib2.53.6.txt.gz](https://github.com/ContinuumIO/anaconda-issues/files/1927892/glib2.53.6.txt.gz)
[glib2.56.1.txt.gz](https://github.com/ContinuumIO/anaconda-issues/files/1927893/glib2.56.1.txt.gz)

[2018-04-19 12:13] nehaljwani commented on #9190
I compiled the latest glibc and then ran it, the problem went away. I'll probably run a bisect later to find out when and where it might have been fixed, but here is what I did (inside the container):

[code]
And then:
[code]

[2018-04-19 12:34] Diyago commented on #6704
[code]

causes same errors:```

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.continuum.io/pkgs/r/noarch/repodata.json.bz2>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
ProxyError(MaxRetryError("HTTPSConnectionPool(host='repo.continuum.io', port=443): Max retries exceeded wit

[2018-04-19 12:46] mingwandroid commented on #9190
Interesting. Thanks Nehal.

[2018-04-19 12:53] mingwandroid commented on #9199
Thanks for the feedback.

Can you install `gdb` (using `apt-get`, unfortunately we do not currently have conda packages for this) and then run `gdb --args python -c "from spyder.app.start import main; main()`, then enter `r`, then, then, when once it crashes enter `bt` and paste the output here. Cheers!

[2018-04-19 13:07] Diyago opened #9205 "Solving environment: failed CondaHTTPError wrong channel"
### Actual Behavior

[code]
### Expected Behavior

Miniconda should be updated to Anaconda
### Steps to Reproduce

##### Anaconda or Miniconda version:
Miniconda   4.5.1
##### Operating System:
Windows 10
##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-19 13:33] peterpeng1993 opened #9206 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-19 13:34] goanpeca commented on #9206
Closing as duplicate of #1932

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1932 for more information on how to fix this.**

[2018-04-19 13:34] #9206 closed

[2018-04-19 14:00] csoja commented on #9194
Can you give more details on exactly what you are doing?  Are you attempting to download the installers directly and are not able to download them?  Or do you already have Anaconda installed, and conda is not able to connect and update anything?  If you are behind a proxy, there are additional configuration changes you need to make for conda to be able to install and update packages.

[2018-04-19 14:10] csoja commented on #9205
@Diyago  you've added the following non-standard channels to your conda channel list.

https://conda.anaconda.org/my_channel/win-64
https://conda.anaconda.org/my_channel/noarch

I suspect you might have found this in the documentation - but I believe "my_channel" would have been a place holder as there isn't actually a channel on anaconda.org called my_channel.  You'll want to either remove that u

[2018-04-19 14:59] Diyago commented on #9205
Conda created/modified that  file after previous run of ```conda update conda```

Now I have different problem, which looks pretty similar:

[code]

[2018-04-19 15:08] Diyago commented on #9205
I got it. This is my corporate network which works through proxy. I can't  even ping 8.8.8.8 in console(

[2018-04-19 15:44] csoja commented on #9205
The conda proxy configuration documentation may be of help: https://conda.io/docs/user-guide/configuration/use-condarc.html#config-proxy

[2018-04-19 15:45] Diyago commented on #9205
I have such  .condarc
[code]

But I get such error:```

C:\Users\IA>conda update conda
LoadError: Load Error: in C:\Users\Insaf.Ashrapov\.condarc on line 1, column 0. Invalid YAML

[code]

[2018-04-19 15:49] csoja commented on #9205
@Diyago that doesn't look like it is in the same format as what is specified in the documentation

[2018-04-19 16:48] pavansvn opened #9207 "Getting this error after installation & unable to open anaconda"
Traceback

Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\anaconda_navigator\exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "C:\Anaconda3\lib\site-packages\anaconda_navigator\app\start.py", line 120, in start_app
    window = run_app(splash)
  File "C:\Anaconda3\lib\site-packages\anaconda_navigator\app\start.py", line 63, in

[2018-04-19 16:59] goanpeca commented on #9204
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-19 16:59] #9204 closed

[2018-04-19 17:01] Stewyboy1990 opened #9208 "Requesting pyLDAvis"
Please add the pyLDAvis package for Windows Python 3.6 and 3.5

Thanks!

[2018-04-19 17:01] goanpeca commented on #9203
@cmorris2945 if you open the anaconda prompt does it print something?

Also could you provide the output of running on the anaconda prompt

[code]

and
[code]

If there is an error please paste (as text) the text of the error

[2018-04-19 17:03] goanpeca commented on #9201
@ksednew  if you open the anaconda prompt does it print something?

Also could you provide the output of running on the anaconda prompt

[code]

and
[code]

If there is an error please paste (as text) the text of the error

[2018-04-19 17:04] goanpeca commented on #9207
@pavansvn  if you open the anaconda prompt does it print something?

Also could you provide the output of running on the anaconda prompt

[code]

and
[code]

If there is an error please paste (as text) the text of the error

[2018-04-19 17:17] ScottM42 commented on #3864
I encountered this issue today on OSX 10.11.6 El Capitan.  If it's a directory permission issue, how can you find which ones and can that be displayed?

 PackageKit: Install Failed: Error Domain=PKInstallErrorDomain Code=112 "An error occurred while running scripts from the package “Anaconda3-5.1.0-MacOSX-x86_64.pkg”." UserInfo={NSFilePath=./preinstall, NSURL=file://localhost/Users/scott/Downloads

[2018-04-19 17:37] cmorris2945 commented on #9203
When I open my "Anaconda Prompt" up and run as "administrator" I get this message,and after I run an update for anything in anaconda navigator,I get this:

And after I try to update myanaconda navigator I get this askingme to submit a report:

I tried to uninstall my Anaconda Navigatorand reinstalling it, but this does not work.I get the same results...
-CHRIS
"Sports, football, beer and above all

[2018-04-19 18:18] freshforlife commented on #7895
@rayhendricks , having the same issue, I tried what you had suggested above:  ```conda update --all
conda install rstudio
rstudio #from the terminal``` . But still getting this error:
[code]

[2018-04-19 19:15] mingwandroid commented on #9169
Yeah, we should add a default here.

[2018-04-19 19:26] ksednew commented on #9201
Turns out my company had my conda config --set ssl_verify set to a specific file name (certificate), instead of "True" or "False" ... the boolean value it was looking for. Once I did that, I pushed conda install conda-build --force" and voila! all fixed!

[2018-04-19 19:27] #9201 closed

[2018-04-19 20:30] freshforlife opened #9209 "RStudio doesn't run on linux machine"
### Actual Behavior
When I type `rstudio` at the command prompt, this is the error I get:

[code]

### Expected Behavior

Rstudio should fire up

### Steps to Reproduce
I first installed miniconda and then installed Microsoft's Open R installation using these commands
`conda create -n mro_env r-essentials`

I then installed RStudio:
`conda install -c r rstudio`

Also inserted the following in the

[2018-04-19 20:58] mingwandroid commented on #9209
Do you have system X11 and mesa libraries installed?

[2018-04-19 21:01] Yolup1 commented on #9150
ok i'm stupid, there was a space in the directory on my secondary partition. the partition is labeled "secondary partition" if this information changes anything i hope it helps, i will edit my previous comments. just a side note, the partition i am currently trying to install too does NOT have a space in it.

[2018-04-19 21:07] goanpeca commented on #9201
@ksednew well actually ssl_verify expects True, False or a certificate, so maybe the certificate was not correctly set, but a path to a certificate is a valid option as well.

[2018-04-19 21:15] mingwandroid commented on #9190
@nehaljwani, can you please paste the output from:

[code]

[2018-04-19 21:38] mingwandroid commented on #9190
I still (obviously) cannot reproduce this.

I have tried numerous docker containers on macOS:

centos6, centos7, debian 7.4, debian 9.4, ubuntu 12.02, ubuntu 14.04
.. a Debian 7 VM running on Vagrant/VirtualBox
.. and on SUSE running on VMWare.

There's some very suspicious differences to the symbols resolved from `libpthread.so.0` in @nehaljwani's logs versus my own which I am *guessing* is down

[2018-04-19 21:53] cmorris2945 commented on #9203
Here is my conda info:

And the conda list info...

"Sports, football, beer and above all gambling, filled up the horizons of their minds. To keep people in control and ignorant was not difficult...." 
- George Orwell,  author:'1984'

    On Thursday, April 19, 2018, 1:01:52 PM EDT, Gonzalo Peña-Castellanos <notifications@github.com> wrote:

@cmorris2945 if you open the anaconda prompt does it pri

[2018-04-19 21:54] cmorris2945 commented on #9203
Here you are:

![image](https://user-images.githubusercontent.com/30676606/39020382-a9e922a4-43fa-11e8-9c20-556cee2820e3.png)

[2018-04-19 21:55] cmorris2945 commented on #9203
this is the conda info:

![image](https://user-images.githubusercontent.com/30676606/39020417-c6d8998a-43fa-11e8-814e-a17372e10b71.png)

[2018-04-19 22:45] goanpeca commented on #9203
@cmorris2945 please delete the following file

`C:\Users\Christopher\.condarc` and try again. Also no need to run the terminal as admin unless you installed for all users.

[2018-04-19 23:39] cmorris2945 commented on #9203
I do run the terminal in "admin", always....

[2018-04-20 04:27] even00 opened #9210 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-20 04:31] goanpeca commented on #9210
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-20 04:31] #9210 closed

[2018-04-20 07:07] sroder commented on #2760
@Viraj531 :  I updated the .condarc file with below content

proxy_servers:
  http: http://<proxy-server>:port
  https: https://<prox-server>:port

[2018-04-20 07:07] wuzeen opened #9211 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-20 07:17] nanleiting opened #9212 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-20 07:19] #9212 closed, assigned to goanpeca

[2018-04-20 07:32] krebons-gavin opened #9213 "the anaconda navigator missing something after updating"
The projects menu is missing, and the Learning and Community Menus are empty after updating from 1.6.5 to 1.8.3. (See the pictures below:)

## version 1.8.3
![1 8](https://user-images.githubusercontent.com/7045421/39036111-273ccd14-44af-11e8-93c3-e65a2fdd6a81.jpg)

## Version 1.6
![v1 6](https://user-images.githubusercontent.com/7045421/39036392-e57af9ae-44af-11e8-97c7-fa5d0c1f295b.jpg)

[2018-04-20 07:34] RinaldoB commented on #9199
I rolled back to Anaconda 5.1 - spyder is working fine. Updated spyder to 3.2.8, still working fine.
After qt update `qt=5.9.5 pyqt=5.9.2 qtpy=1.3.1` things go wrong. spyder starts but the application window is solid black.
[code]

I think that `qt 5.9` / `PyQt5.QtWebEngineWidgets` is not working properly on this machine.

[2018-04-20 07:41] mingwandroid commented on #9199
It sounds to me like your graphics drivers are not capable enough to run QtWebEngine, perhaps because your graphics hardware is too old?

Can you get details of both of those please?

[2018-04-20 07:48] mingwandroid commented on #9199
There are a lot of useful comments here: https://github.com/spyder-ide/spyder/issues/3226

Please let me know if any of them work for you.

[2018-04-20 07:49] RinaldoB commented on #9199
Graphic card: nvidia Quadro NVS 295
`NVIDIA Driver Version: 304.131`

[2018-04-20 07:49] mingwandroid commented on #9199
If you can run `LD_DEBUG=all spyder` and paste the results that would be helpful too.

[2018-04-20 07:52] 961006 commented on #9185
thank you so much!

西安电子科技大学_屈恒恒
On 4/18/2018 19:36，Matthew Stadelman<notifications@github.com> wrote：

conda install -c conda-forge opencv will get you openCV, note the different channel.
You need to use pip for easydict.. pip install easydict

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-20 07:57] zaphot commented on #9184
thx a lot for the answers and links. However, i will just use cran R and Rtools, since I think it's probably better/safer to use both toolchain and R environment from the same provider.

Would be cool if anaconda could also integrate an easy toolchain package (like it's done on linux). Just something like "conda install r-rtools" and start building your code independent of the os would be awesome.

[2018-04-20 08:12] mingwandroid commented on #9199
Also please try running (paraphrased from [from](https://github.com/Ultimaker/Cura/pull/131#issuecomment-176088664), which has more details):

[code]

https://github.com/Ultimaker/Cura/pull/131#issuecomment-176088664

[2018-04-20 08:31] mingwandroid commented on #9199
Great. Thanks a lot.

Yes, probably, but can you confirm that the problem exhibits in the exact same with them installed and with them removed? Because if you were willing I'd like for you to do some quick tests on your machine.

First of all, would it be possible to try installing and running (in a separate `test` env so you do not risk any breakage to your `base` env) `qtcreator` and `rstudio` f

[2018-04-20 08:40] mingwandroid commented on #9184
Thanks for the feedback.

If you use MRO then you are using upstream packages (for nearly everything). All I do is repackage the binaries on MRAN (which are snapshotted mirrors from CRAN).

Providing an Rtools package is very easy since I've written the recipe already (and used it to build some of the AD MRO packages). I am hesitant to do it because R upstream is working on modernising Rtools and

[2018-04-20 10:19] Allenite commented on #1530
Checking in on this.  Is it still in the works?

Thank you for doing this!

[2018-04-20 10:30] nehaljwani commented on #9190
Requested output:
[code]

I reproduced this issue on a CentOS 7 machine with `Docker version 17.09.0-ce, build afdb6d4`

For changing the docker base image, we'll have to raise an issue at https://github.com/ContinuumIO/docker-images

[2018-04-20 14:08] kerrywatson1 commented on #1530
We have added a conda package for Python and other popular OSS packages. The package is updated every 2 weeks.

From the command line, get your copy with "conda install anaconda-docs".

Or in Anaconda Navigator, use the Environments tab to select packages "Not installed." Then in the "Search packages" box type "anaconda-docs".

[2018-04-20 14:08] #1530 closed

[2018-04-20 14:51] goanpeca commented on #9213
@krebons-gavin could you provide the information requested when filling the issue, that way we can debug the problem.

Open a terminal andd type

[code]

And paste the output as text

[2018-04-20 15:10] ccordoba12 commented on #9199
Yes, we'll do it in our next version. Thanks for pointing it out Ray!

[2018-04-20 15:11] laytonjb opened #9214 "Updates to Anaconda packages"
### Packages Request

I'm using Conda 5.0.1 with Python 3.6.5 (just updated on 4/20/2018) on Windows 10. The version of TensorFlow is rather old (1.2). Could that be upgraded to 1.7 or perhaps 1.4? Also, it doesn't have GPU support - could that be added?

Next - using Keras to plot the model doesn't work because of the packages pydot and graphviz on Windows 10. Could they be upgraded and tested wi

[2018-04-20 15:13] ccordoba12 commented on #9199
However, this is a problem for all PyQt apps that use WebEngine on Linux, not just for Spyder.

[2018-04-20 15:35] ccordoba12 commented on #9199
I thought it was a problem with WebEngine only, but thanks for trying to fix this in Anaconda itself.

[2018-04-20 17:44] electronwill commented on #1530
Building out an automated system to repackage up to date docs for open source projects has proved time consuming in some cases, so it will be a while before we have all 720 packages, but we're continuing to add them a few at a time. The "anaconda-docs" package has the documentation from docs.anaconda.com, which covers most projects developed by Anaconda. The "anaconda-oss-docs" package has documen

[2018-04-20 18:41] Flock1 commented on #9194
I think there's some problem from my side. This is my bad. The servers at my workplace seem to be messing up. Hope they work it out.

[2018-04-20 18:47] mazerj commented on #9200
Just discovered another example of the weakref problem. The following is from a fresh install and update of stock anaconda2 python 2.7 (installed and then `conda update --all; conda install virtualenv`):
[code]

[2018-04-20 18:49] csoja commented on #9194
I hope so too.  I'm going to close this issue as based on the available information, there is nothing we can do from our side.

[2018-04-20 18:49] #9194 closed

[2018-04-20 19:50] MarkAPitt commented on #8087
Three versions of .pykernel-post-link.bat are stored in 2.7, as shown below. I did notice that conda was grabbing 4.8.0-py36_0 (middle one) when  installing 3.6, so I modified only it initially, but also modified the other versions, but no difference.

![image](https://user-images.githubusercontent.com/7736211/39070310-f28b2fe6-44b0-11e8-90c1-6d4ec8418ba7.png)

In case the information is useful, I

[2018-04-20 22:45] Yolup1 commented on #9150
I'm going to close this issue as I was able to install Miniconda and upgrade it into full Anaconda.

[2018-04-20 22:45] #9150 closed

[2018-04-21 04:26] scw opened #9215 "mistune should be built with cython"
### Actual Behavior

Installing mistune >= 0.8.1 results in a pure Python version being installed.
### Expected Behavior
With earlier releases of the package in the defaults chhanel, a library compiled via Cython was emitted, which has much better performance characteristics. This can be rectified by adding the `cython` package to the `requirements > build` section of meta.yaml, `mistune` will aut

[2018-04-21 06:44] yoxf opened #9216 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=5032)
## Traceback
[code]
## System information
[code]

[2018-04-21 06:48] goanpeca commented on #9216
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-21 06:48] #9216 closed

[2018-04-21 10:03] mingwandroid commented on #9215
Thanks @scw, could I ask that you make a PR to `conda-forge` to rectify this? The are effectively our 'upstream' now. https://github.com/conda-forge/mistune-feedstock

[2018-04-21 11:04] tysun opened #9217 "Anaconda NodeJS stuck on 8.9.3"
`conda list` says `nodejs 8.9.3 h378b8a2_0` but NodeJS is at version 8.11.1. I've tried various update methods with no luck. Should I update manually?

[2018-04-21 13:43] af001 commented on #1831
Quick fix is to change shells before opening the terminal for your environment:
[code]

[2018-04-21 18:43] daniyal89 commented on #5213
(base) C:\Users\Daniyal\Anaconda3>spyder
Traceback (most recent call last):
  File "C:\Users\Daniyal\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3126, in main
    mainwindow = run_spyder(app, options, args)
  File "C:\Users\Daniyal\Anaconda3\lib\site-packages\spyder\app\mainwindow.py", line 3023, in run_spyder
    main.setup()
  File "C:\Users\Daniyal\Anaconda3\lib\site-packages\sp

[2018-04-21 19:05] scw commented on #9215
@mingwandroid I'm happy to do so, the only thing that stopped me from doing that first is that from the looks of it, they currently treat mistune as a pure Python package in the [meta.yaml](https://github.com/conda-forge/mistune-feedstock/blob/master/recipe/meta.yaml). I think this change would require it to shift back to a per-platform package, since the compiled component will vary between platf

[2018-04-21 21:45] cmorris2945 commented on #9203
That worked!
But I can't launch "Spyder" now.
How do I reset the program?

[2018-04-21 21:59] cmorris2945 commented on #9203
Never mind. Looks like I got it working now.

What is the deal with  ".condarc"??
Is it some sort of file that doens't work??

[2018-04-21 22:54] scw commented on #9215
PR submitted upstream, closing this.

[2018-04-21 22:54] #9215 closed

[2018-04-22 01:48] nradonic commented on #9087
I'm running Mac OS 10.13.5beta, and have been seeing the same effect since I loaded AN a couple of months ago. The update function never completes. Blue bar of death keeps rolling across the bottom. And 'Cancel' button does not cancel the function. In effect I can't install most missing packages, or update most of the ones that are present. Maybe some update, but a lot just wait.

[2018-04-22 09:13] danyaj87 opened #9218 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-22 09:15] goanpeca commented on #9218
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-22 09:15] #9218 closed

[2018-04-22 13:57] Deepanshu8391 commented on #1666
Hey,
I have followed the following steps and it worked fine for me.
1 . Download and install graphviz-2.38.msi from
    https://graphviz.gitlab.io/_pages/Download/Download_windows.html

2 . Set the path variable
    (a) Control Panel > System and Security > System > Advanced System Settings > Environment Variables > Path > Edit
    (b) add 'C:\Program Files (x86)\Graphviz2.38\bin'

[2018-04-22 13:57] Deepanshu8391 commented on #1357
Hey,
I have followed the following steps and it worked fine for me.
1 . Download and install graphviz-2.38.msi from
    https://graphviz.gitlab.io/_pages/Download/Download_windows.html

2 . Set the path variable
    (a) Control Panel > System and Security > System > Advanced System Settings > Environment Variables > Path > Edit
    (b) add 'C:\Program Files (x86)\Graphviz2.38\bin'

[2018-04-22 18:44] DiracKeteering commented on #9169
Got the same issue

[2018-04-22 19:04] sanghaisubham opened #9219 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=10324)
## Traceback
[code]
## System information
[code]

[2018-04-22 19:07] goanpeca commented on #9219
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-22 19:07] #9219 closed

[2018-04-22 19:11] shi18 opened #9220 "I installed anaconda, then launch it, I met this error,need help. thanks!"
Navigator Error

An unexpected error occurred on Navigator start-up

Report

Please report this issue in the anaconda issue tracker

Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/shiyan/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback

Traceback (most recent call last):
  File "/Users/shiyan/anaconda3/lib/pytho

[2018-04-22 19:35] Hannabrahman commented on #6747
Hello, I am having the same problem, could you please guide how you fix it?
Actually, my anaconda was working fine but because of memory limitation, I moved the whole folder to another directory. The problem start from that time.

Any help?

[2018-04-23 00:36] goanpeca commented on #9211
Please remember to update to the latest version of packages to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-04-23 00:36] #9211 closed

[2018-04-23 00:36] #9203 closed

[2018-04-23 00:37] goanpeca commented on #9203
It somehow landed in a corrupt state

[2018-04-23 00:38] goanpeca commented on #9025
@Droiddiddy please see #8216

Closing this issue

[2018-04-23 00:38] goanpeca commented on #9220
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-23 00:38] #9220 closed

[2018-04-23 00:50] rouenlee29 opened #9221 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=637)
## Traceback
[code]
## System information
[code]

[2018-04-23 00:51] goanpeca commented on #9221
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-23 00:51] #9221 closed

[2018-04-23 00:52] krebons-gavin commented on #9213
Hello,

Thanks for the reply.

The information about "conda info" is:
—————
 active environment : base
    active env location : /Users/gaowei/anaconda3
            shell level : 1
       user config file : /Users/gaowei/.condarc
 populated config files : /Users/gaowei/.condarc
          conda version : 4.5.1
    conda-build version : 3.4.1
         python version : 3.6.5.final.0
       base envir

[2018-04-23 00:53] shi18 commented on #9220
it works, thank you!

[2018-04-23 02:28] Django-xinfa commented on #1570
It has been so long. Why is'nt there any ways?

[2018-04-23 04:06] Bladefidz commented on #8988
@danyXu, to be honest, I do not exactly how this problem occurred and to be solved since a day after this problem occured, my previous OS just break due false package installation. So after install new OS, the problem seems not re occured.

[2018-04-23 04:47] ericmjonas commented on #8423
I also ran into this today, is there any planned resolution? Currently this means that for a lot of applications this package is simply broken. In my case, I spent an entire afternoon trying to find ` omp_lib.mod`

[2018-04-23 07:37] t1nak opened #9222 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>string indices must be integers, not str
## Traceback
[code]
## System information
[code]

[2018-04-23 09:48] praveentn commented on #1508
Was having the same issue with Python 3.6.2 and Numpy/Scipy on Windows 8. Anaconda is not installed as well.
[code]

Python 2.7 was present in the PATH variable. Removed it.

Then uninstalled existing scipy and numpy modules. Ensure that the commands are executed as Administrator.

[code]
Then ran
[code]

This resolved the issue!

Thanks,
Praveen

[2018-04-23 09:57] mingwandroid commented on #1508
@praveentn, this is for discussion of issues in the `Anaconda Distribution` only.

[2018-04-23 12:45] chechoid opened #9223 "Navigator Error"
##### I've just downloaded and installed Anaconda and I was trying to run it.
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-23 13:43] goanpeca commented on #9222
@t1nak please run navigator from a properly activated environment.

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-04-23 13:43] #9222 closed

[2018-04-23 13:47] msarahan commented on #1206
@LeonhardtAndreas that is actually an excellent improvement in my opinion, and I'll recommend internally that we add this to our installers.

[2018-04-23 13:56] mingwandroid commented on #1206
but what about people who use it for all their software needs? We're moving away from recommending modifying PATH (or even setting it at all) and having `conda` as a shell function anyway aren't we?

[2018-04-23 13:59] goanpeca commented on #9223
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-23 13:59] #9223 closed

[2018-04-23 14:54] stmax82 commented on #9163
oh it was renamed. I actually tried "jupyter-notebook", but that wasn't found either. thanks :p

[2018-04-23 15:32] fspiga opened #9224 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-23 15:34] #9224 closed, assigned to goanpeca

[2018-04-23 16:27] SeriousBusiness89 opened #9225 "Anaconda 3.6 32bits crashing when launched"
When i try to open Anaconda Navigator it immediately crashes, opens a black cmd-like window and crashes. I tried a few things already:

1)Installed and uninstalled a few times (changing to which users it was installed, for instance)
2)Tried to find the .continuum folder and there was none (I enabled to show hidden folders), and when i try to run the sudo command to remove it, prompt didn't recogni

[2018-04-23 16:56] goanpeca commented on #9158
It seem qt is not properly installed. Please try reinstalling. Open the `Anaconda Prompt` and type

[code]

[2018-04-23 17:16] overlordxxx opened #9226 "Update Index Reverts Environment to Root"
### Actual Behavior

Environment reverts to the root when the index is updated and causes Python to crash.

### Expected Behavior

Environment remains in the last active environment when the index is updated and Python does not crash.

### Steps to Reproduce

Update to the most recent version of Anaconda.  Create an environment. Open Spyder and try to run a script.  Install packages.  Update index

[2018-04-23 17:54] jjhelmus commented on #8834
`tensorflow-gpu` packages are now available that support CUDA 9.  @seibert can you see if using one of these versions of Tensorflow improves the model initialization time?

[2018-04-23 18:06] seibert commented on #8834
Are these in defaults, or is there a special channel I should look at?

[2018-04-23 18:12] jjhelmus commented on #8834
The new packages are in `defaults`, installing with `cudatoolkit=9` should pull in the correct version.

[2018-04-23 18:13] seibert commented on #8834
Great!  I'll let you know once I get access to that Volta system again.

[2018-04-23 18:19] bddonovan1994 opened #9227 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-23 18:24] goanpeca commented on #9227
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-23 18:24] #9227 closed

[2018-04-23 19:12] mcg1969 opened #9228 "MKL library load error (libmkl_avx2.so or libmkl_def.so)"
### Actual Behavior

Python crashes with the following error:
[code]

### Expected Behavior

No crashy

### Steps to Reproduce

On Linux 64:
[code]
Then start a python prompt and:
[code]

##### Anaconda or Miniconda version:

Here's the exact environment:
[code]

##### Operating System:

Linux 64. This is on AE5.

[2018-04-23 19:13] mcg1969 commented on #9228
Clearly related to #720

[2018-04-23 20:02] seibert commented on #8834
OK, confirmed that TensorFlow 1.7 w/ cudatoolkit=9 executes the test script in just under 3 minutes on Volta.  Problem solved!

[2018-04-23 20:02] #8834 closed

[2018-04-23 20:35] rsusik commented on #8839
I am just a victim of this Anaconda feature.... it doesn't even create a backup...

[2018-04-23 20:47] jitseniesen commented on #9199
@mingwandroid I think I may have hit the same issue. I am on Debian testing, however I don't have an nvidia card. The video card is listed by `lspci` as `Intel Corporation HD Graphics 620 (rev 02)`.

This is how I can trigger the issue:
1. Install Anaconda 5.1 (64-bits, Python 3.6). Spyder works.
2. Upgrade qt with `conda install qt=5.9 pyqt=5.9 matplotlib=2`. This installs qt 5.9.5. Spyder segfau

[2018-04-23 21:27] mingwandroid commented on #9199
Thanks @jitseniesen, that's very helpful. This changes the mystery in a subtle but important way. I'm glad I didn't go messing about deep inside Qt's C++ code to fix this which is what I was contemplating.

I have a quick query. You said:

It should've installed qt 5.9.5 in the test env since I don't have 5.9.4 in https://anaconda.org/rdonnelly/qt/files

.. 5.9.4 would've been there last week some

[2018-04-23 22:03] jjhelmus commented on #9215
mistune 0.8.3 build 1 packages in `defaults` include the compiled extension.  Thanks for bringing this to our attention @scw

[2018-04-24 05:45] kadrlica opened #9229 "matplotlib qt/swarst errors with anaconda 5.1.0 python2.7"
### Actual Behavior

Several warnings and errors are printed when creating interactive figures with matplotlib using the root of a fresh Anaconda 5.1.0 install. This only happens when the matplotlib backend is set to `qt5agg` (`tkagg` yields silent success).

### Expected Behavior

Figures should be created silently.

### Steps to Reproduce

From the Anaconda 5.1.0 root:
[code]

##### Anaconda or

[2018-04-24 05:54] kadrlica commented on #9229
Follow-up... creating a simple environment for `matplotlib` yields the same problem, with the addition of a missing `XDG_RUNTIME_DIR`. I've also turned on `LIBGL_DEBUG` for more info:

[code]

[2018-04-24 08:08] jitseniesen commented on #9199
Yes, you're right. I ran `conda create -n test qtcreator rstudio -c rdonnelly` again and looked closely at what it did. It installs qt 5.9.5-h7e424d6_0 from the default channel.

They all work fine

That one does not work:

[code]

Same backtrace:

[code]

However, if I edit the file and put

[code]

before `from PyQt5 import QtWebEngineWidgets`, then it does work.

[2018-04-24 09:41] mingwandroid commented on #9229
Can you test with newer packages please?

To not disrupt your existing stuff:

conda create -n latest qt python=2 matplotlib

[2018-04-24 09:44] mingwandroid commented on #9229
Sorry I missed your follow up. Do you have Mesa installed? Can you give me as much details about your distro as possible including installed packages?

Do simple opengl tests work ok? glxgears etc?

[2018-04-24 10:06] sudheendra1997 opened #9230 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-24 11:37] tomleung1996 opened #9231 "Can't open anaconda-navigator"
### Actual Behavior

Double click the Anaconda Navigator icon on my desktop and a 'conda.exe' black window pop up then nothing happen and the navigator can't launch.

Anaconda Prompt works fine but if I type 'anaconda-navigator' or 'anaconda-navigator --reset', the system tells me 'python has stopped working'.

Jupyter Notebook works fine
Python works fine (by typing python in cmd i can enter pyth

[2018-04-24 11:55] tadchav commented on #8087
My attempts with @pyandri suggested steps did not work. Regardless of file paths,reboots and inspection of System32 for any problematic DLL's I did not have any luck. I finally got installed by doing the following:
``conda config --set rollback_enabled false``
``conda install ipkernel=4.8.0`` (Since 4.8.X seems to be the issue?)
``conda install anaconda=5.1``
``conda config --set rollback_enabled

[2018-04-24 12:01] tomleung1996 commented on #9231
fixed after using `conda update all`, just don't know why

[2018-04-24 12:25] AhmedRebai opened #9232 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-24 12:26] goanpeca commented on #9230
Closing as duplicate of #6970

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #6970 for more information on how to fix this issue.**

[2018-04-24 12:26] #9230 closed

[2018-04-24 12:27] #9231 closed

[2018-04-24 12:28] goanpeca commented on #9232
Closing as duplicate of https://github.com/ContinuumIO/anaconda-issues/issues/9180

[2018-04-24 12:28] #9232 closed

[2018-04-24 13:29] kadrlica commented on #9229
I'll give `mesa-utils` a try. Is there a preferred channel? Doesn't appear to be available in `defaults`
[code]
Some basic distro info:
[code]
Installed packages:
[code]

[2018-04-24 13:40] mingwandroid commented on #9229
`mesa` is a system package that should be provided with your distribution. It is a software OpenGL renderer (more or less, it also supports some hardware rendering for some GPU and driver combinations).

[2018-04-24 13:50] kadrlica commented on #9229
Ok, so I see several `mesa` and `dri` mentions in the installed package list above. However, `glxinfo` is not found. Some kind of system configuration issue?

I've tried building the environment with `mesa` from `defaults` and `mesalib` from `conda-forge` (also explicitly requesting `pyopengl`). Neither has had a noticeable effect. Also, neither has provided access to `glxinfo` (`command not found

[2018-04-24 13:57] kadrlica commented on #9229
I'm installing on a remote machine and forwarding X windows through an ssh session. Could that be related?

[2018-04-24 14:13] mingwandroid commented on #9229
I wouldn't mix `conda-forge` and `Anaconda Distribution` `defaults` packages in the same env.

Yes, doing tricky things with X forwarding can cause additional issues.

Why not just ignore it if it's not harmful?

[2018-04-24 15:36] mingwandroid commented on #9229
Yes, we updated `qt` from `5.6.2` (released 12th October 2016) to `5.9.5` (released 12th April 2018). Such a major update to an application framework with advanced GUI capabilities brings in more complex rendering requirements that your underlying distro may not support very well (and in this case your distro has decided to warn you about that).

Programmers decide based on essentially a completel

[2018-04-24 15:36] #9229 closed

[2018-04-24 15:55] kadrlica commented on #9229
Thanks for the help!

[2018-04-24 16:29] MarkAPitt commented on #8087
Thank you! This worked.
I was not aware of the 4.8.X issue.

Change ipkernel to ipykernel.

Also, I had to remove the PYTHONPATH setting in the environment settings.

From: Tadiwa Chavanduka [mailto:notifications@github.com]
Sent: Tuesday, April 24, 2018 7:56 AM
To: ContinuumIO/anaconda-issues <anaconda-issues@noreply.github.com>
Cc: Pitt, Mark <pitt.2@osu.edu>; Mention <mention@noreply.github.com

[2018-04-24 22:37] IzMasters opened #9233 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-24 22:41] goanpeca commented on #9233
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-24 22:41] #9233 closed

[2018-04-24 23:11] alvinthai commented on #7177
@mica5

I'm experiencing all the same issues in this ticket, and ```pip install -U requests``` did not fix the issue

[2018-04-25 00:04] mica5 commented on #7177
I'm sorry I don't have much time so I'm going to try answer quickly

csoja:

I know I posted that I upgraded requests using pip, but I remember I eventually ended up reinstalling anaconda. ever since then, I'm better about always trying to make conda environments and installing using conda first. when I want to install a new package I always search google "conda install somepackage" - sometimes a

[2018-04-25 00:40] alvinthai commented on #7177
Yeah I ended up reinstalling anaconda as well. Seems to be the only clean way to fix this

[2018-04-25 00:51] kalefranz opened #9234 "patch conda-installed pip with 'conda update pip' update message"
See comment at https://github.com/pypa/pip/issues/5326#issuecomment-383841262

Apparently it's recommended that the pip outdated message and how to update pip when it is outdated be patched over.

Technically, I guess that would mean pip would have to ask conda if a newer version is available, and then if so, give a `conda update pip` message.

[2018-04-25 01:51] Shuo-Zhang-Bose opened #9235 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-25 01:54] goanpeca commented on #9235
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-25 01:54] #9235 closed

[2018-04-25 02:28] GregRR opened #9236 "An unexpected error occurred on Navigator start-up"
### Actual Behavior

Anaconda Navigator starts booting up, the logo appears, and it says initializing... and then it closes and opens a file (file:///var/folders/bh/tz...gp/T/tmpkde2fj_l.html) in my web browser with an error report.

### Expected Behavior

Navigator opens

### Steps to Reproduce

Happens every time.

##### Anaconda or Miniconda version:
Anaconda 5.1

##### Operating System:
Mac OS

[2018-04-25 02:30] stardomlee opened #9237 "can not turn on anaconda on mac"
Dear developers,
I met an error after installing anaconda by using Homebrew. I can not turn on the anaconda. please help me check!

An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/joeylee/Library/Application Support/binstar/conf

[2018-04-25 02:48] GregRR commented on #9236
Ah! I think somehow I still had an older version of conda installed. I did the following command and things seemed to work.

$ conda update -n base conda

[2018-04-25 02:48] #9236 closed

[2018-04-25 03:43] feresm opened #9238 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-25 03:44] feresm commented on #9238
trying to install orange3. got the message above and halts

[2018-04-25 03:47] feresm commented on #9238
solved. created the directory manually

[2018-04-25 03:47] #9238 closed

[2018-04-25 07:04] houjaii commented on #9237
Same Here!!!

[2018-04-25 07:41] stardomlee commented on #9237
@houjaii I have solved this problem just by deleting the file named 'config.yaml' in the directory of `/Users/joeylee/Library/Application Support/binstar/config.yaml` .

[2018-04-25 07:42] leisurelytime opened #9239 "An unexpected error occurred on Navigator start-up"
### Actual Behavior

An unexpected error occurred on Navigator start-up

##### Anaconda or Miniconda version:
Anaconda3 64bit
##### Operating System:
Windows 10
Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\CTT\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1

Traceback

Traceback (most recent call last):
  File "D:\inst

[2018-04-25 10:36] EugeneNdamukong opened #9240 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-25 12:12] goanpeca commented on #9240
Closing as duplicate of #8216

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8216 for more information on how to fix this issue.**

Or try running

[code]

[2018-04-25 12:12] #9240 closed

[2018-04-25 12:12] goanpeca commented on #9239
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-25 12:12] #9239 closed

[2018-04-25 12:13] goanpeca commented on #9237
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-25 12:13] #9237 closed

[2018-04-25 12:15] mrashid-bioinfo commented on #8971
Had the issue. bcftools installed properly but running the executable failed citing dylibcurl issue. Upadting curl using conda fixed the problem.

Here is what I have done.
$conda remove bcftools (or any tools have failed due to this)
$conda update curl
$conda install bcftools

Thanks

[2018-04-25 12:28] #9169 closed

[2018-04-25 12:49] harrypotter0 opened #9241 "Unable to open Jupyter Notebook from Command Prompt (Ubuntu 16.04)"
Hi,

I'm having issues opening Jupyter Notebook with Command Prompt. I'm on Ubuntu 16.04. When i tried typing jupyter notebook in my command prompt, this appears and notebook does not open anywhere:

Any help would be greatly appreciated, thank you!
### Actual Behavior
Not opening

### Expected Behavior
Should have opened.

### Steps to Reproduce

After installing anaconda , just use this `jupyter

[2018-04-25 15:22] mounicm opened #9242 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=20388)
## Traceback
[code]
## System information
[code]

[2018-04-25 15:26] goanpeca commented on #9242
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-25 15:26] #9242 closed

[2018-04-25 18:08] Honcharov12 opened #9243 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=471)
## Traceback
[code]
## System information
[code]

[2018-04-25 18:14] Serg132003 commented on #1837
have this navigator error on my windows:
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
byte indices must be integers or slices, not str
Traceback
Traceback (most recent call last):
  File "C:\Users\serge\AppData\Local\Continuum\anaconda2\lib\site-packages\anaconda_navigator\exceptions.py", line 75, in e

[2018-04-25 19:36] goanpeca commented on #9243
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-25 19:36] #9243 closed

[2018-04-25 20:59] nickpoerio opened #9244 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=736)
## Traceback
[code]
## System information
[code]

[2018-04-25 21:01] goanpeca commented on #9244
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-25 21:01] #9244 closed

[2018-04-25 22:00] #9241 closed

[2018-04-26 00:25] macnversion opened #9245 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-26 00:30] goanpeca commented on #9245
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-26 00:31] #9245 closed

[2018-04-26 02:40] PAWinTX opened #9246 "Package request: prince"
### Actual Behavior
Max Halford's Prince package is not available in Anaconda Navigator Environments.

### Expected Behavior
Select and Apply the prince package from the available list in Anaconda Navigator Environments so I can use it for my Python 3.6.4 project in Spyder 3.2.8.

### Steps to Reproduce
Open Anaconda Navigator Environments. Search for prince. No results found.

##### Anaconda vers

[2018-04-26 08:15] khawar85 opened #9247 "anaconda shared libraries issue"
Dear Respected Support.

Good Morning.
I want to ask that I am trying to install the anaconda outside user.// in scratch and .. there is issue as below

Do you accept the license terms? [yes|no]
[no] >>> yes

Anaconda3 will now be installed into this location:
/khawar/anaconda

  - Press ENTER to confirm the location
  - Press CTRL-C to abort the installation
  - Or specify a different location be

[2018-04-26 10:32] LarsTeh opened #9248 "Package request: python-vxi11"
### Actual Behavior

[python-vxi11](https://github.com/python-ivi/python-vxi11) is not available. Python VXI-11 provides a pure Python VXI-11 driver for controlling instruments over Ethernet.

### Expected Behavior

Python VXI-11 provides a pure Python VXI-11 driver for controlling instruments over Ethernet and would therefore be very useful for researchers and engineers to control their measureme

[2018-04-26 12:12] romeolandry commented on #9158
Solution
i just removed anacond3 and install anaconda2 and then i can use python as virtual environement.
thanks for helping

[2018-04-26 12:12] #9158 closed

[2018-04-26 13:32] lars879 opened #9249 "Anaconda Installer Error: "Error opening file for writing""
### Actual Behavior
A newly setup Notebook aborts installation for all users. The installation runs properly on a similar model. Just after starting the installation process, a seperate window pops up with the following error message:

"Error opening file for writing:

C:\Anaconda3\Library\bin;C\Anaconda3\Scripts;C\Anaconda3;C\Program Files (x86)\Intel\Intel(R) Management Engine Components\iCLS\;[

[2018-04-26 14:30] vshemet commented on #1583
Issue persists with update to 1.8.3 from 1.7 at Windows 7
The install is user-based, with no admin rights. There is a firewall, but I used "conda config --set ssl_verify False" to work around. Now I can install packages, but can not update anything. During attempt, it shows "successful" yet I'm unable to launch navigator. Only reinstall

[2018-04-26 15:39] mingwandroid commented on #9169
Fixed now, packages released.

[2018-04-26 16:07] mingwandroid commented on #9190
Hi @nehaljwani, this is still not causing this to reproduce for me.

I launch docker from macOS with the following command:

[code]

[code]

.. no problem. Some details:

[code]

[2018-04-26 16:10] mingwandroid commented on #9190
Also you said you are running this from Docker on CentOS7, which docker image do you use?

[2018-04-26 16:58] squibbler10293 opened #9250 "Anaconda Navigator only asks to be updated when it has no admin privileges to actually process the update."
I just installed the most recent 64 bit version of Anaconda on Windows 10.

First I installed it for all users instead of just the current user. On every start of the Anaconda Navigator I would be prompted for its automatic update dialogue (1.7.0 to current version) but the update infinitely loops as I assume it hasn't been given the proper admin privileges.

When I start the Navigator with admin

[2018-04-26 17:40] jmccnnll opened #9251 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-26 17:45] goanpeca commented on #9251
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-26 17:45] #9251 closed

[2018-04-26 18:12] NoushNabi commented on #1440
I had the same problem. Please add these 2 lines at beginning of your code:

import matplotlib
matplotlib.use("TkAgg")

It worked for me.

[2018-04-26 20:33] tkelman commented on #8087
I don't think there should be much difference between ipykernel 4.8.0 and 4.8.2 here. But manually doing `conda install ipykernel=%desired_end_version%` as a separate step is a known workaround. It'll get your system working for now but doesn't tell us much about what's causing the problem. We would need to get a version of that script, with the `> NUL` removed, to run at the right step (linking i

[2018-04-26 20:39] WolfDSCoder commented on #3292
I'm re-posting this here hoping someone might be able to help. @csoja any ideas?
I cannot fix the SSL bad handshake error and have tried many different methods. Nothing seems to solve the problem. Same error occurs. I can't use Conda or Anaconda for installing packages or creating environments so this is a very frustrating error.

My attempts included:

- @akuardit suggestion from [this post](http

[2018-04-26 21:23] DakotaShen opened #9252 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-26 21:27] goanpeca commented on #9252
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-26 21:27] #9252 closed

[2018-04-26 23:03] dennish737 opened #9253 "An unexpected error occurred on Navigator start-up"
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\denni_000\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1
Traceback
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-

[2018-04-27 01:01] goanpeca commented on #9253
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-27 01:01] #9253 closed

[2018-04-27 01:52] kawaimahiro opened #9254 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-27 06:03] dTypePrototype opened #9255 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=2020)
## Traceback
[code]
## System information
[code]

[2018-04-27 06:06] goanpeca commented on #9255
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-27 06:06] #9255 closed

[2018-04-27 07:18] manishTechM99999 opened #9256 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-27 07:22] #9256 closed, assigned to goanpeca

[2018-04-27 07:52] takluyver commented on #9065
I pointed @Sumit-Kap here because of this further comment:

That's not an error that Jupyter ever uses by default, so I assume it must be related to some Anaconda addition, maybe nb_conda_kernels.

[2018-04-27 08:50] Oni commented on #9249
Same here on a Win10 64bit machine. Apparently system PATH variable slips where it shouldn't be.

[2018-04-27 10:02] greglandrum opened #9257 "py-boost package for py3.5 on Windows has py3.6 dependency"
If I `conda install py-boost` in a python 3.5 environment on windows, I end up with a boost_python library that is linked against python 3.6:
[code]
Installing py-boost from the anaconda channel works fine.

##### Operating System:
Window 10

##### `conda info`

[code]

[2018-04-27 13:47] Eternalsunshine1314 opened #9258 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-04-27 13:49] goanpeca commented on #9258
Closing as duplicate of #1932

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1932 for more information on how to fix this.**

[2018-04-27 13:49] #9258 closed

[2018-04-27 14:08] csoja commented on #3292
@WolfDSCoder in a web browser, can you get to https://repo.continuum.io/ or https://repo.anaconda.com/ ?  You should see a landing page at that link.

Sounds like you see the error using Anaconda Navigator or conda in the Anaconda Prompt?
Are you behind a proxy?

Can you include the output from _conda info_  and _conda list_  (from the Anaconda Prompt).

@kalefranz  any ideas?

[2018-04-27 14:38] mhearne-usgs commented on #3292
I had this same issue this morning on my Mac.  I disabled SSL verification, which solved the problem, and then re-enabled SSL, and the problem was still solved.  Intermittent failures of the anaconda servers, or did I fix something by disabling/re-enabling verification?

Another data point: I tried a conda install on a Linux system that is behind the same firewalls, etc. and it worked with ssl ver

[2018-04-27 15:36] kalefranz commented on #3292
HTTP errors from conda can look deceptively similar.  You have to actually read some of the text to figure out what type of issue it is.  What I'll talk about here is specifically SSL Handshake Errors.  It'll look like

    CondaHTTPError: HTTP 000 CONNECTION FAILED

where the `000` comes because there is no HTTP response code... because an HTTP(S) connection was not fully established.  The other

[2018-04-27 16:06] Alighulam opened #9259 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=3324)
## Traceback
[code]
## System information
[code]

[2018-04-27 16:06] Alighulam opened #9260 "Navigater Error"
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-27 16:10] #9259 closed, assigned to goanpeca

[2018-04-27 17:50] swainn commented on #7876
I'm running into the problem with conda 4.4.10 and conda-build 3.9.1. I've just built a conda package I'm working on locally and it seems to be working, but if I try to install it using the --use-local flag, conda is unable to find it. Here is the output:

[code]

The recipe for the cxxtest package is here: https://github.com/Tsubashi/staged-recipes/tree/master/recipes/cxxtest

[2018-04-27 18:07] ngildersleeve opened #9261 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-27 18:11] goanpeca commented on #9261
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-27 18:11] #9261 closed

[2018-04-27 18:19] swainn commented on #7876
Another interesting aspect to this issue is that conda-build seems to honor the "use-local" install. When I build another recipe that depends on the cxxtest package I built locally, conda-build finds it without issue:

[code]

[2018-04-27 19:05] jhas1992 opened #9262 "Navigator Start Error"
### Actual Behavior

 Error occured during Naigator Startup

### Expected Behavior

Anaconda Navigot should launch, giving following error instead; PermissionError: [WinError 5] Access is denied

### Steps to Reproduce

Launch Anaconda Navigator

##### Anaconda or Miniconda version:

##### Operating System:
Windows
##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]
![anacon

[2018-04-27 19:12] goanpeca commented on #9254
Closing as duplicate of #6970

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #6970 for more information on how to fix this issue.**

[2018-04-27 19:12] #9254 closed

[2018-04-27 19:13] goanpeca commented on #9262
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-27 19:13] #9262 closed

[2018-04-27 19:14] goanpeca commented on #9260
Closing as no information was provided.

[2018-04-27 19:14] #9260 closed

[2018-04-27 20:39] pranaychandur opened #9263 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-27 20:42] goanpeca commented on #9263
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-04-27 20:42] #9263 closed

[2018-04-28 00:18] zoecooper opened #9264 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-28 00:23] #9264 closed, assigned to goanpeca

[2018-04-28 00:38] FathiahHusna commented on #1775
my first installation was successful. but somehow the next time i want to run jupyter notebook in anaconda prompt, i got some error message. and i try to reinstall anaconda and this problems happen.

(i think the same errors like u guys stated earlier)
during installation anaconda, i got error message "failed to create menus".
during installation vs code, i got error message saying something that

[2018-04-28 01:15] xiaoyangstat commented on #8797
works for me! Thanks.

[2018-04-28 05:38] benmwebb opened #9265 "Windows boost 1.65.1 package does not include zlib iostreams filter"
boost::iostreams in the Windows boost 1.65.1 package does not appear to have been compiled with [zlib support](http://www.boost.org/doc/libs/1_53_0/libs/iostreams/doc/classes/zlib.html) (it works fine on Linux and Mac though). This appears to be a regression because zlib support was added (see #414) sometime between 1.57.0 and 1.61.0 (can't tell when for sure as #414 was closed without comment). T

[2018-04-28 05:41] ret2727 opened #9266 "No Project Tab"
Updated Anaconda Navigator but no Project Tab

Windows 10

[2018-04-28 07:25] imnfkhri opened #9267 "byte indices must be integers or slices, not str"
Main Error
byte indices must be integers or slices, not str

Traceback
Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "/anaconda3/lib/python3.6/site-packages/anaconda_navigator/app/start.py", line 138, in start_app
    window = run_app(splash)
  File "

[2018-04-28 09:33] Rikorose commented on #7148
Same here, I linked xterm-termite as a workaround:
[code]

[2018-04-28 15:05] FathiahHusna commented on #9128
may i ask. do u already succeed install vscode? becuase i have some error "unable to install vscode". and im still confused here, is there any difference install or not install vscode?

[2018-04-28 18:30] misterhappy2 commented on #8702
conda update conda
-bash: conda: command not found
Navigating to the folder Anaconda3 allowed me to execute this.
problem solved.
thank you goanpeca

[2018-04-28 20:38] Nebelhom commented on #7956
I encountered the same issue. Has anyone found a solution to this problem?

Thanks :)

[2018-04-29 00:53] goanpeca commented on #9267
@imnfkhri please run navigator from a properly activated environment

[code]

[2018-04-29 00:53] #9267 closed

[2018-04-29 00:53] goanpeca commented on #9266
@ret2727 the Project Tab has been deprecated on Anaconda Navigator

[2018-04-29 00:53] #9266 closed

[2018-04-29 02:15] XuejianShen commented on #6667
I have the same problem. Changing the backend of matplotlib to TkAgg may be a solution....

[2018-04-29 09:37] Bladefidz commented on #8988
@dannyXu thank you for follow up. Recently, I got simillar problem when trying to open rstudio installed on opensuse tumbleweed. So *.so libraries just missing, so I just do some tricks: Find related *.so libraries in google, download it and placed inside /usr/share directory.

[2018-04-29 09:42] Richardyouth opened #9268 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=1980)
## Traceback
[code]
## System information
[code]

[2018-04-29 09:47] goanpeca commented on #9268
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-29 09:47] #9268 closed

[2018-04-29 13:36] king07828 commented on #8464
April 29 and this is still a problem.

How to get to a prior version of the installer that works?

[2018-04-29 14:26] puneetmidha opened #9269 "Navigator start-up error"
### Actual Behavior

Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/puneetmidha/Library/Application Support/binstar/config.yaml", line 1, column 1

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-04-29 15:44] Es-Sakhi commented on #2395
After spending more than 2 days on this finally comes to an end. I considered as the most challenging task in 2018 so far. Here is the remedy: (some of this step my not be necessary, however this is the last process I followed in order to get it to work)
1.	Delete the variables form path all of them (remember to save them somewhere because you well have to put them back.
2.	Download and install Re

[2018-04-29 15:45] mingwandroid commented on #423
Small update to this, LTO and PGO is also enabled now on Python 3.5 on Windows.

[2018-04-29 15:45] Es-Sakhi commented on #1775
After spending more than 2 days on this finally comes to an end. I considered as the most challenging task in 2018 so far. Here is the remedy: (some of this step my not be necessary, however this is the last process I followed in order to get it to work)
1.	Delete the variables form path all of them (remember to save them somewhere because you well have to put them back.
2.	Download and install Re

[2018-04-29 16:28] ferti1969 commented on #1580
Thank you!

[2018-04-29 18:59] astrofrog opened #9270 "PyQt5: undefined symbol: g_source_destroy"
When trying to run conda build for a package requiring Qt5 I tried using the recent Qt 5.9 builds but I am getting the following error during the test phase on Linux in CircleCI:

[code]

The relevant package versions that got installed are:

[code]

whereas things work fine with:

[code]

If you are not sure how to reproduce the issue I can come up with a minimal example on CircleCI.

Full log of

[2018-04-29 21:43] neowangkkk commented on #5213
Same here. Installed in the terminal but still cannot launch spyder.

Traceback (most recent call last):
File "/anaconda3/lib/python3.6/site-packages/qtpy/QtWebEngineWidgets.py", line 22, in
from PyQt5.QtWebEngineWidgets import QWebEnginePage
ImportError: dlopen(/anaconda3/lib/python3.6/site-packages/PyQt5/QtWebEngineWidgets.so, 2): Library not loaded: @rpath/libQt5WebEngineCore.5.dylib
Referenced

[2018-04-29 22:17] tolyla25 opened #9271 "Anaconda would not launch"
### Actual Behavior

 Anaconda would not launch. Version 3.5 64 bit for Windows

Error log:

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\Toly_Novik\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1

Trace:

raceback (most recent call last):
  File "C:\Users\Toly_Novik\Anaconda3\lib\site-packages\anaconda_navigator\exceptions.py", l

[2018-04-30 00:22] #9271 closed, assigned to goanpeca

[2018-04-30 02:59] tolyla25 commented on #9271
Thank you!

A few comments:

trying conda update navigator-updater produced:

conda update navigator-updater

PackageNotInstalledError: Package is not installed in prefix.
  prefix: C:\Users\Toly_Novik\Anaconda2
  package name: navigator-updater

When tried this, I got the following:
conda install anaconda-client=1.6.14

conda install anaconda-client=1.6.14
Using Anaconda Cloud api site https://ap

[2018-04-30 03:09] tolyla25 commented on #9271
Still have the error:

Main Error
 could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\Toly_Novik\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1
Traceback
 Traceback (most recent call last):
  File "C:\Users\Toly_Novik\Anaconda3\lib\site-packages\anaconda_navigator\exceptions.py", line 75, in exception_handler
    return_value = func(*a

[2018-04-30 03:14] goanpeca commented on #9271
Please run

[code]

Then run

[code]

And then

[code]

[2018-04-30 03:17] tolyla25 opened #9272 "Anaconda would not launch even after the update (old issue 9271 and 8420)"
### Actual Behavior

 Anaconda would not launch even after the update

Update as directed in Issue 9271:
Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

conda update conda - OK
conda update anaconda-navigator - OK
conda update navigator-updater (did not go through)

#

[2018-04-30 08:30] krish6874 commented on #8826
[I 14:14:29.815 LabApp] The port 8888 is already in use, trying another port.
[I 14:14:29.842 LabApp] JupyterLab beta preview extension loaded from C:\ProgramData\Anaconda3\lib\site-packages\jupyterlab
[I 14:14:29.842 LabApp] JupyterLab application directory is C:\ProgramData\Anaconda3\share\jupyter\lab
[W 14:14:29.848 LabApp] Error loading server extension jupyterlab
Traceback (most recent call l

[2018-04-30 08:41] krish6874 commented on #8826
problem in install mglearn
pip version cannot upgrafe from 9.0.1  to 10.0.1
anaocnda navigator updator 1.7.0 to 1.8.3 takes long

[2018-04-30 08:48] Raunak-Agrawal commented on #6321
fuck

[2018-04-30 13:36] hani1814 opened #9273 "Caffe installation issues"
Hi,

I have created a python 3.5 environment and installed caffe. There seems to be an issue with libprotobuf library.

conda create -n test python=3.5 caffe

I get the following error on import

Traceback (most recent call last):<br>&nbsp; File "&lt;stdin&gt;", line 1, in &lt;module&gt;<br>&nbsp; File "/opt/app/anaconda3/envs/test/lib/python3.5/site-packages/caffe/__init__.py", line 1, in &lt;mod

[2018-04-30 14:14] jjhelmus commented on #9273
Can you provide the output of `conda list --show-channel-urls` and `conda info` as requested by the issue template?  Without this information it is very difficult to debug this issue.

[2018-04-30 14:15] tolyla25 commented on #9271
while running client install I got this:

  Returning 0.
extern "Python": function Cryptography_locking_cb() called, but got internal exception (out of memory / shutdown issue).  Returning 0.
extern "Python": function Cryptography_locking_cb() called, but got internal exception (out of memory / shutdown issue).  Returning 0.

    On Sunday, April 29, 2018, 8:15:01 PM PDT, Gonzalo Peña-Castellanos

[2018-04-30 14:17] tolyla25 commented on #9271
the same message when running conda install navigator-updater

    On Monday, April 30, 2018, 7:15:02 AM PDT, Toly Novik <tolynovik@yahoo.com> wrote:

 while running client install I got this:

  Returning 0.
extern "Python": function Cryptography_locking_cb() called, but got internal exception (out of memory / shutdown issue).  Returning 0.
extern "Python": function Cryptography_locking_cb() call

[2018-04-30 14:39] goanpeca commented on #9269
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-30 14:39] #9269 closed

[2018-04-30 14:49] hani1814 commented on #9273
As requested, I masked the home directory. We have a local repo based on anaconda repo

     active environment : test
    active env location : /opt/app/anaconda3/envs/test
            shell level : 1
       user config file : /home/XX/.condarc
 populated config files : /home/XX/.condarc
          conda version : 4.5.0
    conda-build version : 3.8.0
         python version : 3.5.4.final.0

[2018-04-30 14:54] csoja commented on #6321
@Raunak-Agrawal  Can you open a new issue and fill out the template for the problem you are encountering?  The "activate.bat" issue should be fixed in Anaconda v5.1.

[2018-04-30 14:56] mingwandroid commented on #9270
Please provide a minimal example if you can @astrofrog.

[2018-04-30 15:02] kwangje opened #9274 "cannot re-install anaconda after deleting it"
![Uploading image.png…]()

[2018-04-30 15:07] jjhelmus commented on #9273
Can you update your version of glog?  The package with the build string of `hf484d3e_1` has the necessary symbols.  Normally `conda install glog` would perform the necessary update to the environment but it looks like you may be storing a local copy of the repository.

[2018-04-30 15:19] tolyla25 commented on #9271
It is working!! thanks a million!

A few comments

1. update all - installed cryptography 2.2.2 So I did not run your command to upgrade to 1.7

2. if cryptography update is required in must be run the last since it requires a newer ipykernel that is taken care of by update all

3. Antivirus software must be disabled

4. must clean up thoroughly older Anaconda installations

5. Why would update al

[2018-04-30 15:35] gitmoneyMSBA opened #9275 "Navigator Error"
## Main error
Application <b>jupyterlab</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-30 15:35] cleconte987 opened #9276 "Problem while launching anaconda"
Hi,
While launching anaconda i get this error:

![screen shot 2018-04-30 at 16 33 19](https://user-images.githubusercontent.com/24496267/39435852-5e0a9064-4c94-11e8-9a99-52829d88f3c7.png)

The full text is this:

Navigator Error

An unexpected error occurred on Navigator start-up

Report

Please report this issue in the anaconda issue tracker

Main Error

could not determine a constructor for the

[2018-04-30 15:39] berradaa opened #9277 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-04-30 15:58] goanpeca commented on #9275
@gitmoneyMSBA, the error
[code]

Indicates that `Non-ASCII character` is being used. Please fix that on `/Users/.jupyter/jupyter_notebook_config.py`

[2018-04-30 15:58] #9277 closed

[2018-04-30 15:58] goanpeca commented on #9277
@berradaa please reinstall terminado

[code]

[2018-04-30 15:59] goanpeca commented on #9276
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-04-30 15:59] #9276 closed

[2018-04-30 16:00] goanpeca commented on #9272
Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-04-30 16:00] #9272 closed

[2018-04-30 16:08] hani1814 commented on #9273
This has solved the problem. Thank you

[2018-04-30 17:01] ace2107 commented on #8076
I am having the same problem currently. Were you able to solve it ?

[2018-04-30 18:42] racekiller opened #9278 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]
Jimmy's comment
I do have admin rights, how can I do the install to ProgramData/Anaconda3 via command line without creating a new environment?

Thanks

[2018-04-30 18:43] goanpeca commented on #9278
Closing as duplicate of #1845

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1845 for more information on how to fix this issue.**

[2018-04-30 18:43] #9278 closed

[2018-04-30 18:52] shaffiyahHirakawa commented on #7431
my MacOS Sierra 10.12.6 but difficult to install anaconda

[2018-04-30 20:36] saraparsa opened #9279 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=1004)
## Traceback
[code]
## System information
[code]

[2018-04-30 20:41] goanpeca commented on #9279
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-04-30 20:41] #9279 closed

[2018-04-30 21:01] Mahdi-Moalla commented on #6431
Hello,
I am obtaining this error with the new anaconda update (5.1.0). Did anyone experience it?
Does anyone have a solution for it?

Thank you.

[2018-04-30 21:56] freshforlife commented on #9209
@mingwandroid  -- sorry for the delayed response.
I'm not sure if I have X11 and mesa/OpenGL libraries installed, but the important thing is this:
After installing R from the microsoft R Open environment , as soon as I install RStudio using this command:
`conda install -c r rstudio`,  and then try to invoke `R` from the command line,  it gives me an error while starting. I have been using jupyter

[2018-04-30 22:27] mingwandroid commented on #9209
You need to install Mesa and OpenGL libraries via your system package manager.

Closing as this has gone full circle.

[2018-04-30 22:27] #9209 closed

[2018-05-01 01:41] Larz60p commented on #1027
I am running windows 7 (professional version).
I also get an error while starting Jupyter Notebook from Anaconda Navigator, except Jupyter still lanuches:

Here is the content of the error message:
----------------------------------------------------------------------------------------

[I 21:38:10.616 NotebookApp] The port 8888 is already in use, trying another port.
[I 21:38:10.616 NotebookApp]

[2018-05-01 06:36] scorfishyu opened #9280 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-01 06:41] goanpeca commented on #9280
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-01 06:41] #9280 closed

[2018-05-01 09:32] willigott commented on #5191
I do have the same issue when I try to import [tellurium](http://tellurium.analogmachine.org/) which I installed using
 `pip install git+https://github.com/sys-bio/tellurium.git`

When I then try

`import tellurium as te`

I get

When I first do `import matplotlib.pyplot as plt`, the import works fine.

I checked

`ls -l ~/anaconda2/lib/libstdc++.so.6`

which returns

`path/to/anaconda2/lib/libstd

[2018-05-01 13:34] begrs commented on #8826
As a fellow developer I do not exactly understand why you recommend installing just for the actual user and do not raise privileges for updates.
Here are the pro and con in my perspective:
Pro of using current user instead of admin:
 - avoid some privilege issues like the updating
 - user does not have to be admin
Con:
 - for rare multi-user systems it will get installed more than once
 - potentia

[2018-05-01 13:46] vhsieh920 opened #9281 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-01 13:48] goanpeca commented on #9281
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-01 13:48] #9281 closed

[2018-05-01 15:18] borcabar commented on #8568
After trying other options, the one that works for me was to delete that "binstar/config.yaml", here is the full path:

/Users/(your account name)/Library/Application Support/binstar/config.yaml

[2018-05-01 16:54] stirlingpoon opened #9282 "Launching Anaconda Navigator throws KeyError: 'root_prefix'"
### Actual Behavior

Shows an error: KeyError: 'root_prefix'

### Expected Behavior

Anaconda Navigator launches

### Steps to Reproduce

Launch Anaconda Navigator

##### Anaconda or Miniconda version: 4.5.1

##### Operating System: Windows

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-05-01 17:05] Raunak-Agrawal commented on #6321
which file path to add from anaconda to use django in atom? I am  being
able to use python but not django . Help me out.

On Mon, Apr 30, 2018 at 8:24 PM, csoja <notifications@github.com> wrote:

[2018-05-01 17:27] nos86 commented on #9128
I tried to install vscode last week without success. I'm still waiting for the release mentioned by  @goanpeca

[2018-05-01 17:30] nos86 commented on #9128
Wow.. I like your sentence.. I'll test it tomorrow at office.

[2018-05-01 18:25] doutriaux1 commented on #1206
@durack1 the newer way to do things in conda is to have **nothing** added in PATH, instead it sources a special bash file that defines a `conda` function. Of course you're not going to like like because it means no tcsh for you 😉

[2018-05-01 18:30] durack1 commented on #1206
@doutriaux1 got a link describing this new way?

[2018-05-01 18:46] mingwandroid commented on #1206
That won't work either. Instead of your distro software not working, now `Anaconda Distribution` software will not work. @kalefranz do you have a good reference for the new way?

[2018-05-01 18:54] goanpeca commented on #9282
@stirlingpoon could you update to version 1.8.4 and try again?

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-05-01 18:55] goanpeca commented on #8826
We are working on a fix for this issue to be released on version 1.8.6

[2018-05-01 20:50] durack1 commented on #1206
So other folks don't pull their hair out as long as I did, here are the errors contained in the vnc log for the two environments (which can be switched by creating/editing the `~/.Xclients` file, e.g. below):
GNOME2:
[code]
And on the login screen when trying to connect using a vnc client:
[code]
Switch from redhat default GNOME to KDE:
[code]
And KDE:
[code]

[2018-05-01 22:40] seanmac10 commented on #7587
Same issue.

[2018-05-02 00:28] sapeters68102 commented on #9207
I have the exact same error.
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/Scott/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback

Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  Fil

[2018-05-02 04:57] peachblossom1230 opened #9283 "the button "launch" in the navigator for jupyter,notebook ,orange and so on doesn't work"
### Actual Behavior
after clicking the button Launch of jupyter, nothing happened.
what happened were nothing. jupyter did not lauch.

### Expected Behavior
hope navigator can launch the jupyter, orange ande others.

### Steps to Reproduce

After successfully launching the navigator, click the button "launch"

##### Anaconda or Miniconda version:4.5.1

##### Operating System:
windows 10
##### `con

[2018-05-02 07:10] deepylt commented on #270
Simply creating a soft link named the original directory that directs to the new directory could solve the problem. `ln -s moved_directory   original_directory `

[2018-05-02 08:24] sanghaisubham opened #9284 "Conda Not Running"
### Actual Behavior
# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "C:\Users\Subham\Anaconda3\lib\site-packages\conda\cli\main.py", line 97, in main
        from ..activate import main as activator_main
      File "C:\Users\Subham\Anaconda3\lib\site-packages\conda\activate.py", line 12, in <module>
        context.__init__()  # oOn i

[2018-05-02 08:39] jjhelmus commented on #7315
I was able to reproduce this with pytables 3.4.2 (3.4.2-py27h1f7bffc_2) but the issues seems to be fixed with version 3.4.3 (3.4.3-py27h02b9ad4_0) which uses an external blosc library (see [6dd175cc](https://github.com/AnacondaRecipes/pytables-feedstock/commit/6dd175cc66c66fa5539910dae6869b8c7c7ebfc1#diff-e178b687b10a71a3348107ae3154e44c)).  @laborleben could you see if upgrading to pytables 3.4.3

[2018-05-02 09:30] leycec commented on #1666
@ccordoba12 Thanks for your tireless efforts with the thankless chore that is Anaconda-Graphviz-Windows integration. In light of corresponding work (e.g., [this recent issue](https://github.com/conda-forge/graphviz-feedstock/issues/21), [this older issue](https://github.com/conda-forge/graphviz-feedstock/issues/11)) by both you and @jakirkham at the [conda-forge Graphviz feedstock](https://github.

[2018-05-02 09:34] #7315 closed

[2018-05-02 09:56] stirlingpoon commented on #9282
I am still getting the same error.

[code]

[code]

[2018-05-02 10:10] Euruson commented on #1648
I also met this problem.
I created a conda environment with python3.5. When I try to `import matplotlib.pyplot as plt`, python will exit without any errors.
Just like this:
![image](https://user-images.githubusercontent.com/27568823/39517919-ee4dbb74-4e33-11e8-97c9-8a1a14a14b3d.png)

[2018-05-02 13:11] doutriaux1 commented on #1206
@durack1 for example see: https://stackoverflow.com/questions/47246350/conda-activate-not-working?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

but the nitty gritty is the following message on newer conda:
[code]

[2018-05-02 13:33] fgp opened #9285 "libgcc-7.2.0-h69d50b8_2 appears to be broken"
### Actual Behavior

Trying to install ` libgcc` produces the error

[code]
### Expected Behavior

Installation of `libgcc`.

### Steps to Reproduce

[code]
##### Anaconda or Miniconda version:

conda version 4.5.1

##### Operating System:

Linux 64-bit (Open SUSE 13.2)

##### `conda info`
[code]

##### `conda list --show-channel-urls` (within test environment)
[code]

##### `conda list --show-cha

[2018-05-02 13:34] nehaljwani commented on #9285
It could be that your local cache is corrupt? Try:

[code]

[2018-05-02 14:32] mingwandroid commented on #9285
Also no one should ever install `libgcc` deliberately (nor for that matter `libgcc-ng`).

[2018-05-02 14:41] goanpeca commented on #9207
@sapeters68102 that is not the exact same error. To fix your problem, please open a terminal and run

[code]

[2018-05-02 14:42] goanpeca commented on #9207
@pavansvn please update navigator open a terminal and run

[code]

[2018-05-02 14:42] #9207 closed

[2018-05-02 15:39] goanpeca commented on #9283
The problem is most likely related to `陶立循\`. Anaconda and navigator do not support those characters.

[2018-05-02 16:02] kalefranz commented on #9284
You have incorrect yaml in one of your configuration files.  Probably `C:\Users\Subham\.condarc`.

[2018-05-02 16:06] kalefranz commented on #9284
This issue was moved to conda/conda#7242

[2018-05-02 16:06] #9284 closed

[2018-05-02 16:07] kalefranz commented on #9284
Moved to conda/conda so I can fix the stack trace.

[2018-05-02 16:58] richdevboston opened #9286 "Anaconda Navigator or Anaconda Console do not launch - I get "TypeError: 'module' object is not callable""
Nothing works, I get the following error.  Something fundamental is unlinked.  I have Anaconda in my Windows PATH correctly.

I can start Anaconda Console using the Windows key, and selecting the Anaconda Console, but after that I get the following error...  I cannot easily debug things with this error, since I cannot list packages

When I type 'conda' at the command line, I get the following erro

[2018-05-02 17:09] benmwebb opened #9287 "boost defaults and conda-forge packages are incompatible (C++11)"
The 'boost' package exists in both defaults and conda-forge, but it appears as if the package in conda-forge was built with an older version of gcc, because it doesn't contain C++11 symbols, while the defaults package was built with a newer gcc and *does* support C++11. This is a problem if a package is built against the defaults boost and then installed on a system with conda-forge boost, or vice

[2018-05-02 17:29] kalefranz commented on #1666
We updated graphviz not too long ago in `defaults`, and at the time, I was hoping to build graphviz from source on windows.  It ultimately didn't end up happening because their build system configuration really doesn't work on windows in their last stable release for unix, and that's probably why their last stable release on windows is a couple versions behind their last stable release on unix.  S

[2018-05-02 17:57] mingwandroid commented on #9287
No, binary compatibility is the only option here. Until then you need to not mix packages in the same environment from both defaults and conda-forge.

[2018-05-02 18:14] pjh5 opened #9288 ""conda install" can't find package that "conda search" can in brand new environment"
What's wrong with this package such that I cannot install it?

### Actual Behavior
[code]

### Expected Behavior

It installs the package, or explains why the package cannot be installed.

### Steps to Reproduce

All needed steps given in expected output section. This was run on a brand new docker image.

##### Anaconda or Miniconda version: continuumio/anaconda3 docker image

##### Operating Syst

[2018-05-02 18:32] jakirkham commented on #1666
Does the [`pydot`]( https://github.com/conda-forge/pydot-feedstock ) package work? If so, great. If not, we could patch it like we did with `python-graphviz`. Admittedly not the ideal solution, but I think this more feasible given your timeline.

There was a lot of work in `graphviz` (upstream) to use CMake, but much of it remains untagged. Pinged the issue with them ( https://gitlab.com/graphviz/

[2018-05-02 18:54] eginina opened #9289 "Anaconda navigator does not start after installing virtual platform"
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

High Sierra 10.13.3

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-05-02 19:26] kalefranz commented on #9288
This is real.  It's related to features.  Moving to the conda repo issue tracker.

[2018-05-02 19:26] kalefranz commented on #9288
This issue was moved to conda/conda#7245

[2018-05-02 19:27] #9288 closed

[2018-05-02 20:00] goanpeca commented on #9289
@eginina what do you mean by `virtual platform` ?

[2018-05-02 20:36] ccordoba12 commented on #1666
@leycec, thanks for chiming in and trying to find a solution to this. My answers

I don't work for Anaconda anymore, so I can't contribute to fix this in my work time. Last time it took me about three weeks of hard work to compile 2.38 on Linux/macOS and repackage it on Windows. If Windows compilation is on the table for 2.40, I'd expect the same time again.

Sure. Anaconda uses conda-forge feedst

[2018-05-02 20:39] eginina commented on #9289
@goanpeca  I mean this:
*****
name: virtual_platform
channels:
- menpo
- conda-forge
- soumith
- anaconda-fusion
- defaults
dependencies:
- bzip2=1.0.6=1
- ffmpeg=3.2.4=1
- imageio=2.2.0=py35_0
- x264=20131217=3
- anaconda-client=1.6.5=py35hf878a34_0
- anaconda=custom=py35_0
- anaconda-navigator=1.6.8=py35h9418ac0_1
- anaconda-project=0.8.0=py35h19d87e7_0
- appnope=0.1.0=py35hd172556_0
- appscript

[2018-05-02 20:42] goanpeca commented on #9289
@eginina could you update qtpy to the latest version?

[code]

[2018-05-02 20:42] goanpeca commented on #9289
@eginina also if you open the terminal, and run the command

[code]

Is there any traceback?

[2018-05-02 20:54] mingwandroid commented on #9289
I think this file has come from:
https://github.com/jorcus/Computer-Vision-A-Z/blob/master/Installations/virtual_platform_mac.yml

I would not really recommend doing things this way, for a start this
software is very out of date by now (15 Oct 2017) and will only work on
macOS, unless this is precisely what you want?

On Wed, May 2, 2018 at 9:43 PM, Gonzalo Peña-Castellanos <
notifications@github.

[2018-05-02 21:04] camilogavo opened #9290 "IRkernel died Windows 10"
### Actual Behavior
IRKernel dies after launched

### Expected Behavior

### Steps to Reproduce
install.packages(c('repr',
                   'IRdisplay',
                   'evaluate',
                   'crayon',
                   'pbdZMQ',
                   'devtools',
                   'uuid',
                   'digest'))

devtools::install_github('IRkernel/IRkernel', force='TRUE')
IRkerne

[2018-05-02 21:12] TacoVerhagen opened #9291 "Updating ipykernel to 4.8.2 fails => cannot import name \'constants\'\r\n'"
### Actual Behavior
This issue sounds like #8733, but it has a different dynamics. See also the history section.
Run conda update ipykernel

Linking error, see below. To get extra output I modified the ipykernel-post-link.bat to remove the > NUL in the 4.8.2 package. That explains the hash warning.

...
(base) C:\WINDOWS\system32>conda update -v  ipykernel
Solving environment: ...working... done

[2018-05-02 21:14] eginina commented on #9289
@goanpeca : I updated qtpy to the last version started the navigator from the command line. I had to repair the link as well after the installation. Thank you, @goanpeca !!

[2018-05-02 21:21] eginina commented on #9289
@mingwandroid : No, it does not come from there originally, it was copy-pasted by @jorcus from an online course. And yes, I do want it to work on a Mac and it already worked on my other Mac. Setting a new system now.

[2018-05-02 22:02] #9289 closed

[2018-05-02 22:16] DuggalM opened #9292 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=4076)
## Traceback
[code]
## System information
[code]

[2018-05-02 22:18] goanpeca commented on #9292
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-05-02 22:18] #9292 closed

[2018-05-02 22:54] mingwandroid commented on #9290
I do not see any `Anaconda Distribution` R software in this list. I do see quite a lot of old software though, I'd recommend a `conda update --all` to begin with, then installing some of our `R` packages.

[2018-05-02 22:59] mingwandroid commented on #9290
Oh, you are not using our `R` packages at all but some gotten from elsewhere? (we have two families of R packages available, `MRO` and our own self-built ones). We do not support this usage.

Instead if you want MRO you need to run:

`conda install r-irdisplay r-evaluate r-crayon r-pbdzmq r-devtools r-uuid r-digest mro-base`

and If you do not want MRO then run:

`conda install r-irdisplay r-evalu

[2018-05-02 22:59] #9290 closed

[2018-05-02 23:25] mrleavitt opened #9293 "Installation error"
<!--
I'm new to this reporting system, so apologies if this has been reported before

### Actual Behavior

<
Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "C:\Users\micha\AppData\Local\ContinuumIO\binstar\config.yaml", line 1, column 1

Traceback

Traceback (most recent call last):
  File "C:\Users\micha\Anaconda3\lib\site-packages\anaconda_navig

[2018-05-03 01:07] ghmole opened #9294 "why not update tensorflow to latest version?"
### Expected Behavior

tensorflow latest version is 1.8, but in the anaconda repository, still keep version 1.1, I try   to install package downloading from PYPI,  but many package conflict, making some issue in my program, do you have a plan to update tensorflow version?

### Steps to Reproduce

##### Anaconda or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `cond

[2018-05-03 01:17] ksphil opened #9295 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-03 03:21] zixingkong opened #9296 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-05-03 03:26] goanpeca commented on #9296
Closing as duplicate of #1932

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1932 for more information on how to fix this.**

[2018-05-03 03:26] #9296 closed

[2018-05-03 04:44] mmccpit opened #9297 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-03 04:54] nehaljwani commented on #9270
This can be reproduced without a docker container.

[2018-05-03 05:37] nehaljwani commented on #9270
Steps to repro:
[code]

[2018-05-03 05:49] leycec commented on #1666
Sadly, no. That said, I've personally contributed pull requests to both pydot *and* Network (on behalf of pydot). @johnyf, the principal maintainer of pydot, is congenial, actively involved, and an all-around jolly good fellow. I may be biased, <sup>*Whenever someone says that, they're biased.*</sup> but this sounds like a volunteer match made in GitHub heaven:

:sun_with_face:

I'm happy to lend

[2018-05-03 05:58] kalefranz commented on #1666
@leycec You made me laugh. More than once.  After a long day, thanks for that :)

[2018-05-03 08:29] harryscholes commented on #8182
@jonnyhtw I got it working by first running `sudo apt-get install bzip2` btw

[2018-05-03 08:52] Mashiro120 commented on #6097
I think there are some error in your channels //just try to modify file "C:\Users\USERNAME\.condarc"

[2018-05-03 09:09] lars879 commented on #9249
@Oni: If I understand correctly, the issue is beeing adressed, great! Will I automatically get a notification via this issue, when it has been fixed?

[2018-05-03 09:28] mingwandroid commented on #9270
You need to install some more system libraries due to QtWebEngine which requires basically all the low-level libraries necessary for a desktop experience (since it's a full web browser engine).

`yum install libgl1-mesa-glx mesa-libGL libXcomposite libXcursor libXi libXtst libXScrnSaver libXrandr alsa-lib mesa-libEGL`

[2018-05-03 09:30] mingwandroid commented on #9270
BTW (and I know this is only a test-case but we did find real world examples already) if any project is doing `import PyQt5.Qt` it should be changed not to since in most cases that will load a huge amount of software the project does not need.

[2018-05-03 09:39] krebons-gavin commented on #9213
Do you have any updating for this bug?

[2018-05-03 09:41] krebons-gavin commented on #9213
Do you have any updating for this issue?

[2018-05-03 10:55] jasleen-chadha opened #9298 "Navigator Error"
### Actual Behavior

### Expected Behavior

### Steps to Reproduce

#####  or Miniconda version:

##### Operating System:

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

![error](https://user-images.githubusercontent.com/22545359/39572876-96866ccc-4eee-11e8-9d1d-3fee453b574d.png)

[2018-05-03 11:28] jesse2013 opened #9299 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=469)
## Traceback
[code]
## System information
[code]

[2018-05-03 11:45] xweipbcsf opened #9300 "Navigator Error"
## Main error
Application <b>jupyterlab</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-03 13:05] nehaljwani commented on #9270
@mingwandroid If I remove pathlib2 from my environment, then I don't face this issue. I already have all of the low-level libraries necessary as I was running this on a full fledged desktop.

[2018-05-03 13:09] goanpeca commented on #9299
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-05-03 13:09] #9299 closed

[2018-05-03 13:09] goanpeca commented on #9297
Closing as duplicate of #8216

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8216 for more information on how to fix this issue.**

Or try running

[code]

[2018-05-03 13:09] #9297 closed

[2018-05-03 14:21] andrenmo opened #9301 "Uninstall Anaconda requires admin on Windows 10"
I am trying to reinstall Anaconda, but to unninstall a local user instalation requires Admin rights.
I installed anaconda on my work notebook now i need open an TI ticket to unninstall it.

How to reproduce the bug:
Install anaconda with a non admin user on windows 10.
Try to unninstall it.

[2018-05-03 14:29] yzhou364 opened #9302 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-03 14:30] goanpeca commented on #9302
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-03 14:30] #9302 closed

[2018-05-03 16:01] doaa11 opened #9303 "anaconda navigator does not work and display this error"
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
byte indices must be integers or slices, not str
Traceback
Traceback (most recent call last):
  File "C:\Users\dell\Anaconda3\lib\site-packages\anaconda_navigator\exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "

[2018-05-03 16:15] javierrenton commented on #341
I confirm that the solution given some posts above does work for Python 2.7, Spyder 3.2.8 in Windows 10, 64-bit version:

 conda update pyzmq

[2018-05-03 18:01] durack1 commented on #1206
@dnadeau4 ping

[2018-05-03 19:17] fmartelg opened #9304 "Anaconda fails to start in Windows 10 if `.anaconda` folder is hidden"
0. Log into Windows as regular user, not Admin.
1. Install Anaconda under `.\user\userName\`
2. Open `userName` folder
3. Select all folders starting with `.` in Windows Explorer.
4. Right click selection > Properties > General tab > Attributes > click Hidden checkbox> Apply > ok.
5. click Windows key, type `Anaconda`, click on Anacoda Navigator.
6. A terminal launches and closes. No Anaconda Navi

[2018-05-03 20:21] acarrami opened #9305 "Spyder fails to launch with navigator 1.8.4 on mac"
### Actual Behavior

Spyder does not launch. I get an application launch error message. This goes for spyder 3.2.8, 3.2.7 or 3.2.6. The launch error message is:
Traceback (most recent call last):
File "/anaconda3/bin/spyder", line 4, in
import spyder.app.start
File "/anaconda3/lib/python3.6/site-packages/spyder/app/start.py", line 27, in
from spyder.config.main import CONF
File "/anaconda3/lib/pyt

[2018-05-03 20:32] mingwandroid commented on #9270
So the natural question is which system dependency does `pathlib2` introduce? Maybe look at the `CDT` packages it brings in (if any?)

[2018-05-03 20:42] ccordoba12 commented on #9305
Please open Terminal.app and run there

    coda update python python.app

to fix this problem.

[2018-05-03 21:42] jonnyhtw commented on #8182
Thanks @harryscholes

I'll have a look at that...

Jonny

[2018-05-03 22:08] acarrami commented on #9305
It worked. Thanks!

[2018-05-03 22:25] shwetabansal opened #9306 "Ananconda, Spyder, Ipython slow to startup"
### Actual Behavior

Anaconda navigator, Spyder, Ipython (from command line) are slow to startup.

### Expected Behavior

Quick startup

### Steps to Reproduce

##### Anaconda or Miniconda version:

Anaconda Navigator 1.6.2

##### Operating System:

Mac El Capitan

##### `conda info`

[code]

##### `conda list --show-channel-urls`

[code]

[2018-05-03 22:33] acarrami commented on #9305
Actually…. It didn’t. Spyder opens but hangs. Now jupyter doesn’t open, with a similar message. It’s all kind of messed up.

[2018-05-03 23:32] mingwandroid commented on #9306
Slow compared to what? I'm tempted to closer this since you provide nothing I can work with. If you find something to compare some of this against (where by something I mean e.g. Spyder running on Homebrew Python 2) and it turns out we are significantly slower then please post the details here.

Python 3 is much faster than Python 2 it may make some difference here. Can you user Python 3 instead?

[2018-05-04 02:14] ZzzerOoo000 opened #9307 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=9868)
## Traceback
[code]
## System information
[code]

[2018-05-04 03:57] acarrami commented on #9305
I ran “conda update —all” and now everything seems to work fine.

[2018-05-04 04:50] Gbomoh opened #9308 "Navigator Error"
## Main error
The following errors occurred:
## Traceback
[code]
## System information
[code]

[2018-05-04 05:27] nehaljwani commented on #9270
As Ray pointed out, if I do:
[code]
And install all the missing deps, the problem goes away.

[2018-05-04 08:04] mingwandroid commented on #9270
We do need to document these extended dependencies for the most common linux distros and update any docker or other CI files we are in charge of too.

Pinging @csoja about that (and closing, again!)

[2018-05-04 08:04] #9270 closed

[2018-05-04 08:40] githubgsq opened #9309 "Segmentation fault after installing glibc in conda"
I installed Anaconda2-5.1.0-Linux-x86_64, but I need latest glibc, then I executed "conda install -c dan_blanchard glibc"
![image](https://user-images.githubusercontent.com/23164715/39619068-0216401e-4fb9-11e8-8a9e-aa75f685621d.png)

It seems that glibc has been installed successfully
but after that, I can't use conda, also other shell commands. "segmentation fault" always
![image](https://user-im

[2018-05-04 08:43] mingwandroid commented on #9309
Yes, do not install a broken package from `dan_blanchard`? This is a 3rd party release, not something released by the `Anaconda Distribution` team and therefore we cannot do anything about it.

If you can find some way to contact the owner of this channel they might be able to help you.

[2018-05-04 08:43] #9309 closed

[2018-05-04 08:44] mingwandroid commented on #9309
Why do you think you need the latest `glibc` in your conda environment? Also, `2.18` is far from the latest version, `2.27` is the latest.

Also

[2018-05-04 08:45] githubgsq commented on #9309
@mingwandroid thanks!  Is there any method to install glibc>=2.14 in conda please?

[2018-05-04 08:46] githubgsq commented on #9309
@mingwandroid I want to install pytorch through Anaconda, but glibc>=2.14 needed.

[2018-05-04 09:09] mingwandroid commented on #9309
What makes you say that? Can you point to some documentation? Pretty much all of the official software in the `Anaconda Distribution` is compatible with `glibc 2.12` and some amount of it is compatible with `glibc 2.11`.

I noticed that the pytorch team have their own conda channel too and that is their officially recommended way to install it, is that how you are trying to install it?

[2018-05-04 09:29] mingwandroid commented on #9309
Installing the official way via:
[code]

.. does indeed require `glibc>=2.14`, as seen by:
[code]

(BTW including all these details would have saved me some time).

So the official PyTorch packages need glibc 2.14 at least. I do not think you'll be able to do much about this, except use a newer linux distro if you need to use the official packages. Maybe you could ask them to document this require

[2018-05-04 09:38] mingwandroid commented on #9309
@jjhelmus a penny for your thoughts?

[2018-05-04 09:51] ricechenjuan opened #9310 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-04 09:54] goanpeca commented on #9310
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-04 09:54] #9310 closed

[2018-05-04 12:35] shweh opened #9311 "Conda navigator error"
[Navigator Error.docx](https://github.com/ContinuumIO/anaconda-issues/files/1974417/Navigator.Error.docx)

[2018-05-04 13:04] ccordoba12 commented on #9305
Ok, good to know.

[2018-05-04 13:57] RutaMerkyte opened #9312 "Anaconda Navigator fails to start on Mac"
I successfully installed Anaconda from here https://repo.continuum.io/archive/, chose installer Anaconda3-4.2.0-MacOSX-x86_64.pkg for my Mac. Every time I try to open Anaconda Navigator, it quits unexpectedly. Here are the error details I'm getting:

[code]

Please help me to start Anaconda Navigator.

[2018-05-04 14:12] RutaMerkyte commented on #9312
I found out myself that I was using an old version of Navigator. Running an update command did help

`$ conda update anaconda-navigator`

[2018-05-04 14:14] #9312 closed

[2018-05-04 14:36] sabster16 opened #9313 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-04 14:39] RoyiAvital commented on #7410
@jjhelmus ,
PyTorch 0.4 is out.
Could we have an update?

Thank You.

[2018-05-04 14:40] goanpeca commented on #9313
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-04 14:40] #9313 closed

[2018-05-04 16:58] goanpeca commented on #9311
@shweh please fill in the issue with suggested template

[2018-05-04 16:58] #9311 closed

[2018-05-04 16:59] goanpeca commented on #9308
Closing as duplicate of #6970

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #6970 for more information on how to fix this issue.**

[2018-05-04 16:59] #9308 closed

[2018-05-04 17:27] fgp commented on #9285
Clearing the cache fixed the issue, thanks!

Might be good if conda warned about a possibly corrupted cache when transaction verification fails, though.

[2018-05-04 17:27] #9285 closed

[2018-05-04 19:53] edblosch opened #9314 "Request off-line mode for Anaconda Navigator"
I wish Navigator had a mode of operation where it would make no attempts to contact Internet URLs.

I noticed a very long delay trying to start Navigator when behind a firewall. Approximately 2 minutes. There is some startup action is that is timing out. After setting HTTP_PROXY, the startup time was reduced to a few seconds.

I also noticed that if I hit the "channels" button, without the Interne

[2018-05-04 21:51] bzm3r commented on #7874
Any updates for this? I am being affected by it now too, for some reason (installed earlier this year without issue though).

[2018-05-04 22:14] JBauerKogentix commented on #1981
Uninstalled, reinstalled, both from Navigator and conda; tried 3.2.7 instead of 3.2.8, also tried to launch Spyder from Terminal:

Traceback (most recent call last):
  File "/Users/JohnBauer/anaconda3/bin/spyder", line 7, in <module>
    from spyder.app.start import main
  File "/Users/JohnBauer/anaconda3/bin/spyder.py", line 7, in <module>
    from spyder.app.start import main
ModuleNotFoundError

[2018-05-05 02:02] StarHedge opened #9315 "Navigator Error"
## Main error
Application <b>notebook</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-05 08:10] rahulsevakula opened #9316 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-05 08:12] #9316 closed

[2018-05-05 08:12] goanpeca commented on #9316
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-05 08:28] #9205 closed

[2018-05-05 09:16] MrCarlTang opened #9317 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=1042)
## Traceback
[code]
## System information
[code]

[2018-05-05 09:27] nlhsueh opened #9318 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-05 09:30] goanpeca commented on #9318
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-05 09:30] #9318 closed

[2018-05-05 10:22] QiaoHaiZhong opened #9319 "Navigator Error"
## Main error
Application <b>qtconsole</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-05 13:39] Everest0516 opened #9320 "Navigator Error An unexpected error occurred on Navigator start-up"
Navigator Error
An unexpected error occurred on Navigator start-up

Report
Please report this issue in the anaconda issue tracker

Main Error
could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/zhuf/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback
Traceback (most recent call last):
  File "/Users/zhuf/anaconda3/lib/python3.6/sit

[2018-05-05 13:43] Everest0516 commented on #9320
mac osX 10.10.1 下载Anaconda3-5.1.0-MacOSX-x86_64.pkg 安装后失败

[2018-05-05 15:17] goanpeca commented on #9320
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-05-05 15:17] #9320 closed

[2018-05-05 15:17] goanpeca commented on #9315
Closing as duplicate of #8216

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8216 for more information on how to fix this issue.**

Or try running

[code]

[2018-05-05 15:17] #9315 closed

[2018-05-05 16:47] goanpeca commented on #9319
Please update your packages. Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-05-05 16:47] #9319 closed

[2018-05-05 18:07] fkoehlin commented on #804
I can still confirm this issue for anaconda's Python 2.7.14 with numpy version 1.14.0-py27h8a80b8c_1 and scipy version 1.0.0-py27h793f721_0.
In my case though `numpy.linalg.inv`, `scipy.linalg.inv`and `scipy.linalg.solve` bounced back with the error message
`File "/Users/fkoehlin/soft/anaconda2/lib/python2.7/site-packages/scipy/linalg/basic.py", line 963, in inv
    lu, piv, info = getrf(a1, overw

[2018-05-06 10:01] githubgsq commented on #9309
hi, @mingwandroid , pytorch has been installed successfully via pip according to https://pytorch.org/previous-versions/
Thanks a lot for your kind advice ;)

[2018-05-06 11:29] don-tpanic opened #9321 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>'module' object has no attribute 'proc_create_time'
## Traceback
[code]
## System information
[code]

[2018-05-06 12:37] goanpeca commented on #9321
Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

[2018-05-06 12:37] #9321 closed

[2018-05-06 12:50] norhots opened #9322 "Navigator Error -An unexpected error occurred on Navigator start-up"
Main Error

could not determine a constructor for the tag 'tag:yaml.org,2002:python/unicode'
  in "/Users/Terry/Library/Application Support/binstar/config.yaml", line 1, column 1
Traceback

Traceback (most recent call last):
  File "/Users/Terry/anaconda3/lib/python3.6/site-packages/anaconda_navigator/exceptions.py", line 75, in exception_handler
    return_value = func(*args, **kwargs)
  File "/U

[2018-05-06 13:46] goanpeca commented on #9322
Closing as duplicate of #8420

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See issue #8420 for more information on how to fix this issue.**

Or run

[code]

[2018-05-06 13:46] #9322 closed

[2018-05-06 16:54] j-dexter opened #9323 "Navigator Error: Any ideas on what's going on here? It comes up every time i open Spyder via Anaconda Navigator."
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-06 16:58] goanpeca commented on #9323
Closing as duplicate of #1778

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1778 for more information on how to fix this.**

[2018-05-06 16:58] #9323 closed

[2018-05-07 03:39] mrjacobson opened #9324 "Navigator Error"
## Main error
An unexpected error occurred on Navigator start-up<br>psutil.AccessDenied (pid=8832)
## Traceback
[code]
## System information
[code]

[2018-05-07 03:43] goanpeca commented on #9324
Closing as duplicate of #1984

---

Please remember to update to the latest version of Navigator to include
the latest fixes.

Open a terminal (on Linux or Mac) or the Anaconda Command Prompt (on windows)
and type:

[code]

---

**See Issue #1984 for more information on how to fix this.**

Or you can run on the Terminal or Anaconda prompt:

[code]

[2018-05-07 03:43] #9324 closed

[2018-05-07 04:05] mbargull opened #9325 "Confused "anaconda" channel users"
cc, @mingwandroid, @csoja , @kalefranz
### Actual Behavior

(Presumably) Users sometimes really like that `anaconda` channel. Maybe because its name has an "official" ring to it? Or users get confused by Anaconda, Inc. / `anaconda.com` / `anaconda.org` / Anaconda Distribution / `anaconda` package / `anaconda` channel?
Either way, more or less regularly, we see users using `conda install -c anacond

[2018-05-07 07:05] nos86 commented on #9128
With 1.8.4, I'm able to install Visual Studio.

Thank you very much for the prompt support.
Salvo

[2018-05-07 07:05] #9128 closed

[2018-05-07 08:05] wjmcdermott opened #9326 "Navigator Error"
## Main error
Application <b>jupyterlab</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-07 10:20] dbarrejon opened #9327 "Navigator Error"
## Main error
Application <b>spyder</b> launch may have produced errors.
## Traceback
[code]
## System information
[code]

[2018-05-07 10:23] #9327 closed, assigned to goanpeca

[2018-05-07 11:38] mbargull commented on #1670
Try to `conda update -yn base conda && conda update -yn base --all` before running `conda clean`. Reason: A fresh Miniconda installation uses packages provided by the installer which are often older than those that get installed into the environment you created. If you update those, it's likely that the `base` environment and your `pip` environment share the same packages, hence those duplicates w

[2018-05-07 11:44] buhrmann commented on #1670
Ah, great. Many thanks! I'll give that a try right now.

[2018-05-07 14:02] msarahan commented on #3580
PR at https://github.com/ContinuumIO/menuinst/pull/66